.THIS .slds-hidden {visibility:hidden}
 .THIS .slds-modal__container{
        height : auto;
        width: 70%;
        max-width: 70rem;
        }
 .THIS .modal-body{
        height : 500px !important;
        max-height: 500px !important;
        }
.THIS.hideDiv {
    display: none;
}