<!--
 - Created by ohuuse on 30/10/2019.
 -->

<!-- Clone Case -->
<template>

    <lightning-card>
        <div class="slds-clearfix">
            <div class="slds-float_right">
                <template if:false={toggleModal}>
                    <lightning-button
                            label="Clone all"
                            title="Primary action"
                            onclick={handleClick}
                            class="slds-m-right_x-small"
                    ></lightning-button>
                </template>
            </div>
        </div>
        <template if:true={toggleModal}>
            <c-clone-case-loader></c-clone-case-loader>
        </template>
    </lightning-card>


</template>