<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 02-18-2021
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   02-15-2021   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<template>
  <li role="presentation" class="slds-listbox__item">
    <!-- id="listbox-option-unique-id-01" -->
    <div
      class={tileClass}
      role="option"
      data-tile-id={tileId}
      tabindex="0"
      onblur={handleBlur}
      onfocus={handleFocus}
      onclick={handleClick}
      onkeyup={handleKeyUp}
    >
      <span class="slds-media__figure">
        <lightning-icon
          icon-name="standard:account"
          alternative-text="Account"
          size="small"
        ></lightning-icon>
      </span>

      <span class="slds-media__body">
        <span
          class="slds-listbox__option-text slds-listbox__option-text_entity"
        >
          {name}
        </span>
        <span class="slds-listbox__option-meta slds-listbox__option-meta_entity"
          >{companyId} • {subinfo} • {role}
        </span>
      </span>
    </div>
  </li>
</template>