/* ----- css for font ----- */   
    @font-face {
    font-family: 'AvenirHeavy';
    src: url('../font/AvenirLTStd-Heavy.otf') format('opentype');
}
@font-face {
    font-family: 'AvenirMedium';
    src: url('../font/AvenirLTStd-Medium.otf') format('opentype');
}
@font-face {
    font-family: 'AvenirLight';
    src: url('../font/AvenirLTStd-Light.otf') format('opentype');
}
     /* ----- css for link ----- */
        body a {
            color: #019dc5;
        }
        body a:hover, .link-text:hover {
            color: #5bd7f2 !important;
            text-decoration: none;
        }
        .form-btn:hover {
            background: none repeat scroll 0 0 #7EE0F6 !important;
            
        }
    .body{
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 14px;
        line-height: 1.42857143;
        color: #333;
        background-color: #fff;
		float:left;
		width:100%;
    }
    /* CSS for the header part */
    #header {
        width: 100%;
        padding: 18px 56px 24px; /* Changed on 16/09/2014 */
        float: left;
    }
    #header-section {
        width: 40%;
    }
    #site-login-details {
        width: 60%;
    }
    #site-login-details {
        float: right;
    }
    .log-info, .acc-info,
    #header-section, #site-login-details {
        float: left;
        font-family: AvenirHeavy;
        font-size: 15px;
        font-weight: normal;
    }
    .site-details {
        float: right;
        width: 100%;
        text-align: right;
		 margin: 1px 0 0;/* change on 16/09/2014 */
    }
    #site-login-section, #site-account-section {
        float: right;
    }
    #site-login-section {
        margin: 6px 46px 0 0; /* Changed on 08/01/2014 */
    }
    .log-info.login-status {
        font-weight: bold;
    }
    .acc-info.contact, .acc-info.my-account {
        color: #fff;
        padding: 5px 8px 4px 30px; /* Changed on 08/01/2014 */
        border-radius: 2px; /* Changed on 08/01/2014 */
        border: none medium !important;
        cursor: pointer;
    }
    .acc-info.contact:hover, .acc-info.my-account:hover{
        background-color: #7ee0f6;   
        color:#fff;     
    }
    acc-info.contact.selected {    
        background-color:#7EE0F6;
        cursor: default;
    }
    .acc-info.contact {
        background: url('../images/contact.png') no-repeat scroll 8px center #00b6dd;
    }
    .acc-info.my-account {
        background: url("../images/my-account.png") no-repeat scroll 8px center #00b6dd;
        margin: 0 9px 0 0;
    }
    .separator.log-info {
        background: url("../images/separator.png") no-repeat scroll 0 0 transparent;
        margin: 0 6px;
        width: 1px;
        height: 20px;
    }
    .site-search {
        float: right;
        text-align: right;
        border-bottom: 1px solid #00b6de;
        width: 270px;
        margin: 11px 0 0 0;
    }
    .site-search input {
        border: none medium;
    }
    .site-search input[type="text"] {
        width: 242px;
    }
    .site-search input[type='submit'] {
        background: url('../images/search.png') no-repeat scroll 0 0 transparent;
        text-indent: -99em;
        width: 22px;
    }
      /* main menu css start */
       #main-menu {
        float: left;
        width: 100%;
        padding: 13px 55px 9px; /* Changed on 08/01/2014 */
        background: #726754;
        }
        #main-menu ul{
            margin: 0;
            padding: 0;
        }
        #main-menu ul li {
            display: inline-block;
            list-style: none;
        }
        #main-menu ul li a {
            color: #e2d5be;
            text-decoration: none;
            font-size: 18px;
            margin: 0 50px 0 0; /* Changed on 08/01/2014 */
            font-family: AvenirHeavy;
        }
        #main-menu ul li a:last-child {
            margin-right
        }
        #main-menu ul li a:hover {
            color: #b3a385 !important;
        }
     /* main menu css end*/
    
    /* CSS for the Footer Part */
    #footer {
        background: none repeat scroll 0 0 #695E4A;
        float: left;
        padding: 26px 55px 52px;/* change on 17/09/2014 */
        width: 100%;	
		margin-top: 80px;		
    }
	.footer-wrapper {
    float: left;
    min-width: 1260px;
    width: 100%;
	}
    #footer .footer-section {
        float: left;
        font-family: AvenirMedium, Arial, Helvetica, sans-serif;
        margin: 0 30px 0 0;
        width: 270px;
    }
/*    #footer .footer-section:last-child {
        margin-right: 0;
    }*/
    .footer-section-title {
        font-size: 16px;
        margin: 0 0 7px -1px;
    }
    #footer .footer-section-title, 
    .footer-section-details,
    .contacts-section {
        color: #ffffff;
    }
    .contacts-section {
        padding: 2px 0 2px 29px;
    }
    .contacts-section.tel {
        background: url('../images/tel-contact.png') no-repeat scroll left center transparent;
		height:24px;
    }
    .contacts-section.fax {
        background: url('../images/fax-contact.png') no-repeat scroll left center transparent;
		height:24px;
    }
    .contacts-section.email {
        background: url('../images/email-contact.png') no-repeat scroll left center transparent;
		height:24px;
    }
    .footer-wrapper a {
        color: #e2d5be;
    }
    .footer-wrapper a:hover {
        text-decoration: none !important;
        color: #bbaa8b !important;
    }
    .footer-section.contacts {
        width: 200px;
    }
    .link-sections {
        background: url("../images/links.png") no-repeat scroll left center rgba(0, 0, 0, 0);
        margin: 5px 0;
        padding: 2px 0 1px 12px;
    }
    .contacts-section {
        margin: 0 0 2px;
    }
    .help .footer-section-title {
        margin-bottom: 12px;
    }
    .contacts .footer-section-title,
    .links .footer-section-title {
        margin-bottom: 12px;
    }
    .footer-section-details-img {
        float: left;
        margin: 0 8px 0 0;
        /*width: 70px;*/
		/*height:70px;*/
    }
    .footer-section-details-cont {
        float: left;       
		width: 189px; /* Changes for the long text */
		word-wrap: break-word; /* Changes for the long text */
		margin: -3px 0 0; /* Changed on 16/09/2014 */
		padding: 0;/* Changed on 16/09/2014 */
    }
    .footer-section-details-img img {
        border: 4px solid rgba(232, 227, 217, 0.44);
		/*height: 70px;*/
		/*width: 70px;*/
    }
    /* CSS for the Breadcrumbs */
	#breadcrumbs {
		float: left;
		min-width: 1280px;
		padding: 25px 55px 0; /* Changed on 08/01/2014 */
		width: 100%;
	}
	.breadcrumbs-wrapper {
		border-bottom: 1px solid #dadada;
		padding-bottom: 23px; /* Changed on 08/01/2014 */
		min-width: 1239px;
	}
	#breadcrumbs .breadcrumbs-wrapper a:last-child {
		color: #695e4a;
		padding-right: 0;
		background-image: none;
		padding-left: 6px;
		cursor: default;
	}
	#breadcrumbs .breadcrumbs-wrapper a:last-child:hover {
		color: #695e4a !important;
	}
	#breadcrumbs .breadcrumbs-wrapper a {
		background: url("../images/breadc.png") no-repeat scroll right center rgba(0, 0, 0, 0);
		font-family: AvenirHeavy, Arial, Helvetica, sans-serif;
		font-size: 15px;
		padding: 0 16px;
		text-decoration: none;
	}
	#breadcrumbs .breadcrumbs-wrapper a:first-child {
		padding-left: 0;
		cursor: pointer;
	}

	#breadcrumbs .breadcrumbs-wrapper a:first-child:hover {
		color: #5bd7f2 !important;
	}
	.single-breadcrumb {
		color: #019DC5 !important;
		padding-left: 0 !important;
	}

  
     /* CSS for the copy right section */
     .copy-right-container {
        background: none repeat scroll 0 0 #756852;
        color: #140F05;
        float: left;
        font-family: AvenirLight;
        font-size: 12px;
        padding: 4px 54px 5px 55px;
        width: 100%;
    }
    .copy-right-wrapper {
        float: right;
    }
   
           /* CSS for Contact Me popup */
    .contact-me-container {
        display: none;
        position: absolute;
		right: 56px;
		top: 48px;
		width: 251px;
		z-index: 9;
	}
   
    .tab-attachement {   
		background: none repeat scroll 0px 0px #7EE0F6;
		float: right;
		height: 3px;
		width: 120px;
		margin-right: 0px;
    }
    .contact-me-wrapper {
		background: none repeat scroll 0px 0px #FFF;
		border: 2px solid #7EE0F6;
		border-radius: 3px 0px 3px 3px;
		font-family: AvenirMedium,Arial,Helvetica,sans-serif;
		font-size: 16px;
		margin: 0px;
		padding: 10px 22px 19px;
		float: left;
		width: 100%;
    }
    .contact-me-container .contact-field-holder label {
        color: #2D271D;
        margin: 0 0 2px;
        text-align: left;
        width: 100%;
    }
    .contact-field-holder select {      
        color: #003F5F;
        padding: 4px 3px 5px;
        width: 215px;
    }
	.contact-field-holder .select-wrapper {
		width: 200px;
	}	
    .contact-field-holder {
        float: left;
        margin: 0 0 11px;
        width: 100%;
    }
    .contact-field-holder:last-child {
        margin-bottom: 0;
    }
    .req-field-text {
        float: right;
    }
    .contact-field-holder.contact-submit-field input[type="submit"] {
        background: none repeat scroll 0 0 #00B6DD;
        border: medium none;
        border-radius: 3px;
        color: #FFFFFF;
        float: right;
        font-family: AvenirHeavy, Arial, Helvetica, sans-serif;
        font-size: 16px;
        padding: 8px 23px;
    }
   .contact-field-holder.contact-submit-field input[type="submit"]:hover {
            background: none repeat scroll 0 0 #7EE0F6 !important;
        }
    .contact-req-field-section .req-field-text {
        color: #2D271D;
        font-size: 14px;
        margin-top: 1px;
    }
    .contact-field-holder.contact-submit-field {
        margin: -1px 0 0;
    }
    .form-req-field img {
        margin: -10px 0 0;
    }
     .overlay-content {
            background: #000000; 
            opacity: .7;             
            height: 100%;
            position: fixed;
            width: 100%;
            top: 0; 
            right: 0; 
            bottom: 0; 
            left: 0;           
            margin: 0; 
            padding: 0;    
            filter: alpha(opacity=15); 
            -moz-opacity: .15; 
            z-index: 9;           

    }
    /* CSS for My Account link popup */
    .my-account-link-popup-container {
		display: none;
		position: absolute;
		right: 56px;
		width: 251px;
		/*top: 56px;*/
		top: 49px;
    }
    .my-account-link-popup-attachement {
        background: none repeat scroll 0 0 #7EE0F6;
        float: left;
        height: 4px;
        width: 122px;
    }
    .my-account-link-popup-wrapper {
        background: none repeat scroll 0 0 #FFFFFF;
        border: 2px solid #7EE0F6;
        border-radius: 0 3px 3px;
        float: left;
        text-align: left;
        width: 100%;
    }
    .my-account-link-holder {
        border: 1px solid #FFFFFF;
    }
    .my-acc-link-section {
        border-bottom: 1px solid #7EE0F6;
        float: left;
        width: 100%;
    }
    .my-acc-link-section:last-child {
        border-bottom: none medium;
    }
    .my-acc-link-section a {
        background: url("../images/my-acc-link-bg.png") no-repeat scroll 7px 17px #FFFFFF;
        border-bottom: 2px solid #FFFFFF;
        color: #009FC2;
        float: left;
        font-family: AvenirHeavy;
        font-size: 15px;
        padding: 11px 0 4px 17px;
        width: 100%;
    }
    .my-acc-link-section:last-child a {
        background: url("../images/my-acc-link-bg.png") no-repeat scroll 7px 10px #FFFFFF;
        border-bottom: medium none;
        border-top: 2px solid #FFFFFF;
        padding: 4px 0 9px 17px;
    }
    .my-acc-link-section:last-child a:hover {
        background: url("../images/my-acc-link-bg.png") no-repeat scroll 7px 10px #deffff;
    }
    .my-acc-link-section a:hover {
        background: url("../images/my-acc-link-bg.png") no-repeat scroll 7px 17px #deffff;
        color: #009FC2 !important;
    }
    /* above css used in pageFrame */
	
	 /* Customized css for popup change */          
       .customPopup{
            background: none repeat scroll 0 0 #073F5B;
            border: 1px solid #78D0E3;
            padding: 3px 5px;                     
            border-radius:5px;
            -moz-border-radius:5px;
            -webkit-border-radius:5px;            
            left: 40%;           
            position: absolute;
            z-index: 10999;
            -moz-box-shadow:0 0 20px #000;
            -webkit-box-shadow: 0 0 20px #000;
            min-width: 330px;
            max-width:auto;
            margin-left: -100px;
            top:120px;  
            opacity: 1.0;
            height:auto;        
        } 
        /* Customized css for update button in popup  change */
          .btnUpdate{
                background: none repeat scroll 0 0 #00B6DD;
                border: medium none;
                border-radius: 3px;
                font-family: AvenirMedium;
                margin-top: 39px;
                padding: 6px 18px;
                text-align: center;
                width: 100px;
                color:#FFFFFF;
                    }
                   
        .contact-info-pop, .popup-infos {
            background: none repeat scroll 0 0 #073F5B;
            width: 506px;
           /* border: 1px solid #78D0E3;*/
           /* border-radius: 5px;*/
            padding: 30px 37px;
        }
        /* #contact-info-pop input { */
        .popup-infos input[type="text"] {
            background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
            border: 1px solid #7EE0F6;
            color: #FFFFFF;
            font-size: 16px;
            padding: 5px 8px;
           
        }
        /* #contact-info-pop .pop-up-title { */
        .popup-infos .pop-up-title {
            color: #E2D5BE;
            font-family: AvenirMedium;
            font-size: 25px;
            margin: 0 0 35px;
        }
        /* #contact-info-pop label { */
        .popup-infos label {
            color: #7EE0F6;
            font-family: AvenirMedium;
            font-size: 16px;
            font-weight: 100;
            width: 100%;
        }
        .left-naming {
            margin: 0 0 16px;
        }
        .left-naming:last-child {
            margin-bottom: 0;
        }
        .naming-fields-left, .naming-fields-right {
            float: left;
            margin-right: 53px;
            width: 186px;
        }
        .naming-fields-right {
            margin-right: 0;
        }
        select.select {
            background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
            border: 1px solid #7EE0F6;
            color: #FFFFFF;
            font-size: 16px;
            padding: 6px 8px;
            width: 186px;
        }
        .add-fields {           
            float:left;
            margin-top: 18px;
        }
        .add-fld-section, .country-fields {
            margin-bottom: 18px;
        }
        
        
        .telephone-fields {
            float: left;
            margin: 20px 0;
        }       
        .email-fields input#email,
        .website-fields input#cmpWebsite{
            width: 236px;
        }
       
        .popup-close {
            background: url("../images/popup-close.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
            cursor: pointer;
            height: 49px;
            position: absolute;
            right: -25px;
            top: -20px;
            width: 49px;
            border:none;
            text-decoration:none;
        }
        .comp-info-pop {
            width: 1046px;
        }
        .cont-info-pop {
            width: 506px;
        }
        #company-info-pop-container {
            left: 12%;
        }
        #company-info-pop-container .telephone-fields {
            width: 100%;
        }
        .tel-sections {
            float: left;
        }
        .website-fields {
            margin-top: 20px;
        }
        .comp-info-pop .comp-title {
            color: #7EE0F6;
            font-family: AvenirMedium;
            font-size: 22px;
        }
        .comp-info-pop .naming-fields-left {
            width: 51%;
        }
        .comp-info-pop .naming-fields-right {
            width: 43%;
        }
        .comp-info-pop .naming-fields-left {
            border-right: 1px solid #296d8f;
            padding-bottom: 28px;
            padding-right: 55px;
        }
        .section-title {
            color: #E2D5BE;
            font-family: AvenirMedium;
            font-size: 18px;
            margin-bottom: 16px;
        }
        .comp-info-pop .country-fields .naming-fields-left,
        .comp-info-pop .country-fields .naming-fields-right {
            border: medium none;
            float: left;
            margin-right: 0;
            padding: 0;
        }
       
        .section-desc {
            color: #7EE0F6;
            font-family: AvenirMedium;
            font-size: 16px;
            margin-top: -10px;
        }
        .what-happens-section {
            margin-top: 24px;
        }
        .subs-all-section {
            float: left;
            width: 100%;
        }
        .subs-all-sec-wrapper {
            float: right;
        }
        .submit-all, .subs-all-sec-wrapper .subs-check-single {
            float: left;
        }
        .subs-all-sec-wrapper .subs-check-single {
            margin-right: 20px;
            margin-top: 10px;
        }
       
        
       
			/* CSS after 1.05p.m 07/31/2014( after first delivery of My Info page ) */
	.subs-check-single input[type="checkbox"],
	.ui-multiselect-menu input[type="checkbox"] {
		display: none;
	}
        .subs-type-sec input[type="checkbox"] + label,
		.subs-all-section input[type="checkbox"] + label,
		.subs-check-single input[type="checkbox"] + label,
		.login-form-fields .subs-check-single input[type="checkbox"] + label,
		.ui-multiselect-menu input[type="checkbox"] + span {
		background: url('../images/checkbox.png') no-repeat scroll 0 -27px transparent;
		height: 17px;
		padding-left: 25px;
	}
	.subs-type-sec input[type="checkbox"]:checked  + label,
	.subs-all-section input[type="checkbox"]:checked  + label,
	.subs-check-single input[type="checkbox"]:checked + label,
	.ui-multiselect-menu input[type="checkbox"]:checked  + span {
		background: url('../images/checkbox.png') no-repeat scroll 0 1px transparent;
		height: 17px;
	}
        #mycontent .mycontent-wrapper .page-title {
            color: #003f5f;
            font-size: 28px;
            /*margin-bottom: 15px;  chnage on 16/09/2014 */
            font-family: AvenirMedium;
			margin-bottom: 0; /* chnage on 17/09/2014 */
        }
        #mycontent {
            float: left;
            width: 100%;
            padding: 20px 55px 0;  /* chnaged on 17/09/2014 */ 
        }
        .my-info-sections {
            border: 1px solid #6B8394;
            float: left;
            margin: 0 130px 0 0;
            padding: 12px 25px 36px;
            width: 469px;
        }
        #mycontent .my-info-sections .info-block-header .info-title {
            background: url("../images/info-bg.png") no-repeat scroll left center rgba(0, 0, 0, 0);
            color: #726754;
            float: left;
            font-size: 23px;
            padding-left: 35px;
            font-family: AvenirMedium;
        }
        #mycontent .my-info-sections .info-block-header .info-edit {
            background: url("../images/info-edit.png") no-repeat scroll left center rgba(0, 0, 0, 0);
            color: #009FC2;
            float: right;
            font-size: 15px;
            font-weight: bold;
            padding: 6px 0 5px 37px;
            cursor: pointer;
            border:none;
            text-decoration:none;
        }
        #mycontent .my-info-sections .info-block-header .info-edit:hover {
            background: url("../images/info-edit-hover.png") no-repeat scroll left center rgba(0, 0, 0, 0);
            color: #5bd7f2;
        }
        #mycontent .my-info-sections .info-details {
            clear: both;
            font-size: 15px;
        }
        #mycontent .my-info-sections .topic,.topic-def {
            font-weight: bold;
        }
        #mycontent .info-block-header {
            border-bottom: 1px solid #DADADA;
            float: left;
            margin-bottom: 22px;
            padding: 0 0 8px;
            width: 100%;
        }
        #mycontent .info-name, #mycontent .comp-name {
            font-size: 20px;
        }
        #mycontent .comp-name {
            margin-bottom: 13px;
        }
        .info-post, .com-type, .country-pin, .info-tel {
            margin: 0 0 15px;
        }
        .postal-add, .visiting-add {
            font-size: 17px;
            font-weight: bold;
        }
        .my-info-mycontent-subscription {
            float: left;
            margin: 39px 0 35px;
            width: 100%;
        }
        .subs-check-single input[type="checkbox"] {
            margin-right: 10px;
        }
        .subs-type-sec {
            float: left;
            margin-right: 75px;
        }
        .subs-type-sec:last-child {
            margin-right: 0px;
        }
        .subs-type-sec .subs-check-single label {
            font-weight: normal;
        }
        .sub-title {
            color: #003F5F;
            margin: 0 0 10px;
        }
            .my-info-sections {
        border: 1px solid #6B8394;
        float: left;
        margin: 0 130px 0 0;
        padding: 12px 25px 36px;
        width: 469px;
        }
        .comp-info-pop {
            width: 1046px;
        }
        .cont-info-pop {
            width: 506px;
        }
        #company-info-pop-container {
            left: 12%;
        }
        #company-info-pop-container .telephone-fields {
            width: 100%;
        }
        .tel-sections {
            float: left;
        }
        .website-fields {
            margin-top: 20px;
        }
        .comp-info-pop .comp-title {
            color: #7EE0F6;
            font-family: AvenirMedium;
            font-size: 22px;
        }
        .comp-info-pop .naming-fields-left {
            width: 51%;
        }
        .comp-info-pop .naming-fields-right {
            width: 43%;
        }
        .comp-info-pop .naming-fields-left {
            border-right: 1px solid #296d8f;
            padding-bottom: 28px;
            padding-right: 55px;
        }
        .section-title {
            color: #E2D5BE;
            font-family: AvenirMedium;
            font-size: 18px;
            margin-bottom: 16px;
        }
        .comp-info-pop .country-fields .naming-fields-left,
        .comp-info-pop .country-fields .naming-fields-right {
            border: medium none;
            float: left;
            margin-right: 0;
            padding: 0;
        }
        .section-desc {
            color: #7EE0F6;
            font-family: AvenirMedium;
            font-size: 16px;
            margin-top: -10px;
        }
        .what-happens-section {
            margin-top: 24px;
        }
        .subs-all-section {
            float: left;
            width: 100%;
        }
        .subs-all-sec-wrapper {
            float: right;
        }
        .submit-all, .subs-all-sec-wrapper .subs-check-single {
            float: left;
        }
        .subs-all-sec-wrapper .subs-check-single {
            margin-right: 20px;
            margin-top: 10px;
        }
        .submit-all input#submit-all {
            color: #FFFFFF;
            font-size: 16px;
            margin: 0;
            padding: 8px 5px;
        }
/*above css block used for myAccount */

/* CSS for the address-book tab section */
            .mycontent {
                    float: left;
                    width: 100%;
                    padding: 21px 55px 0;
                }
            .tab-section-container {
                float: left;
                margin: 6px 0 0;
                width: 100%;
				position: relative;
            }
            .tab-button-section {
                float: left;
                position: relative;
                width: 100%;
            }
            .single-tab {
                background: none repeat scroll 0 0 #003F5F;
                border: 1px solid #003f5f;
                border-bottom: none medium;
                border-radius: 5px 5px 0 0;
                color: #FFFFFF;
                cursor: pointer;
                float: left;
                font-family: AvenirHeavy, Arial, Helvetica, sans-serif;
                font-size: 16px;
                margin: 6px 10px 0 0;
                padding: 7px 28px 4px;
                position: absolute;
            }
            .single-tab.selected {
                background: none repeat scroll 0 0 #FFFFFF;
                border: 1px solid #6B8394;
                border-bottom: none medium;
                /* border-bottom: 1px solid #fff; */
                color: #2D271D;
                cursor: default;
                font-family: AvenirHeavy, Arial, Helvetica, sans-serif;
                font-size: 18px;
                margin-top: 0px;
                padding: 7px 12px;
                height: 41px;
            }
            .tab-details-section {
                border: 1px solid #6B8394;
                border-radius: 0 5px 5px;
                float: left;
                margin: 40px 0 0;
                min-height: 944px;
                padding: 25px 25px 48px;
                width: 100%;
                z-index: 9;
            }
            .gard-cont.single-tab {
                left: 0;
            }
            .clients.single-tab {
                left: 167px;
            }
            .clients.single-tab.selected {
                left: 185px;
            }
            .tab-header-section {
				float: left;
				/*margin: 0 0 34px;*/
				padding: 2px 0;
				width: 100%;
            }
            .tab-search {
                float: right;
                margin: -17px 0 0;
                width: 226px;
            }
            .tab-section-name {
                color: #003F5F;
                float: left;
                font-family: AvenirMedium, Arial, Helvetica, sans-serif;
                font-size: 28px;
                margin: 0 0 0 -1px;
            }
            .tab-search label {
                color: #2D271D;
                font-family: AvenirMedium, Arial, Helvetica, sans-serif;
                font-size: 16px;
                margin-bottom: 6px;
                width: 100%;
            }
            .tab-search select {
                border: 1px solid #7EE0F6;
                font-size: 16px;
                padding: 5px;
                width: 100%;
            }
            .tab-detail-columns {
                float: left;
                margin: -3px 0 0;
                width: 100%;
            }
            .tab-detail-column {
                float: left;
                margin-right: 27px;
                width: 358px;
            }
            .tab-detail-column.claim-handlers {
                margin-right: 25px;
                width: 360px;
            }
            .tab-detail-column.acc-contacts {
               margin-right: 0;    
            }
            .tab-detail-column .col-header {
                background: url("../images/add-book-hd-img.png") no-repeat scroll left center rgba(0, 0, 0, 0);
                border-bottom: 1px solid #DADADA;
                color: #726754;
                font-family: AvenirMedium, Arial, Helvetica, sans-serif;
                font-size: 23px;
                margin-bottom: 8px;
                margin-right: 18px;
                padding-bottom: 3px;
                padding-left: 32px;
                padding-top: 9px;
            }
            .tab-grad-cont-section {
               /* margin: 31px 0 0;*/
				margin: 0;/* Change on 17/09/2014 */
            }
            .single-cont-sections {
                border-right: 1px solid #DADADA;
                float: left;
                margin: -3px 0 0;
                /*padding: 26px 0 0;	*/			
				width: 100%;/* chnage on 17/09/2014 */
				padding: 26px 18px 0 0;/* chnage on 17/09/2014 */
            }
            .single-cont-section {
                float: left;
                margin-bottom: 49px;
                width: 100%;
            }
            .cont-image {
                float: left;
                height: 100%;
                /*width: 81px;*/
				margin-right: 14px;/*change on 17/09/2014 */
				border: 4px solid rgba(232, 227, 217, 0.44);/* set border of image */
            }
            .cont-detail-area {
                color: #2D271D;
                float: left;
                font-family: AvenirMedium, Arial, Helvetica, sans-serif;
                font-size: 15px;
                margin: -4px 0 0;
				word-wrap: break-word;
				width: 250px;
               /* width: 261px;*/
            }
            .cont-image img.cont-pro-image {
                border: 4px solid rgba(232, 227, 217, 0.44);
            }
            .single-cont-section .cont-detail-area .info-name {
                font-size: 20px !important;
            }
            .cont-detail-area .first-add {
                margin: 10px 0 0;
            }
            .cont-detail-area .country-pin {
                margin: 0 0 10px;
            }
            .cont-detail-area .info-tel {
                margin: 0 0 9px;
            }
            .cont-detail-area span.topic {
                font-family: AvenirHeavy, Arial, Helvetica, sans-serif;
            }
            .tab-detail-column:last-child {
                margin-right: 0;
            }
            .single-cont-section:last-child {
                margin-bottom: 13px;
            }
            .acc-contacts .single-cont-sections {
                border-right: medium none #800000;
            }
            .tab-grad-client-section {
                float: left;
                margin: 29px 0 0 -1px;
                display: none;
            }
            .client-list-section {
                border: 1px solid #8FDFF1;
                float: left;
                width: 593px;
            }
            .client-list-container {
                border: 1px solid #FFFFFF;
                float: left;
                width: 100%;
            }
            .client-list-row {
                width: 100%;
                float: left;
            }
            .client-list-row.odd {
                background: none repeat scroll 0 0 #D2F6FB;
            }
            .client-list-row.even {
                background: none repeat scroll 0 0 #EAFAFD;
            }
            .client-name-section, .client-link-section {
                border: 1px solid #FFFFFF;
                border-bottom: none medium;
                float: left;
                padding: 14px 21px 13px;
                width: 50%;
            }
            .client-list-row:last-child .client-name-section, 
            .client-list-row:last-child .client-link-section {
                border-bottom: 1px solid #FFFFFF;
            }
            .client-name-section {
                color: #2D271D;
                font-family: AvenirMedium, Arial, Helvetica, sans-serif;
            }
            .client-link-section div.client-link-details-option {
                color: #009FC2;
                font-family: AvenirHeavy, Arial, Helvetica, sans-serif;
                float: left;
                cursor: pointer;
            }
            .client-contact-details-popup .cont-info-pop {
                float: left;
            }
            .client-contact-details-popup .single-cont-sections {
                border: medium none;
                margin: 0;
            }
            .client-contact-details-popup .single-cont-section:last-child {
                border-bottom: none medium;
                margin-bottom: 0;
                padding-bottom: 0px;
            }
            .client-contact-details-popup .single-cont-section {
                border-bottom: 1px solid #115A7E;
                margin-bottom: 27px;
                padding-bottom: 26px;
            }
            .client-contact-details-popup .cont-detail-area {
                color: #FFFFFF;
            }
            .client-contact-details-popup .cont-image {
                margin-right: 4px;
            }
            .client-contact-details-popup .pop-up-title {
                margin-bottom: 12px;
                margin-top: -5px;
            }
            .client-contact-details-popup .info-name {
                margin-bottom: -2px;
            }
			
/* above css block used for addressBook */

.client-contact-details-popup .cont-info-pop {
    float: left;
}
.client-contact-details-popup .single-cont-sections {
    border: medium none;
    margin: 0;
}
.client-contact-details-popup .single-cont-section:last-child {
    border-bottom: none medium;
    margin-bottom: 0;
    padding-bottom: 0px;
}
.client-contact-details-popup .single-cont-section {
    border-bottom: 1px solid #115A7E;
    margin-bottom: 27px;
    padding-bottom: 26px;
}
.client-contact-details-popup .cont-detail-area {
    color: #FFFFFF;
}
.client-contact-details-popup .cont-image {
    margin-right: 4px;
}
.client-contact-details-popup .pop-up-title {
    margin-bottom: 12px;
    margin-top: -5px;
}
.client-contact-details-popup .info-name {
    margin-bottom: -2px;
}
/* above css block used for gardcontact */
/* new css block start */
/* CSS for the My Claims Page */
.all-claims.single-tab {
    /*left: 183px;*/
	left: 155px;
}
.reported-claims.single-tab {
   /* left: 357px;*/
   left: 310px;
}
.claim-print-section {
    float: left;
	margin: 41px 0 0;
    width: 100%;
}
.claim-print-export-holder {
    float: right;
}
.claim-print-export-holder .form-btn {
    float: left;
	margin: 0 10px 0 0;
}
.claim-print-export-holder .form-btn:last-child {
	margin-right: 0;
}
.tab-reported-claim-section {
    float: left;
    width: 100%;
}
.all-claims.single-tab.selected,
.all-claims.single-tab.reported-claim-active {
    /*left: 199px;*/
	left: 177px;
}
.reported-claims.single-tab.selected {
    /*left: 376px;*/
	left: 332px;
}
.form-btn.claim {
	cursor: pointer;
}
.tab-table-wrapper .client-list-section {
	width: 1125px;
}
.client-list-row.table-header {
    background: none repeat scroll 0 0 #19526F;
	border-bottom: 1px solid #FFFFFF;
}
.tab-reported-claim-section .client-name-section {
	padding-left: 10px;
	width: 140px;
	word-wrap: break-word;
}
.client-list-row.table-header .client-name-section {
	color: #fff;
	font-size: 16px;
	padding-left: 10px;
	position: relative;
	width: 140px;
}
.item-sort {
    position: absolute;
    right: 1px;
    top: 15px;
	width: 10px;
}
 .sort-asc {
    background: url("../images/table-sort-icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	cursor: pointer;
    height: 6px;
    width: 10px;
	border: none;
	display: block;
}
 .sort-desc {
    background: url("../images/table-sort-icon.png") no-repeat scroll 0 -10px rgba(0, 0, 0, 0);
	cursor: pointer;
    height: 6px;
	margin-top: 4px;
    width: 10px;
	border: none;
	display: block;
}
td.client-name {
    max-width: 140px !important;
}
td.client-type, .client-ref {
    max-width: 128px !important;
}
td.obj-name {
    max-width: 147px !important;
}
td.cover {
    max-width: 108px !important;
}
td.date {
    max-width: 97px !important;
}
td.claims-handler {
    max-width: 207px !important;
	padding-bottom: 0;
}
td.status {
    max-width: 150px !important;
}
th.client-name {
    width: 140px !important;
}
th.client-type, .client-ref {
    width: 128px !important;
}
th.obj-name {
    width: 147px !important;
}
th.cover {
    width: 108px !important;
}
th.date {
    width: 97px !important;
}
th.claims-handler {
    width: 207px !important;
}
th.status {
    width: 150px !important;
}
table {
    width: 100%;
}
thead {
    background: none repeat scroll 0 0 #19526F;
    color: #FFFFFF;
    font-family: AvenirMedium,arial,helvetica,sans-serif;
    font-size: 16px;
}
tr.odd {
    background: none repeat scroll 0 0 #D2F6FB;
}
tr.even {
    background: none repeat scroll 0 0 #eafafd;
}
td {
    border: 1px solid #FFFFFF;
    border-right: 2px solid #FFFFFF;
	padding: 13px 10px;
	word-wrap: break-word;
}
th {
    border-right: 2px solid #FFFFFF;
	padding: 11px 5px 8px 10px;
	position: relative;
	font-weight: normal;/*change for sales force */
	font-size: 16px;/*change for sales force */
}
thead tr {
    border: 2px solid #FFFFFF;
}
tbody {
    border: 2px solid #FFFFFF;
    font-family: AvenirMedium,arial,helvetica,sans-serif;
    font-size: 15px;
}
.tab-reported-claim-section.tab-table-wrapper {
  /*  margin-top: 35px;*/
}
.report-new-claim-button a.form-btn {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: -17px;
}
.report-new-claim-button.form-btn a {
	color: #fff;
}
.report-new-claim-button a:hover {
	color: #fff !important;
}
.tab-open-claim-section.tab-table-wrapper.tab-detail-container {
    display: block;
}

/* CSS for the My Claim open claims broker view tab */
.claims-filters-container {
    float: left;
	font-family: Avenirmedium,arial,helvetica,sans-serif;
	font-size: 16px;
	margin: 5px 0 35px;
    width: 1129px;
}
.claim-filter-sections {
    float: left;
	margin: 0 20px 0 0;
}
.claims-filters-container select {
    width: 136px;
	font-size: 16px;
}
.claims-filters-container .cover select {
    width: 126px;
}
.claims-filters-container .year select {
    width: 106px;
}
.claims-filters-container label {
	margin: 0 3px 0 0;
}
.tab-open-claim-section td.client-name {
    max-width: 139px !important;
}
.tab-open-claim-section td.client-type {
    max-width: 117px !important;
}
.tab-open-claim-section td.client-ref {
    max-width: 132px !important;
}
.tab-open-claim-section td.gard-ref-no {
    max-width: 117px !important;
}
.tab-open-claim-section td.obj-name {
    max-width: 105px !important;
}
.tab-open-claim-section td.cover {
    max-width: 106px !important;
}
.tab-open-claim-section td.date {
    max-width: 86px !important;
}
.tab-open-claim-section td.gard-ref-no {
    max-width: 117px !important;
}
.tab-open-claim-section td.reserve {
    max-width: 113px !important;
}
.tab-open-claim-section td.paid,
.tab-open-claim-section td.total {
    width: 90px !important;
}

.tab-open-claim-section th.client-name {
    min-width: 139px !important;
    max-width: 139px !important;
}
.tab-open-claim-section th.client-type {
    min-width: 118px !important;
    max-width: 118px !important;
}
.tab-open-claim-section th.client-ref {
	line-height: 17px;
	padding: 1px 13px 0 12px;
    min-width: 132px !important;
    max-width: 132px !important;
}
.tab-open-claim-section th.gard-ref-no {
	line-height: 17px;
	padding: 1px 13px 0 12px;
    width: 117px !important;
}
.tab-open-claim-section th.obj-name {
    min-width: 108px !important;
    max-width: 108px !important;
}
.tab-open-claim-section th.cover {
    min-width: 107px !important;
    max-width: 107px !important;
}
.tab-open-claim-section th.date {
    min-width: 86px !important;
    max-width: 86px !important;
}
.tab-open-claim-section th.gard-ref-no {
    width: 117px !important;
}
.tab-open-claim-section th.reserve {
	line-height: 17px;
	padding: 1px 13px 0 10px;
    width: 113px !important;
}
.tab-open-claim-section th.paid,
.tab-open-claim-section th.total {
	line-height: 17px;
	padding: 1px 16px 0 10px;
    width: 90px !important;
}
.tab-open-claim-section .item-sort {
    right: 6px;
    top: 16px;
}
.tab-detail-container .client-list-section {
    margin: 0 0 0 1px;
}
.claim-filter-sections .form-btn {
    margin: -3px 0 0;
	cursor: pointer;
}
.pagination {
    float: left;
    font-family: AvenirMedium,arial,helvetica,sans-serif;
    font-size: 15px;
    width: 100%;
}
.pagination-wrapper {
    float: right;
}
.item-per-page, .pager, .pager-section, .pager-of-section {
    float: left;
}
.pager {
	margin: 0;
}
.pager-section {
    border: 1px solid #7EE0F6;
    border-radius: 3px;
	cursor: default;
    height: 29px;
	margin: 0 2px 0 0;
    padding: 5px 0;
    text-align: center;
    width: 29px;
}
.pager-section:last-child {
	margin-right: 0;
}
.pager-prev.pager-section, .pager-next.pager-section {
	cursor: pointer;
}
.pager-prev.pager-section {
	background: url("../images/pager-prev.png") no-repeat scroll center center #FFFFFF;
}
.pager-prev.pager-section:hover {
	background: url("../images/pager-prev-hover.png") no-repeat scroll center center #00B6DD;
}
.pager-next.pager-section {
	background: url("../images/pager-next.png") no-repeat scroll center center #FFFFFF;
}
.pager-next.pager-section:hover {
	background: url("../images/pager-next-hover.png") no-repeat scroll center center #00B6DD;
}
/* CSS for the disabled prev/next pager button starts */
.pager-prev.pager-section.disabled-pager-first {
    background: url("../images/disabled-pager-first.png") no-repeat scroll center center #FFFFFF;
    cursor: default;
}
.pager-prev.pager-section.disabled-pager-first {
	background: url("../images/disabled-pager-first.png") no-repeat scroll center center #FFFFFF;
    cursor: default;
}
.pager-next.pager-section.disabled-pager-last {
    background: url("../images/disabled-pager-last.png") no-repeat scroll center center #FFFFFF;
    cursor: default;
}
.pager-next.pager-section.disabled-pager-last {
	background: url("../images/disabled-pager-last.png") no-repeat scroll center center #FFFFFF;
    cursor: default;
}
/* CSS for the disabled prev/next pager button ends */

.page-of.pager-of-section {
    margin: 5px 10px 0 8px;
	cursor: default;
}
.item-per-page {
    margin: 5px 7px 0 0;
}

/* CSS for Open Claims Client view tabs */
.client-view.tab-open-claim-section td.client-type {
    max-width: 120px !important;
}
.client-view.tab-open-claim-section td.obj-name {
    max-width: 118px !important;
}
.client-view.tab-open-claim-section td.cover {
    max-width: 117px !important;
}
.client-view.tab-open-claim-section td.date {
    max-width: 106px !important;
}
.client-view.tab-open-claim-section td.client-ref {
    max-width: 162px !important;
}
.client-view.tab-open-claim-section td.gard-ref-no {
    max-width: 147px !important;
}
.client-view.tab-open-claim-section td.gard-ref-no {
    max-width: 147px !important;
}
.client-view.tab-open-claim-section td.reserve {
    max-width: 113px !important;
}
.client-view.tab-open-claim-section td.paid,
.client-view.tab-open-claim-section td.total {
    width: 110px !important;
}

.client-view.tab-open-claim-section th.client-type {
    min-width: 120px !important;
    max-width: 120px !important;
}
.client-view.tab-open-claim-section th.obj-name {
    min-width: 118px !important;
    max-width: 118px !important;
}
.client-view.tab-open-claim-section th.cover {
    min-width: 117px !important;
    max-width: 117px !important;
}
.client-view.tab-open-claim-section th.date {
    min-width: 106px !important;
    max-width: 106px !important;
}
.client-view.tab-open-claim-section th.client-ref {
	line-height: 17px;
	padding: 1px 13px 0 12px;
    min-width: 162px !important;
    max-width: 162px !important;
}
.client-view.tab-open-claim-section th.gard-ref-no {
	line-height: 17px;
	padding: 1px 13px 0 12px;
    width: 147px !important;
}
.client-view.tab-open-claim-section th.gard-ref-no {
    min-width: 147px !important;
    max-width: 147px !important;
}
.client-view.tab-open-claim-section th.reserve {
	line-height: 17px;
	padding: 1px 14px 0 10px;
    min-width: 113px !important;
    max-width: 113px !important;
}
.client-view.tab-open-claim-section th.paid,
.client-view.tab-open-claim-section th.total {
	line-height: 17px;
	padding: 1px 32px 0 10px;
    min-width: 110px !important;
    max-width: 110px !important;
}

/* CSS for the All Claims client view */
.client-view.tab-all-claim-section td.client-type {
    max-width: 132px !important;
}
.client-view.tab-all-claim-section td.obj-name {
    max-width: 126px !important;
}
.client-view.tab-all-claim-section td.cover {
    max-width: 104px !important;
}
.client-view.tab-all-claim-section td.date {
    max-width: 87px !important;
}
.client-view.tab-all-claim-section td.client-ref {
    max-width: 144px !important;
}
.client-view.tab-all-claim-section td.gard-ref-no {
    max-width: 113px !important;
}
.client-view.tab-all-claim-section td.reserve {
    max-width: 118px !important;
}
.client-view.tab-all-claim-section td.paid {
    max-width: 96px !important;
}
.client-view.tab-all-claim-section td.total {
    max-width: 85px !important;
}
.client-view.tab-all-claim-section td.status {
    max-width: 90px !important;
}

.client-view.tab-all-claim-section th.client-type {
    min-width: 132px !important;
    max-width: 132px !important;
}
.client-view.tab-all-claim-section th.obj-name {
    min-width: 126px !important;
    max-width: 126px !important;
}
.client-view.tab-all-claim-section th.cover {
    min-width: 104px !important;
    max-width: 104px !important;
}
.client-view.tab-all-claim-section th.date {
    min-width: 87px !important;
    max-width: 87px !important;
}
.client-view.tab-all-claim-section th.client-ref {
	line-height: 17px;
	padding: 1px 13px 0 12px;
    min-width: 144px !important;
    max-width: 144px !important;
}
.client-view.tab-all-claim-section th.gard-ref-no {
	line-height: 17px;
	padding: 1px 13px 0 12px;
    min-width: 113px !important;
    max-width: 113px !important;
}
.client-view.tab-all-claim-section th.reserve {
	line-height: 17px;
	padding: 1px 23px 0 10px;
    min-width: 118px !important;
    max-width: 118px !important;
}
.client-view.tab-all-claim-section th.paid {
	line-height: 17px;
	padding: 1px 27px 0 10px;
    min-width: 96px !important;
    max-width: 96px !important;
}
.client-view.tab-all-claim-section th.total {
	line-height: 17px;
	padding: 1px 23px 0 10px;
    min-width: 85px !important;
    max-width: 85px !important;
}
.client-view.tab-all-claim-section th.status {
    min-width: 90px !important;
    max-width: 90px !important;
}

/* CSS for the All Claims broker view */
.broker-view.tab-all-claim-section td.client-type {
    max-width: 132px !important;
}
.broker-view.tab-all-claim-section td.obj-name {
    max-width: 126px !important;
}
.broker-view.tab-all-claim-section td.cover {
    max-width: 104px !important;
}
.broker-view.tab-all-claim-section td.date {
    max-width: 87px !important;
}
.broker-view.tab-all-claim-section td.client-ref {
    max-width: 144px !important;
}
.broker-view.tab-all-claim-section td.gard-ref-no {
    max-width: 113px !important;
}
.broker-view.tab-all-claim-section td.reserve {
    max-width: 118px !important;
}
.broker-view.tab-all-claim-section td.paid {
    max-width: 96px !important;
}
.broker-view.tab-all-claim-section td.total {
    max-width: 85px !important;
}
.broker-view.tab-all-claim-section td.status {
    max-width: 90px !important;
}

.broker-view.tab-all-claim-section th.client-type {
    min-width: 132px !important;
    max-width: 132px !important;
}
.broker-view.tab-all-claim-section th.obj-name {
    min-width: 126px !important;
    max-width: 126px !important;
}
.broker-view.tab-all-claim-section th.cover {
    min-width: 104px !important;
    max-width: 104px !important;
}
.broker-view.tab-all-claim-section th.date {
    min-width: 87px !important;
    max-width: 87px !important;
}
.broker-view.tab-all-claim-section th.client-ref {
	line-height: 17px;
	padding: 1px 13px 0 12px;
    min-width: 144px !important;
    max-width: 144px !important;
}
.broker-view.tab-all-claim-section th.gard-ref-no {
	line-height: 17px;
	padding: 1px 13px 0 12px;
    min-width: 113px !important;
    max-width: 113px !important;
}
.broker-view.tab-all-claim-section th.reserve {
	line-height: 17px;
	padding: 1px 22px 0 10px;
    min-width: 118px !important;
    max-width: 118px !important;
}
.broker-view.tab-all-claim-section th.paid {
	line-height: 17px;
	padding: 1px 27px 0 10px;
    min-width: 96px !important;
    max-width: 96px !important;
}
.broker-view.tab-all-claim-section th.total {
	line-height: 17px;
	padding: 1px 23px 0 10px;
    min-width: 85px !important;
    max-width: 85px !important;
}
.broker-view.tab-all-claim-section th.status {
    min-width: 90px !important;
    max-width: 90px !important;
}
	/* CSS for Report New Claim page */
.report-new-claim-container,
.report-new-claim-wrapper {
    float: left;
    width: 100%;
}
.report-new-claim-wrapper {
	margin: -1px 0 62px 1px;
}
.report-new-claim-field-section {
    float: left;
    width: 370px;
}
.report-new-claim-field-section:last-child {
    width: 530px;
}
.report-new-claim-container .report-new-claim-single-section label {
    color: #2D271D;
    font-family: AvenirMedium,Arial,Helvetica,sans-serif;
    font-size: 16px;
    margin: 0 0 7px;
    width: 100%;
}
.report-new-claim-container .report-new-claim-single-section input[type="text"] {
    border: 1px solid #7EE0F6;
}
.report-new-claim-container .report-new-claim-single-section input[type="text"],
.report-new-claim-container .report-new-claim-single-section select,
.claims-filters-container select {
    font-family: AvenirMedium,Arial,Helvetica,sans-serif;
    font-size: 16px;
    padding: 4px 6px 5px;
    width: 292px;
}
.report-new-claim-single-section .select-wrapper {
    width: 292px;
}
.report-new-claim-single-section select {
    width: 315px !important;
}
.report-new-claim-container .report-new-claim-single-section textarea {
	border: 1px solid #7EE0F6;
    font-family: AvenirMedium,Arial,Helvetica,sans-serif;
    font-size: 16px;
    padding: 4px 6px 5px;
	min-width: 292px;
	max-width: 530px;
	max-height: 150px;
	min-height: 114px;
}
.report-new-claim-single-section {
    float: left;
    margin: 0 0 16px;
    width: 100%;
}
.report-new-claim-single-section:last-child {
	margin-bottom: 0px;
}
.date-picker-section {
    float: right;
    margin: 5px 51px 0 0;
	cursor: pointer;
}
.report-new-claim-submission .report-new-claim-submit.form-btn {
    margin: 0 5px 0 0;
}
.place-na {
    display: block;
    float: right;
	margin: 8px 15px 0 0;
}
.place-na .subs-check-single label {
	font-size: 15px;
}
.file-upload {
    margin-left: 1px;
    overflow: hidden;
	padding: 5px 13px 6px !important;
    position: relative;
}
.btn-default {
    background: none repeat scroll 0 0 #00B6DD;
    border: medium none;
    border-radius: 3px;
    color: #FFFFFF;
    font-family: AvenirHeavy, Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 8px 23px;
}
.new-claim-doc-upld  input[type="file"] {
    cursor: pointer;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.new-claim-field.doc-upld-field {
	background: none repeat scroll 0 0 #FFFFFF;
    width: 233px !important;
}
.report-new-claim-single-section .form-btn:hover {
	color: #fff;
}
.upld-field-desc {
	color: #2D271D;
    font-family: AvenirHeavy,Arial,Helvetica,sans-serif;
    font-size: 16px;
    margin: 7px 0 0;
}

/*css start for myClaim page modified*/
.report-new-claim-button a.form-btn:hover{
    color:#FFFFFF;
    }
     .report-new-claim-button a.form-btn, .claim-filter-sections .form-btn {
            background: none repeat scroll 0 0 #00B6DD;
            border: medium none;
            border-radius: 3px;
            color: #FFFFFF;
            font-family: AvenirHeavy, Arial, Helvetica, sans-serif;
            font-size: 16px;
            padding: 8px 23px;
        }
     .report-new-claim-button a.form-btn {
            cursor: pointer;
            position: absolute;
            right: 0;
            top: -17px;
        }
/*css end for myClaim page modified*/	
/* Button claim style */	
.form-btn.claim {
background: none repeat scroll 0 0 #00B6DD;
border: medium none;
border-radius: 3px;
color: #FFFFFF;
font-family: AvenirHeavy, Arial, Helvetica, sans-serif;
font-size: 16px;
padding: 8px 23px;
}
body label {
font-weight: normal;
}
.claims-filters-container label {
margin: 6px 7px 0 0;
float: left;
}

/* CSS for the My Claim Details page */
.page-content-details, .claim-description-section {
	float: left;
	width: 100%;
}
.page-content-details .client-list-section {
	margin: 0 0 28px;
    width: 1125px;
}
.claim-details-section {
    float: left;
    font-family: AvenirMedium,arial,helvetica,sans-serif;
    font-size: 15px;
    font-weight: normal;
    margin: 0 0 13px;
    width: 1280px;
}
.claim-details-section.marine {
    margin-bottom: 0;
}
.claim-details-container {
    float: left;
    width: 731px;
}
.claim-handler-details {
    float: left;
    margin: -51px 0 0 116px;
    min-height: 354px;
    width: 332px;
}
.claim-handler-img {
    float: left;
    width: 71px;
}
.claim-handler-details-section {
    float: left;
	line-height: 23px;
    margin: 0 0 0 10px;
    width: 251px;
    word-wrap: break-word;
}
.sec-container-title {
    font-size: 20px;
}
.sub-claims-section {
    float: left;
    width: 100%;
}
.sub-claim-sections {
    float: left;
    font-family: AvenirMedium,arial,helvetica,sans-serif;
    font-size: 15px;
    font-weight: normal;
    width: 100%;
}
.sub-claim-section-title {
	color: #726754;
    font-size: 23px;
	margin: 0 0 6px;
}
.sub-claim-section-summary {
    color: #19526F;
	margin: 0 0 16px;
}
.sub-claim-sections:last-child .client-list-section {
    margin-bottom: 23px;
}
.sub-claim-sections th.client-number {
	min-width: 170px;
	max-width: 170px;
}
.sub-claim-sections td.client-number {
	min-width: 170px;
	max-width: 170px;
}
.sub-claim-sections th.date {
	min-width: 118px;
	max-width: 118px;
}
.sub-claim-sections td.date {
	min-width: 118px;
	max-width: 118px;
}
.sub-claim-sections th.claim-type {
	min-width: 147px;
	max-width: 147px;
}
.sub-claim-sections td.claim-type {
	min-width: 147px;
	max-width: 147px;
}
.sub-claim-sections th.claim-details {
	min-width: 156px;
	max-width: 156px;
}
.sub-claim-sections td.claim-details {
	min-width: 156px;
	max-width: 156px;
}
.sub-claim-sections th.claim-handler {
	min-width: 222px;
	max-width: 222px;
}
.sub-claim-sections td.claim-handler {
	line-height: 15px;
	min-width: 222px;
	max-width: 222px;
	padding-bottom: 0;
}
.sub-claim-sections th.client-claim-ref {
	min-width: 174px;
	max-width: 174px;
}
.sub-claim-sections td.client-claim-ref {
	min-width: 174px;
	max-width: 174px;
}
.sub-claim-sections th.status {
	min-width: 120px;
	max-width: 120px;
}
.sub-claim-sections td.status {
	min-width: 120px;
	max-width: 120px;
}
.claim-details-infos {
    float: left;
	height: auto;
    margin: 0 0 20px;
    width: 100%;
}
.claim-details-info-section {
	display: table-cell;
	height: auto;
	margin: 0 30px 0 0;
}
.claim-details-info-section:first-child {
    border-right: 1px solid #dadada;
    width: 263px;
}
.claim-details-info-section:last-child {
	padding-left: 27px;
    width: 305px;
}
.claim-infos-title.sec-container-title {
    margin: 4px 0 -2px;
}
.claim-infos.separator {
    margin: 0 0 9px;
}
.claim-handler-title.sec-container-title {
    margin: 0 0 8px;
}
.claim-handler-details-container {
    float: left;
    margin: 0 0 12px;
    width: 100%;
}
.claim-handler-details-container:last-child {
	margin-bottom: 0;
}
.page-content-details .claim-print-section {
    min-width: 1125px;
}
.claim-infos.separator.total {
    margin-bottom: 20px;
}
/* CSS for My Portfolio Pages Broker View */
.tab-details-section.claim-tabs-section.portfolio {
    min-height: 543px;
}
.object.single-tab.deselected {
    left: 97px;
}
.portfolio-report.single-tab.deselected {
    left: 225px;
}
.object.single-tab.selected {
    left: 122px;
}
.portfolio-report.single-tab.selected {
    left: 252px;
}
.object.reported-active {
    left: 123px !important;
}
.portfolio .claims-filters-container .risk select {
    width: 110px;
}
.portfolio .claims-filters-container .risk .select-wrapper {
    width: 76px;
}
.portfolio-reports .client-list-section {
    width: 525px;
}
.portfolio-reports td .view-portfolio-report-link {
	cursor: pointer;
	float: left;
}
.portfolio .report-new-claim-button a.form-btn {
    right: 23px;
    top: 23px;
}
.cover .claim-print-section {
    margin-top: 39px;
}
.cover.broker-view td.client {
    max-width: 217px !important;
	padding-right: 8px;
}
.cover.broker-view td.underwriter {
    max-width: 117px !important;
}
.cover.broker-view td.cover {
    max-width: 140px !important;
	padding-left: 9px;
}
.cover.broker-view td.product-area {
    max-width: 97px !important;
}
.cover.broker-view td.exp-date {
    max-width: 96px !important;
}
.cover.broker-view td.policy-year {
    max-width: 82px !important;
}
.cover.broker-view td.claims-lead {
    max-width: 87px !important;
}
.cover.broker-view td.gard-share {
    max-width: 83px !important;
}
.cover.broker-view td.on-risk {
    max-width: 90px !important;
}
.cover.broker-view td.view-obj {
    max-width: 90px !important;
}

.cover.broker-view th.client {
    min-width: 217px !important;
    max-width: 217px !important;
}
.cover.broker-view th.underwriter {
    min-width: 117px !important;
    max-width: 117px !important;
	padding-left: 8px;
}
.cover.broker-view th.cover {
    min-width: 140px !important;
    max-width: 140px !important;
	padding-left: 8px;
}
.cover.broker-view th.product-area {
    line-height: 17px;
    max-width: 97px !important;
    min-width: 97px !important;
    padding: 3px 5px 0 10px;
}
.cover.broker-view th.exp-date {
	line-height: 17px;
    min-width: 96px !important;
    max-width: 96px !important;
	padding: 3px 13px 0 9px;
}
.cover.broker-view th.policy-year {
	line-height: 17px;
    min-width: 82px !important;
    max-width: 82px !important;
	padding: 3px 13px 0 10px;
}
.cover.broker-view th.claims-lead {
	line-height: 17px;
    min-width: 87px !important;
    max-width: 87px !important;
	padding: 3px 22px 0 10px;
}
.cover.broker-view th.gard-share {
	line-height: 17px;
    min-width: 83px !important;
    max-width: 83px !important;
	padding: 3px 25px 0 10px;
}
.cover.broker-view th.on-risk {
	line-height: 17px;
    min-width: 90px !important;
    max-width: 90px !important;
	padding: 2px 21px 0 12px;
}
.cover.broker-view th.view-obj {
    min-width: 90px !important;
    max-width: 90px !important;
	line-height: 17px;
	padding: 3px 21px 0 13px;
}
.cover .item-sort {
    top: 15px;
}
.cover .claim-filter-sections:first-child {
    margin-right: 19px;
}
.cover .claims-filters-container .cover.claim-filter-sections .select-wrapper {
    width: 136px;
}
.cover .claims-filters-container .cover select {
   /* width: 160px;*/ /*change for sales force */
}
.cover .claims-filters-container .year .select-wrapper {
    width: 106px;
}
.cover .claims-filters-container .year label {
    margin-right: 6px;
}
.cover .claims-filters-container .year {
    margin-right: 13px;
}
.cover .claims-filters-container .risk label {
    margin-right: 5px;
}
.cover.broker-view .claim-filter-sections .form-btn {
	margin: -2px 0 0 -10px;
	margin-top: 50px;/*change for sales force */
	margin-left: 30px;/*change for sales force */
}
.portfolio .cover.broker-view .claims-filters-container {
    margin: 5px 0 34px;
}
.cover-name {
	background: url("../images/add-book-hd-img.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #726754;
    float: left;
    font-family: AvenirMedium;
    font-size: 23px;
    margin: 6px 0 0;
    padding: 0 0 0 33px;
    width: 100%;
}

/* CSS for the Portfolio view object per cover page */
.portfolio.obj-per-cover .cover.broker-view td.client {
    max-width: 218px !important;
}
.portfolio.obj-per-cover .cover.broker-view td.view-obj {
    max-width: 98px !important;
}
.portfolio.obj-per-cover .cover.broker-view td.obj-cat {
    max-width: 138px !important;
}
.portfolio.obj-per-cover .cover.broker-view td.gard-share {
    max-width: 82px !important;
}
.portfolio.obj-per-cover .cover.broker-view td.exp-date {
    max-width: 90px !important;
}
.portfolio.obj-per-cover .cover.broker-view td.policy-year {
    max-width: 80px !important;
}
.portfolio.obj-per-cover .cover.broker-view td.underwriter {
    max-width: 120px !important;
}

.portfolio.obj-per-cover .cover.broker-view th.client {
    max-width: 218px !important;
    min-width: 218px !important;
}
.portfolio.obj-per-cover .cover.broker-view th.view-obj {
    max-width: 98px !important;
    min-width: 98px !important;
	padding: 3px 21px 0 10px;
}
.portfolio.obj-per-cover .cover.broker-view th.obj-cat {
    line-height: 17px;
    min-width: 138px !important;
    max-width: 138px !important;
    padding: 3px 17px 0 10px;
}
.portfolio.obj-per-cover .cover.broker-view th.product-area {
    padding: 4px 5px 0 9px;
}
.portfolio.obj-per-cover .cover.broker-view th.claims-lead {
    line-height: 17px;
    padding: 4px 22px 0 10px;
}
.portfolio.obj-per-cover .cover.broker-view th.gard-share {
    line-height: 17px;
    max-width: 82px !important;
    min-width: 82px !important;
    padding: 5px 25px 0 9px;
}
.portfolio.obj-per-cover .cover.broker-view th.on-risk {
    line-height: 17px;
    padding: 3px 21px 0 9px;
}
.portfolio.obj-per-cover .cover.broker-view th.exp-date {
    line-height: 17px;
    max-width: 90px !important;
    min-width: 90px !important;
    padding: 4px 13px 0 9px;
}
.portfolio.obj-per-cover .cover.broker-view th.policy-year {
    line-height: 17px;
    max-width: 80px !important;
    min-width: 80px !important;
    padding: 4px 13px 0 10px;
}
.portfolio.obj-per-cover .cover.broker-view th.underwriter {
    max-width: 120px !important;
    min-width: 120px !important;
    padding-left: 10px;
}
.portfolio.obj-per-cover .tab-table-wrapper {
    margin-top: 20px;
}
.portfolio.obj-per-cover .cover .claims-filters-container .obj-category .select-wrapper {
	width: 167px;
}
.portfolio.obj-per-cover .cover .claims-filters-container .obj-category .select-wrapper select {
	width: 192px;
}
.portfolio.obj-per-cover .cover .claim-filter-sections:first-child {
    margin-right: 13px;
}

/* CSS for the Object per cover view */
.portfolio-object-details-profile {
    float: left;
	margin: 0 0 52px;
    width: 100%;
}
.obj-det-sec-title, .profile-details-section {
    float: left;
    width: 100%;
}
.obj-det-sec-name {
	background: url("../images/add-book-hd-img.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #726754;
    font-family: AvenirMedium;
    font-size: 23px;
    margin: 0 0 0 1px;
    padding: 0 0 0 33px;
}
.sub-sec-title {
	background: url("../images/add-book-hd-img.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #726754;
    font-family: AvenirMedium;
    font-size: 23px;
	margin-bottom: 12px;
    padding: 0 0 0 35px;
}
.details-object-section {
    float: left;
    margin: 0 0 22px;
    width: 100%;
}
.tab-table-wrapper.broker-view.object.details-view {
    margin-top: 7px;
}
.imo-no {
    color: #003F5F;
    font-family: AvenirHeavy,Arial,Helvetica,sans-serif;
    font-size: 15px;
    margin-top: 1px;
    padding-left: 36px;
}
.built-rebuilt {
    font-family: AvenirMedium,Arial,Helvetica,sans-serif;
    font-size: 15px;
    margin-top: 1px;
    padding-left: 36px;
}
.topic-info {
    font-family: AvenirHeavy,Arial,Helvetica,sans-serif;
    font-weight: normal;
}
.specific-profile-det {
    font-family: AvenirMedium,Arial,Helvetica,sans-serif;
    font-size: 15px;
    float: left;
    min-width: 1125px;
    padding: 0 0 0 22px;
    width: 100%;
}
.profile-img-section, .details-sections-container {
    float: left;
}
.left-details, .right-details {
    display: table-cell;
    padding: 0 20px 0 30px;
}
.left-details {
    border-right: 1px solid #DADADA;
	width: 260px;
}
.right-details {
    padding-left: 60px;
    width: 350px;
}
.profile-details-section {
    margin: 22px 0 0;
}
.info-edit.details-sections-edit {
    margin: 1px 124px 0 0;
}
.covers-for-object-section.details-object-section {
    margin-bottom: 29px;
}
.built-rebuilt span.built-rebuilt-sections:first-child {
    border-right: 1px solid #2D271D;
    margin: 0 1px 0 0;
    padding: 0 5px 0 0;
}

.portfolio .object.details-view  .covers-for-object-section th.cover {
    max-width: 142px !important;
    min-width: 142px !important;
}
.portfolio .object.details-view  .covers-for-object-section th.broker {
    max-width: 236px !important;
    min-width: 236px !important;
}
.portfolio .object.details-view  .covers-for-object-section th.underwriter {
    max-width: 118px !important;
    min-width: 118px !important;
	padding: 11px 5px 8px 9px !important;
}
.portfolio .object.details-view  .covers-for-object-section th.capital {
    max-width: 97px !important;
    min-width: 97px !important;
	padding: 9px 5px 8px 9px !important;
}
.portfolio .object.details-view  .covers-for-object-section th.inception-date {
	line-height: 17px;
    max-width: 107px !important;
    min-width: 107px !important;
	padding: 3px 5px 0 10px !important;
}
.portfolio .object.details-view  .covers-for-object-section th.exp-date {
	line-height: 17px;
    max-width: 101px !important;
    min-width: 101px !important;
	padding: 3px 8px 0 9px !important;
}
.portfolio .object.details-view  .covers-for-object-section th.claims-lead {
	line-height: 17px;
    max-width: 82px !important;
    min-width: 82px !important;
	padding: 3px 5px 0 12px !important;
}
.portfolio .object.details-view  .covers-for-object-section th.gard-share {
	line-height: 17px;
    max-width: 90px !important;
    min-width: 90px !important;
	padding: 3px 5px 0 10px !important;
}
.portfolio .object.details-view  .covers-for-object-section th.sum-insured {
    max-width: 130px !important;
    min-width: 130px !important;
}

.portfolio .object.details-view .covers-for-object-section td.cover {
    max-width: 142px !important;
}
.portfolio .object.details-view .covers-for-object-section td.broker {
    max-width: 236px !important;
}
.portfolio .object.details-view .covers-for-object-section td.underwriter {
    max-width: 118px !important;
}
.portfolio .object.details-view .covers-for-object-section td.capital {
    max-width: 97px !important;
}
.portfolio .object.details-view .covers-for-object-section td.inception-date {
    max-width: 107px !important;
}
.portfolio .object.details-view .covers-for-object-section td.exp-date {
    max-width: 101px !important;
}
.portfolio .object.details-view .covers-for-object-section td.claims-lead {
    max-width: 82px !important;
}
.portfolio .object.details-view .covers-for-object-section td.gard-share {
    max-width: 90px !important;
}
.portfolio .object.details-view .covers-for-object-section td.sum-insured {
    max-width: 130px !important;
}


.portfolio .object.details-view  .claims-for-object-section th.claim-type {
    max-width: 149px !important;
    min-width: 149px !important;
}
.portfolio .object.details-view  .claims-for-object-section th.clam-status {
    max-width: 128px !important;
    min-width: 128px !important;
}
.portfolio .object.details-view  .claims-for-object-section th.cover {
    max-width: 130px !important;
    min-width: 130px !important;
}
.portfolio .object.details-view  .claims-for-object-section th.event-date {
    max-width: 117px !important;
    min-width: 117px !important;
	padding: 9px 5px 8px 10px;
}
.portfolio .object.details-view  .claims-for-object-section th.your-ref {
	line-height: 17px;
    max-width: 107px !important;
    min-width: 107px !important;
	padding: 3px 7px 0 11px !important;
}
.portfolio .object.details-view  .claims-for-object-section th.gard-ref {
	line-height: 17px;
    max-width: 111px !important;
    min-width: 111px !important;
	padding: 3px 5px 0 9px !important;
}
.portfolio .object.details-view  .claims-for-object-section th.claim-incurred-usd {
	line-height: 17px;
    max-width: 152px !important;
    min-width: 152px !important;
	padding: 3px 7px 0 12px !important;
}
.portfolio .object.details-view  .claims-for-object-section th.claim-number {
    max-width: 100px !important;
    min-width: 100px !important;
}
.portfolio .object.details-view  .claims-for-object-section th.policy-year {
    max-width: 110px !important;
    min-width: 110px !important;
}

.portfolio .object.details-view .claims-for-object-section td.claim-type {
    max-width: 149px !important;
}
.portfolio .object.details-view .claims-for-object-section td.clam-status {
    max-width: 128px !important;
}
.portfolio .object.details-view .claims-for-object-section td.cover {
    max-width: 130px !important;
	padding-right: 1px;
}
.portfolio .object.details-view .claims-for-object-section td.event-date {
    max-width: 117px !important;
}
.portfolio .object.details-view .claims-for-object-section td.your-ref {
    max-width: 107px !important;
}
.portfolio .object.details-view .claims-for-object-section td.gard-ref {
    max-width: 111px !important;
	padding-right: 1px;
}
.portfolio .object.details-view .claims-for-object-section td.claim-incurred-usd {
    max-width: 152px !important;
}
.portfolio .object.details-view .claims-for-object-section td.claim-number {
    max-width: 100px !important;
}
.portfolio .object.details-view .claims-for-object-section td.policy-year {
    max-width: 110px !important;
}

/* CSS for the User Access Page */
.user-access-page .cover-name {
	background: url("../images/add-book-hd-img.png") no-repeat scroll 0 1px rgba(0, 0, 0, 0);
    padding: 0 0 0 34px;
    margin: 3px 0 -18px;
}
.user-section-container {
    float: left;
	font-family: AvenirMedium,Arial,Helvetica,sans-serif;
	font-size: 15px;
    font-weight: normal;
	margin: 40px 0 0;
    min-width: 1237px;
    width: 100%;
}
.create-user-access {
    float: right;
}
.create-user-access a.form-btn,
.request-admin-user-change a.form-btn {
    padding: 11px 18px;
	text-decoration: none !important;
}
.create-user-access a.form-btn:hover,
.request-admin-user-change a.form-btn:hover {
    color: #fff !important;
	text-decoration: none !important;
}
.user-general-info-section,
.user-contact-info-section {
	display: table-cell;
    width: 387px;
}
.user-general-info-section {
	padding: 0 42px 0 1px;
    border-right: 1px solid #DADADA;
	width: 389px;
}
.user-contact-info-section {
	padding: 0 0 0 41px;
}
.user-list-container {
    float: left;
	margin: 60px 0 0;
    min-width: 1237px;
    width: 100%;
}
.user-contact-info-section .built-rebuilt {
    padding-left: 0;
}
.user-details-list-wrapper {
    float: left;
    width: 745px;
}
.user-details-list-wrapper .client-list-section {
    width: 745px;
}
.user-info-details.user-name {
    font-size: 20px;
    /*margin: 6px 0 48px;*/
}
.claim-handler-name {
    font-size: 20px;
	margin: 6px 0 -4px;
}
.user-contact-info-section .claim-handler-tel {
    margin: 11px 0 10px;
}

.user-list-container th.employee-name {
	min-width: 250px;
	max-width: 250px;
}
.user-list-container th.make-prime {
	min-width: 267px;
	max-width: 267px;
}
.user-list-container th.remove-access {
	min-width: 218px;
	max-width: 218px;
}

.user-list-container td.employee-name {
	max-width: 250px;
}
.user-list-container td.make-prime {
	max-width: 267px;
}
.user-list-container td.remove-access {
	max-width: 218px;
}
.user-details-list-wrapper .claim-print-section {
    margin-top: 8px;
}
.primary-user-section {
    background: url("../images/primary-user.png") no-repeat scroll 1px -1px rgba(0, 0, 0, 0);
    float: left;
    font-family: AvenirMedium,Arial,Helvetica,sans-serif;
    font-size: 15px;
    margin: 11px 0 0;
    padding: 0 0 0 24px;
}
.user-access-page.my-info-subs .user-list-container {
    margin: 43px 0 0 1px;
}
.user-access-page .user-list-container {    
	margin: 30px 0 0 1px;/* Chnaged on  17/09/2014 */
}

/* CSS for the new user access request pop up */
.new-user-access-req .subs-check-single,
.admin-user-change-req .subs-check-single {
    float: left;
    margin: 16px 0;
    width: 100%;
}
.admin-user-change-req .naming-fields {
	color: #7EE0F6;
    font-family: AvenirMedium,Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: 100;
}
.admin-user-change-req .naming-fields.current-admin {
	margin: 0 0 10px 0;
}
.admin-user-change-req .naming-fields span.topic {
	font-family: AvenirHeavy,Arial,Helvetica,sans-serif;
}
.admin-user-change-req .subs-check-single label,
.new-user-access-req .subs-check-single label {
    width: 236px;
}
.admin-user-change-req input[type="text"],
.new-user-access-req input[type="text"] {
    font-family: AvenirMedium,Arial,Helvetica,sans-serif;
}


/* CSS for the multiselect custom designing */
/* Also have to provide 'multiselect' class in the select list with 'multiple' option */
.select-wrapper .ui-multiselect {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	height: 32px;;
	color: #2D271D;
	font-size: 16px;
    font-family: 'Avenir LT W01 65 Medium',Arial,Helvetica,sans-serif;
    padding: 5px 0 4px 4px;
    width: 203px !important;
	border: none;
}
.ui-multiselect-menu {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #7EE0F6;
    margin: 2px 0 0 -1px;
	padding: 0;
}
.ui-multiselect-menu li {
    list-style: none outside none;
}
.ui-multiselect-menu .ui-widget-header {
    background: none repeat scroll 0 0 #00b6dd;
    float: left;
    width: 100%;
}
.ui-multiselect-menu .ui-widget-header ul.ui-helper-reset {
    padding: 0;
}
.ui-multiselect-menu .ui-multiselect-checkboxes {
    float: left;
	height: 120px !important;
	margin: -3px 0 4px;
    padding: 0;
    width: 100%;
}
.ui-multiselect-menu .ui-multiselect-checkboxes li {
	padding: 0 0 0 3px;
}
.ui-multiselect-menu .ui-multiselect-checkboxes li:hover {
	background: none repeat scroll 0 0 #EAFAFD;
}
.ui-multiselect-menu input[type="checkbox"] + span {
	background: url('../images/checkbox.png') no-repeat scroll 0 -28px transparent;
	padding-left: 20px;
	font-family: 'Avenir LT W01 65 Medium',Arial,Helvetica,sans-serif;
	font-size: 16px;
}
.ui-multiselect-menu input[type="checkbox"]:checked  + span {
	background: url('../images/checkbox.png') no-repeat scroll 0 0 transparent;
	height: 17px;
}
.ui-multiselect-all,
.ui-multiselect-none,
.ui-multiselect-all:hover,
.ui-multiselect-none:hover {
	color: #FFFFFF !important;
	font-size: 13px;
	font-family: 'Avenir LT W01 85 Heavy',Arial,Helvetica,sans-serif;
	text-decoration: none !important;
}
.ui-multiselect-all {
    background: url("../images/multi-check-all.png") no-repeat scroll 0 3px rgba(0, 0, 0, 0);
    padding: 0 0 0 16px;
}
.ui-multiselect-none {
    background: url("../images/multi-uncheck-all.png") no-repeat scroll 0 3px rgba(0, 0, 0, 0);
    padding: 0 0 0 16px;
}
.ui-multiselect-close {
    background: url("../images/close-multi-popup.png") no-repeat scroll 0 1px rgba(0, 0, 0, 0);
}
.ui-multiselect-close .ui-icon-circle-close {
    background: url("../images/close-multi-popup.png") no-repeat scroll 0 1px rgba(0, 0, 0, 0);
    height: 17px;
    margin: 0 4px 0 0;
    width: 17px;
}
.ui-multiselect-checkboxes .ui-corner-all {
    margin: 0;
    padding: 0 1px;
}
.mCSB_scrollTools_vertical .mCSB_draggerRail {
    background: none repeat scroll 0 0 #E1E1E1;
    opacity: 1;
}
.mCSB_scrollTools_vertical .mCSB_dragger_bar {
    background: none no-repeat scroll 1px 0 #00b6dd !important;
    width: 7px !important;
}
.mCSB_scrollTools_vertical {
    margin: 4px 0 0;
}
.mCSB_dragger {
	margin: 0 0 0 4px;
    width: 7px !important;
}
.ui-multiselect-checkboxes .mCSB_inside .mCSB_container {
    margin-right: 0px;
}

/* CSS for the multiselect custom designing */

/* CSS for multiselect in Portfolio page */
.portfolio .broker-view.cover .claim-filter-sections {
    float: left;
    width: 203px;
}
.portfolio .broker-view.cover .claim-filter-sections.filter {
    width: auto !important;
	margin: 26px 0 0;
}
.portfolio .broker-view.cover .claim-filter-sections.risk {
    width: 100px;
}
.portfolio .broker-view.cover .claims-filters-container label {
    width: 100%;
}
.portfolio .broker-view.cover .claims-filters-container .select-wrapper {
    float: left !important;
    width: 203px;
}
/* CSS for the customized select dropdown list */
.select-wrapper {
    background: url("../images/select-bg.png") no-repeat scroll right center #FFFFFF;
    border: 1px solid #7EE0F6;
    overflow: hidden;
}
select {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: medium none;
}
     /* CSS for footer broker view */
        .footer-broker-view .footer-section.und-broker-view,
        .footer-broker-view .footer-section.claim-broker-view,
        .footer-broker-view .footer-section.links-broker-view {
            width: 360px !important;
        }
        .footer-broker-view .footer-section-details-cont {
            width: 266px;
        }
        /* CSS for footer broker view */
		
		
/* CSS hacks for Chrome Browsers */
@media screen and (-webkit-min-device-pixel-ratio:0) { 
	#main-menu {
		padding: 11px 55px 12px;
	}
	.tab-details-section {
		margin: 39px 0 0;
	}
	.tab-grad-cont-section {
		margin: 35px 0 0;
	}
	.tab-grad-client-section {
		float: left;
		margin: 32px 0 0 -1px;
		display: none;
	}
	.cont-detail-area .country-pin {
		margin: 0 0 11px;
	}
	.cont-detail-area .info-tel {
		margin: 0 0 11px;
	}
	#header {
		padding: 27px 56px 19px;
	}
	.single-tab.selected {
		height: 40px;
	}
	#footer {
		padding: 27px 55px 46px;
	}
	.place-na {
		margin: 9px 13px 0 0;
	}
	.report-new-claim-container .report-new-claim-single-section textarea {
		min-height: 110px;
	}
	.client-view.tab-all-claim-section th.total {
		min-width: 90px !important;
		max-width: 90px !important;
	}
	.broker-view.tab-all-claim-section th.total {
		padding: 1px 15px 0 10px;
	}
	.broker-view.tab-all-claim-section th.paid {
		padding: 1px 19px 0 10px;
	}
	.claim-infos-title.sec-container-title {
		margin: 6px 0 -2px;
	}
	.claim-infos.separator {
		margin: 0 0 11px;
	}
	.claim-infos.separator.total {
		margin-bottom: 21px;
	}
	.claim-details-infos {
		 margin: 0 0 21px;
	}
	.claim-details-section {
		margin: 0 0 11px;
	}
	.sub-claim-section-title {
		margin: 0 0 9px;
	}
	.sub-claim-section-summary {
		margin: 0 0 17px;
	}
	.cover.broker-view td.client {
		max-width: 218px !important;
		padding-right: 6px;
	}
	.cover.broker-view th.client {
		min-width: 218px !important;
		max-width: 218px !important;
	}
	.portfolio .cover.broker-view th {
		padding: 6px 5px 2px 10px;
	}
	.portfolio .cover.broker-view {
		margin-top: 30px;
	}
	.portfolio .cover.broker-view .claims-filters-container {
		margin: 5px 0 35px;
	}
	.portfolio .cover.broker-view .claims-filters-container select {
		padding: 4px 6px 7px;
	}
	.portfolio .cover.broker-view th.underwriter {
		min-width: 118px !important;
		max-width: 118px !important;
		padding-left: 8px !important;
	}
	.cover.broker-view th.cover {
		padding-left: 7px !important;
	}
	.cover.broker-view th.gard-share {
		padding: 4px 25px 0 12px !important;
	}
	.cover.broker-view th.on-risk {
		padding: 3px 21px 0 13px !important;
	}
	.cover.broker-view th.view-obj {
		padding: 4px 21px 0 14px !important;
	}
	.portfolio.obj-per-cover .tab-table-wrapper {
		margin-top: 22px;
	}
	.portfolio.obj-per-cover .cover.broker-view th {
		padding: 6px 5px 2px 10px !important;
	}
	.portfolio.obj-per-cover .cover.broker-view th.obj-cat {
		padding: 3px 18px 0 10px !important;
	}
	.imo-no {
		margin-top: 3px;
	}
	.profile-details-section {
		margin: 23px 0 0;
	}
	.portfolio-object-details-profile {
		margin: 0 0 53px;
	}
	.sub-sec-title {
		margin-bottom: 13px;
	}
	.covers-for-object-section.details-object-section {
		margin-bottom: 31px;
	}
	.user-section-container {
		margin: 41px 0 0;
	}
	.user-info-details.user-name {
		/*margin: 6px 0 51px;*/
	}
	.user-access-page .user-details-list-wrapper .client-list-section th {
		padding: 12px 5px 8px 10px;
	}
	
	.select-wrapper .ui-multiselect {
		height: 29px;
	}
	.ui-multiselect-menu {
		margin: 5px 0 0 -1px;
	}
	.contact-me-container {
      right: 56px;
      top: 56px;       
    }
	 .tab-attachement {
		margin-right: 0px;
	 }
	 .my-account-link-popup-container {
		top: 56px;
    }
}
@media print{
  @page {  
    size: landscape;    
   }
  a[href]:after {
    content: none !important;
  }
}