<template>
    <section
    role="dialog"
    tabindex="-1"
    class="slds-modal slds-fade-in-open slds-modal_large slds-list-builder"
    aria-labelledby="id-of-modalheader-h2"
    aria-modal="true"
    aria-describedby="modal-content-id-1"
    >
        <div class="slds-modal__container">
        <header class="slds-modal__header">
            <button
            class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
            title="Close"
            onclick={handleClose}
            >
            <lightning-icon
                icon-name="utility:close"
                alternative-text="Close"
            ></lightning-icon>
            <span class="slds-assistive-text">Close</span>
            </button>
            
            <h2 id="id-of-modalheader-h2" class="slds-text-heading_medium">
                Send claims survey
            </h2>
        </header>
            <div 
            class="slds-modal__content slds-grid slds-nowrap" 
            id="modal-content-id-1" >
                <div class="slds-col slds-grid slds-grid_vertical slds-nowrap slds-scrollable_none" >
                    <!-- Search bar goes here -->
                    <c-claims-survey-search-bar
                    record-id={recordId}
                    onpilladd={handlePillAdd}
                    onpillremove={handlePillRemove}
                    ></c-claims-survey-search-bar>
                    <!-- Modal Content -->
                    <div class="slds-scrollable">
                    <template if:true={state.loading}>
                    <div class="slds-col slds-is-relative">
                        <lightning-spinner
                        size="medium"
                        alternative-text="Loading contacts"
                        ></lightning-spinner>
                    </div>
                    </template>
                    <template if:false={state.loading}>
                        <lightning-datatable
                        data={filteredRows}
                        columns={columns}
                        key-field="recordId"
                        ></lightning-datatable>
                    </template>
                    </div>
                </div>
            </div>
            <footer class="slds-modal__footer">
                <button class="slds-button slds-button_neutral" onclick={handleClose}>
                    Cancel
                </button>
                <button class="slds-button slds-button_brand" onclick={handleSave}>
                    Save
                </button>
            </footer>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
</template>