<apex:page controller="SearchGard" tabStyle="Case" sidebar="false" showHeader="false" standardStylesheets="true">
<apex:includeScript value="{!$Resource.GoogleAnalytics}"/>
    <apex:composition template="PageFrame" >
    <apex:define name="content" >
    
   
        <!-- Breadcrumbs section starts -->
            <div id="breadcrumbs" class="breadcrumbs">
                <div class="breadcrumbs-wrapper">
                   <apex:outputLink value="javascript:window.history.go(-1);">Search result</apex:outputLink>
                   <apex:outputLink value="javascript:void(0);">Cover details</apex:outputLink>
                </div>       
            </div>
        <!-- Breadcrumbs section ends -->
      <div class="content" style="min-height: 550px;">
       
       <div class="content-wrapper claim-page-details with-tab" > 
                <div class="page-title">Cover details</div>
           
           <div class="page-content-details">
           
               <div class="claim-details-section pi">
                    <div class="claim-details-container">
                            <div class="claim-details-infos">
                                <div class="claim-details-info-section">
                                    <div class="claim-infos"><span class="topic-def">Product Name: </span><span class="topic-info-data">{!assetDetail.Product_Name__c}&nbsp;</span></div>
                                    <div class="claim-infos"><span class="topic-def">Business Area: </span><span class="topic-info-data">{!assetDetail.Agreement__r.Business_Area__c}&nbsp;</span></div>
                                    <div class="claim-infos"><span class="topic-def">Object Name: </span><span class="topic-info-data">{!assetDetail.Object__r.Name}&nbsp;</span></div>
                                    <div class="claim-infos"><span class="topic-def">Object Type: </span><span class="topic-info-data">{!assetDetail.Object__r.Object_Type__c}&nbsp;</span></div>
                                </div>
                                <div class="claim-details-info-section">
                                    <div class="claim-infos"><span class="topic-def">Object Type: </span><span class="topic-info-data">{!assetDetail.Object__r.Object_Type__c}&nbsp;</span></div>
                                    <div class="claim-infos"><span class="topic-def">Claims Lead: </span><span class="topic-info-data">{!assetDetail.Claims_Lead__c}&nbsp;</span></div>
                                    <div class="claim-infos separator"><span class="topic-def">Risk Indicator: </span><span class="topic-info-data">{!assetDetail.On_risk_indicator__c}&nbsp;</span></div>
                                    <div class="claim-infos"><span class="topic-def">Gard Share: </span><span class="topic-info-data">{!assetDetail.Gard_Share__c}&nbsp;</span></div>
                                    <div class="claim-infos"><span class="topic-def">Expiration Date: </span><span class="topic-info-data">{!assetDetail.Expiration_Date__c}&nbsp;</span></div>
                                    <div class="claim-infos"><span class="topic-def">Policy Year: </span><span class="topic-info-data">{!assetDetail.Agreement__r.Policy_Year__c}&nbsp;</span></div>
                                </div>
                            </div>
                  </div>
               </div>
            </div>
       </div>
      
      </div>
      
      
    
    </apex:define>
    </apex:composition>
  
</apex:page>