<apex:page standardController="Opportunity" extensions="BulkApprovalController" recordSetvar="opportunities" tabStyle="Budgets__tab">
  <apex:pageBlock title="Opportunity Budget Approvals">
  <apex:form id="theForm">
    <apex:pageMessages id="errorMessage" ></apex:pageMessages>
    <div style="margin:auto;text-align:center;">
        <apex:commandButton value="Submit All for Budget Approval" action="{!submitAll}"/>
        <apex:commandButton value="Opportunity Products" action="{!OppPage}"/>
    </div>
  </apex:form> 
  <apex:EnhancedList type="Opportunity" height="500"/>
  </apex:pageBlock>
</apex:page>