<apex:page standardController="Contact" extensions="CheckNewContactExt" action="{!checkAndRedirect}">
    <apex:form >
        <apex:pageBlock title="Invalid Contact Record Type" >
            <apex:inputfield value="{!contact.RecordTypeId}" rendered="False"/>
            <apex:inputfield value="{!contact.RecordType}" rendered="False"/>
            <apex:inputfield value="{!contact.RecordType.Name}" rendered="False"/>
            <apex:inputfield value="{!contact.AccountId}" rendered="False"/>
            <apex:outputlabel >{!$Label.Contact_Record_Type_Mis_match}</apex:outputlabel>
            <apex:pageBlockButtons location="bottom">
                <apex:commandButton value="Back" action="{!goBack}"/>
            </apex:pageBlockButtons>
        </apex:pageBlock>
    </apex:form>
</apex:page>