<apex:page standardController="Contact" extensions="CheckEditContactExt" action="{!checkAndRedirect}">
    <apex:form >
        <apex:pageBlock title="Contact Locked" >
            <apex:outputlabel rendered="{!NOT(contact.Deleted__c)}">This contact is currently locked for editing due to a synchronisation status of "{!contact.Synchronisation_Status__c}"</apex:outputlabel>
			<apex:outputlabel rendered="{!contact.Deleted__c}">This contact has been deactivated and is no longer available for editing</apex:outputlabel>
			<apex:pageMessage severity="warning" strength="2" detail="Administrators may override the synchronisation status to edit records before retrying the synchronisation." rendered="{!EditSyncFailuresEnabled}" title="Override Sync Status and Edit" />
            <apex:pageBlockButtons location="bottom">
                <apex:commandButton value="Back" action="{!goBack}"/>
				<apex:commandButton value="Override and Edit" action="{!ignoreWarningAndEdit}" rendered="{!EditSyncFailuresEnabled}"/>
            </apex:pageBlockButtons>
        </apex:pageBlock>
    </apex:form>
</apex:page>