<apex:page Controller="ShowClaimDetailsCtrl" showHeader="false" sidebar="false" standardStylesheets="false">
<apex:includeScript value="{!$Resource.GoogleAnalytics}"/>

<style>
.chosen-fav-claim-pointer {
    background: url("{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/fav-client-icon.png')}") no-repeat scroll 0 1px rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    height: 17px;
    left: 112px;
    margin: -25px 0 0 145px;
    position: absolute;
    width: 18px;
}
.btn.dropdown-toggle.selectpicker.btn-default{
width:122px !important;
height:29px !important; 
}
.form-btn{
  background: none repeat scroll 0 0 #0badd1 !important;
  border: 1px solid #0badd1;
  border-radius: 4px;
  box-shadow: none;
  color: #fff;
  font-family: AvenirHeavy,Verdana;
  font-size: 13px;
  padding: 5px 15px;
}
.claim-details-page-main-container .doc-file {
  min-width: 670px;
  max-width: 670px;
}
.claim-details-page-main-container .add-doc-multistep-form .doc-file-name {
  background: none;
  margin: 4px 0 0;
  width: 657px !important;
}
.claim-details-page-main-container .add-doc-multistep-form .doc-file-name a {
  background: url("{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/form-pdf-dwnld-icon.png')}") no-repeat scroll right center transparent;
  padding: 2px 22px 2px 0;
}
body,.doc-file-name {
  color: #2d271d !important;
  font-family: AvenirMedium,Arial,Helvetica,sans-serif !important;
  font-size: 13px !important;
}

.select-wrapper .btn-group ul.multiselect-container {
  border: 1px solid #ddd8d0;
  border-radius: 0;
  max-height: 273px;
  min-width: 100px;
  white-space: normal;
  width: 175px;
  word-wrap: break-word;
}
.claim-details-document-type-filter .select-wrapper .btn-group ul.multiselect-container {
  width: 218px;
}
.select-wrapper .btn-group ul.multiselect-container {
  border-top: medium none;
  /*top: 60px;*/
  z-index: 9;
}
th.doc-last-updated,
td.doc-last-updated
{
    min-width: 100px;
    max-width: 100px;
    width: 100px;
}
th.doc-name,
td.doc-name
{
    min-width: 400px;
    max-width: 400px;
    width: 400px;
}
th.doc-type,
td.doc-type
{
    min-width: 250px;
    max-width: 250px;
    width: 250px;
}
 <!-- css for SF-4121 -->
.test-more-tab{
    /* background: none repeat scroll 0 0 rgba(0, 63, 95, 0.95); */
    /* background: none repeat scroll 0 0 white;*/
    border-radius: 0 0 4px 4px;
    box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.17);
    cursor: default;
    display: none;
    position: absolute;
    <!-- right: 128px;
    top: 35px; -->
    left: 805px;
    top: 155px;
    width: 343px;
    z-index: 99;
}
.more-tabs-container{
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #dccab1;
    float: left;
    padding: 9px 0 !important;
    width: 100%;
}
.more-sub-claims-tab{
    background: url(/mygard/resource/1476960305000/gardExtranetResources/newTheme/images/new-drpdwn-icon.png) no-repeat scroll 51px 11px #ededed !important;
    opacity: 1;
    border: 1px solid #ededed;
    border-radius: 3px 3px 0 0;
    color: #003f5f;
    cursor: pointer;
    float: left;
    font-family: AvenirHeavy,Helvetica;
    margin: 0 10px 0 0;
    padding: 6px 18px 6px 17px;
    position: relative;
}
.more-sub-claims-tab-open{
    background: url(/mygard/resource/1476960305000/gardExtranetResources/newTheme/images/new-claim-add-option-openicon.png) no-repeat scroll 51px 11px #ededed !important;
    opacity: 1;
    border: 1px solid #ededed;
    border-radius: 3px 3px 0 0;
    color: #003f5f;
    cursor: pointer;
    float: left;
    font-family: AvenirHeavy,Helvetica;
    margin: 0 10px 0 0;
    padding: 6px 18px 6px 17px;
    position: relative;
}
a.more-sub-claims-tab-link,a.more-sub-claims-tab-link:hover,a.more-sub-claims-tab-link:focus{
    color: #003f5f !important;
}
.more-tabs-container .chosen-claim.desletable.sub-claim-specifier.acumulator-specifier{
    background: url(/mygard/resource/1476960305000/gardExtranetResources/newTheme/images/my-acc-link-bg.png) no-repeat scroll 8px 7px white !important;
    <!-- color: #005e8d !important;
    float: left !important;
    font: 13px AvenirHeavy,Helvetica !important;
    padding: 4px 0 4px 21px!important;  -->
    width: 100% !important;
    border: none !important;
}
.more-tabs-container .chosen-claim a,.more-tabs-container .chosen-claim a.sub-claim-edit:focus,
.more-tabs-container .chosen-claim a.sub-claim-edit:active{
    /* background: url(/mygard/resource/1476960305000/gardExtranetResources/newTheme/images/my-acc-link-bg.png) no-repeat scroll 8px 7px white !important; */
    color: #005e8d !important;
    float: left !important;
    font: 13px AvenirHeavy,Helvetica !important;
    /* padding: 4px 0 4px 21px!important; */
    width: 100% !important;
    border: none !important;
}
.sub-claim-specifier .custom-tooltip{
     max-width: none;
     white-space: nowrap;
}
.client-view-page-container .test-more-tab{
    float: right !important;
    left: 918px !important;
}
.docTypeName{
    position: relative;
    left: 2px;
    top: 6px;
    margin-left: 96px !important;
    width: 192px !important;
    border: 1px solid #ddd8d0 !important;
    height: 30px !important;
    padding: 3px 0 0 0px;
    background:url("/mygard/resource/1470465617000/gardExtranetResources/newTheme/images/new-drpdwn-icon.png") no-repeat scroll 172px 11px #f7f6f4 !important;
}
</style>
   <script>
   
     js$=jQuery.noConflict();
  jQuery(document).ready(function(){
   jQuery('.pagination-wrapper .page-no input[type="text"]').bind('keypress', function (eInner){
                if (eInner.keyCode == 13) {
                             jQuery('.overley, .loading').show();
                             changePageNumberReport();
                             return false;
                    }    
                    
      }); 
      
          var undElement1 = jQuery('td.claims-handler .underwrt-popup-link');
    jQuery(document).bind('mouseup', function (e){
        if (undElement1.has(e.target).length == 0) {           
            jQuery('.underwriter-popup').remove();
        }
    });   
  });
  jQuery('.global-user-select-wrapper-section .fab-option, .fav-options-each-fav-pointer .fab-option, .chosen-fav-claim-pointer.fab-option').click( function(){
        jQuery(this).toggleClass('favved');
    });
    
  </script>
 
   <apex:composition template="PageFrame" >
    <apex:define name="content" >
   <apex:form >     
     <apex:actionFunction action="{!createFavourites}" name="createFavs" rerender="editObjectPopUp"/>
     <apex:actionFunction action="{!deleteFavourites}" name="deleteFavs" rerender="editObjectPopUp"/> 
     <apex:actionFunction action="{!fetchFavourites}" name="fetchFavs" rerender="editObjectPopUp"/>
     <apex:actionStatus id="renderMeStatus" onstop="showPopup()"/>
   </apex:form>
    <div class="content" style="min-height:430px;">
          <div class="content-wrapper report-a-new-claim claim-details-page-main-container">
                    <div class="page-title"><div class="page-title-text">Claim details</div>
                     <apex:outputPanel rendered="{!IF(lstDocuments.size>0,true,false)}" > 
                        <span class="chosen-fav-claim-pointer fab-option" style="margin: 10px 0 0 160px !important;left:  inherit;" title="Mark as favourite"></span>
                     </apex:outputpanel>  
                        <div class="select-wrapper new-claim-add-option">
                            <div id="manageClaim" class="manage-claims-popup closed">Manage claim
                                <div class="manage-claim-dropdown-wrapper" style="display: none;">
                                    <div class="manage-claim-dropdown-inner-wrapper">
                                        <apex:form >
                                            <apex:commandLink action="{!goToManageClaimsPage}" rendered="{!NOT(claimData.Contract_For_Review__r.Business_Area__c='Marine')}" value="Add sub claim" styleClass="manage-claim-options">
                                                <apex:param name="pageType" value="SUB_CLAIM" assignTo="{!pageType}"/>
                                            </apex:commandLink>
                                            <apex:commandLink action="{!goToManageClaimsPage}" value="Add reimbursement" styleClass="manage-claim-options">
                                                <apex:param name="pageType" value="REIMBURSEMENT" assignTo="{!pageType}"/>
                                            </apex:commandLink>
                                            <apex:commandLink action="{!goToManageClaimsPage}" value="Add document" styleClass="manage-claim-options">
                                                <apex:param name="pageType" value="DOCUMENT" assignTo="{!pageType}"/>
                                            </apex:commandLink>
                                        </apex:form>
                                    </div>
                                </div>
                            </div>
                            <apex:form >
                                <div class="comment-on-claims-dropdown closed">Comment on claim
                                    <div class="comment-on-claims-dropdown-wrapper" style="display: none;">
                                        <div class="manage-claim-dropdown-inner-wrapper">
                                            <div class="comment-on-claims-dropdown-claim-detail">
                                                <div class="comment-on-claims-dropdown-claim-detail-single">
                                                    <div class="claim-details-block-holder-heading">Gard claim reference:</div>
                                                    <div class="claim-details-block-holder-data"> <apex:outputText value="{!HTMLENCODE(claimData.Claim_Reference_Number__c)}" escape="false" /></div>
                                                </div>
                                                <div class="comment-on-claims-dropdown-claim-detail-single">
                                                    <div class="claim-details-block-holder-heading">Claim handler:</div>
                                                    <div class="claim-details-block-holder-data"> <apex:outputText value="{!HTMLENCODE(mapClaimsHandlerDetail['NAME'])}" escape="false" /></div>
                                                </div>
                                            </div>
                                            <div class="comment-on-claims-dropdown-claim-detail">
                                                <div class="comment-on-claims-dropdown-claim-comment">
                                                    <div class="claim-details-block-holder-heading">Comment</div>
                                                    <apex:inputTextArea value="{!claimCommentBody}" onkeypress="limitText(this,500);" onkeyup="limitText(this,500);"/>
                                                    <label for="place-field" class="field-descriptor">Max 500 characters</label>
                                                </div>
                                            </div>
                                            <div class="comment-on-claims-dropdown-claim-detail">
                                                <!--input type="submit" class="form-btn" value="Submit to GARD"/-->
                                                <apex:commandButton styleclass="form-btn" action="{!SaveComments}" value="Submit" reRender="success-popup" onclick="jQuery('.overley,.loading').show();"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </apex:form>
                        </div>
                      </div> 
                <apex:form >                   
                    <div class="report-new-claim-container claim-adition-page">  
                        <div class="multistep-form-step-container">
                            <div class="new-claim-chosen-tab-container">
                                <div class="chosen-claim main-claim desletable main-claim-specifier acumulator-specifier">
                                <apex:outputLink value="/ClaimsDetail?claimid={!claimGUIID}&isMyClaims={!isMyClaims}">Claim</apex:outputlink>
                                </div>
                                <!--SF-3771--Start--> <!-- sub-claim-specifier -->
                                <div class="{!IF(isPaymentTabAvailable,'chosen-claim desletable  acumulator-specifier','display:none;')}"><apex:commandLink action="{!showClaimPaymentHistory}" rendered="{!isPaymentTabAvailable}">Payment history</apex:commandLink></div>
                                <div class="{!IF(isReserveTabAvailable,'chosen-claim desletable acumulator-specifier','display:none;')}"><apex:commandLink action="{!showClaimReserveHistory}" rendered="{!isReserveTabAvailable}">Reserve history</apex:commandLink></div>
                                <!--SF-3771--End-->
                                <div style="display:none;"> <!-- line added for SF-4121 -->
                                     <apex:repeat value="{!mapTypeClaim}" var="sub">                                
                                        <div class="chosen-claim desletable sub-claim-specifier acumulator-specifier">
                                        <apex:commandLink action="{!goToSubClaim}" value="Sub claim - {!sub}" style="sub-claim-edit">                                    
                                            <apex:param value="{!SUBSTITUTE(sub,',','***')}" name="claimType" assignTo="{!claimType}"/>                                    
                                        </apex:commandLink>                                    
                                        </div>
                                    </apex:repeat>
                                 </div> <!-- line added for SF-4121 -->                                                       
                                <div class="chosen-claim selected document-claim-specifier acumulator-specifier">Documents <!--({!lstDocuments.size})--><div class="update-cover-wrapper-activated" style="display:block;"></div></div>                              
                            </div>
                              <!-- section starts for SF-4121 -->
                                    <div class="test-more-tab">
                                        <div class="more-tabs-container">  
                                        </div>
                                    </div>
                                    <script>
                                       jQuery('.sub-claim-specifier').each(function( index ){
                                           
                                            if(index == 0){
                                                var subClaim1= jQuery(this);
                                                jQuery('.new-claim-chosen-tab-container').append(subClaim1);
                                            }   
                                            if(index == 1){
                                                var subClaim2= jQuery(this);
                                                jQuery('.new-claim-chosen-tab-container').append(subClaim2);
                                            }
                                            if(index == 2)
                                            {
                                                jQuery('.new-claim-chosen-tab-container').append('<div class="more-sub-claims-tab" id ="moretab"><a class="more-sub-claims-tab-link">Sub..</a></div>');
                                               
                                            }
                                            if(index >= 2){
                                                var tabs = jQuery(this);
                                                var clicks_count = 0;
                                                console.log('tabs are :::::::::::'+tabs);
                                                jQuery('[id$="moretab"]').click(function() {
                                                    jQuery('.test-more-tab').show();
                                                    console.log('clicks_count ::::'+clicks_count);
                                                    if(clicks_count == 0)
                                                    {    
                                                         console.log('clicks_count from if ::::'+clicks_count);
                                                        jQuery('.test-more-tab').show();
                                                        jQuery('[id$="moretab"]').removeClass('more-sub-claims-tab');
                                                        jQuery('[id$="moretab"]').addClass('more-sub-claims-tab-open');
                                                        clicks_count++;
                                                     }
                                                     else if(clicks_count == 1){
                                                           console.log('clicks_count from else ::::'+clicks_count);
                                                          jQuery('.test-more-tab').hide();
                                                          jQuery('[id$="moretab"]').addClass('more-sub-claims-tab');
                                                          jQuery('[id$="moretab"]').removeClass('more-sub-claims-tab-open');
                                                          clicks_count--;
                                                     }
                                                    //jQuery('.more-tabs-container').toggle();
                                                });
                                            jQuery('.more-tabs-container').append(tabs); 
                                           
                                            }
                                             
                                        });
                                        /* ############## trimming the long tab name ################ */
                                        jQuery('.chosen-claim a').each( function(){
                                            var formsName = jQuery.trim(jQuery(this).text());
                                            if(jQuery(this).parent().parent().hasClass('more-tabs-container'))
                                            {
                                                if(formsName.length > 41){
                                                    jQuery(this).addClass('selectpicker-long-option');
                                                    jQuery(this).attr('alt', formsName);
                                                    jQuery(this).html(formsName.substring(0, 40) + '&hellip;');
                                                }
                                                else{
                                                    jQuery(this).html(formsName);
                                                }
                                            }
                                            else{
                                                if(formsName.length > 18) {
                                                    jQuery(this).addClass('selectpicker-long-option');
                                                    jQuery(this).attr('alt', formsName);
                                                    jQuery(this).html(formsName.substring(0, 17) + '&hellip;');
                                                }
                                                else {
                                                    jQuery(this).html(formsName);
                                                }
                                            }
                                        });
                                        jQuery('.sub-claim-specifier a.selectpicker-long-option').mouseenter( function(){
                                            jQuery('.custom-tooltip').remove();
                                            if(jQuery(this).attr('alt')) {
                                                            jQuery(this).append('<span class="custom-tooltip">' + jQuery(this).attr('alt') + '</span>');
                                            }
                                        });
                                        jQuery('.sub-claim-specifier a.selectpicker-long-option').mouseleave( function(){
                                                        jQuery('.custom-tooltip').remove();
                                        });

                                        /* ######## end of trim section ############ */
                                        jQuery(document).mouseup(function(e) 
                                            {
                                                var container = jQuery('.test-more-tab');
                                            
                                                // if the target of the click isnt the container nor a descendant of the container
                                                if (!container.is(e.target) && container.has(e.target).length === 0) 
                                                {
                                                    container.hide();
                                                    jQuery('[id$="moretab"]').addClass('more-sub-claims-tab');
                                                    jQuery('[id$="moretab"]').removeClass('more-sub-claims-tab-open');
                                                }
                                            });
                                  
                                    </script>
                                     <!-- end section for SF-4121 -->
                            <div class="add-doc-multistep-form each-multistep-form-step">
                                <div class="form-field-scrol-container free-content-area">
                                       <apex:outputPanel rendered="{!IF(lstDocuments.size>0,true,false)}" >                                  
                                        <div class="new-claim-report-section sub-sec-title">Documents</div>
                                       </apex:outputpanel>
                                      <apex:outputPanel rendered="{!IF(lstDocuments.size>0,true,false)}" >                                   
                                        <div class="claim-details-document-type-filter gard-contact claim-tabs-section">
                                            <label>Document type:</label>
                                            <!-- div class="dashboard-picklist select-wrapper" -->
                                            <div class="docTypeName">
                                                <!-- apex:selectList multiselect="false" styleClass="filter-field selectpicker" size="1" / --><!-- value="{!strDocType}" -->
                                                    <!-- apex:selectOptions value="{!docTypeDescList}" / -->
                                                <!-- /apex:selectList -->  
                                              <apex:outputText value="{!HTMLENCODE(lstDocuments[0].Document_Type__c)}" escape="false" />
                                               </div>
                                                <!-- apex:outputText value="{!strDocType}" / -->                                    
                                            <!-- /div -->
                                        </div>
                                        <!-- ################ single select picklist script starts ################### -->
                                        <script>
                                         /* Controls the search by option popup for the single pick-list */  
                                                        jQuery('.dashboard-picklist .selectpicker').selectpicker({
                                                            noneResultsText: 'No match found!',
                                                            liveSearch: true,
                                                            searchAccentInsensitive: false
                                                        }); 
                                                        /* disable if no value available */
                                                         /*if (jQuery('.dashboard-picklist .select-wrapper .dropdown-menu ul.selectpicker li').length == 1) {*/
                                                        if (jQuery.trim(jQuery('.dashboard-picklist .select-wrapper .dropdown-menu ul.selectpicker').html()) == '') {
                                                            jQuery('.dashboard-picklist button.selectpicker').addClass('disabled');
                                                        }
                                                        /* disable if no value available */
                                                        /* Deselect any selection while choosong any picklist */
                                                        jQuery('.dashboard-picklist .select-wrapper .dropdown-toggle.selectpicker').click( function(){
                                                            document.getSelection().removeAllRanges();
                                                        });
                                                        /* Deselect any selection while choosong any picklist */                                        
                                                        
                                                        /* Controls the opening/closing feature for the search by popup. */
                                                        jQuery('.dashboard-picklist .select-wrapper .search-by-icon-button').click( function(){
                                                            jQuery(this).children().show();
                                                        });
                                                        var searchByElement = jQuery('.dashboard-picklist .select-wrapper .search-by-icon-button');
                                                        jQuery(document).bind('mouseup', function (e){
                                                            if (searchByElement.has(e.target).length === 0) {
                                                                jQuery(searchByElement).children().hide();
                                                            }
                                                        });
                                                        /* Controls the opening/closing feature for the search by popup. */
                                                        
                                                        /* Default search by any word selection for the pick-list search option */
                                                        //var incrementer = 1;
                                                        jQuery('.dashboard-picklist .select-wrapper .search-by-option-container').each( function(){
                                                            var searchOptions = '<span class="search-by-icon-button selectpicker-long-option" alt="Search by"><span class="search-by-pointer"></span><div class="search-by-option"><div class="search-by-text">Search by<span class="close-search-by"></span></div><div class="search-options"><input class="any-word" id="search-by-any-word' + incrementer + '" type="radio" value="0" name="search-option' + incrementer + '" checked><label for="search-by-any-word' + incrementer + '">Any word</label></div><div class="search-options"><input class="exact-phrase" id="search-by-exact-phrase' + incrementer + '" type="radio" value="1" name="search-option' + incrementer + '"><label for="search-by-exact-phrase' + incrementer + '">Exact phrase</label></div></div></span>';
                                                            jQuery(this).html(searchOptions);
                                                            incrementer++;
                                                        });
                                                        jQuery('.dashboard-picklist .select-wrapper .bs-searchbox').each( function(){
                                                            var searchOptions = '<span class="search-by-icon-button selectpicker-long-option" alt="Search by"><span class="search-by-pointer"></span><div class="search-by-option"><div class="search-by-text">Search by<span class="close-search-by"></span></div><div class="search-options"><input class="any-word" id="search-by-any-word' + incrementer + '" type="radio" value="0" name="search-option' + incrementer + '" checked><label for="search-by-any-word' + incrementer + '">Any word</label></div><div class="search-options"><input class="exact-phrase" id="search-by-exact-phrase' + incrementer + '" type="radio" value="1" name="search-option' + incrementer + '"><label for="search-by-exact-phrase' + incrementer + '">Exact phrase</label></div></div></span>';
                                                            jQuery(this).append(searchOptions);
                                                            incrementer++;
                                                        });
                                                     
                                                        jQuery('.dashboard-picklist .select-wrapper .bs-searchbox .search-by-icon-button').click( function(e){
                                                            e.stopPropagation();
                                                            jQuery(this).children().show();
                                                        });
                                                        var searchByElementSingle = jQuery('.dashboard-picklist .select-wrapper .bs-searchbox .search-by-icon-button');
                                                        jQuery(document).bind('mousedown', function (e){
                                                            if (searchByElementSingle.has(e.target).length === 0) {
                                                                jQuery(searchByElementSingle).children().hide();
                                                            }
                                                        });                                  
                                                        jQuery(".dashboard-picklist .select-wrapper .dropdown-menu.open ul").mCustomScrollbar({
                                                            mouseWheelPixels: 20,
                                                            autoHideScrollbar: true,
                                                            scrollEasing: "linear",
                                                            scrollInertia: 0
                                                        }); 
                                                        
                                                        /* Stop multi-select dropdown closing event clicking on the custom scroll bar */
                                                        jQuery('.mCSB_draggerContainer').click( function(e){
                                                            e.stopPropagation();
                                                        });
                                        </script>
                                        <!-- ################ single select picklist script ends ################### -->
                                       </apex:outputpanel> 
                                        
                                        <!--<div class="new-claim-added-doc-holder">
                                        <apex:repeat value="{!lstDocuments}" var="viewdoc"> -->
                                         <div class="claim-details-table-wrapper">
                                              <apex:outputPanel rendered="{!IF(lstDocuments.size>0,true,false)}" id="documentTable">                                  
                                                <div class="client-list-section">
                                                    <table>
                                                        <thead>
                                                            <tr>
                                                                <th class="doc-last-updated">
                                                                    <div class="th-container">Date                                                                        
                                                                    </div>
                                                                </th>
                                                                <th class="doc-name">
                                                                    <div class="th-container">Document name
                                                                    </div>
                                                                </th>
                                                                <th class="doc-type">
                                                                    <div class="th-container">Document type
                                                                    </div>
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        <apex:variable value="{!0}" var="rowNum"/>
                                                        <apex:repeat var="viewdoc"  id="view-doc-list" value="{!lstDocuments}">                
                                                            <tr class="{!IF(MOD(rowNum,2)==0,'odd','even')}">
                                                                <td class="doc-last-updated">
                                                                    <apex:outputText value="{0,date,dd'-'MM'-'yyyy}">
                                                                        <apex:param value="{!viewdoc.Last_Updated__c}" />
                                                                    </apex:outputText>
                                                                </td>
                                                                <td class="doc-name">                    
                                                                    <apex:commandLink id="btn" value="{!viewdoc.name}" action="{!displayDoc}" target="_blank">
                                                                        <apex:param name="docId" value="{!viewdoc.Document_Metadata_External_ID__c}" assignTo="{!currentDocumentId}"/>
                                                                        <apex:param name="comId" value="{!viewdoc.Client__r.Company_ID__c}" assignTo="{!currentCompanyId}"/>
                                                                    </apex:commandLink>
                                                                </td>              
                                                                <td class="doc-type"> <apex:outputText value="{!HTMLENCODE(viewdoc.Document_Type__c)}" escape="false" /> </td>
                                                                
                                                            </tr> 
                                                            <apex:variable var="rowNum" value="{!rowNum + 1}"/>
                                                        </apex:repeat>
                                                    </tbody>
                                                </table>
                                            </div>
                                          </apex:outputpanel>
                                          <!-- If No data avilable start -->
                                        <apex:outputPanel id="noData">
                                            <apex:outputPanel rendered="{!IF(lstDocuments.size<=0,true,false)}" >
                                                <div class="no-data-found">
                                                    No records available.
                                                </div> 
                                            </apex:outputPanel> 
                                        </apex:outputPanel>
                                        <!-- If No data avilable end-->
                                          
                                        </div>
                                      <!--
                                        <apex:outputpanel rendered="{!NOT(ISNULL(doc.Id))}">
                                            <div class="new-claim-added-doc-holder-each">
                                                <div class="doc-item-number">
                                                    <label>Date:</label>
                                                    <div class="doc-vchr-no"></div>
                                                </div>
                                                <div class="doc-vouch-number">
                                                    <label>Document type:</label>
                                                    <div class="doc-vchr-no"></div>
                                                </div>
                                                <div class="doc-file">
                                                    <label>Document name:</label>
                                                    <div class="doc-file-name">
                                                        
                                                        <apex:outputLink value="{!URLFOR($Action.Attachment.Download, doc.Id)}" target="_blank">{!doc.name}</apex:outputLink> </div>
                                                       
                                                </div>
                                            </div>
                                         </apex:outputpanel>
                                         
                                         </apex:repeat>
                                        </div>
                                        --> 
                                         
                                      <apex:outputPanel rendered="{!IF(lstDocuments.size>0,true,false)}" id="excel_print">   
                                        <div class="record-detail-dwnld-section">
                                                <div class="global-print-dwnld">
                                                <apex:commandLink action="{!exportToExcelForClaimDet}" value="" id="theCommandLink" styleClass="global-dwnld" title="Export to excel" onClick="ga('send', 'event', 'Download', 'Excel', 'Claim details/documents');"/>
                                                <apex:commandLink value="" title="Print" action="{!printClaimsDetailDocument}" styleClass="global-print" target="_blank"/> 
                                                </div>
                                        </div>
                                      </apex:outputpanel>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<apex:commandLink action="{!exportToExcelForClaimDet}" value="Export" id="theCommandLink" styleClass="form-btn claim claim-export" title="Export to excel"/>-->
                </apex:form>
        </div>
    </div>
            <script>
                    jQuery( document ).ready(function() {
                       console.log( "ready!" );
                        console.log('{!isObjectFav}');
                        var favFlag = '{!isObjectFav}';
                        if(favFlag=='true'){
                            console.log('If');
                            jQuery('.chosen-fav-claim-pointer.fab-option').attr('class','chosen-fav-claim-pointer fab-option favved'); 
                            jQuery('.chosen-fav-claim-pointer.fab-option').attr('title','Remove from favourite'); 
                        }else{
                            console.log('Else');
                            jQuery('.chosen-fav-claim-pointer.fab-option').attr('class','chosen-fav-claim-pointer fab-option');
                            jQuery('.chosen-fav-claim-pointer.fab-option').attr('title','Mark as favourite');
                        }
                    });
                    jQuery('.claim-details-page-main-container .fab-option').click( function(){                   
                        jQuery(this).toggleClass('favved');
                        var myClass = jQuery(this).attr("class");
                        console.log(myClass);                   
                        var pattern = "favved";
                        if(myClass.indexOf(pattern) != -1){                 
                            console.log('addFavs');
                            createFavs();
                            jQuery(this).toggleClass('favved');
                            jQuery('chosen-fav-claim-pointer.fab-option').attr('title','Remove from favourite');
                        }else{
                            console.log('removeFavs');
                            deleteFavs();
                            jQuery(this).toggleClass('favved');
                            jQuery('.chosen-fav-claim-pointer.fab-option').attr('title','Mark as favourite');
                        }               
                    });
                    </script>
     <apex:outputPanel id="success-popup" >
          <apex:outputPanel rendered="{!isSuccess}">
             <apex:form >
              <script>
                   jQuery('.loading').hide();
                   jQuery('.overley').show();
                   jQuery('.comment-on-claims-dropdown-claim-comment textarea').val('');
              </script>
             <div id="contact-info-pop-container" class="global-popup global-popup-confirm" style="display:block;z-index:9999990;" >                         
                     <div id="contact-info-pop" class="cont-info-pop popup-infos">
                        <div id="contact-info-pop-wrapper">
                         <div class="popup-form-container">
                          <div class="contact-field">
                            <div class="pop-up-sub-title">
                             {!$ObjectType.Confirm_PopUp__mdt.fields.claimsDetail_commentsubmit__c.inlineHelpText}                                     
                            </div> 
                            <div class="form-submit-section">
                             <apex:commandButton value="Ok" styleClass="form-btn" action="{!cloePopUpSuccess}" oncomplete="jQuery('.overley').hide();" reRender="success-popup" />
                            </div>                                
                          </div>                 
                        </div>
                        </div>
                    </div>  
            </div>
             </apex:form>          
          </apex:outputPanel>
        </apex:outputPanel>
   </apex:define>
   </apex:composition>
</apex:page>