<apex:page Controller="ShowClaimDetailsCtrl" showHeader="false" sidebar="false" standardStylesheets="false" action="{!ViewData}">
    <apex:includeScript value="{!$Resource.GoogleAnalytics}"/>
    
    <style>
        .page-title-text {
        float: left;
        }
        .unpaid{
        color:red;
        }  
        <!-- style for draft-action -->
        th.draft-action,td.draft-action,th.status-style,td.status-style{
        width : 292px !important;
        max-width: 292px !important;
        min-width: 292px !important;
        }
        <!-- end of draft-action -->
        <!-- style for target-company and target-contact -->
        th.target-contact,td.target-contact,th.target-company,td.target-company{
        max-width: 585px !important;
        min-width: 585px !important;
        width: 585px !important;
        }
        .comment-on-claims-dropdown-wrapper input[type="button"]{
        background: none repeat scroll 0 0 #00a7cc;
        border: 1px solid #00a7cc;
        border-radius: 4px;
        box-shadow: none;
        color: #fff;
        font-family: AvenirHeavy,Verdana;
        font-size: 14px;
        padding: 4px 15px;
        }
        .claim-handler-details-container {
        position: relative;
        }
        a.vcard-download {
        right: 0px !important;
        top: -5px !important;
        }
         td.col-number {
             text-align: right; 
         }
        <!-- css for SF-4121 -->
        .test-more-tab{
            /* background: none repeat scroll 0 0 rgba(0, 63, 95, 0.95); */
            /* background: none repeat scroll 0 0 white;*/
            border-radius: 0 0 4px 4px;
            box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.17);
            cursor: default;
            display: none;
            position: absolute;
            <!-- right: 128px;
            top: 35px; -->
            left: 805px;
            top: 155px;
            width: 343px;
            z-index: 99;
        }
        .more-tabs-container{
            background: none repeat scroll 0 0 #fff;
            border: 1px solid #dccab1;
            float: left;
            padding: 9px 0 !important;
            width: 100%;
        }
        .more-sub-claims-tab{
            background: url(/mygard/resource/1476960305000/gardExtranetResources/newTheme/images/new-drpdwn-icon.png) no-repeat scroll 51px 11px #ededed !important;
            opacity: 1;
            border: 1px solid #ededed;
            border-radius: 3px 3px 0 0;
            color: #003f5f;
            cursor: pointer;
            float: left;
            font-family: AvenirHeavy,Helvetica;
            margin: 0 10px 0 0;
            padding: 6px 18px 6px 17px;
            position: relative;
        }
        .more-sub-claims-tab-open{
            background: url(/mygard/resource/1476960305000/gardExtranetResources/newTheme/images/new-claim-add-option-openicon.png) no-repeat scroll 51px 11px #ededed !important;
            opacity: 1;
            border: 1px solid #ededed;
            border-radius: 3px 3px 0 0;
            color: #003f5f;
            cursor: pointer;
            float: left;
            font-family: AvenirHeavy,Helvetica;
            margin: 0 10px 0 0;
            padding: 6px 18px 6px 17px;
            position: relative;
        }
        a.more-sub-claims-tab-link,a.more-sub-claims-tab-link:hover,a.more-sub-claims-tab-link:focus{
            color: #003f5f !important;
        }
        .more-tabs-container .chosen-claim.desletable.sub-claim-specifier.acumulator-specifier{
            background: url(/mygard/resource/1476960305000/gardExtranetResources/newTheme/images/my-acc-link-bg.png) no-repeat scroll 8px 7px white !important;
            <!-- color: #005e8d !important;
            float: left !important;
            font: 13px AvenirHeavy,Helvetica !important;
            padding: 4px 0 4px 21px!important;  -->
            width: 100% !important;
            border: none !important;
        }
        .more-tabs-container .chosen-claim a,.more-tabs-container .chosen-claim a.sub-claim-edit:focus,
        .more-tabs-container .chosen-claim a.sub-claim-edit:active{
            /* background: url(/mygard/resource/1476960305000/gardExtranetResources/newTheme/images/my-acc-link-bg.png) no-repeat scroll 8px 7px white !important; */
            color: #005e8d !important;
            float: left !important;
            font: 13px AvenirHeavy,Helvetica !important;
            /* padding: 4px 0 4px 21px!important; */
            width: 100% !important;
            border: none !important;
        }
.sub-claim-specifier .custom-tooltip{
     max-width: none;
     white-space: nowrap;
}
.client-view-page-container .test-more-tab{
    float: right !important;
    left: 918px !important;
}
    </style>
    <script>
    
    js$=jQuery.noConflict();
    jQuery(document).ready(function(){
        
        
        var undElement1 = jQuery('td.claims-handler .underwrt-popup-link');
        jQuery(document).bind('mouseup', function (e){
            if (undElement1.has(e.target).length == 0) {           
                jQuery('.underwriter-popup').remove();
            }
        });   
    });
    jQuery('.global-user-select-wrapper-section .fab-option, .fav-options-each-fav-pointer .fab-option, .chosen-fav-claim-pointer.fab-option').click( function(){
        jQuery(this).toggleClass('favved');
    });
    
    function passValVcard(isCh,ProtalImg)
    {
        callSorePhotoData(isCh);
        /*jQuery('.overley,.loading').show();
        var photoUrl ='https://{!$Site.Domain}'+ProtalImg; 
        convertImgToBase64URL(photoUrl, function(base64Img){
            var imgData = jQuery.trim(base64Img).substr(base64Img.indexOf(',')+1); 
              callSorePhotoData(imgData,isCh);
              
        });*/
        
    }
    
    </script>
    
    <apex:outputPanel id="testPopUp">
        
    </apex:outputPanel>
    <apex:composition template="PageFrame" >
        <apex:define name="content" >
            <apex:form >    
                <apex:actionFunction action="{!createFavourites}" name="createFavs" rerender="editObjectPopUp"/>
                <apex:actionFunction action="{!deleteFavourites}" name="deleteFavs" rerender="editObjectPopUp"/> 
                <apex:actionFunction action="{!fetchFavourites}" name="fetchFavs" rerender="editObjectPopUp"/> 
                
            </apex:form>
            <div class="content" style="min-height:430px;">
                <div class="content-wrapper report-a-new-claim claim-details-page-main-container">
                    <div class="page-title">
                        <div class="page-title-text">Claim details</div>
                        <apex:outputPanel rendered="{!IF(Records.size>0,true,false)}" > 
                            <span class="chosen-fav-claim-pointer fab-option" style="margin: 10px 0 0 160px !important;left:  inherit;"></span>
                        </apex:outputPanel>
                        <!-- <apex:form >
<apex:commandLink action="{!exportToExcelForClaimDet}" value="" id="theCommandLink" styleClass="global-dwnld" title="Export to excel" style="  margin: 4px 0 0 60px !important;" onClick="ga('send', 'event', 'Download', 'Excel', 'Claim details');"/>
</apex:form> -->
                        
                        <div class="select-wrapper new-claim-add-option">
                            
                            <apex:form rendered="{!if(hideSection == false, 'true','false')}">
                                <apex:outputPanel rendered="{!isSharedClient}">
                                    <div id="manageClaim" class="manage-claims-popup closed">Manage claim
                                        <div class="manage-claim-dropdown-wrapper" style="display: none;">
                                            <div class="manage-claim-dropdown-inner-wrapper">
                                                
                                                <apex:commandLink action="{!goToManageClaimsPage}" rendered="{!NOT(claimData.Contract_For_Review__r.Business_Area__c='Marine')}" value="Add sub claim" styleClass="manage-claim-options">
                                                    <apex:param name="pageType" value="SUB_CLAIM" assignTo="{!pageType}"/>
                                                </apex:commandLink>
                                                <apex:commandLink action="{!goToManageClaimsPage}" value="Add reimbursement" styleClass="manage-claim-options">
                                                    <apex:param name="pageType" value="REIMBURSEMENT" assignTo="{!pageType}"/>
                                                </apex:commandLink>
                                                <!--apex:commandLink action="{!goToManageClaimsPage}" value="Add document" styleClass="manage-claim-options">
<apex:param name="pageType" value="DOCUMENT" assignTo="{!pageType}"/>
</apex:commandLink-->
                                                
                                            </div>
                                        </div>
                                    </div>
                                </apex:outputPanel>
                            </apex:form>
                            <apex:form rendered="{!if(hideSection == false, 'true','false')}">
                                <apex:outputPanel rendered="{!isSharedClient}">
                                    <div id="commentOnClaim" class="comment-on-claims-dropdown closed">Comment on claim
                                        <div class="comment-on-claims-dropdown-wrapper" style="display: none;">
                                            <div class="manage-claim-dropdown-inner-wrapper">
                                                <div class="comment-on-claims-dropdown-claim-detail">
                                                    <div class="comment-on-claims-dropdown-claim-comment">
                                                        <div class="claim-details-block-holder-heading">Comment</div>
                                                        <apex:inputTextArea value="{!claimCommentBody}" onkeypress="limitText(this,500);" onkeyup="limitText(this,500);"/>
                                                        <label for="place-field" class="field-descriptor">Max 500 characters</label>
                                                    </div>
                                                </div>
                                                <!--SF-1868---Start--
                                                <div class="comment-on-claims-dropdown-claim-detail">
                                                    <div class="comment-on-claims-dropdown-claim-document">
                                                        <div class="claim-details-block-holder-heading">Add Document</div>
                                                        
                                                        <apex:inputText id="manual-upload-doc-name" html-readonly="true" styleClass="new-claim-field doc-upld-field" value="{!docFile.name}" style="width:70%"/>
                                                        <div class="new-claim-doc-upld file-upload btn btn-default form-btn">
                                                            <span>Browse</span>
                                                            
                                                            <apex:inputFile id="manual-upload-doc-uwr" value="{!docFile.body}" filename="{!docFile.name}" styleclass="form-btn new-claim-upload-doc" onchange="chkFile(this.files[0].size,this,0);"/>
                                                        </div>
                                                        <div class="upld-field-desc">(Max 20 MB)</div> 
                                                    </div>
                                                </div>--SF-1868---End-->
                                                <div class="comment-on-claims-dropdown-claim-detail">                                                
                                                    <apex:commandButton styleclass="form-btn" action="{!SaveComments}" value="Submit" onclick="ga('send', 'pageview', '/mygard/ClaimsDetail_comment_submit'); jQuery('.overley,.loading').show();"
                                                                        style=" background: none repeat scroll 0 0 #0badd1;
                                                                               border: 1px solid #0badd1;
                                                                               border-radius: 4px;
                                                                               box-shadow: none;
                                                                               color: #fff;
                                                                               font-family: AvenirHeavy,Verdana;
                                                                               font-size: 13px;
                                                                               padding: 5px 15px;"
                                                                        />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </apex:outputPanel>
                                
                                <script>
                                /* validation for file uploading */
                                function chkFile(s,t,v_text)
                                {
                                    var i = t.id;
                                    //console.log(i);
                                    var str_id=i.substr(i.lastIndexOf(":")+1);                       
                                    jQuery(".error-file-upload").removeClass("error-file-upload");
                                    jQuery(".error-file-upload-msg").remove(); 
                                    var longname = jQuery('[id$="manual-upload-doc-uwr"]').val();
                                    longname = longname.substr(longname.lastIndexOf("\\") + 1);
                                    if(longname.length >80)
                                    {
                                        jQuery('[id$="manual-upload-doc-name"]').after('<div class="error-file-upload-msg" style="margin: 0 !important;width: 350px;float: left;" >File name can be max. 80 characters</div>');
                                        jQuery('[id$="manual-upload-doc-name"]').addClass("error-file-upload");                                                 
                                        jQuery('[id$="manual-upload-doc-uwr"]').val(''); 
                                        jQuery('[id$="manual-upload-doc-name"]').val('');   
                                        return false;
                                    }    
                                    
                                    if(s>20971520){        
                                        jQuery('[id$="manual-upload-doc-uwr"]').val('');        
                                        jQuery('[id$="manual-upload-doc-name"]').val('');
                                        jQuery('[id$="manual-upload-doc-name"]').after('<div class="error-file-upload-msg" style="margin: 0 !important;width: 160px;float: left;">File size is bigger than 20MB</div>');
                                        jQuery('[id$="manual-upload-doc-name"]').addClass("error-file-upload");
                                        
                                    }
                                    else{
                                        var fname = jQuery('[id$="manual-upload-doc-uwr"]').val();
                                        console.log(fname);
                                        if(isvalidfiletype(fname)){
                                            fname = fname.substr(fname.lastIndexOf("\\") + 1);
                                            console.log(fname);
                                            jQuery('[id$="manual-upload-doc-name"]').val(fname);          
                                            jQuery(".error-file-upload-msg").remove(); 
                                            
                                        }
                                        else {
                                            jQuery("[id$='"+str_id+"']").val('');
                                            jQuery('[id$="manual-upload-doc-name"]').after('<div class="error-file-upload-msg" style="margin: 0 !important;width: 350px;float: left;" >Only following file types are allowed:<br/>pdf, docx, doc, jpg, xls, xlsx, ppt, pptx, pages, psd, dxf, <br/> eps, ps, xps, ai, tiff, svg, ttf</div>');
                                            jQuery('[id$="manual-upload-doc-name"]').addClass("error-file-upload");
                                            //fname = fname.substr(fname.lastIndexOf("\\") + 1);                
                                            jQuery('[id$="manual-upload-doc-uwr"]').val(''); 
                                            jQuery('[id$="manual-upload-doc-name"]').val('');                 
                                        }                       
                                        
                                        
                                    }
                                } 
                                function downloadFilerequest(fname){
                                    jQuery('input[id$="dwnfilename"]').val(fname);
                                    console.log(fname);                       
                                }                                                  
                                
                                /* end of file uploading validation */
                                </script>
                                
                            </apex:form>
                        </div>
                    </div> 
                    
                    <script>
                    jQuery( document ).ready(function() {
                        console.log( "ready!" );
                        console.log('{!isObjectFav}');
                        var favFlag = '{!isObjectFav}';
                        if(favFlag=='true'){
                            console.log('If');
                            jQuery('.chosen-fav-claim-pointer.fab-option').attr('class','chosen-fav-claim-pointer fab-option favved'); 
                            jQuery('.chosen-fav-claim-pointer.fab-option').attr('title','Remove from favourite'); 
                        }else{
                            console.log('Else');
                            jQuery('.chosen-fav-claim-pointer.fab-option').attr('class','chosen-fav-claim-pointer fab-option');
                            jQuery('.chosen-fav-claim-pointer.fab-option').attr('title','Mark as favourite');
                        }
                    });
                    jQuery('.claim-details-page-main-container .fab-option').click( function(){                   
                        jQuery(this).toggleClass('favved');
                        var myClass = jQuery(this).attr("class");
                        console.log(myClass);                   
                        var pattern = "favved";
                        if(myClass.indexOf(pattern) != -1){                 
                            console.log('addFavs');
                            createFavs();
                            jQuery(this).toggleClass('favved');
                            jQuery('chosen-fav-claim-pointer.fab-option').attr('title','Remove from favourite');
                        }else{
                            console.log('removeFavs');
                            deleteFavs();
                            jQuery(this).toggleClass('favved');
                            jQuery('.chosen-fav-claim-pointer.fab-option').attr('title','Mark as favourite');
                        }               
                    });
                    </script>
                    <apex:form >                    
                        <div class="report-new-claim-container claim-adition-page">                       
                            
                            <div class="multistep-form-step-container">
                                <div class="new-claim-chosen-tab-container">
                                    <div class="tab-header-container">
                                        <div class="single-tab deselected"><apex:commandLink action="{!showClaimDetails}">Claim</apex:commandLink></div>
                                        <div class="{!IF(isPaymentTabAvailable,'single-tab deselected','display:none;')}"><apex:commandLink action="{!showClaimPaymentHistory}" rendered="{!isPaymentTabAvailable}">Payment history</apex:commandLink></div>
                                        <div class="{!IF(isReserveTabAvailable,'single-tab selected','display:none;')}">Reserve history<div class="update-cover-wrapper-activated" style="display:block;"></div></div>
                                        <div style="display:none;"> <!-- line added for SF-4121 -->
                                            <apex:repeat value="{!mapTypeClaim}" var="sub">                                
                                                <div class="chosen-claim desletable sub-claim-specifier acumulator-specifier">
                                                    <apex:commandLink action="{!goToSubClaim}" value="Sub claim - {!sub}" style="sub-claim-edit">                                    
                                                        <apex:param value="{!SUBSTITUTE(sub,',','***')}" name="claimType" assignTo="{!claimType}"/>                                    
                                                    </apex:commandLink>                                    
                                                </div>
                                            </apex:repeat> 
                                        </div> <!-- line added for SF-4121 -->
                                        <!--div class="chosen-claim desletable document-claim-specifier acumulator-specifier">
                                            <apex:commandLink action="{!goToClaimDocument}" value="Documents ({!lstDocuments.size})" /> 
                                        </div--><!-- commented for SF-6477-->
                                         <div class="chosen-claim desletable sub-claim-specifier acumulator-specifier">
                                            <apex:commandLink action="{!viewAllDocuments}" value="Documents" /> 
                                        </div>
                                    </div>
                                </div>
                                <!-- section starts for SF-4121 -->
                                    <div class="test-more-tab">
                                        <div class="more-tabs-container">  
                                        </div>
                                    </div>
                                    <script>
                                       jQuery('.sub-claim-specifier').each(function( index ){
                                           
                                            if(index == 0){
                                                var subClaim1= jQuery(this);
                                                jQuery('.tab-header-container').append(subClaim1);
                                            }   
                                            if(index == 1){
                                                var subClaim2= jQuery(this);
                                                jQuery('.tab-header-container').append(subClaim2);
                                            }
                                            if(index == 2)
                                            {
                                                jQuery('.tab-header-container').append('<div class="more-sub-claims-tab" id ="moretab"><a class="more-sub-claims-tab-link">Sub..</a></div>');
                                               
                                            }
                                            if(index >= 2){
                                                var tabs = jQuery(this);
                                                var clicks_count = 0;
                                                console.log('tabs are :::::::::::'+tabs);
                                                jQuery('[id$="moretab"]').click(function() {
                                                    jQuery('.test-more-tab').show();
                                                    console.log('clicks_count ::::'+clicks_count);
                                                    if(clicks_count == 0)
                                                    {    
                                                         console.log('clicks_count from if ::::'+clicks_count);
                                                        jQuery('.test-more-tab').show();
                                                        jQuery('[id$="moretab"]').removeClass('more-sub-claims-tab');
                                                        jQuery('[id$="moretab"]').addClass('more-sub-claims-tab-open');
                                                        clicks_count++;
                                                     }
                                                     else if(clicks_count == 1){
                                                           console.log('clicks_count from else ::::'+clicks_count);
                                                          jQuery('.test-more-tab').hide();
                                                          jQuery('[id$="moretab"]').addClass('more-sub-claims-tab');
                                                          jQuery('[id$="moretab"]').removeClass('more-sub-claims-tab-open');
                                                          clicks_count--;
                                                     }
                                                    //jQuery('.more-tabs-container').toggle();
                                                });
                                            jQuery('.more-tabs-container').append(tabs); 
                                           
                                            }
                                             
                                        });
                                        /* ############## trimming the long tab name ################ */
                                        jQuery('.chosen-claim a').each( function(){
                                            var formsName = jQuery.trim(jQuery(this).text());
                                            if(jQuery(this).parent().parent().hasClass('more-tabs-container'))
                                            {
                                                if(formsName.length > 41){
                                                    jQuery(this).addClass('selectpicker-long-option');
                                                    jQuery(this).attr('alt', formsName);
                                                    jQuery(this).html(formsName.substring(0, 40) + '&hellip;');
                                                }
                                                else{
                                                    jQuery(this).html(formsName);
                                                }
                                            }
                                            else{
                                                if(formsName.length > 18) {
                                                    jQuery(this).addClass('selectpicker-long-option');
                                                    jQuery(this).attr('alt', formsName);
                                                    jQuery(this).html(formsName.substring(0, 17) + '&hellip;');
                                                }
                                                else {
                                                    jQuery(this).html(formsName);
                                                }
                                            }
                                        });
                                        jQuery('.sub-claim-specifier a.selectpicker-long-option').mouseenter( function(){
                                            jQuery('.custom-tooltip').remove();
                                            if(jQuery(this).attr('alt')) {
                                                            jQuery(this).append('<span class="custom-tooltip">' + jQuery(this).attr('alt') + '</span>');
                                            }
                                        });
                                        jQuery('.sub-claim-specifier a.selectpicker-long-option').mouseleave( function(){
                                                        jQuery('.custom-tooltip').remove();
                                        });

                                        /* ######## end of trim section ############ */
                                        jQuery(document).mouseup(function(e) 
                                            {
                                                var container = jQuery('.test-more-tab');
                                            
                                                // if the target of the click isn't the container nor a descendant of the container
                                                if (!container.is(e.target) && container.has(e.target).length === 0) 
                                                {
                                                    container.hide();
                                                    jQuery('[id$="moretab"]').addClass('more-sub-claims-tab');
                                                    jQuery('[id$="moretab"]').removeClass('more-sub-claims-tab-open');
                                                }
                                            });
                                  
                                    </script>
                                     <!-- end section for SF-4121 -->
                                <div class="tab-details-section gard-contact claim-tabs-section portfolio"> 
                                    <div class="tab-detail-columns">
                                        
                                        <div class="tab-open-claim-section tab-table-wrapper tab-detail-container broker-view">
                                            <div class="form-field-scrol-container free-content-area">
                                                
                                                
                                                <apex:actionFunction action="{!ViewData}" name="sortingFunction" reRender="recordData,noData">
                                                    <apex:param value="" name="column" assignTo="{!sortExpressionHistory}" ></apex:param>
                                                </apex:actionFunction> 
                                                <apex:outputPanel id="recordData" >                                  
                                                    <apex:outputPanel rendered="{!IF(Records.size>0,true,false)}" >                                  
                                                        <div class="client-list-section">
                                                            <table>
                                                                <thead>
                                                                    <tr>
                                                                        <!--<apex:outputPanel rendered="{!usertype=='Broker'}">-->
                                                                        <th class="status-style"> <!--onclick="jQuery('.overley,.loading').show();sortingFunction('TRANSACTION_DATE__c');"-->
                                                                            <div class="th-container">Valid from
                                                                                <!--<div class="item-sort">
                                                                                    <div class="{!IF(sortExpressionHistory=='TRANSACTION_DATE__c',IF(sortDirectionHistory='ASC','sort-desc','sort-asc'),'unsorted')}"></div>                                                      
                                                                                </div>-->
                                                                            </div>
                                                                        </th>
                                                                        <th class="status-style">
                                                                            <div class="th-container">Old amount $
                                                                            </div>
                                                                        </th>
                                                                        <th class="status-style">
                                                                            <div class="th-container">Changed amount $
                                                                            </div>
                                                                        </th>
                                                                        <th class="status-style"><!--onclick="jQuery('.overley,.loading').show();sortingFunction('CLAIM_RESERVE_GROSS_USD__c');"-->
                                                                            <div class="th-container">New total $
                                                                                <!--<div class="item-sort">
                                                                                    <div class="{!IF(sortExpressionHistory=='CLAIM_RESERVE_GROSS_USD__c',IF(sortDirectionHistory='ASC','sort-desc','sort-asc'),'unsorted')}"></div>
                                                                                </div>-->
                                                                            </div>
                                                                        </th>                                                                    
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <apex:variable value="{!0}" var="rowNum"/>                                                                
                                                                    <apex:repeat var="rec" value="{!lstReserveDataFinal}">                                                                
                                                                        <tr class="{!IF(MOD(rowNum,2)==0,'odd','even')}">
                                                                            <td class="status-style"> <!--{!HTMLENCODE(conShare.shareName)} --> 
                                                                                <apex:outputText value="{0,date,dd'-'MM'-'yyyy}">
                                                                                    <apex:param value="{!rec.rh.TRANSACTION_DATE__c}" />
                                                                                </apex:outputText> 
                                                                            </td>  
                                                                            <td class="status-style col-number">
                                                                                <apex:outputText value="{0, number, ###,##0.00}">
                                                                                    <apex:param value="{!rec.oldAmount}"/>
                                                                                </apex:outputText>
                                                                            </td>
                                                                            <td class="status-style col-number">
                                                                                <apex:outputText value="{0, number, ###,##0.00}">
                                                                                    <apex:param value="{!rec.changeAmount}"/>
                                                                                </apex:outputText>                                                                                
                                                                            </td>
                                                                            <td class="status-style col-number" >
                                                                                <apex:outputText value="{0, number, ###,##0.00}">
                                                                                    <apex:param value="{!rec.rh.CLAIM_RESERVE_GROSS_ORG__c}"/>
                                                                                </apex:outputText>                                                                                
                                                                            </td>                                                                                                              
                                                                        </tr>
                                                                        <apex:variable var="rowNum" value="{!rowNum + 1}"/>
                                                                    </apex:repeat>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <!--div class="record-detail-dwnld-section">                               
                                                        <div class="global-print-dwnld">
                                                            <apex:commandButton value="" title="Export to Excel" styleClass="global-dwnld" action="{!exportToExcelForShareData}" onClick="ga('send', 'event', 'download', 'excel', 'Shared data');"/>
                                                            <apex:commandButton value="" title="Print" action="{!print}" styleClass="global-print" onClick="ga('send', 'event', 'download', 'print', 'Shared data');"/>
                                                        </div>
                                                        </div-->
                                                        <!-- Pagination section starts here-->
                                                        <div class="pagination" style="display:{!IF(noOfReserveRecord > sizeReserve,'block;','none;')}" >
                                                            <div class="record-details">Showing total records: <span class="record-starting">{!((pageNumReserve -1)*10)+1}</span> – <span class="record-end">{!IF(pageNumReserve*10<noOfReserveRecord,pageNumReserve*10,noOfReserveRecord)}</span> of <span class="record-total">{!noOfReserveRecord}</span></div>
                                                                <div class="pagination-wrapper">
                                                                    <!--<div class="item-per-page">Total: {!noOfRecords}</div>-->
                                                                    <div class="pager"> 
                                                                        <apex:commandButton action="{!firstRecord}" rendered="{!isFirstReserve}" reRender="recordData" status="refreshstatus_bottom" styleClass="pager-prev pager-section extream-first activated" onclick="jQuery('.overley, .loading').show();" oncomplete="jQuery('.overley, .loading').hide();"  />                                              
                                                                        <apex:outputpanel styleClass="pager-prev pager-section extream-first deactivated" rendered="{!NOT(isFirstReserve)}"/>
                                                                        
                                                                        <apex:commandButton action="{!previousRecord}" rendered="{!isPreviousReserve}" reRender="recordData" status="refreshstatus_bottom" styleClass="pager-prev pager-section activated" onclick="jQuery('.overley, .loading').show();" oncomplete="jQuery('.overley, .loading').hide();" />                                                                           
                                                                        <apex:outputPanel styleClass="pager-prev pager-section deactivated" rendered="{!NOT(isPreviousReserve)}" style="margin-right: 2px;" />
                                                                        <div class="page-no pager-section"><apex:inputText value="{!pageNumReserve}" onchange="changePageNumber();"/></div>
                                                                        <apex:actionFunction name="changePageNumber" action="{!setPageNumberReserve}" reRender="recordData" oncomplete="jQuery('.overley, .loading').hide();">                                                                        
                                                                        </apex:actionFunction>
                                                                        <!--<div class="page-no pager-section">{!intStartrecord}</div> -->
                                                                        <div class="page-of pager-of-section">of {!CEILING(noOfReserveRecord/sizeReserve)}</div>                    
                                                                        <apex:commandButton action="{!nextRecord}" rendered="{!isNextReserve}" reRender="recordData" status="refreshstatus_bottom" styleClass="pager-next pager-section activated" onclick="jQuery('.overley, .loading').show();" oncomplete="jQuery('.overley, .loading').hide();"/>    
                                                                        <apex:outputPanel styleClass="pager-next pager-section deactivated" rendered="{!NOT(isNextReserve)}" />  
                                                                        
                                                                        <apex:commandButton action="{!lastRecord}" rendered="{!isLastReserve}" reRender="recordData" status="refreshstatus_bottom" styleClass="pager-next pager-section extream-last activated" onclick="jQuery('.overley, .loading').show();" oncomplete="jQuery('.overley, .loading').hide();"  />   
                                                                        <apex:outputPanel styleClass="pager-next pager-section extream-last deactivated" rendered="{!NOT(isLastReserve)}" />
                                                                    </div>
                                                                </div>
                                                                </div>
                                                                <!-- Pagination section ends here--> 
                                                                <!-- Fav section-Start-->
                                                                <script>
                                                                jQuery( document ).ready(function() {
                                                                    console.log( "ready!" );
                                                                    console.log('{!isObjectFav}');
                                                                    var favFlag = '{!isObjectFav}';
                                                                    if(favFlag=='true'){
                                                                        console.log('If');
                                                                        jQuery('.chosen-fav-claim-pointer.fab-option').attr('class','chosen-fav-claim-pointer fab-option favved'); 
                                                                        jQuery('.chosen-fav-claim-pointer.fab-option').attr('title','Remove from favourite'); 
                                                                    }else{
                                                                        console.log('Else');
                                                                        jQuery('.chosen-fav-claim-pointer.fab-option').attr('class','chosen-fav-claim-pointer fab-option');
                                                                        jQuery('.chosen-fav-claim-pointer.fab-option').attr('title','Mark as favourite');
                                                                    }
                                                                });
                                                                jQuery('.claim-details-page-main-container .fab-option').click( function(){                   
                                                                    jQuery(this).toggleClass('favved');
                                                                    var myClass = jQuery(this).attr("class");
                                                                    console.log(myClass);                   
                                                                    var pattern = "favved";
                                                                    if(myClass.indexOf(pattern) != -1){                 
                                                                        console.log('addFavs');
                                                                        createFavs();
                                                                        jQuery(this).toggleClass('favved');
                                                                        jQuery('chosen-fav-claim-pointer.fab-option').attr('title','Remove from favourite');
                                                                    }else{
                                                                        console.log('removeFavs');
                                                                        deleteFavs();
                                                                        jQuery(this).toggleClass('favved');
                                                                        jQuery('.chosen-fav-claim-pointer.fab-option').attr('title','Mark as favourite');
                                                                    }               
                                                                });
                                                                </script>
                                                                <!--fav section end-->
                                                                <script>
                                                                jQuery('.overley,.loading').hide();//used for close loading after refresh data
                                                                
                                                                /* tooltrip for client-name start*/
                                                                jQuery('.share-data td.client-info').each( function(){
                                                                    var formsName =  jQuery.trim(jQuery(this).text());
                                                                    if (formsName.length > 30) {
                                                                        jQuery(this).addClass('selectpicker-long-option');
                                                                        jQuery(this).attr('my-alt', formsName);
                                                                        jQuery(this).text(formsName.substring(0, 28) + '...');
                                                                    }
                                                                    else {
                                                                        jQuery(this).text(formsName);
                                                                    }
                                                                });
                                                                /* tooltrip for client-name end*/
                                                                /* tooltrip for target-company start*/
                                                                jQuery('.share-data td.target-company').each( function(){
                                                                    var formsName =  jQuery.trim(jQuery(this).text());
                                                                    if (formsName.length > 30) {
                                                                        jQuery(this).addClass('selectpicker-long-option');
                                                                        jQuery(this).attr('my-alt', formsName);
                                                                        jQuery(this).text(formsName.substring(0, 28) + '...');
                                                                    }
                                                                    else {
                                                                        jQuery(this).text(formsName);
                                                                    }
                                                                });
                                                                /* tooltrip for target-company end*/
                                                                /* tooltrip for target-contact start*/
                                                                jQuery('.share-data td.target-contact').each( function(){
                                                                    var formsName =  jQuery.trim(jQuery(this).text());
                                                                    if (formsName.length > 30) {
                                                                        jQuery(this).addClass('selectpicker-long-option');
                                                                        jQuery(this).attr('my-alt', formsName);
                                                                        jQuery(this).html(formsName.substring(0, 28) + '...');
                                                                    }
                                                                    else {
                                                                        jQuery(this).text(formsName);
                                                                    }
                                                                });
                                                                /* tooltrip for target-contact end*/
                                                                
                                                                /* tooltrip for agreement-name start*/
                                                                jQuery('.share-data td.agreement-name').each( function(){
                                                                    var formsName =  jQuery.trim(jQuery(this).text());
                                                                    if (formsName.length > 30) {
                                                                        jQuery(this).addClass('selectpicker-long-option');
                                                                        jQuery(this).attr('my-alt', formsName);
                                                                        jQuery(this).text(formsName.substring(0, 28) + '...');
                                                                    }
                                                                    else {
                                                                        jQuery(this).text(formsName);
                                                                    }
                                                                });
                                                                /* tooltrip for agreement-name end*/
                                                                /* Provides the tooltip using jquery UI tooltip plugin */
                                                                
                                                                jQuery('.share-data td').mouseenter( function(){
                                                                    jQuery('.custom-tooltip').remove();
                                                                    if(jQuery(this).attr('my-alt')) {
                                                                        //jQuery('body').append('<span class="custom-tooltip">' + jQuery(this).attr('my-alt') + '</span>');
                                                                        console.log('asasas'+jQuery(this).attr('my-alt'));
                                                                        jQuery('body').append('<span class="custom-tooltip"></span>');
                                                                        jQuery('body .custom-tooltip').text(jQuery(this).attr('my-alt'));
                                                                    }
                                                                });
                                                                jQuery('td').mouseleave( function(){
                                                                    jQuery('.custom-tooltip').remove();
                                                                });
                                                                
                                                                /* Provides the tooltip using jquery UI tooltip plugin */
                                                                
                                                                </script> 
                                                                <!-- <script>              
/* Restricts the number, arrow, backspace and delete button for the pagination */
jQuery('.page-no.pager-section > input[type="text"]').keypress( function(event){
    return validatePagination(event);
});
</script> -->
                                                                <script>
                                                                /* Restricts the number, arrow, backspace and delete button for the pagination */
                                                                jQuery('.pagination-wrapper .page-no input[type="text"]').bind('keypress', function (eInner){
                                                                    if (eInner.keyCode == 13) { 
                                                                        enterPage   = jQuery('.page-no.pager-section > input[type="text"]').val();        
                                                                        if(enterPage <= {!CEILING(noOfRecords/size)} && enterPage != 0){
                                                                            console.log('pagevalueentered:'+enterPage);
                                                                            jQuery('.overley, .loading').show();                         
                                                                            changePageNumber();                             
                                                                            return false;
                                                                        }
                                                                        else{
                                                                            console.log('pagevalueentered:'+enterPage);
                                                                            jQuery('.page-no.pager-section > input[type="text"]').val('1');            
                                                                            return false;
                                                                        }
                                                                    }    
                                                                    
                                                                }); 
                                                                </script>
                                                                
                                                                
                                                                
                                                            </apex:outputPanel>
                                                            <!-- If No data avilable start -->
                                                            <apex:outputPanel id="noData">
                                                                <apex:outputPanel rendered="{!IF(Records.size<=0,true,false)}" >
                                                                    <div class="no-data-found">
                                                                        No records available.
                                                                    </div> 
                                                                </apex:outputPanel> 
                                                            </apex:outputPanel>
                                                            <!-- If No data avilable end-->  
                                                            
                                                        </apex:outputPanel>
                                                       <apex:outputPanel rendered="{!IF(Records.size>0,true,false)}" >   
                                                        
                                                          <div class="record-detail-dwnld-section">
                                                                <div class="global-print-dwnld">
                                                                <apex:commandLink action="{!exportToExcelReserve}" value="" id="theCommandLink" styleClass="global-dwnld" title="Export to excel" onClick="ga('send', 'event', 'Download', 'Excel', 'Claim details reserve');"/>
                                                                <apex:commandLink value="" title="Print" action="{!printClaimReserveHistory}" styleClass="global-print" target="_blank"/> 
                                                               
                                                                </div>
                                                            </div>  
                                                       </apex:outputPanel>  
                                                    </div>
                                                    
                                                    
                                                </div>
                                              
                                            </div>
                                        </div> 
                                        
                                        
                                        
                                    </div>
                                </div>
                                
                            </apex:form>
                        </div>
                    </div>
                    <!-- Content section ends -->
                    <apex:outputPanel id="success-popup" >
                        <apex:outputPanel rendered="{!isSuccess}">
                            <apex:form >
                                <script>
                                jQuery('.loading').hide();
                                jQuery('.overley').show();
                                jQuery('.comment-on-claims-dropdown-claim-comment textarea').val('');
                                </script>
                                <div id="contact-info-pop-container" class="global-popup global-popup-confirm" style="display:block;z-index:9999990;" >                         
                                    <div id="contact-info-pop" class="cont-info-pop popup-infos">
                                        <div id="contact-info-pop-wrapper">
                                            <div class="popup-form-container">
                                                <div class="contact-field">
                                                    <div class="pop-up-sub-title">
                                                       {!$ObjectType.Confirm_PopUp__mdt.fields.claimsDetail_commentsubmit__c.inlineHelpText}                                    
                                                    </div> 
                                                    <div class="form-submit-section">
                                                        <apex:commandButton value="Ok" styleClass="form-btn" action="{!cloePopUpSuccess}" oncomplete="jQuery('.overley').hide();" reRender="success-popup" />
                                                    </div>                                
                                                </div>                 
                                            </div>
                                        </div>
                                    </div>  
                                </div>
                            </apex:form>          
                        </apex:outputPanel>
                    </apex:outputPanel>  
                </apex:define>
            </apex:composition>
        </apex:page>