<apex:page standardController="Account" standardstylesheets="true" extensions="CompanyRibbonExtension" showChat="false" showHeader="false" showQuickActionVfHeader="false" sidebar="false">
    <style>
        .cell {
        background : #AAAAAA;
        padding: 5px 25px 5px 25px;
        text-align:center;
        }
        .Client {
        background :#1F497D;
        }
        .Broker {
        background : #FFA51E;
        }
        .Correspondent {
        background : #992F9C;
        }
        .External {
        background : #FF0B0B;
        }
        .Other {
        background : #AAAAAA;
        color: white;
        }
        .Available {
        background : #AAAAAA;
        color: white;
        }
        .Bank {
        background : #5071b2;
        color: white;
        }
        .Investments {
        background : #03c67f;
        color: white;
        }
        .Insurance {
        background : #e300fc;
        color: white;
        }
        .cell a {
        text-decoration : none;
        color: white;
        font-weight: bold;
        }
        .cell a:hover {
        text-decoration : underline;
        color: white;
        font-weight: bold;
        }
        
        .bcimage {
            background-image: url("{!imageURL}");
        background-size: auto;
            height:30px;
            background-position: center;
            background-repeat: no-repeat;            
        }
        .buttonlink {
            height:18px;
            padding:5px;
            display:block;
        }
        
    </style>
    <body>
        <div align="center">
            <apex:form >
                     <table style="width:100%;" align="center">
                                <tr>
                                     <td  align="center" ><apex:pageMessages ></apex:pageMessages> </td>
                                </tr>   
                                 <tr style="border:2px;border-color:#232323;">
                                     <td  align="center" class="bcimage" >
                                        <!--<apex:image url="{!Account.Ribbon_Image__c}" height="30"/><!--replaced for SF-4727 
                                        <apex:image url="{!imageURL}" height="30"/> -->
                                     </td>
                                     <!-- td><apex:image url="{!imageURL}" height="30%" width="30%"/></td -->
                                </tr>
                                <tr >
                                    <td  align="center" valign="bottom" >
                                       
                                            <div class="buttonlink" style="height:10%;margin:1px;">
                                        <!--<div class="buttonlink" style="height:18px;margin:1px;">-->
                                            <apex:repeat value="{!OtherRoles}" var="role">
                                               
                                                <span class="cell {!role} " style="margin:2px;"  >
                                                        <apex:commandLink action="{!applyRecordTypeChange}" value="{!role}" oncomplete="navigateTo('{!Account.Id}');" target="_top">
                                                        <apex:param name="recordType" value="{!role}" assignTo="{!recordType}"  />
                                                    </apex:commandLink>
                                                </span>
                                            </apex:repeat>
                                        </div>
                                    </td>
                                </tr>
                            </table>         
                <!--SF-3723-->
                <script>
                function navigateTo(sObjectId){
                    var theme = '{!$User.UITheme}';
                    console.log('new Code');
                    console.log('theme - '+theme);
                    console.log('sforce - '+(typeof sforce));
                    if(theme == 'Theme4t' || theme == 'Theme4d' || theme == 'Theme4u' || typeof sforce != 'undefined'){//salesforce1 or Lightning
                        // Salesforce1 navigation    
                        console.log('Lightning');
                        sforce.one.navigateToSObject(sObjectId);
                    }else{//classic
                        console.log('classic');
                        //window.top.location.href = '/' + sObjectId; //commented for SF-4727
                        //reloadRibbonAF();//added for SF-4727, commented for SF-4934
                        this.parent.location.href = '/' + sObjectId;
                    }
                }
                </script>
                <!--SF-3723-->
                <apex:actionFunction name="reloadRibbonAF" action="{!reloadRibbon}"/><!--Added for SF-4727-->
            </apex:form>
        </div>
    </body>
</apex:page>