<apex:page controller="PiRenewalBlueCardCtrl" sidebar="false" showHeader="false" standardStylesheets="false" showChat="false"><!-- contentType="application/pdf"-->
    <apex:includeScript value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/js/jquery-min.1.11.1.js')}" />
    <iframe src="" height="700" width="100%" id="myFrame" style="position:absolute;left:0px;top:0px;" />
    
    <apex:form id="frmdisplay">
        <!--<apex:actionFunction action="{!deleteDoc}" name="deleteViewDoc" immediate="true"/>-->
        <apex:actionPoller action="{!deleteDoc}" interval="5" oncomplete="console.log('deleted');" enabled="{!isDocDeteted}" reRender="frmdisplay"/>        
    </apex:form>
    
    
    
    <script> 
    console.log('##############Enter delete1');
    
    jQuery(document).ready(function() {
        console.log('##############Enter delete2 ');
        console.log('height---->'+jQuery(window).height());
        var height = jQuery(window).height();
        jQuery('iframe').css('height', height+15);
        jQuery('body').css({
            'overflow': 'hidden'
        });
        
         console.log('##############Enter delete {!att.id}***{!att.contentType}');
    });
    
    
    setTimeout(function() {
        document.getElementById("myFrame").src = "{!URLFOR($Action.Attachment.Download, att.Id)}";        
        console.log('############Exit delete');
    },100);
    </script>
    
</apex:page>