<apex:page controller="PortfolioReportsCtrl_for_Marine" sidebar="false" showHeader="false" standardStylesheets="false">
<!-- New Theme CSS Add Start -->
<apex:stylesheet value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/css/bootstrap.min.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/css/bootstrap-select.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/css/bootstrap-multiselect.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/css/custom-scroll-jquery.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/css/default.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/css/style.css')}"/>
<apex:includeScript value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/js/jquery-min.1.11.1.js')}" />
<apex:includeScript value="{!$Resource.base64}"/>
<apex:includeScript value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/js/jquery-ui.js')}" />
<apex:includeScript value="{!$Resource.GoogleAnalytics}"/>


<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <style>
    .form-submit-section .form-btn,.form-submit-section .form-btn:focus {
        background: none repeat scroll 0 0 #0badd1 !important;
        border: 1px solid #0badd1 !important;
        border-radius: 4px !important;
        box-shadow: none !important;
        color: #fff !important;
        font-family: AvenirHeavy,Verdana !important;
        font-size: 13px !important;
        padding: 5px 15px !important;
    }
    .form-submit-section .form-btn:hover,.form-submit-section .form-btn:focus {
        color: #fff !important;
    }
    .content {
        margin: 20px 0 20px -1px !important;
     }
     .PTChildPivotTable table tbody tr td:last-child {
         border-right: solid 1px #979991;
     }
    .single-tab.deselected a, .single-tab.deselected a:hover,
    .single-tab.deselected a:visited, .single-tab.deselected a:active {
        color: #003f5f !important;
        text-decoration: none !important;    
    }
    .single-tab a:visited, .single-tab a:active,
    .single-tab a, .single-tab a:hover {
        
        text-decoration: none !important;    
    }
    td {
        border: none;
        border-right: none;
        border-left: none;
    }
    .single-tab.deselected {
    background: none repeat scroll 0 0 #ededed !important;
    color: #FFFFFF !important;
    }
    .form-field-scrol-container {
        border: 1px solid #dccbb1 !important;
    }
    .single-tab.selected {    
    border: 1px solid #dccbb1 !important;
    }
        @media print{
        @page { 
            margin:0 !important;
            size: A4;
             }
            
            .tab-button-section{
                display: none !important;
            }
            #gard_logo-id_span{
                display: block !important;
                padding-top:10px !important;
                padding-bottom:20px !important;
            }
        }
        <!-- added for SF-4526 -->
         #gard_logo-id_span{
            display: none !important;
         }
       <!-- added for SF-4556 -->
        .PTSectionTable tbody tr td.OOLT{
            vertical-align: inherit !important;
        }
       
    </style>    
</head>
<div class="overley"></div>
<div class="loading">
   <span class="loading-gif"><apex:image value="{!URLFOR($Resource.loaderImg)}"/></span>
   <span class="loading-text">Loading, please wait...</span>
</div>
<script>
    jQuery('.overley,.loading').show();
</script>
<!--<apex:composition template="PageFrame">
<apex:define name="content" >-->
    <div  class="content">
        <div class="content-wrapper" style="display:none;"> 
                <!-- img src="{!URLFOR($Resource.logo)}" width="100px;" alt="gardLogo" id="gard_logo-id" style="display:none;" / -->
            <span id="gard_logo-id_span">
                <apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/logo.png')}" width="100px;" alt="gardLogo" /> 
            </span> 
                                              
            <div id="gard_logo-id" style="margin-left:10px !important;margin-bottom:20px !important;"></div> 
            <div class="page-title">My portfolio report</div> 
            <div class="tab-section-container">
                <div class="report-new-claim-button">
                    <!--<apex:outputLink value="/apex/ReportClaims" styleClass="form-btn secondary-btn" >New claim</apex:outputLink>-->
                </div>
                <div class="tab-button-section">                        
                    <div class="tab-header-container">
                        <apex:repeat value="{!listSizeMap}" var="key">                
                            <div class="portfolio-report single-tab {!IF(tabSelctedReport == key ,'selected','deselected')}" id="reportTab{!key}">
                                <a href="#" onclick="showSelctedReport('{!key}')">{!key}</a>   
                                <div class="update-cover-wrapper-activated"></div>                             
                            </div>                                                
                        </apex:repeat>
                        <!--
                        <div class="cover single-tab deselected"><apex:outputLink value="/apex/MyCovers" style="color: #584e3c;">Covers</apex:outputLink></div>
                        <div class="object single-tab deselected"><apex:outputLink value="/apex/MyObjects" style="color: #584e3c;">Objects</apex:outputLink></div>
                        <div class="documents single-tab deselected"><apex:outputLink value="/apex/ViewDocument" style="color: #584e3c;">Documents</apex:outputLink></div>
                        <div class="forms single-tab deselected"><apex:outputLink value="/apex/PortfolioForms" style="color: #584e3c;">Forms</apex:outputLink></div>
                        <div class="portfolio-report single-tab selected"><apex:outputLink value="/apex/PortfolioReports">Portfolio reports</apex:outputLink><div class="update-cover-wrapper-activated"></div></div>
                        -->
                    </div>
                </div>
                <div class="tab-details-section gard-contact claim-tabs-section portfolio">
                    <div class="tab-detail-columns">
                        <div class="tab-reported-claim-section tab-table-wrapper tab-detail-container portfolio-reports" style="display:block">
                            <div class="form-field-scrol-container" id="mainreportArea"><!--free-report-area-->
                                    <div class="claims-filters-container">
                                    </div>
                                     <apex:repeat value="{!listSizeMap}" var="key1">                                         
                                            <div id="reportFrame{!key1}" class="reportFrameBody" style="display:{!IF(tabSelctedReport == key1 ,'block;','none;')}"></div>
                                                <script>                                                                 
                                                    jQuery('[id$="reportFrame{!key1}"]').html('');
                                                    frameContent = base64.decode('{!mapReport[key1]}');                                           
                                                    jQuery('[id$="reportFrame{!key1}"]').html(frameContent);                                                
                                                </script>
                                     </apex:repeat>
                                       
                            </div><!--free-report-area-->
                            <div class="claim-print-section">
                                <div class="claim-print-export-holder">
                                     <!-- Export Excel in Single Tabs start here
                                        <apex:outputLink title="Export to excel" value="" styleClass="form-btn claim claim-export" />
                                    -->
                                    <!-- Export Excel in Multiple Tabs start here-->
                                    <apex:outputLink title="Export to excel" value="" styleClass="form-btn claim claim-export" onclick="tablesToExcelMultiTab(['reportFrameAll Claims', 'reportFrameClaims Analysis', 'reportFrameClaims In Excess of Abatement', 'reportFrameDistribution of RI Costs etc. Per Year', 'reportFrameLoss Ratios', 'reportFrameVessels On Risk'], ['All Claims', 'Claims Analysis', 'Claims In Excess of Abatement', 'Distribution of RI Costs', 'Loss Ratios', 'Vessels On Risk'], 'PortfolioReports.xls'); ga('send', 'event', 'Download', 'Excel', 'Portfolio reports'); return false;" rendered="{!NOT(isMarineSelected)}" />
                                    <apex:outputLink title="Export to excel" value="" styleClass="form-btn claim claim-export" onclick="tablesToExcelMultiTabMarine(['reportFrameBreakdown of Claims', 'reportFrameFleet Development', 'reportFrameFleet Presentation', 'reportFrameFleet Statistics'], ['Breakdown of Claims', 'Fleet Development', 'Fleet Presentation', 'Fleet Statistics'], 'PortfolioReports.xls'); ga('send', 'event', 'Download', 'Excel', 'Portfolio reports'); return false;" rendered="{!isMarineSelected}" />
                                    <!-- Export Excel in Multiple Tabs end here-->
                                    <apex:outputLink title="Print" value="" styleClass="form-btn claim claim-print" onclick="callPrint();return false;"/> 
                                    <apex:outputLink title="Print selected tab" value="" styleClass="form-btn claim claim-print" onclick="callPrintEachTab();return false;"/>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <iframe id="txtArea1" style="display:none"></iframe>
    <script> 
        /* Commented out for SF-3616 
               var pageName =window.location.href;
            if(pageName.indexOf('LossReport')>0)
        var pageName =window.location.href;
            if(pageName.indexOf('LossReport')>0)
            {
            jQuery('.page-title').text('My P&I renewal report');
            }
            else
            {
            jQuery('.page-title').text('My portfolio report');
            }
            */
    
    jQuery('head').append('<link href="{!URLFOR($Resource.favIcon)}" rel="shortcut icon" type="image/x-icon"/>');
    jQuery('head').after('<title>MyGard - Gard</title>');
       
        jQuery('td.PageColumnCell').siblings().remove(); 
        jQuery('td.PageColumnCell').parent().css({'width':'100%'});
        jQuery('.PTChildPivotTable table').css({'width':'100%'});
        
    /* Print function */
    function PintData(data) 
    {
        var mywindow = window.open('_self');
        mywindow.document.write('<html><head><title>Reports</title>');
        mywindow.document.write('</head><body>');
        mywindow.document.write(data);
        mywindow.document.write('</body></html>');
    
        mywindow.document.close(); // necessary for IE >= 10
        mywindow.focus(); // necessary for IE >= 10
    
        mywindow.print();
        mywindow.close();
    
        return true;
    }
    /* print option for all tab SF-4526 */
    function callPrint()
    {
        var reportPrint='';
        var index=0;
        //jQuery('#gard_logo-id').html('');
        // retrive name
        var rnameArr =[];
                jQuery('.portfolio-report.single-tab').each(function(){        
                var rname = String(jQuery(this).attr('id').replace('reportTab',''));
                rnameArr.push(rname);
                //console.log(jQuery(this).attr('id'));
                });
        console.log(rnameArr);
        /* for prod gard logo image number will be 1524895749000 */
        //var gard_logo = jQuery('#gard_logo-id').append('<img id="theImg" src="/mygard/resource/1542896623000/gardExtranetResources/newTheme/images/logo.png" />');
        jQuery('.reportFrameBody').each(function(){
        /*if(jQuery(this).css('display') != 'none')
        {*/
        jQuery(this).find('script').remove();
        
         reportPrint = reportPrint +'<div style="page-break-after: always !important;">'+'<span style="margin-left:10px;font-family: AvenirMedium,arial,helvetica,sans-serif !important;font-size: 18px !important;">'+rnameArr[index] +' '+'Report'+'</span>'+'<br/>' + jQuery(this).html()+'</div>';     
        //reportPrint = reportPrint +'<span style="margin-left:10px;font-family: AvenirMedium,arial,helvetica,sans-serif !important;font-size: 18px !important;">'+rnameArr[index] +' '+'Report'+'</span>'+ jQuery(this).html();
        //console.log('Body--->'+jQuery(this).html());
        //}
        index++;
        });
        
        //var test_content = gard_logo.html()+'</br>'+'</br>'+reportPrint;
        var test_content =jQuery('#gard_logo-id_span').html()+'</br>'+'</br>'+reportPrint;
        //var test_content = gard_logo.html()+'</br>'+'</br>'+'<span class="reportFrameEachBody">'+reportPrint+'</span>';
        //reportPrint = gard_logo + +reportPrint;
        //console.log('test_content -->'+test_content);
        PintData(test_content);
    }
    /* print option for single tab SF-4579 */
    function callPrintEachTab()
    {   
        var EachReportName = '';
        var eachReportPrint='';
        jQuery('.portfolio-report.single-tab.selected').each(function(){        
        EachReportName = String(jQuery(this).attr('id').replace('reportTab',''));
        console.log('EachReportName::::::::'+EachReportName);
        });
        console.log('outside of each EachReportName::::::::'+EachReportName);
        jQuery('.reportFrameBody').each(function(){
            if(jQuery(this).css('display') != 'none')
            {
                jQuery(this).find('script').remove();
                //console.log('Body--->'+jQuery(this).html());
                eachReportPrint = eachReportPrint + '<span style="margin-left:10px;font-family: AvenirMedium,arial,helvetica,sans-serif !important;font-size: 18px !important;">'+EachReportName+' '+'Report'+'</span>'+'<br/>' + jQuery(this).html();
                //var eachReport = jQuery('#gard_logo-id_test').html()+'</br>'+'</br>'+eachReportPrint;
                var eachReport =  jQuery('#gard_logo-id_span').html()+'</br>'+'</br>'+eachReportPrint;
                //PintData(jQuery(this).html());
                PintData(eachReport);
            }
        }); 
    }
    /* Export to Excel single Tab start here working fine*/
    /*       jQuery(".claim-export").click(function(e) 
        {
            e.preventDefault();
            ga('send', 'event', 'Download', 'Excel', 'Portfolio reports'); 
            var tab_text="";
            //tab_text= '<style> td{mso-number-format:"\@";}</style>';
            tab_text= '<style> td{vertical-align: top !important;}</style>';
            var textRange; var j=0;
            
           // tab = jQuery('.PivotContainer table:last'); // id of table
        
            jQuery('.ColumnTable').each(function(){
            tab_text = tab_text+"<table  border='2px'>" ;
            tab_text=tab_text+"<tr border='1px'>"+jQuery(this).find('tr')[j].innerHTML+"</tr>"; 
            tab_text=tab_text+"</table><br/><br/>";
            });
            tab_text= tab_text.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
            tab_text= tab_text.replace(/<img[^>]*>/gi,""); // remove if u want images in your table
            tab_text= tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params
            //console.log(tab_text);            
          var ua = window.navigator.userAgent;
            var msie = ua.indexOf("MSIE "); 
        
            if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
            {
                txtArea1.document.open("txt/html","replace");
                txtArea1.document.write(tab_text);
                txtArea1.document.close();
                txtArea1.focus(); 
                sa=txtArea1.document.execCommand("SaveAs",true,"Report.xls");
                return (sa); 
            }  
            else
            {                 //other browser not tested on IE 11
               var a = document.createElement('a');
                //getting data from our div that contains the HTML table
                var data_type = 'data:application/vnd.ms-excel';        
                var table_html = escape(tab_text).replace(/ /g, '%20');
                a.href = data_type + ', ' + table_html;
                //setting the file name
                a.download = 'Reports.xls';
                //triggering the function
                a.click();
                //just in case, prevent default behaviour
                e.preventDefault();
                return false;
             }
             
           });
      */ 
     /* Export to Excel single Tab end here working fine*/
    function showSelctedReport(rptName)
    {
        console.log(rptName);
        var rptBodyName = 'reportFrame'+rptName;
        rptBodyName = rptBodyName.replace(/(:|\.|\[|\])/g,'\\$1');
        var rptTabName = 'reportTab'+rptName;
        console.log(rptBodyName );
        jQuery('.reportFrameBody').hide();
        jQuery('.single-tab').removeClass('selected');
        jQuery('.single-tab').removeClass('deselected');
        jQuery('.single-tab').addClass('deselected');
        jQuery("div[id='"+rptBodyName+"']").show();
        jQuery("div[id='"+rptTabName+"']").removeClass('deselected');
        jQuery("div[id='"+rptTabName+"']").addClass('selected');
    }
/* Export to Excel mutiple Tab start here*/
    var tablesToExcelMultiTab = (function() {
    var uri = 'data:application/vnd.ms-excel;'
    //var uri = 'data:application/vnd.ms-excel;base64,'
    , tmplWorkbookXML = '<?xml version="1.0"?><?mso-application progid="Excel.Sheet"?><Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet" xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet">'
      + '<DocumentProperties xmlns="urn:schemas-microsoft-com:office:office"><Author>Axel Richter</Author><Created>{created}</Created></DocumentProperties>'
      + '<Styles>'
      + '<Style ss:ID="th"><Alignment ss:WrapText="1" ss:Vertical="Top"/><Interior ss:Pattern="Solid" ss:Color="#EDEFF3"/><NumberFormat/><Protection/></Style>'
      +'<Style ss:ID="tdNormal"><Alignment ss:WrapText="1" ss:Vertical="Top"/><Font ss:Bold="0" ss:Color="#000000"/><NumberFormat/><Protection/></Style>'
      + '<Style ss:ID="Date"><NumberFormat ss:Format="Medium Date"></NumberFormat></Style>'
      + '</Styles>' 
      + '{worksheets}</Workbook>'
    , tmplWorksheetXML = '<Worksheet ss:Name="{nameWS}"><Table>{rows}</Table></Worksheet>'
    , tmplCellXML = '<Cell{attributeStyleID}{attributeFormula}{attributeRowSpan} {attributeColIndex}><Data ss:Type="{dataType}">{data}</Data></Cell>'
    , base64 = function(s) { return window.btoa(unescape(encodeURIComponent(s))) }
    , format = function(s, c) { return s.replace(/{(\w+)}/g, function(m, p) { return c[p]; }) }
    return function(tables, wsnames, wbname, appname) {
      var ctx = "";
      var workbookXML = "";
      var worksheetsXML = "";
      var rowsXML = "";
      var countRowSpan =0;
      var noOfTDoldTR = 0,noOfTDcurrentTR = 0,firstRowTd=0,rowCount=0;
      for (var i = 0; i < tables.length; i++) {  
                var exceltable,topTable,otherTable;             
                var tableName=''
                tableName = '[id$="'+tables[i]+'"]';
                otherTable = jQuery(tableName);             
                topTable = jQuery(tableName).find('.CVFormatTable td.PTSection table.PTSectionTable');
                exceltable = jQuery(tableName).find('.ColumnTable');                
                console.log('name of the table-->'+tableName);               
                noOfTDoldTR = jQuery(exceltable).find('.PTChildPivotTable Table:first tr:first').find('td').length;
        // top report heading start here 
        for(var k=0;k < noOfTDoldTR;k++)
        {
            if(tableName.indexOf('All Claims')>0 && k==4 && tableName!='[id$="reportFrameVessels On Risk"]') 
            {
            rowsXML += '<Column ss:Width="200" ss:AutoFitWidth="1"/>'
            }           
            else{
            rowsXML += '<Column ss:Width="100" ss:AutoFitWidth="1"/>'
            }
        }
        jQuery(otherTable).find('.CVFormatTable:first').each(function(){
        
            rowsXML += '<Row>'
          jQuery(this).find('td').each(function(){          
            var dataType = 'String';
            var dataStyle = 'th';
            var dataValue = '';
            dataValue = jQuery(this).text();
            var dataFormula = '';
            var colIndex = '10';
                  
            dataFormula = (dataFormula)?dataFormula:(appname=='Calc' && dataType=='DateTime')?dataValue:null;
            ctx = {  attributeStyleID: (dataStyle=='Currency' || dataStyle=='Date' || dataStyle =='th')?' ss:StyleID="'+dataStyle+'"':''
                   , dataType: (dataType=='Number' || dataType=='DateTime' || dataType=='Boolean' || dataType=='Error')?dataType:'String'
                   , data: (dataFormula)?'':dataValue
                   , attributeFormula: (dataFormula)?' ss:Formula="'+dataFormula+'"':''
                   , attributeRowSpan: (countRowSpan>0)?' ss:MergeDown="'+countRowSpan+'"':' ss:MergeDown="0"'
                   , attributeColIndex: (colIndex)?' ss:MergeAcross="'+colIndex+'"':''                 
                  };
            
            rowsXML += format(tmplCellXML, ctx);
          
          });
          rowsXML += '</Row>'
        });
        // top report heading start here 
        // top table section (Member,Cover,Underwriter,Currency) start here
        rowCount =0;
        
        jQuery(topTable).find('Table tr').each(function(){  
          rowCount++;
          var colCount=0;
          rowsXML += '<Row>'
          jQuery(this).find('td').each(function(){          
            var dataType = 'String';
            var dataStyle = '';
            var dataValue = '';
            dataValue = jQuery(this).text(); 
            dataValue = dataValue.trim();
            var dataFormula = '';
            var colIndex = '';  
            if(colCount==1)
            {
                colIndex = '3';
            }
            if(tableName.indexOf('reportFrameClaims In Excess of Abatement')>0 && colCount==1 && rowCount==5)
            {
                if(!isNaN(dataValue.replace(/[ ,]/g, "")))
                {
                //dataType ='Number';
                dataValue = dataValue.replace(/[ ,]/g, "");
                }
            }           
           dataFormula = (dataFormula)?dataFormula:(appname=='Calc' && dataType=='DateTime')?dataValue:null;
            ctx = {  attributeStyleID: (dataStyle=='th')?' ss:StyleID="'+dataStyle+'"':''
                   , dataType: (dataType=='Number' || dataType=='DateTime' || dataType=='Boolean' || dataType=='Error')?dataType:'String'
                   , data: (dataFormula)?'':dataValue
                   , attributeFormula: (dataFormula)?' ss:Formula="'+dataFormula+'"':''
                   , attributeRowSpan: (countRowSpan>0)?' ss:MergeDown="'+countRowSpan+'"':' ss:MergeDown="0"'
                   , attributeColIndex: (colIndex)?' ss:MergeAcross="'+colIndex+'"':''                 
                  };
                rowsXML += format(tmplCellXML, ctx);
                colCount++;
          });
          rowsXML += '</Row>'
        
        });
        // top table section (Member,Cover,Underwriter,Currency) end here
        // middle table section (main data table) start here
        var iCount = 0,jCount=0,diffRow=0,rowNum=0;
        jQuery(exceltable).find('.PTChildPivotTable Table tr').each(function(){ 
        /*for(var k=0;k <noOfTDoldTR;k++)
        {
            rowsXML += '<Column ss:Width="130" ss:AutoFitWidth="1"/>'
        }*/     
          rowsXML += '<Row>'
          jCount =0;          
         noOfTDcurrentTR = jQuery(this).find('td').length;
         // if(rowNum==1) firstRowTd=noOfTDoldTR;
         if( noOfTDcurrentTR < noOfTDoldTR)
            {
            
            // add for Marge cell
                
                      for(var i=0;i<(noOfTDoldTR-noOfTDcurrentTR);i++)
                      {
                            //console.log('go for-->'+noOfTDcurrentTR+', of '+noOfTDoldTR);
                            var dataType = 'String';
                            var dataStyle = '';
                            var dataValue = '';
                            dataValue = '';
                            var dataFormula = '';
                            var colIndex = '';
                            dataFormula = (dataFormula)?dataFormula:(appname=='Calc' && dataType=='DateTime')?dataValue:null;
                            ctx = {  attributeStyleID: (dataStyle=='Currency' || dataStyle=='Date')?' ss:StyleID="'+dataStyle+'"':''
                                   , dataType: (dataType=='Number' || dataType=='DateTime' || dataType=='Boolean' || dataType=='Error')?dataType:'String'
                                   , data: (dataFormula)?'':dataValue
                                   , attributeFormula: (dataFormula)?' ss:Formula="'+dataFormula+'"':''
                                   , attributeRowSpan: (countRowSpan>0)?' ss:MergeDown="'+countRowSpan+'"':' ss:MergeDown="0"'
                                   , attributeColIndex: (colIndex)?' ss:Index="'+colIndex+'"':''                   
                                  };
                            rowsXML += format(tmplCellXML, ctx);
                            jCount++;
                      }
                  
                 
                  // add for Marge cell
                  
            
            }   
            
          jQuery(this).find('td').each(function(){        
            jCount++;    
            console.log('inside marge--->'+jCount);
            var dataType = 'String';
            var dataStyle = 'tdNormal';         
            var dataValue = '';
            dataValue = jQuery(this).html();
            var dataFormula = '';
            var colIndex = '';
            if(rowNum==0)
            {   
            dataStyle = 'th';   
            }
            if(tableName.indexOf('reportFrameAll Claims')>0  && rowNum>0 && (jCount==7 || jCount==8 || jCount==9 || jCount==10) && tableName!='[id$="reportFrameVessels On Risk"]')
            {
                if(!isNaN(dataValue.replace(/[ ,]/g, "")))
                {
                dataType ='Number';
                dataValue = dataValue.replace(/[ ,]/g, "");
                }
            }
            else if(tableName.indexOf('Claims Analysis')>0  && rowNum>0 && (jCount>1) && tableName!='[id$="reportFrameVessels On Risk"]')
            {
                if(!isNaN(dataValue.replace(/[ ,]/g, "")))
                {
                dataType ='Number';
                dataValue = dataValue.replace(/[ ,]/g, "");
                }
            }
            else if(tableName.indexOf('reportFrameDistribution of RI Costs etc. Per Year')>0  && rowNum>0 && (jCount==2 || jCount==3 || jCount==4 || jCount==5) && tableName!='[id$="reportFrameVessels On Risk"]')
            {
                if(!isNaN(dataValue.replace(/[ ,]/g, "")))
                {
                dataType ='Number';
                dataValue = dataValue.replace(/[ ,]/g, "");
                }
            }
            else if(tableName.indexOf('reportFrameLoss Ratios')>0  && rowNum>0 && (jCount==2 || jCount==3 || jCount==4 || jCount==5 || jCount==6 || jCount==7 || jCount==8) && tableName!='[id$="reportFrameVessels On Risk"]')
            {
                if(!isNaN(dataValue.replace(/[ ,]/g, "")))
                {
                dataType ='Number';
                dataValue = dataValue.replace(/[ ,]/g, "");
                }
            }
            else if(tableName.indexOf('reportFrameVessels On Risk')>0  && rowNum>0 && (jCount==6 || jCount==7 ||jCount==9))
            {
                if(!isNaN(dataValue.replace(/[ ,]/g, "")))
                {
                dataType ='Number';
                dataValue = dataValue.replace(/[ ,]/g, "");
                }
            }
            else if(tableName.indexOf('reportFrameClaims In Excess of Abatement')>0  && rowNum>0 && (jCount==7 || jCount==8 ||jCount==9 ||jCount==10))
            {
                if(!isNaN(dataValue.replace(/[ ,]/g, "")))
                {
                dataType ='Number';
                dataValue = dataValue.replace(/[ ,]/g, "");
                }
            }
            if(!isNaN(dataValue))
            {
                dataType ='Number';
            }
            /*countRowSpan = jQuery(this).attr('rowspan');
            if(typeof countRowSpan == typeof  undefined)*/
            countRowSpan = 0;   
            dataFormula = (dataFormula)?dataFormula:(appname=='Calc' && dataType=='DateTime')?dataValue:null;
            ctx = {  attributeStyleID: (dataStyle=='tdNormal' || dataStyle=='th')?' ss:StyleID="'+dataStyle+'"':''
                   , dataType: (dataType=='Number' || dataType=='DateTime' || dataType=='Boolean' || dataType=='Error')?dataType:'String'
                   , data: (dataValue)?dataValue:''
                   , attributeFormula: (dataFormula)?' ss:Formula="'+dataFormula+'"':''
                   , attributeRowSpan: (countRowSpan>0)?' ss:MergeDown="'+countRowSpan+'"':' ss:MergeDown="0"'
                   , attributeColIndex: (colIndex)?' ss:Index="'+colIndex+'"':''                   
                  };
            rowsXML += format(tmplCellXML, ctx);
          });
          iCount++;     
          rowsXML += '</Row>'    
         //noOfTDoldTR = jQuery(this).find('td').length;    
          rowNum++; 
        });
        // middle table section (main data table) end here
        // below middle table section start here (ErrorTitle ErrorInfo)
        //console.log('Error--->'+jQuery(otherTable).find('.ErrorTitle').text);
        // below middle table section (ErrorTitle ErrorInfo) end here
        /* ############ for SF-4530: Loss report footer notes section starts ################## */
        /* var loss_report_footer_note = jQuery(this).find('td.CVView table.CVFormatTable[style="width:100%;"] td.CVFormatCell div[style=""]').text();
        console.log('loss_report_footer_note ::::::::: '+loss_report_footer_note);
        rowsXML += '<Row><Column ss:Width="200" ss:AutoFitWidth="1">'+loss_report_footer_note+'</Column></Row>' */
        if(jQuery(exceltable).find('td.CVView table.CVFormatTable[style="width:100%;"] td.CVFormatCell div[style=""]') && tableName.indexOf('reportFrameLoss Ratios')>0)
        {
           var data_html = jQuery('td.CVView table.CVFormatTable[style="width:100%;"] td.CVFormatCell div[style=""]').html();
            dataValueArray = data_html.split("<br>");
            console.log('dataValueArray ::::::::::::'+dataValueArray);
            console.log('dataValueArray ::::::::::::'+dataValueArray.length);
            var filtered_dataValueArray = dataValueArray.filter(function (el) {
              return el != "";
            });
            console.log('filtered_dataValueArray ::::::::::::'+filtered_dataValueArray);
            console.log('filtered_dataValueArray ::::::::::::'+filtered_dataValueArray.length);
            var index = 0;
            for(index; index < filtered_dataValueArray.length; index++){

                rowsXML += '<Row>'
                var dataType = 'String';
                var dataStyle = 'th';
                var dataValue = '';
                var dataFormula = '';
                var colIndex = '10';
                var str_footer = filtered_dataValueArray[index];
                console.log('str_footer --->'+str_footer);
                //if((typeof str_footer != typeof  undefined) && (str_footer == '' || str_footer == null || str_footer == ' ')){
                if(typeof str_footer != typeof  undefined){
                    dataFormula = (dataFormula)?dataFormula:(appname=='Calc' && dataType=='DateTime')?str_footer:null;
                    ctx = {  attributeStyleID: (dataStyle=='Currency' || dataStyle=='Date' || dataStyle =='th')?' ss:StyleID="'+dataStyle+'"':''
                       , dataType: (dataType=='Number' || dataType=='DateTime' || dataType=='Boolean' || dataType=='Error')?dataType:'String'
                       , data: (dataFormula)?'':str_footer
                       , attributeFormula: (dataFormula)?' ss:Formula="'+dataFormula+'"':''
                       , attributeRowSpan: (countRowSpan>0)?' ss:MergeDown="'+countRowSpan+'"':' ss:MergeDown="0"'
                       , attributeColIndex: (colIndex)?' ss:MergeAcross="'+colIndex+'"':''                 
                    };
                }
                rowsXML += format(tmplCellXML, ctx);
                rowsXML += '</Row>'
            }
        }
        /* ############ for SF-: Loss report footer notes section ends ################## */
        ctx = {rows: rowsXML, nameWS: wsnames[i] || 'Sheet' + i};
        worksheetsXML += format(tmplWorksheetXML, ctx);
        rowsXML = "";
        firstRowTd = 0;
        noOfTDoldTR=0;
      }

      ctx = {created: (new Date()).getTime(), worksheets: worksheetsXML};
      workbookXML = format(tmplWorkbookXML, ctx);
       var ua = window.navigator.userAgent;
       var msie = ua.indexOf("MSIE "); 
       setTimeout(function(){
       if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
        {
            txtArea1.document.open("txt/html","replace");
            txtArea1.document.write(workbookXML);
            txtArea1.document.close();
            txtArea1.focus(); 
            sa=txtArea1.document.execCommand("SaveAs",true,"PortfolioReports.xls");
            return (sa); 
        }  
        else
        { 
          window.URL = window.URL || window.webkiURL;
                var blob = new Blob([ uri + workbookXML]);
                var blobURL = window.URL.createObjectURL(blob);
                var link = document.createElement("A");
              link.href = blobURL;
              link.download = wbname || 'Workbook.xls';
              link.target = '_blank';
              document.body.appendChild(link);
              link.click();           
              document.body.removeChild(link);
        }
        },200);
    }
  })();
    /* Export to Excel mutiple Tab end here*/
      /* Export to Excel mutiple Tab start here for Marine report*/
    var tablesToExcelMultiTabMarine = (function() {
    var uri = 'data:application/vnd.ms-excel;'
    //var uri = 'data:application/vnd.ms-excel;'
    , tmplWorkbookXML = '<?xml version="1.0"?><?mso-application progid="Excel.Sheet"?><Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet" xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet">'
      + '<DocumentProperties xmlns="urn:schemas-microsoft-com:office:office"><Author>Axel Richter</Author><Created>{created}</Created></DocumentProperties>'
      + '<Styles>'
      + '<Style ss:ID="th"><Alignment ss:WrapText="1" ss:Vertical="Top"/><Interior ss:Pattern="Solid" ss:Color="#EDEFF3"/><NumberFormat/><Protection/></Style>'
      +'<Style ss:ID="tdNormal"><Alignment ss:WrapText="1" ss:Vertical="Top"/><Font ss:Bold="0" ss:Color="#000000"/><NumberFormat/><Protection/></Style>'
      + '<Style ss:ID="Date"><NumberFormat ss:Format="Medium Date"></NumberFormat></Style>'
      + '</Styles>' 
      + '{worksheets}</Workbook>'
    , tmplWorksheetXML = '<Worksheet ss:Name="{nameWS}"><Table>{rows}</Table></Worksheet>'
    , tmplCellXML = '<Cell{attributeStyleID}{attributeFormula}{attributeRowSpan} {attributeColIndex}><Data ss:Type="{dataType}">{data}</Data></Cell>'
    , base64 = function(s) { return window.btoa(unescape(encodeURIComponent(s))) }
    , format = function(s, c) { return s.replace(/{(\w+)}/g, function(m, p) { return c[p]; }) }
    return function(tables, wsnames, wbname, appname) {
      var ctx = "";
      var workbookXML = "";
      var worksheetsXML = "";
      var rowsXML = "";
      var countRowSpan =0;
      var noOfTDoldTR = 0,noOfTDcurrentTR = 0,firstRowTd=0,rowCount=0,rowNum=0,jCount=0;
      for (var i = 0; i < tables.length; i++) {  
                var exceltable,topTable,otherTable;             
                var tableName=''
                tableName = '[id$="'+tables[i]+'"]';
                otherTable = jQuery(tableName);             
                topTable = jQuery(tableName).find('.CVFormatTable td.PTSection table.PTSectionTable');
                exceltable = jQuery(tableName).find('.ColumnTable');                
                console.log('name of the table-->'+tableName);
                /*console.log('table-->'+exceltable);
                console.log('td@@@--->'+jQuery(exceltable).find('.PTChildPivotTable Table:first tr:first').find('td').length);*/
                noOfTDoldTR = jQuery(exceltable).find('.PTChildPivotTable Table:first tr:first').find('td').length;
        // top report heading start here 
        for(var k=0;k < noOfTDoldTR;k++)
        {
            if(tableName.indexOf('All Claims')>0 && k==4 && tableName!='[id$="reportFrameVessels On Risk"]') 
            {
            rowsXML += '<Column ss:Width="200" ss:AutoFitWidth="1"/>'
            }
            else{
            rowsXML += '<Column ss:Width="100" ss:AutoFitWidth="1"/>'
            }
        }
        jQuery(otherTable).find('.CVFormatTable:first').each(function(){
        
            rowsXML += '<Row>'
          jQuery(this).find('td').each(function(){          
            var dataType = 'String';
            var dataStyle = 'th';
            var dataValue = '';
            dataValue = jQuery(this).text();
            var dataFormula = '';
            var colIndex = '10';
                  
            dataFormula = (dataFormula)?dataFormula:(appname=='Calc' && dataType=='DateTime')?dataValue:null;
            ctx = {  attributeStyleID: (dataStyle=='Currency' || dataStyle=='Date' || dataStyle =='th')?' ss:StyleID="'+dataStyle+'"':''
                   , dataType: (dataType=='Number' || dataType=='DateTime' || dataType=='Boolean' || dataType=='Error')?dataType:'String'
                   , data: (dataFormula)?'':dataValue
                   , attributeFormula: (dataFormula)?' ss:Formula="'+dataFormula+'"':''
                   , attributeRowSpan: (countRowSpan>0)?' ss:MergeDown="'+countRowSpan+'"':' ss:MergeDown="0"'
                   , attributeColIndex: (colIndex)?' ss:MergeAcross="'+colIndex+'"':''                 
                  };
            
            rowsXML += format(tmplCellXML, ctx);
          
          });
          rowsXML += '</Row>'
        });
        // top report heading start here 
        // top table section (Member,Cover,Underwriter,Currency) start here
        rowCount =0;
        /*
        use for marine type
        */
        jQuery(otherTable).find('.CVFormatCell .PivotContainer table tr').each(function(){
          rowCount++;
          var colCount=0;   

          jQuery(this).find('td.PTSection table.PTSectionTable table tr').each(function(){       
          rowsXML += '<Row>'
          console.log('rowNum--'+rowNum+'jCount-->'+jCount+'tableName-->'+tableName);
          jQuery(this).find('td').each(function(){    
            var dataType = 'String';
            var dataStyle = '';
            var dataValue = '';
            dataValue = jQuery(this).text();            
            var dataFormula = '';
            var colIndex = '';                          
           dataFormula = (dataFormula)?dataFormula:(appname=='Calc' && dataType=='DateTime')?dataValue:null;
            ctx = {  attributeStyleID: (dataStyle=='th')?' ss:StyleID="'+dataStyle+'"':''
                   , dataType: (dataType=='Number' || dataType=='DateTime' || dataType=='Boolean' || dataType=='Error')?dataType:'String'
                   , data: (dataFormula)?'':dataValue
                   , attributeFormula: (dataFormula)?' ss:Formula="'+dataFormula+'"':''
                   , attributeRowSpan: (countRowSpan>0)?' ss:MergeDown="'+countRowSpan+'"':' ss:MergeDown="0"'
                   , attributeColIndex: (colIndex)?' ss:MergeAcross="'+colIndex+'"':''                 
                  };
                rowsXML += format(tmplCellXML, ctx);
                colCount++;
          });
           rowsXML += '</Row>'
        });
           jQuery(this).find('td.PTChildPivotTable table tr').each(function(){        
           rowsXML += '<Row>'
           jCount = 0;
           rowNum =0;
          jQuery(this).find('td').each(function(){ 
            jCount++;         
            var dataType = 'String';
            var dataStyle = '';
            var dataValue = '';
            dataValue = jQuery(this).text();
            dataValue = dataValue.trim();
            var dataFormula = '';
            var colIndex = '';          
            if(tableName.indexOf('reportFrameBreakdown of Claims')>0  && rowNum>0 && (jCount==8 || jCount==9 || jCount==10))
            {
                if(!isNaN(dataValue.replace(/[ ,]/g, "")))
                {
                dataType ='Number';
                dataValue = dataValue.replace(/[ ,]/g, "");
                }
            }
            else if(tableName.indexOf('reportFrameFleet Development')>0  && rowNum>0 && (jCount==5 || jCount==7 || jCount==8))
            {
                if(!isNaN(dataValue.replace(/[ ,]/g, "")))
                {
                dataType ='Number';
                dataValue = dataValue.replace(/[ ,]/g, "");
                }
            }
            else if(tableName.indexOf('reportFrameFleet Presentation')>0  && rowNum>0 && (jCount==5 || jCount==10 || jCount==11 || jCount==12))
            {
                if(!isNaN(dataValue.replace(/[ ,]/g, "")))
                {
                dataType ='Number';
                dataValue = dataValue.replace(/[ ,]/g, "");
                }
            }
            else if(tableName.indexOf('reportFrameFleet Statistics')>0  && rowNum>0 && (jCount==3 || jCount==4))
            {
                if(!isNaN(dataValue.replace(/[ ,]/g, "")))
                {
                dataType ='Number';
                dataValue = dataValue.replace(/[ ,]/g, "");
                }
            } 
            /*if(!isNaN(dataValue))
            {
                dataType ='Number';
            }*/          
           dataFormula = (dataFormula)?dataFormula:(appname=='Calc' && dataType=='DateTime')?dataValue:null;
            ctx = {  attributeStyleID: (dataStyle=='th')?' ss:StyleID="'+dataStyle+'"':''
                   , dataType: (dataType=='Number' || dataType=='DateTime' || dataType=='Boolean' || dataType=='Error')?dataType:'String'
                   , data: (dataFormula)?'':dataValue
                   , attributeFormula: (dataFormula)?' ss:Formula="'+dataFormula+'"':''
                   , attributeRowSpan: (countRowSpan>0)?' ss:MergeDown="'+countRowSpan+'"':' ss:MergeDown="0"'
                   , attributeColIndex: (colIndex)?' ss:MergeAcross="'+colIndex+'"':''                 
                  };
                rowsXML += format(tmplCellXML, ctx);
                colCount++;
                rowNum++;
          });
          rowsXML += '</Row>';
          
        });
        });
        
        ctx = {rows: rowsXML, nameWS: wsnames[i] || 'Sheet' + i};
        worksheetsXML += format(tmplWorksheetXML, ctx);
        rowsXML = "";
        firstRowTd = 0;
        noOfTDoldTR=0;
      }

      ctx = {created: (new Date()).getTime(), worksheets: worksheetsXML};
      workbookXML = format(tmplWorkbookXML, ctx);
       var ua = window.navigator.userAgent;
       var msie = ua.indexOf("MSIE "); 
       setTimeout(function(){
       if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
        {
            txtArea1.document.open("txt/html","replace");
            txtArea1.document.write(workbookXML);
            txtArea1.document.close();
            txtArea1.focus(); 
            sa=txtArea1.document.execCommand("SaveAs",true,"PortfolioReports.xls");
            return (sa); 
        }  
        else
        { 
          window.URL = window.URL || window.webkiURL;
                var blob = new Blob([ uri + workbookXML]);
                var blobURL = window.URL.createObjectURL(blob);
                var link = document.createElement("A");
              link.href = blobURL;
              link.download = wbname || 'Workbook.xls';
              link.target = '_blank';
              document.body.appendChild(link);
              link.click();           
              document.body.removeChild(link);
        }
        },200);
    }
  })();
   /* Export to Excel mutiple Tab end  here for Marine report */
        jQuery( ".reportFrameBody style" ).each(function( index ) {
            if(jQuery( this ).text().indexOf('@import "master.css";')>=0)
            { 
            console.log( index + ": " + jQuery( this ).text() );
            jQuery( this ).remove();
            }
        });
        function printReport(){
        jQuery('#mainreportArea').print();
        return false;
    }
    jQuery('.content-wrapper').show();    
    jQuery('.overley,.loading').hide();
    /***************** Error text remove (SF-4649) ******************/
     jQuery(function($){
        jQuery('table.ErrorTable').html('');
        var len = jQuery('div.reportFrameBody').length;
        for(var i =0; i<len; i++){
            if(jQuery('div.reportFrameBody table.ErrorTable').eq(i).text() == ""){
            console.log('present visible');
            console.log(i);
            jQuery('table.ErrorTable').eq(i).append("<p class='dataFatchInfo'>Data is loading now, please wait for sometime.</p>");
            }else{
            console.log('not visible');
            }
        }
    });
    
    </script>
     <!--newly added popup-->
                      <apex:outputPanel rendered="{!integrationError}">
                         
                         <div id="contact-info-pop-container" class="global-popup global-popup-confirm final-claim-submit" style="display:block;z-index:9999990;" >                         
                                <div id="contact-info-pop" class="cont-info-pop popup-infos">
                                     <div id="contact-info-pop-wrapper">
                                     <div class="popup-form-container">
                                     <div class="contact-field">
                                         <div class="pop-up-sub-title">
                                         The service is currently down.Not able to fetch all reports from the system. Please try again later.
                                         </div>                                      
                                    
                                 <div class="form-submit-section">
                                         <apex:outputLink styleClass="form-btn" style="margin: 0 5px 0 0;" onclick="window.close<();">Ok</apex:outputLink> 
                                                                          
                                      
                                 </div>                                  
                                </div>
                                </div>
                            </div>
                           </div>      
                         </div> 
                          <script>
                              jQuery('.loading').hide();
                               jQuery('.overley').show();
                          </script>           
                      </apex:outputPanel>
                      <!--newly added popup end-->
<!--</apex:define>
</apex:composition> -->   
 </apex:page>