<apex:page controller="ViewDocCtrl" sidebar="false" showHeader="false" standardStylesheets="false" showChat="false"><!-- contentType="application/pdf"-->
<apex:includeScript value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/js/jquery-min.1.11.1.js')}" />
<iframe src="" height="700" width="100%" id="myFrame" style="position:absolute;left:0px;top:0px;" />
<apex:form id="frmdisplay">
<!--<apex:actionFunction action="{!deleteDoc}" name="deleteViewDoc" immediate="true"/>-->
<apex:actionPoller action="{!deleteDoc}" interval="5" oncomplete="console.log('deleted');" enabled="{!isDocDeteted}" reRender="frmdisplay"/>

</apex:form>
<script>
jQuery(document).ready(function() {
console.log('height---->'+jQuery(window).height());
    var height = jQuery(window).height();
    jQuery('iframe').css('height', height+15);
    jQuery('body').css({
                        'overflow': 'hidden'
    });
});
 //setTimeout(function() {
     //deleteViewDoc();
     console.log('##############Enter delete {!att.id}***{!att.contentType}');
     
//},200);
    setTimeout(function() {
        // alert('in download');
        document.getElementById("myFrame").src = "{!URLFOR($Action.Attachment.Download, att.Id)}";
        // console.log('after download' + document.getElementById("myFrame").src);
        //window.location.href = "{!URLFOR($Action.Attachment.Download, att.Id)}";
        //window.location.href = "/servlet/servlet.FileDownload?file={!att.Id}";
        // window.location.href ="data:{!att.contentType};base64,{!pdf}";
        //window.location.href ="data:application/pdf;base64,{!pdf}";
        console.log('############Exit delete');
        setTimeout(function() {window.close();},15000);
    },100);
    
</script>

</apex:page>