<apex:page controller="DisplayFormsCtrl" showHeader="false" sidebar="false" standardStylesheets="false" cache="true">
<apex:includeScript value="{!$Resource.GoogleAnalytics}"/>

<style>
    .portfolio-forms-category-option {
        display: none;
    }
</style>


<apex:composition template="PageFrame" >
        <apex:define name="content" >
        <script>
            jQuery('.overley,.loading').show();
        </script>
            <div  class="content">
       <div class="content-wrapper"> 
             <div class="page-title">My claims</div>
             <div class="tab-section-container">
                    <div class="report-new-claim-button">
                    <apex:outputLink value="/apex/ReportClaimsP2" styleClass="form-btn" >New claim</apex:outputLink>
                    </div>
                 <!--3581-->
                    <div class="tab-button-section">
                        <div class="open-claims single-tab deselected"><apex:outputLink value="/apex/OpenClaims">{! UPPER(LEFT($Label.MyGard_ClaimStatus_Open,1)) & LOWER(RIGHT($Label.MyGard_ClaimStatus_Open,LEN($Label.MyGard_ClaimStatus_Open)-1))} claims</apex:outputLink></div>
                        <div class="all-claims single-tab deselected"> <apex:outputLink value="/apex/AllClaims">{! UPPER(LEFT($Label.MyGard_ClaimStatus_All,1)) & LOWER(RIGHT($Label.MyGard_ClaimStatus_All,LEN($Label.MyGard_ClaimStatus_All)-1))} claims</apex:outputLink> </div>
                        <div class="reported-claims single-tab deselected"><apex:outputLink value="/apex/ReportedIncident">{! UPPER(LEFT($Label.MyGard_ClaimStatus_Pending,1)) & LOWER(RIGHT($Label.MyGard_ClaimStatus_Pending,LEN($Label.MyGard_ClaimStatus_Pending)-1))} claims</apex:outputLink></div>
                        <div class="draft-claims single-tab deselected"><apex:outputLink value="/apex/DraftClaims" >{! UPPER(LEFT($Label.MyGard_ClaimStatus_Draft,1)) & LOWER(RIGHT($Label.MyGard_ClaimStatus_Draft,LEN($Label.MyGard_ClaimStatus_Draft)-1))} claims</apex:outputLink></div>
                        <div class="forms single-tab selected"><apex:outputLink value="/apex/DisplayForms" >Forms<div class="update-cover-wrapper-activated"></div></apex:outputLink></div>
                         <div class="draft-claims single-tab deselected"><apex:outputLink value="/apex/ViewClaimDocuments" >Documents </apex:outputLink></div>
                    </div>
                 <!--3581-->
                  <div class="tab-details-section gard-contact claim-tabs-section my-cliams">
                      <div class="tab-detail-columns">
                      <div class="tab-object-section tab-table-wrapper tab-detail-container broker-view claim-forms-container" style="display:block;">
        <div class="form-field-scrol-container free-content-area"> 
           <div class="portfolio-forms-category-container">
                                            <div class="portfolio-forms-category-each">
                                                <div class="portfolio-forms-category-options claim-forms-section">
                                                    
                           <apex:form id="frmClaims">
                           <!-- apex:actionRegion renderRegionOnly="false">
                                   <apex:actionFunction name="downloadCustom"  action="{!forceDownloadPDF}" reRender="proxy">
                                       <apex:param value="" name="fileName" id="fileName" assignTo="{!fileName}" />
                                   </apex:actionFunction>
                           </apex:actionRegion -->
                           <apex:outputPanel rendered="{!IF(AND(PIAccess == false,MarineAccess == false),true,false)}">
                                                <apex:outputText value="Access is not available, for any assistance please contact your system administrator."/>
                                            </apex:outputPanel>  
                               <apex:outputPanel rendered="{!(contentDistributionListPI.size>0 && PIAccess)}">
                                 <div class="cover-update-title sub-sec-title" style="margin-bottom: 8px;">P&amp;I forms</div>  
                                                
                               <apex:repeat value="{!contentDistributionListPI}" var="attach">                               
                                <div class="portfolio-forms-category-left-options"> 
                                    <div class="portfolio-forms-category-option">
                                        <label for="uw-ship-owner-form-option">                            
                                           <a href='{!attach.ContentDownloadUrl}' class="forceDownload {!IF(contains(attach.ContentVersion.FileType, 'PDF'),'form-pdf-downloader',IF(contains(attach.ContentVersion.FileType, 'EXCEL'),'form-excel-downloader','form-doc-downloader'))}" onClick="ga('send', 'event', 'Download', 'Form', 'Claims/P&I/{!attach.Name}');">{!attach.Name}</a>
                                          
                                        </label>
                                    </div>
                                </div>                              
                            </apex:repeat>
                           
                            </apex:outputPanel>
                            <!-- Marine form section start -->
                            <apex:outputPanel rendered="{!contentDistributionListMarine.size>0 && marineAccess}">
                            <div class="cover-update-title sub-sec-title" style="Width:100%;float: left !important;margin-bottom: 8px;">Marine forms</div>                           
                            <apex:repeat value="{!contentDistributionListMarine}" var="attachMarine">                               
                                <div class="portfolio-forms-category-left-options"> 
                                    <div class="portfolio-forms-category-option">
                                        <label for="uw-ship-owner-form-option">                            
                                           <a href='{!attachMarine.ContentDownloadUrl}' class="forceDownload {!IF(contains(attachMarine.ContentVersion.FileType, 'PDF'),'form-pdf-downloader',IF(contains(attachMarine.ContentVersion.FileType, 'EXCEL'),'form-excel-downloader','form-doc-downloader'))}" onClick="ga('send', 'event', 'Download', 'Form', 'Claims/Marine/{!attachMarine.Name}');">{!attachMarine.Name}</a>
                                        </label>
                                    </div>
                                </div>                              
                            </apex:repeat>
                            </apex:outputpanel>
                            </apex:form>
                        </div>
                      
                    </div>
                </div>
           </div>
       </div>
   </div>
   </div>
   </div>
   </div>
   </div>
   
    </apex:define>
</apex:composition>
<script>
jQuery( document ).ready(function() { 
        jQuery('.from-btn').attr('disabled','disabled'); /*Added for  MYG-3216 */
       /*    FORCE DOWNLOAD START   */
       navigator.sayswho= (function(){
        var ua= navigator.userAgent, tem,
        M= ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*(\d+)/i) || [];
        if(/trident/i.test(M[1])){
            tem=  /\brv[ :]+(\d+)/g.exec(ua) || [];
            return 'IE '+(tem[1] || '');
        }
        if(M[1]=== 'Chrome'){
            tem= ua.match(/\b(OPR|Edge)\/(\d+)/);
            if(tem!= null) return tem.slice(1).join(' ').replace('OPR', 'Opera');
        }
        M= M[2]? [M[1], M[2]]: [navigator.appName, navigator.appVersion, '-?'];
        if((tem= ua.match(/version\/(\d+)/i))!= null) M.splice(1, 1, tem[1]);
        return M.join(' ');
    })();
    var browserInfo = (navigator.sayswho).split(" ");
    var forceDownload = true;
    console.log('BrowserNAme-'+browserInfo[0]+'ver---'+browserInfo[1]);
   
    if(browserInfo[0] =='MSIE' || browserInfo[0] =='IE'){            
       forceDownload = false;
    }
    console.log('forceDownload ----------->'+forceDownload);
   if(forceDownload){
       jQuery('.defaultDownload').remove();
   }           
   else
   {
       jQuery('.forceDownload').remove();
   }
   jQuery('.portfolio-forms-category-option').show();
    jQuery('.overley,.loading').hide();
    /*    FORCE DOWNLOAD  END  */
    });
</script>
</apex:page>