<apex:page standardController="Task" standardStylesheets="false" renderAs="PDF" showHeader="false" sideBar="false">

<apex:stylesheet value="{!$Resource.PDFDocumentStyle}" />
<head>
<style>
.detailList .labelCol {
    width: 15%;
    vertical-align: text-top;
}
</style>
</head>
<div id="bodyContent">
	<div class="bPageTitle">
	    <apex:image url="/img/icon/home32.png" style="padding:5px 0 0 3px;"/>
	    <div class="cPageTitle">
		    <h1 class="pageType">Task</h1>
		    <h2 class="pageDescription">{!task.Subject}</h2>
	    </div>
    </div>
	<apex:form >
		<apex:pageBlock mode="mainDetail">
			
				<div class="pbSubheader first tertiaryPalette" style="border-top:2px solid #CFEEF8;"><h3>Task Information</h3></div>
			    
					<apex:pageBlockSection columns="1">
						<apex:outputField value="{!task.ActivityDate}" />
						<apex:outputField value="{!task.What.Name}" label="Related to"/>
						<apex:outputField value="{!task.Subject}" />
						<apex:outputField value="{!task.Type}" />
						<apex:outputField value="{!task.description}" />
						
					</apex:pageBlockSection>

		</apex:pageBlock>
	</apex:form>
	<div class="clearFooter"></div>
</div>
<div id="mainFooter">
	<div class="footer_right" style="border-top: 1px solid #ccc; padding: 5px; background-color: #ffffff; color:#4A4A56; font-size:75%;"></div>
</div>
</apex:page>