<apex:page Controller="ShowClaimDetailsCtrl"  contentType="application/vnd.ms-excel#MyClaimDocuments.xls" cache="true">
<div>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</div>

<style>
    .odd-row td {
            background: rgb(210, 246, 251);
        }
    .even-row td {
            background: rgb(234, 250, 253);
        }
    .text{
              mso-number-format:"\@";/*force text*/
         }
     thead th {
            background: rgb(25, 82, 111);
            color: #fff;
            vertical-align: middle;
            width: auto;
            height: auto;
            border: thin solid black;
        }
     tbody td {
            text-align: left;
            border: thin solid black;
        }
</style>
    <body style="background: #fff;">      
    <table class="gradienttable">
    <thead>
        <tr>
            <apex:outputPanel rendered="{!usertype=='Broker'}">
                <!--<th ><apex:outputText value="Client"/></th>-->
            </apex:outputPanel>
            <th ><apex:outputText value="Document name"/></th>
            <th ><apex:outputText value="Object"/></th>
            <th ><apex:outputText value="Cover"/></th>
            <th ><apex:outputText value="Claim Type"/></th>
             <th ><apex:outputText value="Event Date"/></th>
            <th ><apex:outputText value="Policy year"/></th>     
           
            <th ><apex:outputText value="Reserve $ 100%"/></th>
            <th ><apex:outputText value="Paid $ 100%"/></th>
            <th ><apex:outputText value="Total $ 100%"/></th>
            <th ><apex:outputText value="Gard Claim Reference"/></th>
            <th ><apex:outputText value="Document Type"/></th>
        </tr>   
        </thead>
        <tbody>
                <apex:variable var="row_counter" value="{!1}" />
                <apex:repeat value="{!claimDocResponseWrapper.ResultObjects}" var="lst1">
                <apex:repeat value="{!lst1}" var="claim">
                <tr class="{!IF(MOD(row_counter,2)==0,'odd-row','even-row')}">
              
                    <td class="cover">{!claim.Name}</td>
                    <td class="cover">{!claim.ObjectProperties.objectName}</td>
                    <td class="cover">{!claim.ObjectProperties.coverName}</td>
                   <td class="cover">{!claim.ObjectProperties.claimType}</td>
                   
                    <td class="text">
                        <apex:outputText value="{0,date,dd'-'MM'-'yyyy}">
                            <apex:param value="{!claim.ObjectProperties.lastModifiedDT}"/>
                        </apex:outputText>
                     </td>
                      <td class="cover">{!claim.ObjectProperties.pd_years}</td>
                    <td class="cover">{!claim.ObjectProperties.reserve}</td>
                   <td class="cover">{!claim.ObjectProperties.paid}</td>
                    <td class="cover">{!claim.ObjectProperties.total}</td>
                   <td class="cover">{!claim.ObjectProperties.gardClaimRef}</td>
                    <td class="cover">{!claim.ObjectProperties.pd_payclddocumenttype}</td>
                   
                </tr>
                <apex:variable var="row_counter" value="{!row_counter + 1}"/>
            </apex:repeat>
        </apex:repeat>
                <tr>
                  <td colspan="{!IF(usertype=='Broker',9,8)}" style="text-align:left; background: #cccccc; font-size:10px">  
                  <span style="float:left;">MyDocuments Displaying  <strong><apex:outputText value="{!row_counter-1}"></apex:outputText></strong>  records on  <strong><apex:outputText value="{0,date,d/MMM/yy HH:mm a}"><apex:param value="{!NOW()}" /></apex:outputText></strong>.</span>
                  <span style="float:right;text-align:right;"><apex:outputText value="Generated on {0,date,EEE MMM d HH:mm:ss yyyy} 'by ' '{!$User.FirstName} {!$User.LastName}.'"><apex:param value="{!NOW()}" /></apex:outputText></span>
                  </td>
                </tr>
            </tbody>
    </table>
    <apex:image id="theImage" value="https://{!$Site.Domain}{!URLFOR($Resource.logo)}" width="132" height="65"/> 
    </body> 
</apex:page>