<apex:page standardcontroller="Account" extensions="FetchGardContactsInCRMCtrl" standardStylesheets="false" applyHtmlTag="false" showHeader="false" renderAs="PDF"><!-- download="test.pdf" renderAs="{!RenderingService}" contentType="{!RenderedContentType}"  -->
   
    <head>
        <style type="text/CSS">
          @font-face {
                    font-family:"AvenirHeavy";
                    src:url('{!URLFOR($Resource.gardExtranetResources, 'newTheme/font/f61bf0f6-c193-4100-b940-12a1a01dcee5.eot?#iefix')}'); 
                    src:url('{!URLFOR($Resource.gardExtranetResources, 'newTheme/font/f61bf0f6-c193-4100-b940-12a1a01dcee5.eot?#iefix')}') format("eot"),
                        url('{!URLFOR($Resource.gardExtranetResources, 'newTheme/font/7147ec3a-8ff8-4ec9-8c5c-bd1571dc6ae6.woff')}') format("woff"),
                        url('{!URLFOR($Resource.gardExtranetResources,'newTheme/font/d1dc54b2-878d-4693-8d6e-b442e99fef68.ttf')}')format("truetype"),
                        url('{!URLFOR($Resource.gardExtranetResources, 'newTheme/font/731dd4d3-64da-427d-ba61-01575b3cf3f7.svg#731dd4d3-64da-427d-ba61-01575b3cf3f7')}') format("svg");
                    font-weight: 24pt !important; 
                    -fs-pdf-font-embed: embed;
                -fs-pdf-font-encoding: Identity-H; 
                 }
                   
          body{
                background: #fff;
               /* font-family: AvenirHeavy !important; */
               font: 12pt sans-serif;
                   
            } 
            .headerSection {
                border-bottom: 2px solid #2d271d;
                float: left; 
                 /* padding: 10px 0; */
                width: 100%;
            }
            .leftHeadSection{
                float: right;
                font: 24px AvenirHeavy,Helvetica;
                margin: 1px 0 0;
                text-align: right;
                width: 700px;
            }
            .header-right-text {
                float: right;
                width: 100%;
                font-family: AvenirHeavy, Arial, Helvetica, sans-serif;
                font-size:13pt;
                color: #2D271D;
            }
            .overall-details {
                float: left;
                width: 100%;
            }
            .slogan-text {
                float: left;
                margin: 8px 0 4px 20px;             
                width: 96%;
                padding-right:2%;
                padding-left:2%;
                font-family: sans-serif !important;
                font-size:12pt;
                color: #2D271D;
                font-style: italic;
            }
            .gard-add-details-section {
                float: left;
                padding: 0 15px;
                margin-top : 20px;
                width: 97%;
            }
            .gard-add-dtls-left{
                float: left;
                padding-right: 20px;
                width: 47.95%;
            }
             .gard-add-dtls-right {
                 float: right;
                /* padding-right: 20px; */
                width: 47.95%;
             }
            .emargency-tel-part, .emargency-tel-section, .emargency-tel-title, .add-lines {
                float: left;
                width: 100%;
            }
            .add-lines{
                /* font-family: times; */
                font: 10pt sans-serif !important;
                /*font-size:10pt;*/
                color: #2D271D;
            }
            .bold-font {
            /* font-family: AvenirHeavy, Arial, Helvetica, sans-serif;
                font-family: AvenirHeavy,Helvetica;
                 font-family: AvenirHeavy !important; */
                 font-family: AvenirHeavy, Arial, Helvetica, sans-serif;
                font-size:12pt;
                color: #2D271D;
            }
            .emargency-tel-title {
                font-family: Helvetica; */ <!-- AvenirHeavy, -->
                font-size:14pt;
                /* color:red; */

               /*  font-family: AvenirHeavy !important; */
                margin: 0 0 5px;
            }
            .emergeny-telephone{
              
                color: #2D271D;
                font-family: sans-serif !important;
                font-size: 12pt !important;
            }
            .emargency-tel-section {
                line-height: 19px;
                margin: -2px 0 7px;                
                font-family: sans-serif;
                font-size:10pt;
                color: #2D271D;
            }
            .add-lines .tel-title, .add-lines .tel-data {
                padding: 0;
            }
            span.tel-title {
                color: #2D271D;
                font-family: sans-serif;
                font-size: 12pt;
            }
            .tel-title, .tel-data {
                display: table-cell;
                padding: 0 0 3px;
                width: 190px;
            }
            .tel-data-font
            {
                font-size:21px;
            }
            .add-lines .tel-data.tel-data-font,
            .emargency-tel-part .tel-data.tel-data-font{
                  /* font-family: times; */
                   font-family: sans-serif;
                   font-size:10pt;
                   color: #2D271D;              
            }
            .major-add-section-title {
                border-bottom: 1px solid #666;
                float: left;
                /* font: 20px AvenirHeavy,Helvetica; */
                margin: 20px 0 20px; 
                padding: 0 0 5px;
                width: 100%;
                font-family: AvenirHeavy, Arial, Helvetica, sans-serif;
                font-size:12pt;
                color: #2D271D;
            }
            .major-add-section {
                float: left;
                width: 100%;                
            }
            .single-cont-sections {
                position: relative;
                float: left;
                margin: -3px 0 0;
                padding: 9px 0 0;
            }
            .single-cont-section {
                float: left;
                margin-bottom: 30px;
                width: 100%;
            }
            .client-contact-details-popup .single-cont-sections {
                border: medium none;
                margin: 0;
            }
            .acc-contacts .single-cont-sections {
                border-right: medium none #800000;
            }
            .cont-image{
                  float: left;
                  width: 100px;
              }
              .cont-image img {
                /* box-shadow: -1px 1px 1px 0 #cac0ad; */
                border: 1px solid #ffffff !important;
                width: 77px;
            }
            .profile-picture-wrapper {
                border: 1px solid #584e3c;
                float: left;
                width: auto;
            }
            .cont-image img.cont-pro-image,
            .claim-handler-img img,
            .profile-img-section img {
                border: 2px solid rgba(0, 94, 136, 0.44); 
            }
            /* .client-list-section .cont-detail-area {
                width: 100%; 
             } */
             .cont-detail-area {
                color: #2D271D;
                float: left;
                font: 13px AvenirMedium, Helvetica;
                /* font-family: AvenirHeavy !important; */
                margin: -3px 0 0;
                width: 200px;
                /* width: 300px; */
            }
            .my-addressbook-container .cont-detail-area .info-name {
                margin: 0 0 0 0 !important;
            }
            .cont-detail-area > .info-name {
                margin-bottom: 5px !important;
            }
            
            .company-details-type {
                font: 17px/14px AvenirMedium,Helvetica;
                /* font-family: AvenirHeavy !important;  */
                
                float: left;
                width: 100%;
            }
            
            .company-contact-details {
                float: right;
                 font: 17px/14px AvenirMedium,Helvetica;
                /* font-family: AvenirHeavy !important;  */
                /* margin: 28px 0 0;
                padding: 0 0 0 12px; */
                width: 400px; 
                position: relative; 
            }
            .contact-each-section {
                float: left; 
                /* margin: 0 0 10px;
                /* width: 100%;
                float: right; */
            }
            .contact-each-section:empty {
                display: none;
            }
            .contact-each-section-title {
                display: table-cell;
                max-width: 110px;
                min-width: 110px;
                width: 110px;
                word-wrap: break-word;
            }
            .contact-each-section-data {
                display: table-cell;
                line-height: 17px;
                max-width: 380px;
                min-width: 380px;
                width: 380px;
                word-wrap: break-word;
            }
            span.contact-each-section-data{
                font-family: sans-serif !important;
                font-size:10pt;
                color: #2D271D;
            }
            span.contact-each-section-title {
                font-family: AvenirHeavy, Arial, Helvetica, sans-serif;
                font-size:12pt;
                color: #2D271D;
            }
            .info-name, .content .comp-name {
                color: #2D271D;
                font-family: AvenirHeavy,Arial,Helvetica,sans-serif;
                font-size: 12pt;
                margin: 0;
            }
            .client-contact-details-popup .info-name {
                margin-bottom: -2px;
            }
            .occupation{
                font-family: sans-serif;
                font-size:10pt !important;
                color: #2D271D;
                margin-bottom: 6px;
            }
            .page-title{
                font-family: AvenirHeavy, Arial, Helvetica, sans-serif;
                font-size:12pt;
                color: #2D271D;
            }
            @media print{
                /* @font-face{
                    font-family:"AvenirMedium";                    
                   url("{!URLFOR($Resource.gardExtranetResources, 'newTheme/font/aaf11848-aac2-4d09-9a9c-aac5ff7b8ff4.ttf')}") format("truetype");
                } */
                @page {  
                    size: A4 portrait;
                    margin-top: 5px;
                    /* font-family: SansSerif !important;
                    font-size:8px !important; */
                }
                
                .single-cont-section {
                    page-break-inside: avoid;
                }
                .stat-new-section {
                    page-break-before: always;
                }
                
                /* a[href]:after {
                    content: none !important;
                } */ 
                .emargency-tel-title {
                 font-family: AvenirHeavy,Helvetica; 
                /* font-family: AvenirHeavy !important; */
                margin: 0 0 5px;
            }  
            }
            body.address-book-print-page {
                float: left;
                margin: 0;
                padding: 0px 0;
                width: 100%;
            }
             //SF-1954
            .tel-data1
            {
                font-size: 14px;
                //padding-top: 24px;
            }
        </style>
    </head>
    <body class="address-book-print-page printContent"><!--   class="address-book-print-page printContent" style="background: #fff;"  -->
        <div class="address-book-print-page-container">
        <div align="center" style="padding-left:18px;" class="page-title">My address book </div>
            <div class="headerSection">
                <div class="gard-logo" style="margin-bottom: -2px;">
                    <img src="{!URLFOR($Resource.logo)}" width="100px;" alt="gardLogo"/>
                </div>
                <div class="leftHeadSection" style="margin-bottom: 12px;">
                    <span class="header-right-text"  style="margin-top: -40px">Gard contacts for</span>  
                    <span class="header-right-text"  style="margin-top: -18px">{!currentAccountName}</span>            
                </div>        
            </div>
            <div class="overall-details">
                <span class="slogan-text">Helping our members and clients in the marine industries to manage risk and its consequences. </span> 
                <div class="gard-add-details-section">
                    <div class="gard-add-dtls-left">
                      <!--SF-1954-->
                  <apex:outputPanel rendered="{!AND(lstGardOffice != null,lstGardOffice.size>0)}">
                    <apex:repeat value="{!lstGardOffice}" var="gardOfce" >
                        <div class="add-lines"><span class="tel-data1">{!gardOfce.Name}</span></div><!--Gard As--> <!--SF - 4265 -->
                        <div class="add-lines" style="padding-top: 1px;"><span class="tel-data1" >{!gardOfce.Street__c}</span></div>
                        <div class="add-lines" style="padding-top: 1px;"><span class="tel-data1" >{!gardOfce.Street_2__c}</span></div>
                        <div class="add-lines" style="padding-top: 1px;"><span class="tel-data1" >{!gardOfce.Street_3__c}</span></div>
                        <div class="add-lines" style="padding-top: 1px;"><span class="tel-data1" >{!gardOfce.Street_4__c}</span></div>
                        <div class="add-lines" style="padding-top: 1px;"><span class="tel-data1">{!gardOfce.City__c}</span></div>
                        <div class="add-lines" style="padding-top: 1px;"><span class="tel-data1">{!gardOfce.State__c}</span></div>
                        <div class="add-lines" style="padding-top: 1px;"><span class="tel-data1">{!gardOfce.Country__c}</span></div>
                        <div class="add-lines" style="padding-top: 2px;"><span class="tel-title">Tel:</span><span class="tel-data" style="padding-left:8px;">{!gardOfce.Office_Phone__c}</span></div>
                        <div class="add-lines"><span class="tel-title">Fax:</span><span class="tel-data" style="padding-left:5px;">{!gardOfce.Office_Fax__c}</span></div>
                        <div class="add-lines"><span class="tel-title">After hours:</span><span class="tel-data" style="padding-left:8px;">{!gardOfce.Outside_Office_Hours_Phone__c}</span></div>
                        <div class="add-lines"><span class="tel-title">Email:</span><span class="tel-data" style="padding-left:45px;">{!gardOfce.Email__c}</span></div>
                        <div class="add-lines"><span class="tel-title">Website:</span><span class="tel-data" style="padding-left:18px;">www.gard.no</span></div>
                    </apex:repeat>
                   </apex:outputPanel>
                    <!--SF-1954-->
                    <apex:outputPanel rendered="{!NOT(AND(lstGardOffice!= null,lstGardOffice.size>0))}">
                        <div class="add-lines">Gard As Arendal</div>
                        <div class="add-lines">P.O. Box 789</div>
                        <div class="add-lines">NO-4809 Arendal</div>
                        <div class="add-lines">Norway</div>
                        <div class="add-lines"><span class="tel-title">Tel:</span><span class="tel-data tel-data-font">+47 37 01 91 00</span></div>
                        <div class="add-lines"><span class="tel-title">Fax:</span><span class="tel-data tel-data-font">+47 37 02 48 10</span></div>
                        <div class="add-lines"><span class="tel-title">After hours:</span><span class="tel-data tel-data-font">+47 90 52 41 00</span></div>
                        <div class="add-lines"><span class="tel-title">Email:</span><span class="tel-data tel-data-font" style="padding-left:50px;">companymail@gard.no</span></div>
                        <div class="add-lines"><span class="tel-title">Website:</span><span class="tel-data tel-data-font" style="padding-left:10px;">www.gard.no</span></div>
                      </apex:outputPanel>
                    </div>
                    <div class="gard-add-dtls-right">
                        <div class="emargency-tel-title emergeny-telephone">EMERGENCY telephone</div>
                        <div class="emargency-tel-section">In the event an incident requiring urgent assistance please call the number as soon as posible. These telephones are manned on a 24 hour basis.</div>
                        <div class="emargency-tel-part"><span class="bold-font tel-title">All matters:</span><span class="tel-data tel-data-font" style="padding-left:3px;">+47 90 52 41 00</span></div>
                        <div class="emargency-tel-part"><span class="bold-font tel-title">Hull and machinery:</span><span class="tel-data tel-data-font">+47 90 92 52 00</span></div>
                    </div>
                </div>              
            </div>
            <apex:outputPanel rendered="{! userType != 'Clinic'}">
            <!-- Underwriters section start -->
            <apex:outputPanel rendered="{!NOT(OR(ISNULL(lstgrdContactUWR), (lstgrdContactUWR.size==0)))}" id="UWR-section_id" styleClass="major-add-section" >
                <div class="major-add-section-title">Underwriters</div>   
                <div class="single-cont-sections">
                    <apex:repeat value="{!lstgrdContactUWR}" var="grdContact">
                        <div class="single-cont-section">
                            <div class="cont-image">
                                <div class="profile-picture-wrapper"><apex:image value="{!mapContactImage[grdContact.id]}" styleClass="cont-pro-image"/></div>
                            </div>
                            <div class="cont-detail-area">
                                <div class="info-name contact-title-section">
                                    <apex:outputPanel rendered="{!OR(grdContact.Nick_Name__c==null, grdContact.Nick_Name__c=='')}">
                                       {!grdContact.FirstName__c} {!grdContact.LastName__c}
                                    </apex:outputPanel>
                                       {!grdContact.Nick_Name__c}
                                </div> 
                                <div class="company-details-type">                              
                                    <div class="occupation">
                                     <apex:outputText escape="false" value="{!SUBSTITUTE(mapUWContactRole[grdContact.id],'|','<br/>')}"   />
                                      
                                    </div>                                    
                                </div>
                            </div>
                            <div class="company-contact-details" style="margin: 28px 0 0;">
                                <!-- SF 4368 if not CT, show mobile -->
                                <div class="contact-each-section"><apex:outputText rendered="{!If((grdContact.Phone__c == null || grdContact.Phone__c == ''),false,true)}" label="Office phone" value="{!grdContact.Phone__c}" styleClass="contact-each-section-data"><span class="contact-each-section-title">Office phone:</span></apex:outputText></div>
                                <apex:outputPanel rendered="{!NOT(grdContact.Is_Gard_Team__c)}">
                                    <div class="contact-each-section"><apex:outputText rendered="{!If((grdContact.MobilePhone__c == null || grdContact.MobilePhone__c == ''),false,true)}" label="Mobile phone" value="{!grdContact.MobilePhone__c}" styleClass="contact-each-section-data"><span class="contact-each-section-title">Mobile phone:</span></apex:outputText></div>
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!grdContact.Is_Gard_Team__c}">
                                    <div class="contact-each-section"><apex:outputText rendered="{!If((grdContact.Marine_Email__c == null || grdContact.Marine_Email__c == ''),false,true)}" label="Email" value="{!grdContact.Marine_Email__c}" styleClass="contact-each-section-data"><span class="contact-each-section-title">Marine email:</span></apex:outputText></div>
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!grdContact.Is_Gard_Team__c}">
                                    <div class="contact-each-section"><apex:outputText rendered="{!If((grdContact.Email__c == null || grdContact.Email__c == ''),false,true)}" label="Email" value="{!grdContact.Email__c}" styleClass="contact-each-section-data"><span class="contact-each-section-title">P&amp;I email:</span></apex:outputText></div>
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!NOT(grdContact.Is_Gard_Team__c)}">
                                    <div class="contact-each-section"><apex:outputText rendered="{!If((grdContact.Email__c == null || grdContact.Email__c == ''),false,true)}" label="Email" value="{!grdContact.Email__c}" styleClass="contact-each-section-data"><span class="contact-each-section-title">Email:</span></apex:outputText></div>
                                </apex:outputPanel>
                                <div class="contact-each-section"><apex:outputText rendered="{!If((grdContact.Office_city__c == null || grdContact.Office_city__c == ''),false,true)}" label="Office" value="{!grdContact.Office_city__c}" styleClass="contact-each-section-data"><span class="contact-each-section-title">Office:</span></apex:outputText></div>

                            </div>
                        </div>                    
                    </apex:repeat>
                </div>            
            </apex:outputPanel>
            <!-- Underwriters section end-->
            <!-- Claims handler section start-->
            <apex:outputPanel rendered="{!NOT(OR(ISNULL(lstgrdContactClaimHandler), (lstgrdContactClaimHandler.size==0)))}" id="Claim-section_id" styleClass="major-add-section stat-new-section">
                <div class="major-add-section-title section-title-style">Claims handlers</div>    
                <div class="single-cont-sections">
                    <apex:repeat value="{!lstgrdContactClaimHandler}" var="grdContact">                
                        <div class="single-cont-section">
                            <div class="cont-image">
                               <div class="profile-picture-wrapper"><apex:image value="{!mapContactImage[grdContact.id]}" styleClass="cont-pro-image" /></div>
                            </div>
                            <div class="cont-detail-area">
                                <div class="info-name contact-title-section">
                                    <apex:outputPanel rendered="{!OR(grdContact.Nick_Name__c==null, grdContact.Nick_Name__c=='')}">
                                       {!grdContact.FirstName__c} {!grdContact.LastName__c}
                                    </apex:outputPanel>
                                   {!grdContact.Nick_Name__c}
                                </div>
                                <div class="company-details-type">                              
                                    <div class="occupation">
                                     <apex:outputText escape="false" value="{!SUBSTITUTE(mapClaimContactRole[grdContact.id],'|','<br/>')}"   />
                                        
                                        
                                    </div>                                    
                                </div>
                            </div>
                            <div class="company-contact-details" style="margin: 20px 0 0;">
                            <div class="contact-each-section"><apex:outputText rendered="{!If((grdContact.Phone__c == null || grdContact.Phone__c == ''),false,true)}" label="Office phone" value="{!grdContact.Phone__c}" styleClass="contact-each-section-data"><span class="contact-each-section-title">Office phone:</span></apex:outputText></div>
                            <div class="contact-each-section"><apex:outputText rendered="{!If((grdContact.MobilePhone__c == null || grdContact.MobilePhone__c == ''),false,true)}" label="Mobile phone" value="{!grdContact.MobilePhone__c}" styleClass="contact-each-section-data"><span class="contact-each-section-title">Mobile phone:</span></apex:outputText></div>
                            <div class="contact-each-section"><apex:outputText rendered="{!If((grdContact.Email__c == null || grdContact.Email__c == ''),false,true)}" label="Email" value="{!grdContact.Email__c}" styleClass="contact-each-section-data"><span class="contact-each-section-title">Email:</span></apex:outputText></div>
                            <div class="contact-each-section"><apex:outputText rendered="{!If((grdContact.Office_city__c == null || grdContact.Office_city__c == ''),false,true)}" label="Office" value="{!grdContact.Office_city__c}" styleClass="contact-each-section-data"><span class="contact-each-section-title">Office:</span></apex:outputText></div>
                            </div>
                        </div>                    
                    </apex:repeat>
                </div>
            </apex:outputPanel>
           <!-- Claims handler section end-->
           <!-- Account handlers section start-->
                <apex:outputPanel rendered="{!NOT(OR(ISNULL(lstgrdContactAccounting), (lstgrdContactAccounting.size==0)))}" id="AccCont-section_id" styleClass="major-add-section stat-new-section">
                   <div class="major-add-section-title section-title-style-last">Accounting contacts</div>
                    <div class="single-cont-sections">
                        <apex:repeat value="{!lstgrdContactAccounting}" var="grdContact">                
                            <div class="single-cont-section">
                                <div class="cont-image">
                                    <div class="profile-picture-wrapper"><apex:image value="{!mapContactImage[grdContact.id]}" styleClass="cont-pro-image"/></div>
                                </div>
                                <div class="cont-detail-area">
                                    <div class="info-name contact-title-section">
                                        <apex:outputPanel rendered="{!OR(grdContact.Nick_Name__c==null, grdContact.Nick_Name__c=='')}">
                                           {!grdContact.FirstName__c} {!grdContact.LastName__c}
                                        </apex:outputPanel>
                                       {!grdContact.Nick_Name__c}
                                    </div> 
                                    <div class="company-details-type">                                 
                                        <div class="occupation">
                                        <apex:outputText escape="false" value="{!SUBSTITUTE(mapAccContactRole[grdContact.id],'|','<br/>')}"   />
                                           
                                        </div>                                        
                                    </div>
                                </div>
                                <div class="company-contact-details" style="margin: 20px 0 0;">
                                    <div class="contact-each-section"><apex:outputText rendered="{!If((grdContact.Phone__c == null || grdContact.Phone__c == ''),false,true)}" label="Office phone" value="{!grdContact.Phone__c}" styleClass="contact-each-section-data"><span class="contact-each-section-title">Office phone:</span></apex:outputText></div>
                                    <div class="contact-each-section"><apex:outputText rendered="{!If((grdContact.MobilePhone__c == null || grdContact.MobilePhone__c == ''),false,true)}" label="Mobile phone" value="{!grdContact.MobilePhone__c}" styleClass="contact-each-section-data"><span class="contact-each-section-title">Mobile phone:</span></apex:outputText></div>
                                    <div class="contact-each-section"><apex:outputText rendered="{!If((grdContact.Email__c == null || grdContact.Email__c == ''),false,true)}" label="Email" value="{!grdContact.Email__c}" styleClass="contact-each-section-data"><span class="contact-each-section-title">Email:</span></apex:outputText></div>
                                    <div class="contact-each-section"><apex:outputText rendered="{!If((grdContact.Office_city__c == null || grdContact.Office_city__c == ''),false,true)}" label="Office" value="{!grdContact.Office_city__c}" styleClass="contact-each-section-data"><span class="contact-each-section-title">Office:</span></apex:outputText></div>
                                    
                                </div>
                            </div>                    
                        </apex:repeat>
                    </div>
                </apex:outputPanel>
           <!-- Account handlers section end-->
        </apex:outputPanel>
        <apex:outputPanel rendered="{!AND(userType == 'Clinic',lstClinicPEMETeam.size>0)}" id="PEME-section_id" styleClass="major-add-section">
            <div class="major-add-section-title section-title-style">PEME Team</div>   
            <div class="single-cont-sections">
                <apex:repeat value="{!lstClinicPEMETeam}" var="grdContact">
                    <div class="single-cont-section">
                        <div class="cont-image">
                            <div class="profile-picture-wrapper"><apex:image value="{!mapContactImage[grdContact.id]}" styleClass="cont-pro-image"/></div>
                        </div>
                        <div class="cont-detail-area">
                            <div class="info-name contact-title-section">
                                <apex:outputPanel rendered="{!OR(grdContact.Nick_Name__c==null, grdContact.Nick_Name__c=='')}">
                                   {!grdContact.FirstName__c} {!grdContact.LastName__c}
                                </apex:outputPanel>
                                   {!grdContact.Nick_Name__c}
                            </div>
                            <div class="company-details-type">                              
                                <div class="occupation">
                                 
                                        <apex:outputText value="{!SUBSTITUTE(mapClinicPEMERole[grdContact.id],'|','<br/>')}" escape="false"/>                                                                                      
                                
                                    
                                </div>                                    
                            </div>
                        </div>
                        <div class="company-contact-details" style="margin: 20px 0 0;">
                            <div class="contact-each-section"><apex:outputText rendered="{!If((grdContact.Phone__c == null || grdContact.Phone__c == ''),false,true)}" label="Office phone" value="{!grdContact.Phone__c}" styleClass="contact-each-section-data"><span class="contact-each-section-title">Office phone:</span></apex:outputText></div>
                            <div class="contact-each-section"><apex:outputText rendered="{!If((grdContact.MobilePhone__c == null || grdContact.MobilePhone__c == ''),false,true)}" label="Mobile phone" value="{!grdContact.MobilePhone__c}" styleClass="contact-each-section-data"><span class="contact-each-section-title">Mobile phone:</span></apex:outputText></div>
                            <div class="contact-each-section"><apex:outputText rendered="{!If((grdContact.Email__c == null || grdContact.Email__c == ''),false,true)}" label="Email" value="{!grdContact.Email__c}" styleClass="contact-each-section-data"><span class="contact-each-section-title">Email:</span></apex:outputText></div>
                            <div class="contact-each-section"><apex:outputText rendered="{!If((grdContact.Office_city__c == null || grdContact.Office_city__c == ''),false,true)}" label="Office" value="{!grdContact.Office_city__c}" styleClass="contact-each-section-data"><span class="contact-each-section-title">Office:</span></apex:outputText></div>

                        </div>
                    </div>                    
                </apex:repeat>
            </div>            
        </apex:outputPanel>  
    </div>
</body>
</apex:page>