<apex:page standardController="Claim__c" extensions="MyClaimsCtrl" contentType="application/vnd.ms-excel#{!$Label.MyGard_ClaimStatus_All}Claims.xls" readOnly="true" cache="true"> <!--3581-->
    <div>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    </div>
    
<style>
    .odd-row td {
            background: rgb(210, 246, 251);
        }
    .even-row td {
            background: rgb(234, 250, 253);
        }
    .text{
              mso-number-format:"\@";/*force text*/
         }
     thead th {
            background: rgb(25, 82, 111);
            color: #fff;
            vertical-align: middle;
            width: auto;
            height: auto;
            border: thin solid black;
        }
     tbody td {
            text-align: left;
            border: thin solid black;
        }
</style>
    <body style="background: #fff;">
    <table class="gradienttable">
    <thead>
        <tr>
            <apex:outputPanel rendered="{!usertype=='Broker'}">
                <th ><apex:outputText value="Client"/></th>
            </apex:outputPanel>
            <th ><apex:outputText value="Object"/></th>
            <th ><apex:outputText value="Cover"/></th>
            <th ><apex:outputText value="Claim Type"/></th>
            <th ><apex:outputText value="Claim Detail"/></th>
            <th ><apex:outputText value="Event date"/></th>
            <th><apex:outputText value="Policy year"/></th>  
            <!--
            <th width="25%"><apex:outputText value="Version Key"/></th>
            <th width="25%"><apex:outputText value="Event Date"/></th>
            -->
            <th ><apex:outputText value="Reserve $ 100%"/></th>
            <th ><apex:outputText value="Paid $ 100%"/></th>
            <th ><apex:outputText value="Total $ 100%"/></th>
            <th ><apex:outputText value="Gard claim reference"/></th>
            <th ><apex:outputText value="Client claim reference"/></th>
            <!-- Changes done for MYG-2512 -->
            <th ><apex:outputText value="Status"/></th>
            <th ><apex:outputText value="Claims lead"/></th>            
            <th><apex:outputText value="Claim description"/></th>
            <!-- Changes done for MYG-2512 -->
            <th><apex:outputText value="Gard share"/></th>
        </tr>   
        </thead>
        <tbody>
                <apex:variable var="row_counter" value="{!1}" />
                <apex:repeat value="{!lstAllClaimForExcel}" var="lst">
                <apex:repeat value="{!lst}" var="claim">
                <tr class="{!IF(MOD(row_counter,2)==0,'odd-row','even-row')}">
                    <apex:outputPanel rendered="{!usertype=='Broker'}">
                        <td class="client-name"><apex:outputText value="{!claim.Contract_for_review__r.Client__r.Name}"/></td>
                    </apex:outputPanel>
                    <td><apex:outputText value="{!claim.Object__r.Name}"/></td>
                    <td><apex:outputText value="{!claim.Risk_Coverage__r.Product_Name__c}"/></td>
                    <td><apex:outputText value="{!claim.Claim_Type__c}"/></td>
                    <td><apex:outputText value="{!claim.Claim_Detail__c}"/></td>
                     <!-- comment start for SF-5141-->
                    <!-- <td class="text">
                        <apex:outputText value="{0,date,dd'-'MM'-'yyyy}">
                            <apex:param value="{!claim.Event_Date__c}" /> 
                        </apex:outputText>    
                    </td> -->                    
                     <!--
                    <td >
                        <apex:outputField value="{!claim.Event_Date__c}" >                           
                        </apex:outputField>    
                    </td> -->
                    
                   <!-- comment end for SF-5141-->  
                    
                    <!-- Code added start for SF-5141 for EventDate in Date format in exported excel-->
                   
                    <td >                    
                        <c:FormattedDateTime datetimeValue="{!claim.Event_Date__c}" datetimeFormat="dd-MM-yyyy" />
                     </td>
                     <!-- Code added end for SF-5141-->
                    
                    <td class="policy-year">
                        <apex:outputText value="{!claim.Contract_for_review__r.Policy_Year__c}"/>
                    </td>
                    <td style="text-align: right;"><!--<apex:outputText value="{!FLOOR(claim.Reserve_100__c)}"/>-->
                        <apex:outputText value="{0, number, ###,##0.00}">
                            <apex:param value="{!claim.Reserve_100__c}"/>
                        </apex:outputText>
                    </td>
                    <td style="text-align: right;"><!--<apex:outputText value="{!FLOOR(claim.Paid_100__c)}"/>-->
                        <apex:outputText value="{0, number, ###,##0.00}">
                            <apex:param value="{!claim.Paid_100__c}"/>
                        </apex:outputText>
                    </td>
                    <td style="text-align: right;"><!--<apex:outputText value="{!FLOOR(claim.Total_100__c)}"/>-->
                        <apex:outputText value="{0, number, ###,##0.00}">
                            <apex:param value="{!claim.Total_100__c}"/>
                        </apex:outputText>
                    </td>
                    <td><apex:outputText value="{!claim.Claim_Reference_Number__c}"/></td>
                    <td><apex:outputText value="{!claim.Member_reference__c}"/></td>                    
                    <!-- Changes done for MYG-2512 -->
                    <td><apex:outputText value="{!IF( claim.Status__c =='Pending' , $Label.MyGard_ClaimStatus_Pending , IF(claim.Status__c =='Draft',$Label.MyGard_ClaimStatus_Draft,claim.Status__c ) )}"/>
                    </td>  <!--3581-->
                    <td>
                        <apex:outputText value="{!if(claim.Risk_Coverage__r.Claims_Lead__c=='Y','Yes','No')}"/>
                        <!-- apex:outputText rendered="{!claim.Contract_for_Review__r.Business_Area__c != 'P&I'}" value="{!if(claim.Risk_Coverage__r.Claims_Lead__c=='Y','Yes','No')}"/>
                        <apex:outputText rendered="{!claim.Contract_for_Review__r.Business_Area__c == 'P&I'}" value="n/a"/ -->
                    </td>
                     <td>
                       <!-- Changes for MYG-2759 start --->
                         <!-- This block is added for SF-4814 -->                         
                         <apex:outputPanel rendered="{!IF(claim.Sub_Claims_No__c == '1' || claim.Sub_Claims_No__c == '',true,false)}">
                             <apex:outputText value="{!HTMLENCODE(claim.Description__c)}" escape="false" rendered="{!AND(claim.Contract_for_review__r.Business_Area__c != 'Marine', OR(AND(OR(claim.Claim_Type__c=='Crew',claim.Claim_Type__c=='Passenger',claim.Claim_Type__c=='Person(s) other than Crew or Passenger'),(isPeopleLine==true)),NOT(OR(claim.Claim_Type__c=='Crew',claim.Claim_Type__c=='Passenger',claim.Claim_Type__c=='Person(s) other than Crew or Passenger'))))}" />
                             <apex:outputText value="{!HTMLENCODE(claim.Claim_Description_Restricted__c)}" escape="false" rendered="{!AND(claim.Contract_for_review__r.Business_Area__c != 'Marine', OR(AND(OR(claim.Claim_Type__c=='Crew',claim.Claim_Type__c=='Passenger',claim.Claim_Type__c=='Person(s) other than Crew or Passenger'),(isPeopleLine==false))))}" />
                             <apex:outputText value="{!HTMLENCODE(claim.Claim_Description_Restricted__c)}" escape="false" rendered="{!AND(claim.Contract_for_review__r.Business_Area__c == 'Marine')}" />
                         </apex:outputPanel>
                         <apex:outputPanel rendered="{!IF(claim.Sub_Claims_No__c != '1' && claim.Sub_Claims_No__c != '',true,false)}">
                             <apex:outputText value="{!$Label.multiple_sub_claims_generic_text}" escape="false" rendered="{!OR(AND(OR(claim.Claim_Type__c=='Crew',claim.Claim_Type__c=='Passenger',claim.Claim_Type__c=='Person(s) other than Crew or Passenger'),(isPeopleLine==true)),NOT(OR(claim.Claim_Type__c=='Crew',claim.Claim_Type__c=='Passenger',claim.Claim_Type__c=='Person(s) other than Crew or Passenger')))}" />
                             <apex:outputText value="{!HTMLENCODE(claim.Claim_Description_Restricted__c)}" escape="false" rendered="{!OR(AND(OR(claim.Claim_Type__c=='Crew',claim.Claim_Type__c=='Passenger',claim.Claim_Type__c=='Person(s) other than Crew or Passenger'),(isPeopleLine==false)))}" />                       
                         </apex:outputPanel>                         
                         <!-- This block is added for SF-4814 -->
                        <!-- Changes for MYG-2759 end --->
                    </td> 
                    <!-- Changes done for MYG-2512 -->
                    <td style="text-align: right;">
                        <apex:outputText rendered="{!claim.Contract_for_Review__r.Business_Area__c != 'P&I'}" value="{!HTMLENCODE(claim.risk_coverage__r.Gard_Share__c)}"/>
                        <!-- <apex:outputText rendered="{!claim.Contract_for_Review__r.Business_Area__c == 'P&I'}" value="n/a"/>-->
                    </td>              
                </tr>
                <apex:variable var="row_counter" value="{!row_counter + 1}"/>
            </apex:repeat>
        </apex:repeat>
            <!--Commented for SF-5141-->
                <!--<tr>
                  <td  colspan="{!IF(usertype=='Broker',14,13)}" style="text-align:left; background: #cccccc; font-size:10px">
                  <span style="float:left;">{!$Label.MyGard_ClaimStatus_All} Claims Displaying  <strong><apex:outputText value="{!noOfData}"></apex:outputText></strong>  records on  <strong><apex:outputText value="{!GenerateTimeStamp}"></apex:outputText></strong>.</span>
                  <span style="float:right;text-align:right;">Generated on <apex:outputText value=" {!GenerateTime} by {!UserName}."></apex:outputText></span>                    
                  </td>
                </tr>-->
            </tbody>
    </table> 
    <apex:image value="https://{!$Site.Domain}{!URLFOR($Resource.logo)}" width="132" height="65"/>
    </body>    
</apex:page>