<apex:page Controller="PiRenewalPoliciesCtrl" contentType="application/vnd.ms-excel#CertificatesOfEntry.xls" readOnly="true" cache="true">
    <div>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    </div>
    
<style>
    .odd-row td {
            background: rgb(210, 246, 251);
        }
    .even-row td {
            background: rgb(234, 250, 253);
        }
    .text{
              mso-number-format:"\@";/*force text*/
         }
     thead th {
            background: rgb(25, 82, 111);
            color: #fff;
            vertical-align: middle;
            width: auto;
            height: auto;
            border: thin solid black;
        }
     tbody td {
            text-align: left;
            border: thin solid black;
        }
</style>
    <body style="background: #fff;">
    <table class="gradienttable">
    <thead>
        <tr>
            <th style="width: 200px;"><apex:outputText value="Document name"/></th>
            <th style="width: 200px;"><apex:outputText value="Document type description"/></th>
            <th style="width: 100px;"><apex:outputText value="Cover"/></th>
            <th style="width: 100px;"><apex:outputText value="Policy year"/></th>
            <th style="width: 100px;"><apex:outputText value="Object"/></th>
            <th style="width: 100px;"><apex:outputText value="Valid from"/></th>
        </tr>   
        </thead>
        <tbody>
                <apex:variable var="row_counter" value="{!1}" />
                <apex:repeat value="{!lstdocsForExcel}" var="lstdoc">
                <apex:repeat value="{!lstdoc}" var="doc">
                <tr class="{!IF(MOD(row_counter,2)==0,'odd-row','even-row')}">
                    <td><apex:outputText value="{!doc.Document_Metadata__r.name}"/></td>
                    <td><apex:outputText value="{!doc.Document_Metadata__r.Document_Type_Description__c}"/></td>
                    <td><apex:outputText value="{!IF(doc.Cover__r.Product_Name__c == '','n/a',doc.Cover__r.Product_Name__c)}"/></td>
                    <td><apex:outputText value="{!IF(doc.Agreement__r.Policy_Year__c == '','n/a',doc.Agreement__r.Policy_Year__c)}"/></td>
                    <td><apex:outputText value="{!IF(doc.object__r.Name == '','n/a',doc.object__r.Name)}"/></td>
                    <td>
                        <apex:outputText value="{0,date,dd'-'MM'-'yyyy}">
                            <apex:param value="{!doc.Document_Metadata__r.Valid_From__c}"/>
                        </apex:outputText>
                    </td>             
                </tr>
                <apex:variable var="row_counter" value="{!row_counter + 1}"/>
            </apex:repeat>
        </apex:repeat>
                <tr>
                  <td colspan="06" style="text-align:left; background: #cccccc; font-size:10px">
                  <span style="float:left;">PI Certificates of entry displaying <strong><apex:outputText value="{!noOfData}"></apex:outputText></strong>  records on  <strong><apex:outputText value="{!GenerateTimeStamp}"></apex:outputText></strong>.</span>
                  <span style="float:right;text-align:right;">Generated on <apex:outputText value=" {!GenerateTime} by {!UserName}."></apex:outputText></span>                    
                  </td>
                </tr>
            </tbody>
    </table> 
    <apex:image value="https://{!$Site.Domain}{!URLFOR($Resource.logo)}" width="132" height="65"/>
    </body>    
</apex:page>