<apex:page Controller="MyCoverListCtrl" contentType="application/vnd.ms-excel#MyCoverList.xls" cache="true">

<div>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</div>

<style>
    .odd-row td {
            background: rgb(210, 246, 251);
        }
    .even-row td {
            background: rgb(234, 250, 253);
        }
    .text{
              mso-number-format:"\@";/*force text*/
         }
     thead th {
            background: rgb(25, 82, 111);
            color: #fff;
            vertical-align: middle;
            width: auto;
            height: auto;
            border: thin solid black;
        }
     tbody td {
            text-align: left;
            border: thin solid black;
        }
</style>
    <body style="background: #fff;">
     <table class="gradienttable">
        <thead>
            <tr>
                <apex:outputText value="<th >Client</th>" rendered="{!blBrokerView}"/>
                <th><apex:outputText value="Objects"/></th>
                <th><apex:outputText value="Object category"/></th>
                <th><apex:outputText value="Claims lead"/></th>
                <th><apex:outputText value="Gard share"/></th>
                <th><apex:outputText value="On risk"/></th>
                <th><apex:outputText value="Expiry date"/></th>
                <th><apex:outputText value="Policy year"/></th>
                <th><apex:outputText value="Product area"/></th>
                <th><apex:outputText value="Underwriter"/></th>               
            </tr>  
        </thead>
        <tbody> 
        <apex:variable var="row_counter" value="{!1}" />
       <apex:repeat value="{!covers}" var="cover">
            <tr class="{!IF(MOD(row_counter,2)==0,'odd-row','even-row')}">
                <apex:outputText value="<td >{!cover.client}</td>" rendered="{!blBrokerView}"/>
                <td><apex:outputText value="{!cover.objectname}"/></td>
                <td><apex:outputText value="{!cover.objectcategory}"/></td>
                <td><apex:outputText value="{!if(cover.claimslead=='Y','Yes','No')}"/></td>
                <td style="text-align: right;"><apex:outputText value="{!cover.gardshare}"/></td>
                <td><apex:outputText value="{!if(cover.onrisk=='Y','Yes','No')}"/></td>
                <td class = "text">
                    <apex:outputText value="{0,date,dd'-'MM'-'yyyy}">
                        <apex:param value="{!cover.expirydate}" />
                    </apex:outputText>
                </td> 
                <td><apex:outputText value="{!cover.policyyear}"/></td>
                <td><apex:outputText value="{!cover.productarea}"/></td>
                <td><apex:outputText value="{!cover.underwriter}"/></td>
            </tr>
            <apex:variable var="row_counter" value="{!row_counter + 1}"/>
        </apex:repeat>
                <tr>
                  <td colspan="10" style="text-align:left; background: #cccccc; font-size:10px">
                  <span style="float:left;">MyCoverList Displaying  <strong><apex:outputText value="{!noOfData}"></apex:outputText></strong>  records on  <strong><apex:outputText value="{!GenerateTimeStamp}"></apex:outputText></strong>.</span>
                  <span style="float:right;text-align:right;">Generated on <apex:outputText value=" {!GenerateTime} by {!UserName}."></apex:outputText></span>
                  </td>                  
                </tr>
        </tbody>
    </table>
    <apex:image id="theImage" value="https://{!$Site.Domain}{!URLFOR($Resource.logo)}" width="132" height="65"/> 
    </body>    
</apex:page>