<apex:page Controller="PEMEClinicClientsCtrl" contentType="application/vnd.ms-excel#Clients.xls" cache="true">

<div>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</div>

<style>
    .odd-row td {
            background: rgb(210, 246, 251);
        }
    .even-row td {
            background: rgb(234, 250, 253);
        }
    .text{
              mso-number-format:"\@";/*force text*/
         }
     thead th {
            background: rgb(25, 82, 111);
            color: #fff;
            vertical-align: middle;
            width: auto;
            height: auto;
            border: thin solid black;
        }
     tbody td {
            text-align: left;
            border: thin solid black;
        }
</style>
    <body style="background: #fff;">
        <table class="gradienttable">
            <thead>
                <tr>
                    <th><apex:outputText value="Client"/></th>
                 <!--   <th><apex:outputText value="Enrollment status"/></th> -->
                    <th><apex:outputText value="Last status change date"/></th>        
                </tr>
            </thead>
            <tbody>
                <apex:variable var="row_counter" value="{!1}" />
                <apex:repeat value="{!lstEnrollPrint}" var="report">                
                    <tr class="{!IF(MOD(row_counter,2)==0,'odd-row','even-row')}">              
                        <td>{!report.ClientName__r.Name}</td>
                      <!--  <td>{!report.Enrollment_Status__c}</td>  -->                                                                   
                        <td class="text">
                            <apex:outputText value="{0,date,dd-MM-yyyy}">
                                <apex:param value="{!report.Last_Status_Change_Date__c}" />
                            </apex:outputText>
                        </td>                
                    </tr>
                    <apex:variable var="row_counter" value="{!row_counter + 1}"/>
                </apex:repeat>              
                <tr>
                  <td colspan="2" style="text-align:left; background: #cccccc; font-size:10px">  
                      <span style="float:left;">Clients Displaying  <strong><apex:outputText value="{!noOfData}"></apex:outputText></strong>  records on  <strong><apex:outputText value="{0,date,d/MMM/yy HH:mm a}"><apex:param value="{!NOW()}"/></apex:outputText></strong>. </span>
                      <span style="float:right;text-align:right;">Generated on  <apex:outputText value=" {0,date,EEE MMM d HH:mm:ss yyyy}"><apex:param value="{!NOW()}"/></apex:outputText> by {!userName}. </span>
                  </td>
                </tr>
            </tbody>
        </table>
        <apex:image value="https://{!$Site.Domain}{!URLFOR($Resource.logo)}" width="132" height="65"/>
    </body>   
</apex:page>