<apex:page standardController="Case" extensions="ReportedClaimsCtrl" contentType="application/vnd.ms-excel#{!$Label.MyGard_ClaimStatus_Pending}Claims.xls" cache="true"> <!--3581-->
    
<div>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</div>

<style>
    .odd-row td {
            background: rgb(210, 246, 251);
        }
    .even-row td {
            background: rgb(234, 250, 253);
        }
    .text{
              mso-number-format:"\@";/*force text*/
         }
     thead th {
            background: rgb(25, 82, 111);
            color: #fff;
            vertical-align: middle;
            width: auto;
            height: auto;
            border: thin solid black;
        }
     tbody td {
            text-align: left;
            border: thin solid black;
        }
</style>
    <body style="background: #fff;">
    <table class="gradienttable">
    <thead>
        <tr>
            <apex:outputPanel rendered="{!usertype=='Broker'}">
                <th><apex:outputText value="Client"/></th>
            </apex:outputPanel>
            <th><apex:outputText value="Claim type"/></th>
            <th><apex:outputText value="Claim detail"/></th>
            <th><apex:outputText value="Object"/></th>
            <th><apex:outputText value="Cover"/></th>
            <th><apex:outputText value="Event date"/></th>
            <th><apex:outputText value="Client claim reference"/></th>
            <th><apex:outputText value="Claim recipient"/></th>
            <th><apex:outputText value="Status"/></th>
            <th><apex:outputText value="Claim description"/></th>
        </tr> 
        </thead>
        <tbody>
            <apex:variable var="row_counter" value="{!1}" />  
       <apex:repeat value="{!lstCaseForExcel}" var="case">
             <tr class="{!IF(MOD(row_counter,2)==0,'odd-row','even-row')}">                                           
                <apex:outputPanel rendered="{!usertype=='Broker'}">
                    <td class="client-name">{!case.Contract_for_review__r.Client__r.Name}</td>
                </apex:outputPanel>
                <td class="client-type"> {!case.Claim_Type__c}</td>
                 <td class="client-type"> {!case.Claim_Detail__c}</td>
                <td class="obj-name">{!case.Object__r.Name}</td>
                <td class="cover">{!case.Risk_Coverage__r.Product_Name__c}</td>
                <!-- comment start for SF-5141-->
                <!--
                <td class="text">
                    <apex:outputText value="{0,date,dd'-'MM'-'yyyy}">
                        <apex:param value="{!case.Event_Date__c}" /> 
                    </apex:outputText>
                </td>
                   -->
                   <!-- comment end for SF-5141-->
                 <td>
                   <c:FormattedDateTime datetimeValue="{!case.Event_Date__c}" datetimeFormat="dd-MM-yyyy" />
                 </td>
                 
                <td class="client-ref">{!case.Member_reference__c}</td>
                <td class="ClaimsHandler">{!case.Claims_handler__r.Name}</td>
                <td class="status">{!IF( case.status=='Pending' , $Label.MyGard_ClaimStatus_Pending , IF(case.status=='Draft',$Label.MyGard_ClaimStatus_Draft,case.status ) )}</td> <!--SF-3581--> 
                <td>
                    <!-- This block is added for SF-4814 -->
                    <apex:outputText value="{!HTMLENCODE(case.description)}" escape="false" rendered="{!AND(case.Contract_for_review__r.Business_Area__c != 'Marine', OR(AND(OR(case.Claim_Type__c=='Crew',case.Claim_Type__c=='Passenger',case.Claim_Type__c=='Person(s) other than Crew or Passenger'),(isPeopleLine=='true')),NOT(OR(case.Claim_Type__c=='Crew',caseData.Claim_Type__c=='Passenger',case.Claim_Type__c=='Person(s) other than Crew or Passenger'))))}" />
                    <!-- apex:outputText value="{!HTMLENCODE(case.Claim_Description_Restricted__c)}" escape="false" rendered="{!AND(case.Contract_for_review__r.Business_Area__c != 'Marine', OR(AND(OR(case.Claim_Type__c=='Crew',case.Claim_Type__c=='Passenger',case.Claim_Type__c=='Person(s) other than Crew or Passenger'),(isPeopleLine=='false'))))}" />
                    <apex:outputText value="{!HTMLENCODE(case.Claim_Description_Restricted__c)}" escape="false" rendered="{!AND(case.Contract_for_review__r.Business_Area__c == 'Marine')}" / --> <!-- commented for SF5242 -->                    
                    <!-- This block is added for SF-4814 -->
                 </td>
            </tr>
            <apex:variable var="row_counter" value="{!row_counter + 1}"/>
        </apex:repeat>
              <!--Commented start for SF-5141-->
                <!--
                <tr>
                  <td colspan="{!IF(usertype=='Broker',9,8)}" style="text-align:left; background: #cccccc; font-size:10px">
                  <span style="float:left;">{!$Label.MyGard_ClaimStatus_Pending} claims Displaying <strong><apex:outputText value="{!noOfData}"></apex:outputText></strong>  records on  <strong><apex:outputText value="{!GenerateTimeStamp}"></apex:outputText></strong>.</span> <!--3581-->
                  <!--<span style="float:right;text-align:right;">Generated on <apex:outputText value=" {!GenerateTime} by {!UserName}."></apex:outputText></span>
                  </td>
                </tr>
                </tr>-->
              <!--Commented end for SF-5141-->
            
            </tbody>
    </table> 
    <apex:image id="theImage" value="https://{!$Site.Domain}{!URLFOR($Resource.logo)}" width="132" height="65"/>
     </body>  
</apex:page>