<!--GardContacts Print Page-->
<apex:page controller="GardContactsController" docType="html-5.0" showHeader="false" sidebar="false" standardStylesheets="false">
<apex:includeScript value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/js/jquery-min.1.11.1.js')}" />
<apex:stylesheet value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/css/style.css')}"/>
<style>
a {
    font: 17px/14px AvenirMedium,Helvetica !important;
}
body.address-book-print-page {
    float: left;
    margin: 0;
    padding: 0px 0;
    width: 100%;
}
.address-book-print-page-container {
    font: 17px AvenirMedium,sans-serif;
    margin: 0 auto;
    width: 1050px;
}
.headSection{
    float: left;
    width: 100%;
}
.headerSection {
    border-bottom: 2px solid #2d271d;
    float: left;
    padding: 10px 0;
    width: 100%;
}
.gard-logo {
    float: left;
    margin: 6px 0 0;
}
.leftHeadSection{
    float: right;
    font: 24px AvenirHeavy,Helvetica;
    margin: 1px 0 0;
    text-align: right;
    width: 700px;
}
.header-right-text {
    float: right;
    width: 100%;
}
.overall-details {
    float: left;
    width: 100%;
}
.slogan-text {
    float: left;
    font: 20px AvenirMediumObl;
    margin: 8px 0 40px;
    text-align: center;
    width: 100%;
}
td {
    font: 17px AvenirMedium,sans-serif;
    height: 18px;
    line-height: 14px;
    vertical-align: top;
}
td:first-child {
    max-width: 130px;
    min-width: 130px;
}
td:nth-child(2) {
    max-width: 400px;
    min-width: 400px;
}
td:last-child {
    max-width: 450px;
    min-width: 450px;
}
td ul, .company-details-type ul {
    margin: 0;
    padding: 0 0 0 0px;
     /*padding: 0 0 0 17px;*/
}
td ul li, .company-details-type ul li {
    line-height: 22px;
    list-style: none;
}
.contact-title-section {
    font: 19px AvenirHeavy,Helvetica;
}
.gard-add-details-section {
    float: left;
    padding: 0 15px;
    width: 97%;
}
.gard-add-dtls-left, .gard-add-dtls-right {
    float: left;
    padding-right: 20px;
    width: 47.95%;
}
.emargency-tel-title {
    font-family: AvenirHeavy,Helvetica;
    margin: 0 0 5px;
}
.bold-font {
    font-family: AvenirHeavy,Helvetica;
}
.emargency-tel-part, .emargency-tel-section, .emargency-tel-title, .add-lines {
    float: left;
    width: 100%;
}
.emargency-tel-section {
    line-height: 19px;
    margin: -2px 0 7px;
}
.tel-title, .tel-data {
    display: table-cell;
    padding: 0 0 3px;
    width: 190px;
}
.add-lines .tel-title, .add-lines .tel-data {
    padding: 0;
}
.major-add-section {
    float: left;
    width: 100%;
}
.add-lines .tel-title {
    font-family: AvenirHeavy,Helvetica;
}
.contact-each-section-title {
    font-family: AvenirHeavy,Helvetica;
}
.major-add-section-title {
    border-bottom: 1px solid #666;
    float: left;
    font: 20px AvenirHeavy,Helvetica;
    margin: 30px 0 20px;
    padding: 0 0 5px;
    width: 100%;
}
.company-details-type {
    font: 17px/14px AvenirMedium,Helvetica;
    float: left;
    width: 100%;
}
.cont-detail-area {
    width: 500px !important;
}
.company-contact-details {
    float: left;
    font: 17px/14px AvenirMedium,Helvetica;
    margin: 28px 0 0;
    padding: 0 0 0 12px;
    width: 450px;
}
.contact-each-section {
    float: left;
    margin: 0 0 10px;
    width: 100%;
}
.contact-each-section:empty {
    display: none;
}
.contact-each-section-title {
    display: table-cell;
    max-width: 130px;
    min-width: 130px;
    width: 130px;
    word-wrap: break-word;
}
.contact-each-section-data {
    display: table-cell;
    line-height: 17px;
    max-width: 380px;
    min-width: 380px;
    width: 380px;
    word-wrap: break-word;
}
.occupation {
    line-height: 17px;
}
.com-type {
    margin-top: 10px;
}
.cont-image{
      float: left;
      width: 139px;
  }
.cont-image img {
    border: 1px solid #fff;
    box-shadow: -1px 1px 1px 0 #cac0ad;  
    width: 77px;
}
.mainTable{
  border-collapse: collapse;
  border-spacing: 0;
  }
.separatorDiv {
  height: 2px;
  width: 1170px;
  background: none repeat scroll 0 0 #584e3c;
  margin: 5px 0px;
}
.printContent{
    display: none;
}
@media print{
    @page {  
        size: A4 portrait;
        margin-top: 15mm;
    }
    a[href]:after {
        content: none !important;
    }
    .printContent{
            display: block !important;
        }
    .avoid-page-break {
        page-break-inside: avoid;
    }
}

</style>
    <title>My address book</title>
    <body class="address-book-print-page printContent" style="background: #fff;">
        <div class="address-book-print-page-container">
            <div class="headerSection">
                <div class="gard-logo">
                    <img src="{!URLFOR($Resource.logo)}" width="100px;" alt="gardLogo"/>
                </div>
                <div class="leftHeadSection">
                    <span class="header-right-text">Client contacts for</span>  
                    <span class="header-right-text">{!selectedAccName}</span>            
                </div>        
            </div>
      <apex:outputPanel rendered="{!NOT(OR(ISNULL(lstRoleWrapper), (lstRoleWrapper.size==0)))}" id="ClientContact-section">
            <div class="single-cont-sections">
                <apex:repeat var="contactDet" value="{!lstRoleWrapper}" >  
                <div class="single-cont-section avoid-page-break">     
                       <div class="cont-detail-area">
                           <div class="info-name contact-title-section" style="">
                               {!contactDet.allContact.LastName}<span/> {!contactDet.allContact.FirstName}
                           </div>
                            <div class="company-details-type">
                                	<div class="occupation" style="display:{!IF((contactDet.allContact.title == null) && (contactDet.allContact.Department == null),'none;','block;')}" ><!--Added for SF-4891-->
                                        <apex:outputText rendered="{!IF(contactDet.allContact.title != null && contactDet.allContact.Department != null,true,false)}" value="{!contactDet.allContact.title}"></apex:outputText>
                                        <apex:outputText rendered="{!IF(contactDet.allContact.title != null && contactDet.allContact.Department != null,true,false)}" value=", "></apex:outputText>
                                        <apex:outputText rendered="{!IF(contactDet.allContact.title != null && contactDet.allContact.Department != null,true,false)}" value="{!contactDet.allContact.Department}"></apex:outputText>
                                        <apex:outputText rendered="{!IF(contactDet.allContact.title != null && contactDet.allContact.Department == null,true,false)}" value="{!contactDet.allContact.title}"></apex:outputText>
                                        <apex:outputText rendered="{!IF(contactDet.allContact.title == null && contactDet.allContact.Department != null,true,false)}" value="{!contactDet.allContact.Department}"></apex:outputText>
                                    </div>                                    
                                <div class="occupation" style="margin-bottom: 8px;display:{!IF((contactDet.allContact.OtherStreet == null) && (contactDet.allContact.OtherCity == null),'none;','block;')}">
                                    <span class="topic">Address:</span>
                                    <span style="display:{!IF(contactDet.allContact.OtherStreet == null,'none;',';')}">{!contactDet.allContact.OtherStreet},</span> {!contactDet.allContact.OtherCity},
                                    <span style="display:{!IF(contactDet.allContact.OtherState == null,'none;',';')}">{!contactDet.allContact.OtherState},</span> {!contactDet.allContact.OtherCountry},
                                    <span style="display:{!IF(contactDet.allContact.OtherPostalCode == null,'none;',';')}">{!contactDet.allContact.OtherPostalCode}</span>
                                </div>
                                 <!-- Add for Contact Role SF-3902 Start -->
                                <apex:outputPanel styleClass="info-post" style="float: left;margin: 5px 0 0 0 !important;width: 100%;display:{!IF(contactDet.allRole == null || contactDet.allRole == '','none;',';')}" rendered="{!NOT(CONTAINS(contactDet.allRole, 'null'))}" >
                                <span class="topic" style="float: left;">Contact for :&nbsp;</span>
                                    <apex:outputText value="{!SUBSTITUTE(contactDet.allRole,";", ", ")}" escape="false" title="Contact for" rendered="{!NOT(CONTAINS(contactDet.allRole, 'null'))}" />
                                </apex:outputPanel>
                                <!-- Add for Contact Role SF-3902 End -->                                                                     
                            </div>
                        </div>
                        <div class="company-contact-details">
                            <div class="contact-each-section"><apex:outputText rendered="{!If((contactDet.allContact.OtherPhone == null || contactDet.allContact.OtherPhone == ''),false,true)}" label="Office phone" value="{!contactDet.allContact.OtherPhone}" styleClass="contact-each-section-data"><span class="contact-each-section-title">Office phone:</span></apex:outputText></div>
                            <div class="contact-each-section"><apex:outputText rendered="{!If((contactDet.allContact.MobilePhone == null || contactDet.allContact.MobilePhone == ''),false,true)}" label="Mobile phone" value="{!contactDet.allContact.MobilePhone}" styleClass="contact-each-section-data"><span class="contact-each-section-title">Mobile phone:</span></apex:outputText></div>
                            <div class="contact-each-section"><apex:outputText rendered="{!If((contactDet.allContact.Email == null || contactDet.allContact.Email == ''),false,true)}" label="Email" value="{!contactDet.allContact.Email}" styleClass="contact-each-section-data"><span class="contact-each-section-title">Email:</span></apex:outputText></div>    
                            
                        </div> 
                        </div>  
                                           <!-- <div class="info-name">{!contactDet.Name}</div>
                    <div class="occupation" style="display:{!IF((contactDet.Occupation__c == null) && (contactDet.Department == null),'none;','block;')}" >
                    <span style="display:{!IF(contactDet.Occupation__c == null,'none;',';')}">{!contactDet.Occupation__c},</span> {!contactDet.Department}</div>
                    <div class="first-add" style="display:{!IF((contactDet.OtherStreet == null) && (contactDet.OtherCity == null),'none;','block;')}">
                        <span class="topic">Address:</span>
                        <span style="display:{!IF(contactDet.OtherStreet == null,'none;',';')}">{!contactDet.OtherStreet},</span> {!contactDet.OtherCity},
                        <span style="display:{!IF(contactDet.OtherState == null,'none;',';')}">{!contactDet.OtherState},</span> {!contactDet.OtherCountry},
                        <span style="display:{!IF(contactDet.OtherPostalCode == null,'none;',';')}">{!contactDet.OtherPostalCode}</span>
                    </div>
                    <div class="info-tel" style="display:{!IF(contactDet.MobilePhone == null,'none;','block;')}"><span class="add-phn-field-icon"></span>{!contactDet.MobilePhone} </div>
                    <div class="info-email" style="display:{!IF(contactDet.Email == null,'none;','block;')}"><a href="mailto:{!contactDet.Email}"> {!contactDet.Email}</a></div>                                               
                   -->
                </apex:repeat>
            </div>
      </apex:outputPanel>
        <script type="text/javascript"> 
                window.onload=function(){self.print();history.go(-1);}
        </script>
       </div>
    </body> 
</apex:page>