<apex:page Controller="ViewDocCtrl" contentType="application/vnd.ms-excel#MyDocuments.xls" cache="true">
<div>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</div>

<style>
    .odd-row td {
            background: rgb(210, 246, 251);
        }
    .even-row td {
            background: rgb(234, 250, 253);
        }
    .text{
              mso-number-format:"\@";/*force text*/
         }
     thead th {
            background: rgb(25, 82, 111);
            color: #fff;
            vertical-align: middle;
            width: auto;
            height: auto;
            border: thin solid black;
        }
     tbody td {
            text-align: left;
            border: thin solid black;
        }
</style>
    <body style="background: #fff;">      
    <table class="gradienttable">
    <thead>
        <tr>
            <apex:outputPanel rendered="{!usertype=='Broker'}">
                <!--<th ><apex:outputText value="Client"/></th>-->
            </apex:outputPanel>
            <th ><apex:outputText value="Document name"/></th>
            <th ><apex:outputText value="Document type description"/></th>
            <!--<th ><apex:outputText value="Cover"/></th>
            <th ><apex:outputText value="Product area"/></th>-->
            <th ><apex:outputText value="Policy year"/></th>     
            <!--<th ><apex:outputText value="On risk"/></th>--> 
            <th ><apex:outputText value="Object"/></th>
            <th ><apex:outputText value="Valid from"/></th>
            <th ><apex:outputText value="Last updated"/></th>
        </tr>   
        </thead>
        <tbody>
                <apex:variable var="row_counter" value="{!1}" />
                <apex:repeat value="{!lstOpenCaseForExcel}" var="lst1">
                <apex:repeat value="{!lst1}" var="case">
                <tr class="{!IF(MOD(row_counter,2)==0,'odd-row','even-row')}">
                <apex:outputPanel rendered="{!usertype=='Broker'}">
                    <!--<td class="claim-name">{!IF(case.Agreement__r.client__r.Name!=null,case.Agreement__r.client__r.name,case.Document_Metadata__r.client__r.name)}</td>-->
                </apex:outputPanel>
                    <td class="cover">{!case.Name}</td>
                    <td class="cover">{!case.ObjectProperties.pd_docCertype}</td>
                    <!--<!--td class="policy-year">{!If(case.Cover__r.Product_Name__c != null,case.Cover__r.Product_Name__c,'n/a')}</td>-->
                    <!--<td class="policy-year">{!If(case.Agreement__r.Business_Area__c != null,case.Agreement__r.Business_Area__c,'n/a')}</td>-->
                    <td class="your-ref">{!case.ObjectProperties.pd_years}<!--{!case.Agreement__r.Policy_Year__c}--></td>
                   <!-- <td class="gard-ref">{!case.Cover__r.On_risk_indicator__c}</td> -->
                  <!--  <apex:outputText value="<td>{!if(case.Cover__r.On_risk_indicator__c == null,'N',if(case.Cover__r.On_risk_indicator__c == true,'Y', 'N'))}</td>"/>-->
                    
                    <td class="gard-ref">{!If(case.ObjectProperties.pd_objectnameondocument != null,case.ObjectProperties.pd_objectnameondocument,'n/a')}</td> 
                    <td class="text">
                        <apex:outputText value="{0,date,dd'-'MM'-'yyyy}">
                            <apex:param value="{!case.ObjectProperties.pd_validfromDT}"/>
                        </apex:outputText>
                     </td>
                     <td class="text">
                        <apex:outputText value="{0,date,dd'-'MM'-'yyyy}">
                            <apex:param value="{!case.ObjectProperties.lastModifiedDT}"/>
                        </apex:outputText>
                     </td>
                   <!-- <td class="claim-type">{!case.Document_Metadata__r.Valid_From__c}</td>
                    <td class="claim-type">{!case.Document_Metadata__r.Last_Updated__c}</td> -->
                </tr>
                <apex:variable var="row_counter" value="{!row_counter + 1}"/>
            </apex:repeat>
        </apex:repeat>
                <tr>
                  <td colspan="{!IF(usertype=='Broker',9,8)}" style="text-align:left; background: #cccccc; font-size:10px">  
                  <span style="float:left;">MyDocuments Displaying  <strong><apex:outputText value="{!row_counter-1}"></apex:outputText></strong>  records on  <strong><apex:outputText value="{0,date,d/MMM/yy HH:mm a}"><apex:param value="{!NOW()}" /></apex:outputText></strong>.</span>
                  <span style="float:right;text-align:right;"><apex:outputText value="Generated on {0,date,EEE MMM d HH:mm:ss yyyy} 'by ' '{!UserName}.'"><apex:param value="{!NOW()}" /></apex:outputText></span>
                  </td>
                </tr>
            </tbody>
    </table>
    <apex:image id="theImage" value="https://{!$Site.Domain}{!URLFOR($Resource.logo)}" width="132" height="65"/> 
    </body> 
</apex:page>