<apex:page id="QuestPrint"  standardcontroller="case" showHeader="false" sidebar="false"  standardStylesheets="false"  renderAs="pdf" >  <!-- renderAs="pdf"  cache="true" added for sf-4069 -->

<head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <style>
    
        @media print{
                @page {  
                    size: A4 portrait;
                    margin-top: 5px;
                }
                
                .single-cont-section {
                    page-break-inside: avoid;
                }
                .stat-new-section {
                    page-break-before: always;
                }
                table.gridtable {
                   font-family: verdana,arial,sans-serif;
                   font-size: 11px;
                   color: #333333;
                   border-width: 1px;
                   border-color: #666666;
                   width: 400px;
                }
          
            }
           
             .page-title{
                            font-family: AvenirHeavy, Arial, Helvetica, sans-serif;
                            font-size:29pt;
                            color: #2D271D;
                        } 
            .row-full-style {
                float:left;
                display:table-row;
                width:100%
            }
            .col-two-style {
                float:left;
                Width:49%;
            }
            .data-section-each {
                width:100%;
            }
            .border-less {
                border-top: 1px solid #FFFFFF;
                border-left: 1px solid #FFFFFF;
            }
            
  }
        </style>
</head>
 
<body> 
<apex:form >
<!-- Information & Chartering Activity start here -->
<div class="row-full-style">
<b><apex:outputText value="Charterers renewal questionnaire" styleClass="page-title" style="font-size:25px"/></b>
</div>
    <br/>
<table width="100%">
<tr>
<td>
<div class="row-full-style">
<b><apex:outputText value="1)   Information about the Assured(s):"  style="font-size:18px"/></b>
</div>
</td>
</tr>
</table>
<table width="100%">
<tr>
    <td>
        <div class="data-section-each">
        <apex:outputText value="a)  Name of the Assured(s):" />
        
        <span class="data-section-each">
        <apex:outputText value="{!case.Client_Name__c}" />
        </span></div>
        <br/><br/>
        <div class="data-section-each">
        <apex:outputText value="Any expected changes in the Assured(s) and Co-Assured(s) for the upcoming Policy year?" />
        </div>
        <br/>
        <div class="data-section-each">
        <apex:inputTextarea value="{!case.expected_changes_for_upcoming_yr__c}" style="overflow-wrap: break-word;word-break: break-all;"/>
        </div>
    </td>
</tr>
<br/> 
<br/>
<tr>
    <td>
        <div class="data-section-each sub-title">
       <b> <apex:outputText value="2)   Present and future chartering activity: " style="font-size:18px"/> </b>
        </div>
        <br/>
        <table cellpadding="5" cellspacing="0" class="gridtable">
            <tbody>
                <tr>
                    <td> </td>
                    <td  colspan="2" style="border: 1px solid #000000 !important;">Current Insurance Year</td>                   
                    <td  colspan="2" style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important; border-top: 1px solid #000000 !important;">Upcoming Insurance Year</td>
                    
                </tr>
                <tr>
                    <td></td> 
                    <td style="border-bottom: 1px solid #000000 !important;border-left: 1px solid #000000 !important;border-right: 1px solid #000000 !important;">Time Charters:</td>
                    <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important;">Voyage Charters:</td>
                    <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important;">Time Charters:</td>
                    <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important;">Voyage Charters:</td>
                </tr>
            </tbody>
            <tbody >
              
                <tr >                        
                    <td style="border: 1px solid #000000 !important;">a) Number of vessels chartered:</td>
                    <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important;"><apex:outputText value="{!case.current_time_no_of_vessels__c}"/> </td><!-- value="{!case.current_time_no_of_vessels__c}"/> -->
                    <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important;"><apex:outputText value="{!case.current_voyage_no_of_vessels__c}"/></td> 
                    <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important;"><apex:outputText value="{!case.upcoming_time_no_of_vessels__c}"/></td>
                    <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important;"><apex:outputText value="{!case.upcoming_voyage_no_of_vessels__c}"/></td>
                </tr>
                <tr >                        
                    <td style="border-bottom: 1px solid #000000 !important;border-left: 1px solid #000000 !important;border-right: 1px solid #000000 !important;">b) Duration of Charters (average # of days):</td>
                    <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important;"><apex:outputText value="{!case.current_time_duration_of_charters__c}"/></td>
                    <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important;"><apex:outputText value="{!case.current_voyage_duration_of_charters__c}"/></td> 
                    <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important;"><apex:outputText value="{!case.upcoming_time_duration_of_charters__c}"/></td>
                    <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important;"><apex:outputText value="{!case.upcoming_voyage_duration_of_charters__c}"/></td>
                </tr>
                <tr >                        
                    <td style="border-bottom: 1px solid #000000 !important;border-left: 1px solid #000000 !important;border-right: 1px solid #000000 !important;">c) Average vessel size (in GT):</td>
                    <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important;"><apex:outputText value="{!case.current_time_avg_vessel_size__c}"/></td>
                    <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important;"><apex:outputText value="{!case.current_voyage_avg_vessel_size__c}"/></td> 
                    <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important;"><apex:outputText value="{!case.upcoming_time_avg_vessel_size__c}"/></td>
                    <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important;"><apex:outputText value="{!case.upcoming_voyage_avg_vessel_size__c}"/></td>
                </tr>
                <tr >                        
                    <td style="border-bottom: 1px solid #000000 !important;border-left: 1px solid #000000 !important;border-right: 1px solid #000000 !important;">d) Average vessel age (years):</td>
                    <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important;"><apex:outputText value="{!case.current_time_avg_vessel_age__c}"/></td>
                    <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important;" ><apex:outputText value="{!case.current_voyage_avg_vessel_age__c}"/></td> 
                    <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important;"><apex:outputText value="{!case.upcoming_time_avg_vessel_age__c}"/></td>
                    <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important;"><apex:outputText value="{!case.upcoming_voyage_avg_vessel_age__c}"/></td>
                </tr> 
                <tr  >                        
                    <td style="border-bottom: 1px solid #000000 !important;border-left: 1px solid #000000 !important;border-right: 1px solid #000000 !important;">e) Types of charterparties used:</td>
                    <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important;"><apex:outputText value="{!case.current_time_types_of_charterparties__c}"/></td>
                    <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important;" ><apex:outputText value="{!case.current_voyage_types_of_charterparties__c}"/></td> 
                    <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important;" ><apex:outputText value="{!case.upcoming_time_types_of_charterparties__c}"/></td>
                    <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important;" ><apex:outputText value="{!case.upcoming_voyage_types_of_charterparties__c}"/></td>
                </tr>                                                
            
            </tbody>  
        </table> 
    </td>    
</tr>
</table >

    <br/>
    <br/> 
<br/>

<!-- Information & Chartering Activity end here -->
<table width="100%">
<tr>
<!-- Cargo section start here -->

    <td>
        <!--div class="row-full-style">
          <b>  <apex:outputText value="Cargo" styleClass="page-title" style="font-size:20px"/> </b>
        </div-->
        <br/>
        <div class="data-section-each sub-title">
          <b>  <apex:outputText value="3)   Trading patterns: " style="font-size:18px"/> </b>
        </div>     
        <br/>
        <div class="data-section-each">
            <table   cellspacing="0" cellpadding="5">
                <thead>
                    <tr>
                        <td >  
                        </td>
                        <td style="border: 1px solid #000000 !important;">
                            Current Insurance Year                                   
                        </td>
                        <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important; border-top: 1px solid #000000 !important;">
                            Upcoming Insurance Year
                        </td>
                    </tr>
                </thead>
                
                <tbody >
                    <tr>                        
                       <td style="border: 1px solid #000000 !important;">a) Geography:(please be specific including ports and routes)</td>
                        <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important;">
                            <apex:outputText value="{!case.Current_Ins_Yr_Geography__c}" />
                        </td>
                        <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important;">
                            <apex:outputText value="{!case.Upcoming_Ins_Yr_Geography__c}"/>
                        </td>
                    </tr>
                    <tr  >                        
                        <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important; border-left: 1px solid #000000 !important;" >b) Cargo type(s) and MT volumes:</td>
                        <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important;">
                           <apex:outputText value="{!case.Current_Ins_Yr_Cargo_Typ_and_MT_Vol__c}" />
                        </td>
                        <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important;">
                           <apex:outputText value="{!case.Upcoming_Ins_Yr_Cargo_Typ_and_MT_Vol__c}" />
                        </td>   
                    </tr>
                     <tr >                        
                        <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important; border-left: 1px solid #000000 !important;" >c) US trade as a % of total trade:</td>
                        <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important;">
                          <apex:outputText value="{!case.Current_Ins_Yr_US_trade__c}" />
                        </td>
                        <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important;" >
                           <apex:outputText value="{!case.Upcoming_Ins_Yr_US_trade__c}" />
                        </td>   
                    </tr>                                                                                                                                       
                </tbody>
                </table>
        </div>
        </td>
        </tr>
        </table>
        
    <br/>
    <br/> 
    <br/> 
<br/> 
<br/> 
<br/> 
<br/> 
<br/> 
<br/> 
<br/> 
<br/> 
<br/> 
<table width="100%">
<tr>
<td>
        <div class="data-section-each sub-title">
         <b>   <apex:outputText value="4)   Cargo (owned vs third party) and bills of lading: " style="font-size:18px"/> </b>
        </div>
         <br/> 
         <table width="100%">
         <tr>
         <td width="70%">
        <div class="data-section-each">
          <apex:outputText value="a)   Does the Assured(s) issue or sign bills of lading?"/> 
        </div>
        <div class="data-section-each">
          <apex:outputText value="If yes, please provide percentage"/> 
        </div>      
       
        </td>
        <td width="30%">
         <div class="data-section-each">
            <apex:outputText value="{!case.Assured_issue_or_sign_bills_of_lading__c}"/> 
        </div>
        <apex:outputPanel rendered="{!(case.Assured_issue_or_sign_bills_of_lading__c =='Yes')}"> 
        <!--div class="data-section-each">
            <apex:outputText value="percentage:"/>
        </div-->
        <div class="data-section-each">
            <apex:outputText value="{!case.provide_percentage__c}%"/> 
        </div>
        </apex:outputPanel>
        </td>
        </tr>
        </table>
        <br/>
        <div class="data-section-each sub-title">
            <apex:outputText value="b)   Cargo ownership:" /> 
        </div>  
        
        <br/><br/>       
        <div class="data-section-each">
        <table  cellpadding="5" cellspacing="0"  width="100%">
            <thead>
                <tr>
                    <td >  
                    </td>
                    <td style="border: 1px solid #000000 !important;">
                        Current Insurance Year
                    </td>
                    <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important; border-top: 1px solid #000000 !important;">
                       Upcoming Insurance Year
                    </td>
                </tr>
            </thead>
            <tbody>
                        
                    <tr>                        
                        <td style="border: 1px solid #000000 !important;">a) Owned Cargo</td>
                        <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important;">
                            <apex:outputText value="{!case.Current_Owned_Cargo__c}" />
                        </td >
                        <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important;" >
                            <apex:outputText value="{!case.Upcoming_Owned_Cargo__c}"/>
                        </td>   
                    </tr>
                    <tr>                        
                        <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important; border-left: 1px solid #000000 !important;" >b) Third Party Cargo</td>
                        <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important;">
                           <apex:outputText value="{!case.Current_Third_Party_Cargo__c}"/>
                        </td>
                        <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important;">
                          <apex:outputText value="{!case.Upcoming_Third_Party_Cargo__c}"/>
                        </td>   
                    </tr>
                     
             </tbody>
        </table> 
        </div>
    </td>
</tr>
</table>

    <br/>  
 <table width="100%">
<tr>
<td>   
    
        <div class="data-section-each sub-title">
           <apex:outputText value="c)   INCO terms being used split in percentage:"/>   
        </div>
    <br/><br/> 
        <div class="data-section-each">
            <table  cellpadding="5" cellspacing="0" width="100%" >
                <tbody>
                    <tr>
                        <td ></td>
                        <td colspan="2" style="border: 1px solid #000000 !important;" >Current Insurance Year</td>                   
                        <td colspan="2" style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important; border-top: 1px solid #000000 !important;"  >Upcoming Insurance Year</td>                                                                                                   
                    </tr>
                    <tr>
                        <td ></td>
                        <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important; border-left: 1px solid #000000 !important;" >Purchase:</td>
                        <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important;" >Sale:</td>
                        <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important;">Purchase:</td>
                        <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important;" >Sale:</td>
                    </tr>
                </tbody>
                <tbody >
                        <tr >                        
                            <td style="border: 1px solid #000000 !important;" >a) FOB:</td>
                            <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important;"><apex:outputText value="{!case.Current_Purchase_FOB__c}"/></td>
                            <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important;" ><apex:outputText value="{!case.Current_Sale_FOB__c}"/></td> 
                            <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important;"><apex:outputText value="{!case.Upcoming_Purchase_FOB__c}"/></td>
                            <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important;" ><apex:outputText value="{!case.Upcoming_Sale_FOB__c}"/></td>
                        </tr>
                        <tr >                        
                            <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important; border-left: 1px solid #000000 !important;" >b) CIF:</td>
                            <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important;" ><apex:outputText value="{!case.Current_Purchase_CIF__c}"/></td>
                            <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important;" ><apex:outputText value="{!case.Current_Sale_CIF__c}"/></td> 
                            <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important;"><apex:outputText value="{!case.Upcoming_Purchase_CIF__c}"/></td>
                            <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important;"><apex:outputText value="{!case.Upcoming_Sale_CIF__c}"/></td>
                        </tr>
                        <tr >                        
                            <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important; border-left: 1px solid #000000 !important;">c) CFR:</td>
                            <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important;"><apex:outputText value="{!case.Current_Purchase_CFR__c}"/></td>
                            <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important;" ><apex:outputText value="{!case.Current_Sale_CFR__c}"/></td> 
                            <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important;" ><apex:outputText value="{!case.Upcoming_Purchase_CFR__c}"/></td>
                            <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important;"><apex:outputText value="{!case.Upcoming_Sale_CFR__c}"/></td>
                        </tr>
                        <tr >                        
                            <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important; border-left: 1px solid #000000 !important;" >d) Insert other:</td>
                            <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important;"><apex:outputText value="{!case.Current_Purchase_Insert_other__c}"/></td>
                            <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important;"><apex:outputText value="{!case.Current_Sale_Insert_other__c}"/></td> 
                            <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important;"><apex:outputText value="{!case.Upcoming_Purchase_Insert_other__c}"/></td>
                            <td style="border-bottom: 1px solid #000000 !important;border-right: 1px solid #000000 !important;"><apex:outputText value="{!case.Upcoming_Sale_Insert_other__c}"/></td>
                        </tr>                                            
                    
                </tbody>  
            </table>
        </div>
  </td>
</tr>
</table>  
    
<!-- Cargo section end here -->

    <br/> 
    <br/> 

<table>
<tr>
    <td>
        <div class="data-section-each">
          <apex:outputText value="d)   For CIF sales:" /> 
        </div>
        <br/>
        <table width="100%">
         <tr> 
            <td>
        <div class="data-section-each">
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <apex:outputText value="i)    Is there a waiver of subrogation from cargo underwriters?"/> 
        </div>
         <div class="data-section-each">
           &nbsp;&nbsp;&nbsp;&nbsp; <apex:outputText value="ii)   Is it in favour of the Assured(s)?"/> 
        </div>
         <div class="data-section-each">
             &nbsp;&nbsp;&nbsp;&nbsp; <apex:outputText value="iii)    Is it in favour of the bill of lading Carrier?"/> 
        </div>
            </td>
            <td>
        <div class="data-section-each">
          &nbsp;&nbsp; &nbsp;&nbsp; <apex:outputText value="{!case.waiver_of_subrogation__c}"/> 
        </div>
        
       
        <div class="data-section-each">
          &nbsp;&nbsp;&nbsp; &nbsp;  <apex:outputText value="{!case.in_favour_of_the_Assured__c}"/> 
        </div>
       
       
        <div class="data-section-each">
            &nbsp;&nbsp;&nbsp; &nbsp;  <apex:outputText value="{!case.in_favour_of_the_bill_of_lading__c}"/> 
        </div>
            </td>
         </tr>
         </table>
       
      
        
    </td>
</tr>
    <br/> 
    <br/>
<tr>
    <td>
        <div class="row-full-style">
          <b>  <apex:outputText value="5)   Other activity" styleClass="page-title" style="font-size:18px"/> </b>
        </div>
            <br/> 
        <table width="100%">
        <tr>
        <td width="70%">
        <div class="data-section-each">
            <apex:outputText value="a)  Does the Assured(s) trade outside Institute trade limits or other limits for ice?"/> 
        </div>
        </td>
        <td width="30%">
        <div class="data-section-each">
            <apex:outputText value="{!case.Assured_trade_outside_Institute_trade_li__c}"/> 
        </div>
        </td>
        </tr>
        </table>
        <br/>
       
        <apex:outputPanel rendered="{!(case.Assured_trade_outside_Institute_trade_li__c =='Yes')}">   
        <div class="data-section-each">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <apex:outputText value="Please describe:"/> 
        </div>
        
        <div class="data-section-each">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; i. &nbsp;&nbsp;&nbsp;&nbsp; <apex:outputText value="Frequency:"/> 
        </div>
        <div class="data-section-each">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;  <apex:outputText value="{!case.Outside_limit_Frequency__c}"/> 
        </div>
       
        <div class="data-section-each">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ii. &nbsp;&nbsp;&nbsp;  <apex:outputText value="Applicable contract provisions:"/> 
        </div>
        <div class="data-section-each">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;  <apex:outputText value="{!case.Outside_limit_app_contract_provisions__c}"/> 
        </div>
        <div class="data-section-each">
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;iii.  &nbsp;&nbsp;&nbsp; <apex:outputText value="Geography:"/> 
        </div>
        <div class="data-section-each">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;   <apex:outputText value="{!case.Outside_limit_geography__c}"/> 
        </div>
        
        <div class="data-section-each">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; iv. &nbsp;&nbsp;  <apex:outputText value="Is the vessel ice-classed for the trade?"/> 
        </div>
        <div class="data-section-each">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;    <apex:outputText value="{!case.Outside_limit_is_ice_classed__c}"/> 
        </div>
       
        <div class="data-section-each">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; v.  &nbsp;&nbsp;&nbsp;  <apex:outputText value="Is H&M in place when the vessel is calling in ice?"/> 
        </div>
        <div class="data-section-each">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;   <apex:outputText value="{!case.Outside_limit_is_H_M_in_place__c}"/> 
        </div>  
    
        <br/><br/>
        </apex:outputPanel>
        <table width="100%">
        <tr>
        <td width="70%">
        <div class="data-section-each">
            <apex:outputText value="b)  Does the Assured(s) perform STS (ship to ship) transfer?"/> 
        </div>
        </td>
        <td width="30%">
        <div class="data-section-each">
            <apex:outputText value="{!case.Assured_perform_STS__c}"/> 
        </div>
        </td>
        </tr>
        </table>
        <br/>
        <apex:outputPanel rendered="{!(case.Assured_perform_STS__c =='Yes')}"> 
        <div class="data-section-each">
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    <apex:outputText value="Please describe:"/> 
        </div>
        
        <div class="data-section-each">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; i. &nbsp;&nbsp;&nbsp;  <apex:outputText value="Frequency:"/>  
        </div>
        <div class="data-section-each">
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    <apex:outputText value="{!case.STS_Frequency__c}"/> 
        </div>
       
        <div class="data-section-each">
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  ii. &nbsp;&nbsp; <apex:outputText value="Applicable contract provisions:"/> 
        </div>
        <div class="data-section-each">
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     <apex:outputText value="{!case.STS_app_contract_prov__c}"/> 
        </div>
       
        <div class="data-section-each">
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; iii. &nbsp; <apex:outputText value="Charter party form:"/> 
        </div>
        <div class="data-section-each">
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    <apex:outputText value="{!case.STS_charter_party_form__c}"/> 
        </div>
        
        <div class="data-section-each">
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  iv. &nbsp;  <apex:outputText value="STS service contract:"/> 
        </div>
        <div class="data-section-each">
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     <apex:outputText value="{!case.STS_service_contract__c}"/> 
        </div>
            <br/><br/>
        
        </apex:outputPanel>     
        
    </td>
</tr>
<tr>
    <td>
        <table width="100%">
        <tr>
        <td width="70%">
        <div class="data-section-each">
            <apex:outputText value="c)  Does the Assured(s) perform blending of Cargo?"/> 
        </div>
        </td>
        <td width="30%">
        <div class="data-section-each">
            <apex:outputText value="{!case.Assured_perform_blending_of_Cargo__c}"/> 
        </div>
        </td>
        </tr>
        </table>
        <br/>
        <apex:outputPanel rendered="{!(case.Assured_perform_blending_of_Cargo__c =='Yes')}">
        <div class="data-section-each">
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<apex:outputText value="If so please describe:"/> 
        </div>
        
        <div class="data-section-each">
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; i. &nbsp;&nbsp;&nbsp;   <apex:outputText value="Frequency:"/> 
        </div>
        <div class="data-section-each">
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   <apex:outputText value="{!case.Blending_of_cargo_Frequency__c}"/> 
        </div>
       
        <div class="data-section-each">
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ii.   &nbsp;&nbsp;  <apex:outputText value="Applicable contract provisions:"/>  
        </div>
        <div class="data-section-each">
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    <apex:outputText value="{!case.Blending_of_cargo_app_contract_provision__c}"/> 
        </div>
        
        <div class="data-section-each">
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; iii.  &nbsp;   <apex:outputText value="Is blending onboard or ashore?"/>  
        </div>
        <div class="data-section-each">
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     <apex:outputText value="{!case.Blending_of_cargo_onboard_ashore__c}"/> 
        </div>
     
        <div class="data-section-each">
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; iv. &nbsp; <apex:outputText value="Does the Assured(s) test compatibility and stability prior to blending?"/>  
        </div>
        <div class="data-section-each">
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     <apex:outputText value="{!case.Blending_of_cargo_cmptibility_stbility__c}"/> 
        </div>
        
       
        <div class="data-section-each">
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  v.  &nbsp;&nbsp;  <apex:outputText value="Does the Assured(s) blend heavy fuel oil?"/>  
        </div>
        <div class="data-section-each">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <apex:outputText value="{!case.Blending_of_cargo_heavy_fuel_oil__c}"/> 
        </div>  
        
     
        </apex:outputPanel>
        <br/> <br/>
        <table width="100%">
        <tr>
        <td width="70%">
        <div class="data-section-each">
            <apex:outputText value="d)  Does the Assured(s) own or operate marine terminals, pipelines (onshore and/or offshore) or any other facilities which are in any way connect Assured(s)' activity as a Charterer and/or Cargo Owner?"/> 
        </div>
        </td>
        <td width="30%">
        <div class="data-section-each">
            <apex:outputText value="{!case.Assured_own_operate_marine_terminals__c}"/> 
        </div>
        </td>
        </tr>
        </table >
        <br/> <br/>
        <table width="100%">
        <tr>
        <td width="70%">
            <div class="data-section-each">
            <apex:outputText value="e)  Does the Assured(s) perform landside carriage?"/> 
            </div>
            <br/> <br/>
            <div class="data-section-each">
            <apex:outputText value="f)  Is the Assured(s) engaged in landside storage of cargo?"/> 
            </div>
            <br/> <br/>
            <div class="data-section-each">
            <apex:outputText value="g)  Does the Assured(s) sell bunkers?"/> 
            </div>
            <br/> <br/>
            <div class="data-section-each">
            <apex:outputText value="h)  Any other relevant chartering and trading information for the next 12 months?"/> 
            </div>
        </td>
        <td width="30%">
            <div class="data-section-each">
            <apex:outputText value="{!case.Assured_perform_landside_carriage__c}"/> 
            </div>
             <div class="data-section-each">
                 <br/> <br/>
            <apex:outputText value="{!case.Assured_engaged_in_landside_storage__c}"/> 
            </div>
            <div class="data-section-each">
                <br/><br/> 
            <apex:outputText value="{!case.Assured_sell_bunkers__c}"/> 
            </div>
            <div class="data-section-each">
                <br/> <br/>
            <apex:outputText value="{!case.other_chartering_trading_in_nxt_12mnths__c}"/> 
                            </div>
        </td>
        </tr>
        </table >
<br/><br/>
        <div> 
            <label>Finally, please bear in mind that the Assured(s) has a continuous duty to disclose any circumstances which could alter the risk, either prior or subsequent to the conclusion of the contract of insurance. Notification to Gard should be done without delay. Failure to comply may result in Gard avoiding liability.</label><!--SF-4069-->
        </div>
    </td>
</tr>
</table>
</apex:form>  
</body>  
</apex:page>