<apex:page showHeader="false" sidebar="false">
<apex:composition template="PageFrame" >
        <apex:define name="content" >
        <!-- Breadcrumbs section starts -->
            <div id="breadcrumbs" class="breadcrumbs">
                <div class="breadcrumbs-wrapper">
                   <!-- <a href="#">Search</a>  -->
                </div>
            </div>
            <!-- Breadcrumbs section ends -->
            <div class="content">
             <div class="content-wrapper">
                <div class="page-title">How to disable your browser&#39;s popup blockers</div>
                <p>The following includes  steps for disabling pop-up window blockers.</p>
                <ul>
                  <li><a href="#IE7">Internet Explorer 7 and above (Windows)</a></li>
                  <li><a href="#IE6">Internet Explorer6 (Windows)</a></li>
                  <li><a href="#MZ1">Firefox (Windows)</a></li>
                  <li><a href="#MZ2">Firefox (Mac OSX)</a></li>
                  <li><a href="#MZ3">Mozilla (Mac OSX)</a></li>
                  <li><a href="#SF">Safari (MacOSX)</a></li>
                  <li><a href="#CH">Chrome </a></li>
                </ul>
                
                <p>&nbsp;</p>
                <div class="sub-sec-title" id="IE7">How to disable  Internet Explorer 7 and above popup blocker (Windows) </div>
                <ol>
                  <li>From the <strong>Tools</strong> menu, select <strong>Internet Options</strong>.<br/>
                  <apex:image value="{!URLFOR($Resource.gardExtranetHelp, 'newHelp/IE7_1.png')}" width="343" height="199" />
                     <br/>
                    &nbsp;</li>
                  <li>From the <strong>Privacy</strong> tab, uncheck <strong>Turn on Pop-up Blocker </strong>and click <strong>"OK".</strong><br/>
                  <apex:image value="{!URLFOR($Resource.gardExtranetHelp, 'newHelp/IE7_2.png')}" width="367" height="454" />
                      <br/>                      
                  &nbsp;</li>
                </ol>
                <p>&nbsp;</p>
                <div class="sub-sec-title" id="IE6">How to disable  Internet Explorer 6 popup blocker (Windows) </div>
                <ol>
                  <li>From the <strong>Tools</strong> menu, select <strong>Internet Options</strong>.<br/>
                      <apex:image value="{!URLFOR($Resource.gardExtranetHelp, 'newHelp/IE6_1.png')}"  width="343" height="199" /><br />
                    &nbsp;</li>
                  <li>From the <strong>Privacy</strong> tab, uncheck <strong>Block pop-ups</strong>.<br/>
                      <apex:image value="{!URLFOR($Resource.gardExtranetHelp, 'newHelp/IE6_2.png')}" width="406" height="459" /><br/>
                      <br/>
                    &nbsp;</li>
                </ol>
                
                
                <p>&nbsp;</p>
                <div class="sub-sec-title" id="MZ1"> How to  disable the firefox popup blocker (Windows)</div >
                <ol>
                  <li>From the <strong>Tools</strong> menu, select <strong>Options</strong>.<br/>
                      <apex:image value="{!URLFOR($Resource.gardExtranetHelp, 'newHelp/FirefoxPC_1.png')}" width="369" height="246" /><br/>
                    &nbsp;</li>
                  <li>From the <strong>Content</strong> tab, uncheck <strong>Block Popup Windows </strong>and click "OK".<br/>
                      <apex:image value="{!URLFOR($Resource.gardExtranetHelp, 'newHelp/FirefoxPC_2.png')}" width="460" height="453" /><br/>
                    <br/>
                  &nbsp;</li>
                </ol>
                
                <p>&nbsp;</p>
                <div class="sub-sec-title" id="MZ2">  How to  disable the firefox popup blocker (Mac OSX)</div>
                <ol>
                  <li>From the <strong>Firefox</strong> menu, select <strong>Preferences</strong>.<br/>
                      <apex:image value="{!URLFOR($Resource.gardExtranetHelp, 'newHelp/FirefoxMac_1.png')}" width="403" height="298" /><br/>
                    &nbsp;</li>
                  <li>From the <strong>Preferences </strong>window, choose the <strong>Content</strong> button and then uncheck <strong>Block Pop-up Windows</strong>.<br/>
                      <apex:image value="{!URLFOR($Resource.gardExtranetHelp, 'newHelp/FirefoxMac_2.png')}" width="403" height="298" /><br/>
                  &nbsp;</li>
                </ol>
                
                <p>&nbsp;</p>
                <div class="sub-sec-title" id="MZ3">How to  disable the Mozilla popup blocker (Mac OSX)</div>
                <ol>
                  <li>From the <strong>Mozilla</strong> menu, select <strong>Preferences</strong>.<br/>
                  <apex:image value="{!URLFOR($Resource.gardExtranetHelp, 'newHelp/MozillaMac_1.jpg')}" width="431" height="228" /> </li>
                  <li>From the <strong>Privacy &amp; Security</strong> tab, choose Popup Windows. Uncheck <strong>Block unrequested popup windows</strong>, and click "OK"
                  <apex:image value="{!URLFOR($Resource.gardExtranetHelp, 'newHelp/MozillaMac_2.jpg')}" width="644" height="476" /></li>
                </ol>
                <p>&nbsp;</p>
                <div class="sub-sec-title" id="SF">How to  disable the safari popup blocker</div>
                <ol>
                  <li>From the <strong>Safari</strong> menu, make sure <strong>Block Pop-Up Windows</strong> is unchecked.<br/>
                    <br/>
                      <apex:image value="{!URLFOR($Resource.gardExtranetHelp, 'newHelp/Safari_1.png')}" width="282" height="300" /><br/>
                  &nbsp;</li>
                </ol>
                
                <div class="sub-sec-title" id="CH">How to  disable the chrome popup blocker</div>
                <ol>
                <li>In the top-right corner of the browser window, click the Chrome menu <apex:image value="{!URLFOR($Resource.gardExtranetHelp, 'newHelp/menuChrome.png')}" width="18" height="18" />.</li>
                <li>Select <strong>Settings</strong>.</li>
                <li>Click <strong>Show advanced settings</strong>.</li>
                <li>Under "Privacy," click the <strong>Content settings</strong> button.</li>
                <li>Under "Pop-ups," select <strong>Allow all sites to show pop-ups</strong>.</li>
              </ol>
                
              </div>
            </div>
        </apex:define>
</apex:composition>
</apex:page>