<apex:page standardcontroller="Account" extensions="LogicalAccountDeletionExt" action="{!setRequestFlag}">
    <apex:pageMessages ></apex:pageMessages>
    <apex:form >
        <!--Success STARTS-->
        <apex:outputPanel rendered="{!success}">
            <apex:pageBlock >
                <apex:pageBlockSection columns="1" >
                        <apex:outputText style="" value="{0} has been successfully deactivated.">
                           <apex:param value="{!account.name}"/>
                        </apex:outputText>
                        <apex:outputText rendered="false" value="{!account.Inactivate_Company_Request__c}"/>
                        <apex:outputText style="" value="Please click below to return to {0}.">
                            <apex:param value="{!account.name}"/>
                        </apex:outputText>
                        <apex:commandlink value="{!account.name}" action="{!accountRecord}"/>
                        <apex:outputText style="" value="Please click below to return to the Companies home screen."/>
                        <apex:commandlink value="Companies Home" action="{!accountsHome}"/>
                </apex:pageBlockSection>
            </apex:pageBlock>
        </apex:outputPanel>
        <!--Success ENDS-->
        <!-- Failure STARTS
        <apex:pageBlock rendered="false &&{!!success}">
        <apex:pageBlock title="Company On Risk" rendered="{!(acc.Broker_On_Risk__c || acc.Client_On_Risk__c || acc.On_Risk__c)}">
            <apex:pageBlockSection columns="1" >
                <apex:outputText value="This company is on risk and so cannot be deactivated."/>
            </apex:pageBlockSection>
            <apex:pageBlockButtons location="bottom">
                <apex:commandButton value="Back" action="{!accountRecord}"/>    
            </apex:pageBlockButtons>
        </apex:pageBlock>
        <apex:pageBlock title="Deleted Company" rendered="{! deletedFlagOriginalValue}">
            <apex:pageBlockSection columns="1" >
                <apex:outputText value="This company has already been deactivated and is no longer available."/>
            </apex:pageBlockSection>
            <apex:pageBlockButtons location="bottom">
                <apex:commandButton value="Back" action="{!accountRecord}"/>    
            </apex:pageBlockButtons>
        </apex:pageBlock>
        <apex:pageBlock title="Company is MyGard Enabled" rendered="{! acc.MyGard_enabled__c}">
            <apex:pageBlockSection columns="1" >
                <apex:outputText value="This company is MyGard Enabled and so cannot be deactivated."/>
            </apex:pageBlockSection>
            <apex:pageBlockButtons location="bottom">
                <apex:commandButton value="Back" action="{!accountRecord}"/>    
            </apex:pageBlockButtons>
        </apex:pageBlock>
        <!--<apex:pageBlock title="Unknown Error Occurred" rendered="{! !(acc.MyGard_enabled__c || acc.Broker_On_Risk__c || acc.Client_On_Risk__c || acc.Deleted__c)}">
            <apex:pageBlockSection columns="1" >
                <apex:outputText value="Some Unknown Error Occurred while updating the company."/>
            </apex:pageBlockSection>
            <apex:pageBlockButtons location="bottom">
                <apex:commandButton value="Back" action="{!accountRecord}"/>    
            </apex:pageBlockButtons>
        </apex:pageBlock>-->
            <!--/apex:pageBlock> -->
        <!-- Failure ENDS-->
        <!--New Failure Part STARTS-->
        <!-- On_Risk__c cheking added below for SF-6048 -->
        <apex:pageBlock title="Problem Occurred while Deactivating" rendered="{!(!success)}">
            <apex:pageBlockSection columns="1" rendered="{!deletedFlagOriginalValue}">
                <apex:outputText value="This company has already been deactivated."/>
            </apex:pageBlockSection>
            <apex:pageBlockSection columns="1" rendered="{!(acc.Broker_On_Risk__c || acc.Client_On_Risk__c  || acc.On_Risk__c) && (!deletedFlagOriginalValue)}">
                <apex:outputText value="This company is on risk and cannot be deactivated."/>
            </apex:pageBlockSection>
            <apex:pageBlockSection columns="1" rendered="{!acc.MyGard_enabled__c && (!deletedFlagOriginalValue)}">
                <apex:outputText value="This company is MyGard Enabled and cannot be deactivated."/>
            </apex:pageBlockSection>
            <apex:pageBlockSection columns="1" rendered="{!(isESP && reasonBlank) && (!deletedFlagOriginalValue) }">
                <apex:outputText value="As this company has role ESP, you need to select a 'Reason for deactivation'."/> 
            </apex:pageBlockSection>
            <apex:pageBlockSection columns="1" rendered="{! !(acc.MyGard_enabled__c || acc.Broker_On_Risk__c || acc.Client_On_Risk__c || acc.On_Risk__c || isESP || reasonBlank || deletedFlagOriginalValue)}">
                <apex:outputText value="Some Unknown Error Occurred while updating the company."/>
            </apex:pageBlockSection>
            
            <apex:pageBlockButtons location="bottom">
                <apex:commandButton value="Back" action="{!accountRecord}"/>    
            </apex:pageBlockButtons>
        </apex:pageBlock>
        <!--New Failure Part ENDS-->
    </apex:form>
</apex:page>