<apex:page standardController="MDM_Account_Merge__c" extensions="MDMSyncMergeAccountRetryExtension">

	<apex:form >
		<div style="text-align:center;">
			<apex:commandButton rendered="{!(IsAdmin && MDM_Account_Merge__c.Synchronisation_Status__c == 'Sync Failed')}" action="{!RetryMergeAccountSync}" value="Retry Merge Sync" />
		</div>	
		<apex:outputPanel id="redirectPanel" >
            <apex:outputText rendered="{!shouldRedirect}">
                <script type="text/javascript">
                    window.top.location.href = '{!redirectUrl}';
                </script>
            </apex:outputText>
        </apex:outputPanel>
	</apex:form>
	
</apex:page>