<apex:page StandardController="Meeting_Minute__c" extensions="MeetingMinutesExtensions" standardStylesheets="false" renderAs="PDF" showHeader="false" sidebar="false" >

    <apex:stylesheet value="{!$Resource.PDFDocumentStyle}" />

    <!-- <apex:sectionHeader title="Meeting Minute" subtitle="{!Meeting_Minute__c.Name}" /> -->
    <div id="bodyContent">
        <div class="bPageTitle">
            <apex:image url="https://c.eu1.visual.force.com/img/icon/custom51_100/pencil32.png" style="padding:5px 0 0 3px;"/>
            <div class="cPageTitle">
                <h1 class="pageType">Meeting Minute</h1>
                <h2 class="pageDescription">{!Meeting_Minute__c.Name}</h2>
            </div>
        </div>
        <apex:form >
            <apex:pageBlock Title="Event Information" mode="mainDetail">
                <div id="detailSection">
                    <div id="eventDetail">
                        <apex:pageBlockSection Title="Date and Location" columns="1" collapsible="true" >
                            <apex:outputField value="{!Evt.What.Name}"/>
                            <apex:outputField value="{!Evt.Subject}" />
                            <apex:outputField value="{!Evt.Location__c}" />
                            <apex:outputField value="{!Evt.Location}" />
                            <apex:outputField value="{!Evt.startdatetime}" />
                            <apex:outputField value="{!Evt.EndDateTime}" />
                        </apex:pageBlockSection>
                    </div>
                    <div id="attendeeDetail">
                        <apex:pageBlockSection Title="Attendee Information" columns="1" collapsible="true" >
                            <apex:pageBlockTable value="{!meetingAttendees}" var="item">
                                <apex:column headerValue="Name"><apex:outputText value="{!item.Attendee_Name__c}" id="aName"/></apex:column>
                                <apex:column headerValue="Type"><apex:outputText value="{!item.Type__c}" id="aType"/></apex:column>
                                <apex:column headerValue="Attended?" styleClass="attCheck"><apex:image url="{!IF(item.Attended__c, $Resource.checked, $Resource.unchecked)}" /></apex:column>
                            </apex:pageBlockTable>
                         </apex:pageBlockSection>           
                    </div>
                </div>
                <div id="notesSection">
                    <div class="pbSubheader first tertiaryPalette"><h3>Minutes</h3></div>
                    <div class="pdSubHeader">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%" class="notesList">
                            <tr>
                                <td class="dataCol first last"><div class="notesBlock"><apex:outputText value="{!Meeting_Minute__c.Meeting_Notes__c}" escape="false" /></div></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <apex:inputHidden value="{!Meeting_Minute__c.Distributed__c}" id="theHiddenInput"/>
            </apex:pageBlock>
        </apex:form>
        <div class="clearFooter"></div>
    </div>
    <div id="mainFooter">
        <div class="footer_right" style="border-top: 1px solid #ccc; padding: 5px; background-color: #ffffff; color:#4A4A56; font-size:75%;">Page <span class="pageNumber"/> of <span class="pageCount"/> </div>
    </div>
</apex:page>