<apex:page controller="MyCoverCtrl" action="{!ViewData}" standardStylesheets="false" id="pgCover" showHeader="false" sidebar="false">
<apex:includeScript value="{!$Resource.GoogleAnalytics}"/>

<style>
    th{
        cursor:pointer;
    }
    th.gard-share{
          cursor: default;
    }
    td.gard-share,td.view-obj{
        text-align: right;
    }
    .broker-view-page-container .portfolio .broker-view.object .client .multiselect.dropdown-toggle.btn {
        width: 176px !important;
    }
    .broker-view-page-container .portfolio .broker-view.object .obj-cat .multiselect.dropdown-toggle.btn {
        width: 176px !important;
    }
     .client-view-page-container .portfolio .broker-view.cover .claim-filter-sections.risk {
        width: 172px;
    }
    .client-view-page-container .portfolio .claims-filters-container .risk .select-wrapper {
        width: 121px !important;
    }
    .client-view-page-container .risk button.multiselect.dropdown-toggle.btn.btn-default {
        width: 121px !important;
    }
    .client-view-page-container .portfolio .broker-view.object .obj-cat .multiselect.dropdown-toggle.btn {
        width: 176px !important;
    }
    .client-view-page-container .portfolio .broker-view.object .product-area .multiselect.dropdown-toggle.btn {
        width: 176px !important;
    }
    .client-view-page-container .year .select-wrapper .btn-group button.multiselect {
        width: 122px !important;
    }
    .client-view-page-container .broker-view.object .risk .multiselect.dropdown-toggle.btn.btn-default {
        width: 121px !important;
    }
    .portfolio .broker-view.cover .claim-filter-sections.risk{
        width: 122px !important;
    }
    .client-view-page-container .portfolio .cover .claims-filters-container .year .select-wrapper {
        width: 122px !important;
    }    
    .save-filter-popup .popup-form-container input[type="text"] {
      width: 346px;
    }
    th div.th-container{
    padding: 11px 5px 10px 7px;
    }
    .broker-view-page-container .portfolio .broker-view.tab-open-claim-section.cover th.client,
    .broker-view-page-container .portfolio .broker-view.tab-open-claim-section.cover td.client {
        max-width: 265px !important;
        min-width: 265px !important;
    }
    .portfolio.obj-per-cover .cover.broker-view th.view-obj,
    .portfolio.obj-per-cover .cover.broker-view td.view-obj {
        max-width: 141px !important;
        min-width: 141px !important;
    }
    .portfolio.obj-per-cover .cover.broker-view th.obj-cat,
    .portfolio.obj-per-cover .cover.broker-view td.obj-cat {
        line-height: 14px;
        min-width: 138px !important;
        max-width: 138px !important;
    }
    .broker-view-page-container .portfolio .broker-view.tab-open-claim-section.cover th.exp-date,
    .broker-view-page-container .portfolio .broker-view.tab-open-claim-section.cover td.exp-date {
        max-width: 88px !important;
        min-width: 88px !important;
    }
    .cover.broker-view th.policy-year,
    .cover.broker-view td.policy-year {
        line-height: 14px;
        min-width: 63px !important;
        max-width: 63px !important;
        width: 63px !important;
    }
    .cover.broker-view th.claims-lead,
    .cover.broker-view td.claims-lead {
        line-height: 14px;
        min-width: 69px !important;
        max-width: 69px !important;
        width: 69px !important;
    }
    .cover.broker-view th.gard-share,
    .cover.broker-view td.gard-share {
        line-height: 14px;
        min-width: 69px !important;
        max-width: 69px !important;
        width: 69px !important;
    }
    .cover.broker-view th.on-risk,
    .cover.broker-view td.on-risk {
        line-height: 14px;
        min-width: 57px !important;
        max-width: 57px !important;
        width: 57px !important;
    }
    .cover.broker-view th.view-obj,
    .cover.broker-view td.view-obj {
        min-width: 77px !important;
        max-width: 77px !important;
        width: 77px !important;
        line-height: 14px;    
    }
    .cover.broker-view th.product-area,
    .cover.broker-view td.product-area {
        line-height: 14px;
        max-width: 110px !important;
        min-width: 110px !important;
    }
    .cover.broker-view th.underwriter,
    .cover.broker-view td.underwriter {
        max-width: 181px !important;
        min-width: 181px !important;
        width: 181px !important;
    }
    .client-view-page-container .cover.broker-view th.broker-name,
    .client-view-page-container .cover.broker-view td.broker-name {
        max-width: 264px !important;
        min-width: 264px !important;
        width: 264px !important;
    }
    .client-view-page-container .cover.broker-view th.exp-date,
    .client-view-page-container .cover.broker-view td.exp-date {
        max-width: 89px !important;
        min-width: 89px !important;
    }
    .client-view-page-container .cover.broker-view th.cover,
    .client-view-page-container .cover.broker-view td.cover {
        min-width: 189px !important;
        max-width: 189px !important;
        width: 189px !important;
    }
    .multiple-client-view-page-container .cover.broker-view th.underwriter,
    .multiple-client-view-page-container .cover.broker-view td.underwriter {
        max-width: 145px !important;
        min-width: 145px !important;
        width: 145px !important;
    }
    .client-view-page-container.multiple-client-view-page-container .cover.broker-view th.cover,
    .client-view-page-container.multiple-client-view-page-container .cover.broker-view td.cover {
        min-width: 140px !important;
        max-width: 140px !important;
        width: 140px !important;
    }
    .client-view-page-container.multiple-client-view-page-container .portfolio .broker-view.tab-open-claim-section.cover th.client,
    .client-view-page-container.multiple-client-view-page-container .portfolio .broker-view.tab-open-claim-section.cover td.client {
        max-width: 148px !important;
        min-width: 148px !important;
    }
    .client-view-page-container.multiple-client-view-page-container .cover.broker-view th.broker-name,
    .client-view-page-container.multiple-client-view-page-container .cover.broker-view td.broker-name {
        max-width: 211px !important;
        min-width: 211px !important;
        width: 211px !important;
    }
    .cover.broker-view.multiple-client-view-page-container th.product-area,
    .cover.broker-view.multiple-client-view-page-container td.product-area {
        line-height: 14px;
        max-width: 100px !important;
        min-width: 100px !important;
    }
</style>
<script>
  js$=jQuery.noConflict();
  jQuery(document).ready(function(){
   var pageOld = jQuery('.page-no.pager-section > input[type="text"]').val();
   jQuery('#PgMyCover input[type="text"]').bind('keypress', function (eInner){   
                if (eInner.keyCode == 13) { 
                    enterPage   = jQuery('.page-no.pager-section > input[type="text"]').val();                       
                       if(enterPage <= {!CEILING(noOfRecords/size)} && enterPage != 0){                             
                             jQuery('.overley, .loading').show();                         
                             changePageNumberCover();                             
                             return false;
                         }
                         else{
                             jQuery('.page-no.pager-section > input[type="text"]').val('1');
                             changePageNumberCover();                             
                             return false;
                         }
                    }    
                    
      }); 
  });
 </script>
 <!-- Browser requirement popup section starts -->
 <div class="inner-overley-save-filter">
 <div class="save-filter-popup">
     <div class="popup-close"></div>
     <div class="popup-infos home-page-browser-popup-infos">
         <div class="home-page-browser-info-pop-wrapper">
             <div class="pop-up-title">Saved filters</div>
             <div class="popup-form-container">
                 <apex:form id="company-info-form">
                     <div class="contact-field">
                         <div class="add-fields">
                             <div class="feedback-comment">
                                 <label for="fb-comments" class="feedback-label">Enter a filter name:</label>
                                 <input type="text" name="" id="savedFN" value="" onkeyup="limitText(this,80);" onkeypress="limitText(this,80);"/>
                             </div>
                             <div class="contact-field-holder contact-pref-fields" style="float:left;margin: 0 !important;font-size: 12px;"><label>(Max 80 characters)</label></div>
                         </div>
                         <div class="form-submit-section">
                            <apex:commandButton styleClass="form-btn" value="Done" onComplete="validateFilterName();" rerender="test"/>
                            <apex:commandButton styleClass="form-btn" value="Cancel" onComplete="finalClosePopup();" rerender="test"/>
                         </div>
                        
                     </div>
                 </apex:form>
             </div>
         </div>
     </div>
 </div>
 </div>
 <!-- Browser requirement popup section ends -->
<apex:composition template="PageFrame">
        <apex:define name="content" >
           <div  class="content">
            <div class="content-wrapper portfolio-content-area"> 
            <div class="page-title">My portfolio</div>
                 <div class="tab-section-container">                        
                          <apex:include pageName="requestPage"/>
                        <div class="tab-button-section">                        
                        <div class="tab-header-container">
                            <div class="cover single-tab selected"><apex:outputLink value="/apex/MyCovers">Covers</apex:outputLink><div class="update-cover-wrapper-activated" style="display:block;"></div></div>
                            <div class="object single-tab deselected"><apex:outputLink value="/apex/MyObjects" >Objects</apex:outputLink></div>
                            <apex:outputPanel id="docTab" rendered="{!portfolioDocumentTab}">
                                <div class="documents single-tab deselected"><apex:outputLink value="/apex/ViewDocument" >Documents</apex:outputLink></div>
                            </apex:outputPanel>
                            <div class="forms single-tab deselected"><apex:outputLink value="/apex/PortfolioForms" >Forms</apex:outputLink></div>
                            <div class="portfolio-report single-tab deselected"><apex:outputLink value="/apex/PortfolioReports" >Portfolio reports</apex:outputLink></div>
                        </div>
                        </div>
                    <!-- ************** -->    
                    <div class="tab-details-section gard-contact claim-tabs-section portfolio">
                        <div class="tab-detail-columns">  

<script>

js$=jQuery.noConflict();
  /*jQuery(document).ready(function(){  
          var undElement = jQuery('td.underwriter.mycover .underwrt-popup-link');
    jQuery(document).bind('mouseup', function (e){        
        if (undElement.has(e.target).length === 0) {            
            jQuery('.underwriter-popup').remove();
        }
    });   
  });*/
function currentUnderwriter(underwriterid,emId){
  if(jQuery('.underwrt-popup-link .underwriter-popup').length <=0){ 
         //jQuery('.overley').show();
         jQuery(emId).append('<div class="underwriter-popup normal-table-popup"><div class="und-popup-pointer"></div><div class="und-popup-wrapper"><span class="popup-loader">Loading...</span></div></div></div>');
        getUnderwriterInfo(underwriterid+'#'+emId.id);      
       return false;
        }
        else{       
        return true;
        }
   }
   /* jQuery multiselect popup custom scroll bar */
    jQuery(".gard-contact.claim-tabs-section .select-wrapper .btn-group ul.multiselect-container, .dropdown-menu.open ul").mCustomScrollbar({
        mouseWheelPixels: 20,
        scrollEasing: "linear",
        scrollInertia: 0
    });
    
    jQuery('.mCSB_draggerContainer').click( function(e){
        e.stopPropagation();
    });
   
</script>
<apex:form id="CoverPage">

   <apex:actionFunction action="{!ViewData}" name="sortingFunction" reRender="recordData,noData">
    <apex:param value="" name="column" assignTo="{!sortExpression}" ></apex:param>
    </apex:actionFunction>
  
<apex:actionFunction action="{!underwriterPopup}" name="getUnderwriterInfo" rerender="underWrInfo" status="renderMeStatus" >
    <apex:param name="underwrId" value="" assignTo="{!underwrId}" />
</apex:actionFunction>
<apex:actionFunction action="{!createFavourites}" name="createFavs" rerender="editObjectPopUp">
    <apex:param name="savedName" value="" assignTo="{!newFilterName}" />
</apex:actionFunction>
<apex:actionFunction action="{!deleteFavourites}" name="deleteFavs" rerender="editObjectPopUp"/> 
<apex:actionFunction action="{!fetchFavourites}" name="fetchFavs" rerender="editObjectPopUp"/>   
<apex:actionStatus id="renderMeStatus" onstop="showPopup()"/>
<apex:actionFunction name="coverdownloadVcard" action="{!downloadVcardCover}"/>
<!--
<apex:actionFunction action="{!sorePhotoData}" reRender="proxy" name="callSorePhotoData" status="renderMeVcard" >
    <apex:param name="photodata" assignTo="{!base64Photo}" value=""/>
</apex:actionFunction> 
<apex:actionStatus id="renderMeVcard" onstop="coverdownloadVcard();jQuery('.overley,.loading').hide();"/>  
-->
<apex:outputPanel id="underWrInfo">
<script>

       function gaTrackDownload() {
           ga('send', 'event', 'Download', 'vCard', 'My portfolio');
       }

       function showPopup(){
        var em =document.getElementById('{!JSENCODE(pointingId)}');
        jQuery('.overley').hide();
        jQuery('.underwriter-popup').remove();
        
        //jQuery(em).append('<div class="underwriter-popup normal-table-popup"><div class="und-popup-pointer"></div><div class="und-popup-wrapper"><div class="cont-detail-area"><a title="Download vcard" class="vcard-download" onclick="passValVcard(\'{!JSINHTMLENCODE(UnderWriterInfo.Portal_Image__c)}\');">v</a><div alt="Land line" class="first-add tel-num claim-handler-each"><span class="add-phn-field-icon"></span> {!JSINHTMLENCODE(UnderWriterInfo.Phone__c)}</div><div alt="Mobile" class="first-add mobile claim-handler-each"><span class="add-phn-field-icon mobile-icon"></span>{!JSINHTMLENCODE(UnderWriterInfo.MobilePhone__c)}</div><div alt="Email" class="first-add info-email claim-handler-each"><span class="add-field-icon"></span><a href="mailto:{!UnderWriterInfo.Email__c}">{!JSINHTMLENCODE(UnderWriterInfo.Email__c)}</a></div><div alt="Location" class="first-add location claim-handler-each"><span class="topic"></span>{!JSINHTMLENCODE(UnderWriterInfo.Office_city__c)}</div></div></div></div>'); 
        jQuery(em).append('<div class="underwriter-popup normal-table-popup"><div class="und-popup-pointer"></div><div class="und-popup-wrapper"><div class="cont-detail-area"><a title="Download vcard" class="vcard-download" onclick="coverdownloadVcard(); gaTrackDownload();">v</a><div alt="Land line" class="first-add tel-num claim-handler-each" x-ms-format-detection="none"><span class="add-phn-field-icon"></span>{!JSINHTMLENCODE(UnderWriterInfo.Phone__c)}</div><div alt="Mobile" class="first-add mobile claim-handler-each" x-ms-format-detection="none"><span class="add-phn-field-icon mobile-icon"></span>{!JSINHTMLENCODE(UnderWriterInfo.MobilePhone__c)}</div><div alt="Email" class="first-add info-email claim-handler-each"><span class="add-field-icon"></span><a href="mailto:{!UnderWriterInfo.Email__c}">{!JSINHTMLENCODE(UnderWriterInfo.Email__c)}</a></div><div alt="Location" class="first-add location claim-handler-each"><span class="topic"></span>{!JSINHTMLENCODE(UnderWriterInfo.Office_city__c)}</div></div></div></div>');  
          /* JS for the auto trimming of underwriter popup long email */
        jQuery('.underwriter-popup .cont-detail-area .info-email a').each( function(){          
                        var emailText = jQuery(this).text();
                        if (emailText.length > 33) {                       
                                        jQuery(this).addClass('selectpicker-long-option');
                                        jQuery(this).attr('alt', emailText);
                                        jQuery(this).html(emailText.substring(0, 32) + '...');
                        }
                        else {
                                        jQuery(this).html(emailText);
                        }
        });
        /* JS for the auto trimming of underwriter popup long email */    
        /* Provides the tooltip using jquery UI tooltip plugin */
        jQuery('.underwriter-popup .cont-detail-area .info-email a').mouseenter( function(){
            jQuery('.custom-tooltip').remove();
            if(jQuery(this).attr('alt')) {
                jQuery('body').append('<span class="custom-tooltip">' + jQuery(this).attr('alt') + '</span>');
            }
        });
        jQuery('.underwriter-popup .cont-detail-area .info-email a').mouseleave( function(){
            jQuery('.custom-tooltip').remove();
        });
            
        /* Provides the tooltip using jquery UI tooltip plugin */ 
        return false;
          }
         
     
          

</script>
</apex:outputPanel>
 <apex:outputpanel id="test" style="display:none;"></apex:outputpanel>

                            <div class="tab-open-claim-section tab-table-wrapper tab-detail-container broker-view cover">
                                <div class="form-field-scrol-container free-content-area">                                 
                                <div class="claims-filters-container">
                                <apex:outputPanel id="filterSection">
                                    <div class="claim-filter-sections client" style="display:{!if(hasMultipleClients,'block','none')}"><!--sfEdit 4302 changed from {!if(blBrokerView==false,'none','block')} to block-->
                                        <label for="filter-field">Client</label>
                                        <div class="select-wrapper">
                                            <apex:outputPanel id="filterClient">
                                            <apex:selectList multiselect="true" size="2"  styleClass="filter-field multiselect" value="{!selectedClient}">
                                                    <apex:selectOptions value="{!ClientOptions}"/>
                                            </apex:selectList>
                                            </apex:outputPanel>
                                        </div>
                                    </div>
                                    <div class="claim-filter-sections cover">
                                        <label for="filter-field">Cover</label>
                                        <div class="select-wrapper">
                                            <apex:selectList value="{!SelectedCovers }" multiselect="true" size="2" styleClass="filter-field multiselect" >
                                                    <apex:selectOptions value="{!CoverOptions}"/>
                                            </apex:selectList>
                                        </div>
                                    </div>
                                    <div class="claim-filter-sections year">
                                        <label for="filter-field">Policy year</label>
                                        <div class="select-wrapper">
                                            <apex:selectList value="{!SelectedPolYr}" multiselect="true" size="2" styleClass="filter-field multiselect" >
                                                <apex:selectOptions value="{!PolYrOptions}"/>
                                            </apex:selectList>
                                        </div>
                                    </div>
                                    <div class="claim-filter-sections risk">
                                        <label for="filter-field">On risk</label>
                                        <div class="select-wrapper" >
                                            <apex:selectList value="{!SelectedOnRisk}" size="2" styleClass="filter-field multiselect" multiselect="true" id="selectOnrisk">
                                                <apex:selectOptions value="{!OnRiskOptions}"/>
                                            </apex:selectList>
                                        </div>
                                    </div>
                                    <div class="claim-filter-sections product-area">
                                        <label for="filter-field">Product area</label>
                                        <div class="select-wrapper">
                                            <apex:selectList value="{!SelectedProdArea}" multiselect="true" size="2" styleClass="filter-field multiselect" >
                                                <apex:selectOptions value="{!ProdAreaOptions}"/>
                                            </apex:selectList>
                                        </div>
                                    </div>
                                    
                                    <div class="claim-filter-sections filter">                                       
                                       <apex:commandButton value="Go"  id="sbutton" action="{!viewData}" reRender="recordData,noData,filterSection,filterScript" styleClass="tab-filter-btn" style="border: none;" onclick="jQuery('.overley, .loading').show();" oncomplete="jQuery('.overley, .loading').hide();" >   
                                           <apex:param name="eventId" value="" assignTo="{!paramSearchIndicator}" />
                                       </apex:commandButton>
                                                                             
                                    </div>
                                    <div class="claim-filter-sections filter clear">
                                        <apex:commandButton action="{!clearOptions}" styleClass="form-btn doc-clear-filter-buton" value="Clear"/>
                                    </div>                                    
                                   </apex:outputPanel>
                                   <div class="claim-filter-sections save-filter">
                                            <span class="save-filter-star"></span>
                                        <!--<span class="chosen-fav-claim-pointer fab-option"></span>-->
                                    </div>
                                   <script>
                                jQuery( document ).ready(function() {                                   
                                    var favFlag = '{!isFav}';
                                    if(favFlag=='true'){                                       
                                        jQuery('.save-filter .save-filter-star').addClass('favved');
                                        jQuery('.save-filter .save-filter-star').attr('title','Remove filter'); 
                                    }else{                                       
                                        jQuery('.save-filter .save-filter-star').removeClass('favved');
                                        jQuery('.save-filter .save-filter-star').attr('title','Save filter');
                                    }
                                });
                                jQuery('.save-filter .save-filter-star').click( function(){                                   
                                    jQuery(".error-validation-msg").remove();
                                    if(jQuery(this).hasClass('favved')){                                                                                                       
                                        deleteFavs(); 
                                        jQuery(this).removeClass('favved');
                                    }
                                    else{                                                                
                                        jQuery('.inner-overley-save-filter').show();
                                        jQuery('.save-filter-popup').show();
                                        jQuery('#savedFN').val('');                                       
                                    }           
                                });
                                    /* added for enter on text box */
                                    jQuery('#savedFN').bind('keypress', function (eInner){  
                                        if (eInner.keyCode == 13) {
                                            var savedName = jQuery('#savedFN').val();
                                            if(savedName!=null && savedName!=''){
                                                jQuery('.save-filter .save-filter-star').addClass('favved');                                                            
                                                jQuery('.chosen-fav-claim-pointer.fab-option').attr('class','chosen-fav-claim-pointer fab-option favved'); 
                                                createFavs(savedName); 
                                                jQuery('.save-filter .save-filter-star').attr('title','Remove filter');
                                            }else{
                                                var msgError = '<div class="error-validation-msg" style="margin: 0 !important;width: 160px;float: left;">Please select a filter name.</div>';                  
                                                jQuery('#savedFN').parent().after(msgError);    
                                            }  
                                        }
                                    });
                                jQuery('.save-filter-popup .form-btn').click( function(){
                                    jQuery(".error-validation-msg").remove();                  
                                   
                                    var btn = jQuery(this).attr('value');
                                    
                                    if(btn=='Done'){                                      
                                        var savedName = jQuery('#savedFN').val();
                                        if(savedName!=null && savedName!=''){
                                            jQuery('.save-filter .save-filter-star').addClass('favved');                                            
                                                                        
                                            jQuery('.chosen-fav-claim-pointer.fab-option').attr('class','chosen-fav-claim-pointer fab-option favved'); 
                                            createFavs(savedName);
                                            jQuery('.save-filter .save-filter-star').attr('title','Remove filter'); 
                                        }else{
                                            var msgError = '<div class="error-validation-msg" style="margin: 0 !important;width: 160px;float: left;">Please select a filter name.</div>';                  
                                            jQuery('#savedFN').parent().after(msgError);    
                                        }                           
                                    }else{                        
                                       
                                    }                           
                                });
                                function validateFilterName(){
                                    var savedName = jQuery('#savedFN').val();                                  
                                    if((typeof savedName != typeof  undefined) && (savedName == '' || savedName == null || savedName == ' ') ){               
                                        return false;
                                    }else{
                                       finalClosePopup();                                       
                                       return true;                                    
                                    }                                  
                                }
                                jQuery('.save-filter-popup .popup-close').click( function(){
                                    finalClosePopup();  
                                });                               
                                function finalClosePopup(){                                   
                                    jQuery('.inner-overley-save-filter').hide();
                                    jQuery('.save-filter-popup').hide();
                                    jQuery('body').css({
                                        'overflow-y': 'scroll'
                                    }); 
                                }
                                jQuery('.tab-filter-btn').click( function(){                                   
                                    jQuery('.save-filter .save-filter-star').removeClass('favved'); 
                                    jQuery('.save-filter .save-filter-star').attr('title','Save filter');                           
                                });
                                </script>                                                                
                                </div>
                                
                                <apex:outputPanel id="recordData" style="display:{!IF(covers.size!=0,'block;','none;')}">  
                               
                                <div class="client-list-section">
                                    <table>                                    
                                        <thead>
                                            <tr>
                                                <th class="client" style="display:{!if(hasMultipleClients,'compact','none')}" onclick="jQuery('.overley,.loading').show();sortingFunction('client__c');"><!--sfEdit 4302 replaced style="display:{!if(blBrokerView==false,'none','compact')}"-->
                                                    <div class="th-container">
                                                    <!--<apex:commandLink action="{!ViewData}" styleClass="sort-asc" reRender="recordData,noData">-->
                                                        Client
                                                        <div class="item-sort" style="visibility:{!if(hasMultipleClients,'inline;','hidden;')}"><!--sfEdit 4302 replaced style="visibility:{{!if(blBrokerView==false,'hidden;','inline;')}"-->
                                                            <div class="{!IF(sortExpression=='client__c',IF(sortDirection='ASC','sort-desc','sort-asc'),'unsorted')}"></div>
                                                        </div>
                                                      <!--  <apex:param value="client__c" name="column" assignTo="{!sortExpression}" ></apex:param>
                                                    </apex:commandLink>-->
                                                    </div>
                                                </th>
                                                <th class="cover" onclick="jQuery('.overley,.loading').show();sortingFunction('product__c');">
                                                  <div class="th-container">
                                                 <!-- <apex:commandLink action="{!ViewData}" styleClass="sort-asc" reRender="recordData,noData">-->
                                                         Cover
                                                         <div class="item-sort">
                                                             <div class="{!IF(sortExpression=='product__c',IF(sortDirection='ASC','sort-desc','sort-asc'),'unsorted')}"></div>
                                                        </div>
                                                       <!-- <apex:param value="product__c" name="column" assignTo="{!sortExpression}" ></apex:param>
                                                    </apex:commandLink>-->
                                                   </div>
                                                </th>
                                                <th class="exp-date" onclick="jQuery('.overley,.loading').show();sortingFunction('expirydate__c');">
                                                     <div class="th-container">
                                                     <!--<apex:commandLink action="{!ViewData}" styleClass="sort-asc" reRender="recordData,noData">-->
                                                        Expiry date
                                                        <div class="item-sort">
                                                            <div class="{!IF(sortExpression=='expirydate__c',IF(sortDirection='ASC','sort-desc','sort-asc'),'unsorted')}"></div>
                                                        </div>
                                                        <!--<apex:param value="expirydate__c" name="column" assignTo="{!sortExpression}" ></apex:param>
                                                    </apex:commandLink>-->                                                      
                                                      </div>
                                                </th>
                                                <th class="policy-year" onclick="jQuery('.overley,.loading').show();sortingFunction('policyyear__c');">
                                                    <div class="th-container">
                                                   <!-- <apex:commandLink action="{!ViewData}" styleClass="sort-asc" reRender="recordData,noData"> -->
                                                        Policy year
                                                        <div class="item-sort">
                                                            <div class="{!IF(sortExpression=='policyyear__c',IF(sortDirection='ASC','sort-desc','sort-asc'),'unsorted')}"></div>
                                                        </div>
                                                       <!-- <apex:param value="policyyear__c" name="column" assignTo="{!sortExpression}" ></apex:param>
                                                    </apex:commandLink> -->
                                                   
                                                     </div>
                                                </th>
                                                <th class="claims-lead" onclick="jQuery('.overley,.loading').show();sortingFunction('claimslead__c');">
                                                    <div class="th-container">
                                                    <!--<apex:commandLink action="{!ViewData}" styleClass="sort-asc" reRender="recordData,noData">-->
                                                        Claims lead
                                                        <div class="item-sort">
                                                            <div class="{!IF(sortExpression=='claimslead__c',IF(sortDirection='ASC','sort-desc','sort-asc'),'unsorted')}"></div>
                                                        </div>
                                                       <!-- <apex:param value="claimslead__c" name="column" assignTo="{!sortExpression}" ></apex:param>
                                                    </apex:commandLink> -->
                                                       
                                                     </div>
                                                </th>
                                                <th class="gard-share">
                                                    <div class="th-container">
                                                        Gard share
                                                        <!--<div class="item-sort">
                                                            <apex:commandLink action="{!ViewData}" styleClass="sort-asc">
                                                              <apex:param value="ASC##gardshare__c" name="sortformat" assignTo="{!jointSortingParam}"  ></apex:param>
                                                            </apex:commandLink>
                                                            <apex:commandLink action="{!ViewData}" styleClass="sort-desc">
                                                               <apex:param value="DESC##gardshare__c" name="sortformat" assignTo="{!jointSortingParam}" ></apex:param> 
                                                            </apex:commandLink>
                                                         </div>-->
                                                     </diV>
                                                </th>
                                                <th class="on-risk" onclick="jQuery('.overley,.loading').show();sortingFunction('onrisk__c');">
                                                    <div class="th-container">
                                                      <!--  <apex:commandLink action="{!ViewData}" styleClass="sort-asc" reRender="recordData,noData">-->
                                                        On risk
                                                        <div class="item-sort">
                                                            <div class="{!IF(sortExpression=='onrisk__c',IF(sortDirection='ASC','sort-desc','sort-asc'),'unsorted')}"></div>
                                                        </div>
                                                       <!-- <apex:param value="onrisk__c" name="column" assignTo="{!sortExpression}" ></apex:param>
                                                    </apex:commandLink>-->                                                       
                                                     </div>
                                                </th>
                                                <th class="view-obj" onclick="jQuery('.overley,.loading').show();sortingFunction('viewobject__c');">
                                                  <div class="th-container"> 
                                                  <!--<apex:commandLink action="{!ViewData}" styleClass="sort-asc" reRender="recordData,noData">-->
                                                        View objects
                                                        <div class="item-sort">
                                                            <div class="{!IF(sortExpression=='viewobject__c',IF(sortDirection='ASC','sort-desc','sort-asc'),'unsorted')}"></div>
                                                        </div>
                                                       <!-- <apex:param value="viewobject__c" name="column" assignTo="{!sortExpression}" ></apex:param>
                                                    </apex:commandLink>-->                                                    
                                                   </div>
                                                </th>
                                                <th class="product-area" onclick="jQuery('.overley,.loading').show();sortingFunction('productarea__c');">
                                                  <div class="th-container">
                                                  <!--<apex:commandLink action="{!ViewData}" styleClass="sort-asc" reRender="recordData,noData">-->
                                                        Product area
                                                        <div class="item-sort">
                                                            <div class="{!IF(sortExpression=='productarea__c',IF(sortDirection='ASC','sort-desc','sort-asc'),'unsorted')}"></div>
                                                        </div>
                                                        <!--<apex:param value="productarea__c" name="column" assignTo="{!sortExpression}" ></apex:param>
                                                    </apex:commandLink>-->                                                    
                                                    </div>
                                                </th>
                                                <th class="broker-name" style="display:{!if(blBrokerView==true,'none;','compact;')}" onclick="jQuery('.overley,.loading').show();sortingFunction('broker__c');">
                                                   <div class="th-container">
                                                  <!-- <apex:commandLink action="{!ViewData}" styleClass="sort-asc" reRender="recordData,noData">-->
                                                        Broker name
                                                        <div class="item-sort">
                                                            <div class="{!IF(sortExpression=='broker__c',IF(sortDirection='ASC','sort-desc','sort-asc'),'unsorted')}"></div>
                                                        </div>
                                                        <!--<apex:param value="broker__c" name="column" assignTo="{!sortExpression}" ></apex:param>
                                                    </apex:commandLink>-->
                                                        
                                                    </div>
                                                </th>
                                                <th class="underwriter" onclick="jQuery('.overley,.loading').show();sortingFunction('underwriter__c');">
                                                    <div class="th-container">
                                                   <!-- <apex:commandLink action="{!ViewData}" styleClass="sort-asc" reRender="recordData,noData">-->
                                                        Underwriter
                                                        <div class="item-sort">
                                                            <div class="{!IF(sortExpression=='underwriter__c',IF(sortDirection='ASC','sort-desc','sort-asc'),'unsorted')}"></div>
                                                        </div>
                                                        <!--<apex:param value="underwriter__c" name="column" assignTo="{!sortExpression}" ></apex:param>
                                                    </apex:commandLink> -->                                                     
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                       <tbody>
                                        <apex:variable value="{!0}" var="rowNum"/>
                                        <apex:repeat value="{!covers}" var="cover">
                                        <tr  class="{!IF(MOD(rowNum,2)==0,'odd','even')}">
                                            <!--commented for SF-5169 
												<td class="client {!IF(CONTAINS(shareClientName,cover.client),'shared-client-name','')}"  style="display:{!if(hasMultipleClients,'table-cell;','none;')}">{!cover.client}</td>
											-->
                                            <td class="client {!IF(not(cover.directAgreement),'shared-client-name','')}"  style="display:{!if(hasMultipleClients,'table-cell;','none;')}">{!cover.client}</td>
                                            <!--<td class="client {!IF(CONTAINS(shareClientName,cover.client),'shared-client-name','')}"  style="display:{!if(hasMultipleClients,'table-cell;','none;')}">{!cover.client}</td>-->
                                            <td class="cover"><apex:outputText value="{!cover.product}" /></td>
                                            <td class="exp-date">
                                                <apex:outputText value="{0,date,dd'-'MM'-'yyyy}">
                                                    <apex:param value="{!cover.expirydate}" />
                                                </apex:outputText>
                                            </td>
                                            <td class="policy-year"><apex:outputText value="{!cover.policyyear}" /></td>
                                            <td class="claims-lead"><apex:outputText value="{!if(cover.claimslead=='Y','Yes','No')}" /></td>
                                            <td class="gard-share"><apex:outputText value="{!cover.gardshare}" /></td>
                                            <td class="on-risk"><apex:outputText value="{!cover.onrisk}" /></td>
                                            <td class="view-obj">
                                                 <apex:commandLink action="{!viewObject}" value="{!cover.viewobject}" id="theCommandLink" target="_blank"> <!--  added target="_blank" for Sf-3692  -->
                                                      <apex:param name="strParams" value="{!cover.param}" assignTo="{!strParams}"/>
                                                 </apex:commandLink>
                                            </td>
                                            <td class="product-area"><apex:outputText value="{!cover.productarea}" /></td>
                                            <td class="broker-name" style="display:{!if(blBrokerView==true,'none;','compact;')}">{!if(cover.broker == null,'n/a',cover.broker)}</td>
                                            <td class="underwriter mycover"><apex:outputPanel onclick="return currentUnderwriter('{!HTMLENCODE(cover.underwriterId)}',this);" styleClass="underwrt-popup-link" ><apex:outputText value="{!cover.underwriter}" /></apex:outputPanel></td>
                                        </tr>
                                        <apex:variable var="rowNum" value="{!rowNum + 1}"/>
                                        </apex:repeat>
                                        </tbody>
                                        </table>
                                     </div>
                                    <!-- Print and Export button section start -->
                                    <div class="record-detail-dwnld-section">                                            
                                            <div class="global-print-dwnld">
                                                <apex:commandLink action="{!exportToExcel}" value="" id="theCommandLink" styleClass="global-dwnld" title="Export to excel" onclick="ga('send', 'event', 'Download', 'Excel', 'Covers');"/>
                                                <apex:commandButton value="" action="{!print}" styleClass="global-print" title="Print"/>
                                            </div>
                                    </div> 
                                    <!-- Print and Export button section end -->
                                      <!-- Pagination section starts here-->
                                      <div class="pagination" style="display:{!IF(noOfRecords > size,'block;','none;')}" >
                                            <div class="record-details">Showing total records: <span class="record-starting">{!((pageNum-1)*10)+1}</span> – <span class="record-end">{!IF(pageNum*10<noOfRecords,pageNum*10,noOfRecords)}</span> of <span class="record-total">{!noOfRecords}</span></div>
                                            <div class="pagination-wrapper">
                                                <!--<div class="item-per-page">Total: {!noOfRecords}</div>-->
                                                    <div class="pager"> 
                                                         <apex:commandButton action="{!first}" rendered="{!hasPrevious}" reRender="recordData" status="refreshstatus_bottom" styleClass="pager-prev pager-section extream-first activated" onclick="jQuery('.overley, .loading').show();" oncomplete="jQuery('.overley, .loading').hide();"  />                                              
                                                        <apex:outputpanel styleClass="pager-prev pager-section extream-first deactivated" rendered="{!NOT(hasPrevious)}"/>
                                                        
                                                        <apex:commandButton action="{!previous}" rendered="{!hasPrevious}" reRender="recordData" status="refreshstatus_bottom" styleClass="pager-prev pager-section activated" onclick="jQuery('.overley, .loading').show();" oncomplete="jQuery('.overley, .loading').hide();"  />                                                                           
                                                        <apex:outputPanel styleClass="pager-prev pager-section deactivated" rendered="{!NOT(hasPrevious)}" style="margin-right: 2px;" />
                                                       <div class="page-no pager-section" id="PgMyCover"><apex:inputText value="{!pageNum}" /><!-- onchange="changePageNumberCover();"--></div>
                                                      <apex:actionFunction name="changePageNumberCover" action="{!setpageNumber}" reRender="recordData" oncomplete="jQuery('.overley, .loading').hide();"/> 
                                                        <!--<div class="page-no pager-section">{!intStartrecord}</div> -->
                                                        <div class="page-of pager-of-section">of {!CEILING(noOfRecords/size)}</div>                    
                                                        <apex:commandButton action="{!next}" rendered="{!hasNext}" reRender="recordData" status="refreshstatus_bottom" styleClass="pager-next pager-section activated" onclick="jQuery('.overley, .loading').show();" oncomplete="jQuery('.overley, .loading').hide();"  />   
                                                        <apex:outputPanel styleClass="pager-next pager-section deactivated" rendered="{!NOT(hasNext)}" /> 
                                                        
                                                        <apex:commandButton action="{!last}" rendered="{!hasNext}" reRender="recordData" status="refreshstatus_bottom" styleClass="pager-next pager-section extream-last activated" onclick="jQuery('.overley, .loading').show();" oncomplete="jQuery('.overley, .loading').hide();"  />   
                                                        <apex:outputPanel styleClass="pager-next pager-section extream-last deactivated" rendered="{!NOT(hasNext)}" /> 
                                                     </div>
                                              </div>
                                       </div>
                                      <!-- Pagination section ends here-->
                                      <script>
                                 jQuery('.overley,.loading').hide();
                                /* tooltrip for client-name portfolio start*/
                                jQuery('.portfolio td.client').each( function(){
                                    var formsName = jQuery.trim(jQuery(this).text());
                                    if (formsName.length > 34) {
                                        jQuery(this).addClass('selectpicker-long-option');
                                        jQuery(this).attr('alt', formsName);
                                        jQuery(this).html(formsName.substring(0, 32) + '...');
                                    }
                                    else {
                                        jQuery(this).html(formsName);
                                    }
                                });
                                /* tooltrip for client-name portfolio end*/
                                
                                /* tooltrip for portfolio cover start*/
                                jQuery('.broker-view-page-container .portfolio .cover td.cover, .client-view-page-container .portfolio .cover td.cover').each( function(){
                                    var formsName = jQuery.trim(jQuery(this).text());
                                    if (formsName.length > 18) {
                                        jQuery(this).addClass('selectpicker-long-option');
                                        jQuery(this).attr('alt', formsName);
                                        jQuery(this).html(formsName.substring(0, 16) + '...');
                                    }
                                    else {
                                        jQuery(this).html(formsName);
                                    }
                                });
                                /* tooltrip for portfolio cover end*/
                                /* tooltrip for portfolio product-area start*/
                                jQuery('.broker-view-page-container .portfolio .cover td.product-area, .client-view-page-container .portfolio .cover td.product-area').each( function(){
                                    var formsName = jQuery.trim(jQuery(this).text());
                                    if (formsName.length > 9) {
                                        jQuery(this).addClass('selectpicker-long-option');
                                        jQuery(this).attr('alt', formsName);
                                        jQuery(this).html(formsName.substring(0, 7) + '...');
                                    }
                                    else {
                                        jQuery(this).html(formsName);
                                    }
                                });
                                /* tooltrip for portfolio product-area end*/
                                /* tooltrip for portfolio broker-name start*/
                                jQuery('.client-view-page-container .portfolio .cover td.broker-name').each( function(){
                                    var formsName = jQuery.trim(jQuery(this).text());
                                    if (formsName.length > 33) {
                                        jQuery(this).addClass('selectpicker-long-option');
                                        jQuery(this).attr('alt', formsName);
                                        jQuery(this).html(formsName.substring(0, 31) + '...');
                                    }
                                    else {
                                        jQuery(this).html(formsName);
                                    }
                                });
                                /* tooltrip for portfolio broker-name end*/
                                /* tooltrip for portfolio underwriter start*/
                                jQuery('.portfolio td.underwriter.mycover span.underwrt-popup-link').each( function(){
                                    var formsName = jQuery.trim(jQuery(this).text());
                                    if (formsName.length > 18) {
                                        jQuery(this).addClass('selectpicker-long-option');
                                        jQuery(this).attr('alt', formsName);
                                        jQuery(this).html(formsName.substring(0, 16) + '...');
                                    }
                                    else {
                                        jQuery(this).html(formsName);
                                    }
                                });
                                jQuery('.portfolio td.underwriter.mycover span.underwrt-popup-link').mouseenter( function(){
                                            jQuery('.custom-tooltip').remove();
                                            if(jQuery(this).attr('alt')) {
                                                jQuery('body').append('<span class="custom-tooltip">' + jQuery(this).attr('alt') + '</span>');
                                            }
                                });
                                jQuery('.portfolio td.underwriter.mycover span.underwrt-popup-link').mouseleave( function(){
                                            jQuery('.custom-tooltip').remove();
                                });
                                /* tooltrip for portfolio underwriter end*/
                                 /* Provides the tooltip using jquery UI tooltip plugin */
                                jQuery('.my-addressbook-container .tab-section-name span, .my-addressbook-container .info-email a, td, .select-wrapper .btn-group ul.multiselect-container span, .dropdown-menu.open ul.dropdown-menu.selectpicker li a.selectpicker-long-option, .selected-files-container span.file-name, .download-holder a.form-pdf-downloader.selectpicker-long-option, .home-page-left-content-container .page-title.selectpicker-long-option').mouseenter( function(){
                                    jQuery('.custom-tooltip').remove();
                                    if(jQuery(this).attr('alt')) {
                                        jQuery('body').append('<span class="custom-tooltip">' + jQuery(this).attr('alt') + '</span>');
                                    }
                                });
                                jQuery('.my-addressbook-container .tab-section-name span, .my-addressbook-container .info-email a, td, .select-wrapper .btn-group ul.multiselect-container span, .dropdown-menu.open ul.dropdown-menu.selectpicker li a, .selected-files-container span.file-name, .download-holder a.form-pdf-downloader.selectpicker-long-option, .home-page-left-content-container .page-title.selectpicker-long-option').mouseleave( function(){
                                    jQuery('.custom-tooltip').remove();
                                });
                                
                                /* Provides the tooltip using jquery UI tooltip plugin */
                                
                                 setTimeout(function(){
                                 /* Restricts the number, arrow, backspace and delete button for the pagination */
                                    jQuery('.page-no.pager-section > input[type="text"]').keypress( function(event){
                                        return validatePagination(event);
                                    });
                                /* Restricts the number, arrow, backspace and delete button for the pagination */
                                 
                                   
                                         jQuery('#PgMyCover input[type="text"]').bind('keypress', function (eInner){  
                                          var enterPage = jQuery('.page-no.pager-section > input[type="text"]').val(); 
                                                    if (eInner.keyCode == 13) {                                                   
                                                   if(enterPage <= {!CEILING(noOfRecords/size)} && enterPage != 0){                                                        
                                                         jQuery('.overley, .loading').show();                         
                                                         changePageNumberCover();                             
                                                         return false;
                                                     }
                                                     else{
                                                         jQuery('.page-no.pager-section > input[type="text"]').val('1');
                                                         changePageNumberCover();
                                                         return false;
                                                     }  
                                                 }        
                                                        
                                          }); 
                                          
                                         jQuery('[id$="oncomplete"]').hide();
                                     },10);
                                      var undElement = jQuery('td.underwriter.mycover .underwrt-popup-link');
                                        jQuery(document).bind('mouseup', function (e){
                                            if (undElement.has(e.target).length === 0) {
                                                jQuery('.underwriter-popup').remove();
                                            }
                                        });                                         
                                </script>
                                
                                      
                                </apex:outputPanel>    
                                <apex:outputpanel id="noData">                            
                                <div class="no-data-found"  style="display:{!IF(noOfRecords < 1,'block;','none;')}">
                                         No records available.
                                 </div>
                                 <script>
                                         if({!noOfRecords}<1){
                                         jQuery('.no-data-found').show();
                                         }
                                         else{
                                         jQuery('.no-data-found').hide();
                                         }
                                 </script>     
                              </apex:outputpanel>
                               
                </div>
            </div>
            <apex:actionFunction action="{!fetchselectedClients}" name="fetchselectedClients" immediate="true" onComplete="resetClientFields();">
                <apex:param name="allselectedClients" value="" assignTo="{!strSelected}" />
            </apex:actionFunction>                

</apex:form>
                         
</div>
                     </div>
                     
                 </div>
            </div>
           </div> 
        </apex:define>
         
    </apex:composition>    
    <script>
        jQuery( document ).ready(function() { 
        jQuery('.main-menu-links').removeClass('active');
        jQuery('.main-menu-links.portfolio').addClass('active'); 
            /*Added for Global Client Start */
            var favFlag = '{!isFav}';
            if(favFlag=='true'){
                var globalClient = '{!strGlobalClient}';                 
                 if(globalClient!=null && globalClient!=''){
                     var optionValues = [];
                     var options = jQuery('select[id$="site-search:globalClient"] option');              
                     if(options!=null){                        
                         jQuery.each(options,function (index, value) {
                             optionValues.push(jQuery(this).val());  
                         });                         
                         var counterAll = 0;
                         var counterSelected = 0;
                         jQuery.each(optionValues,function (index, value) {
                             counterAll++;
                             if(globalClient.indexOf(value) != -1){
                                 counterSelected++;                                 
                                 jQuery("[value='"+value+"']").attr('checked','true');
                                 jQuery("[value='"+value+"']").attr('selected','true');
                             }else{
                                 jQuery("[value='"+value+"']").prop('checked', false);
                                 jQuery("[value='"+value+"']").prop('selected', false); 
                             }                       
                         });
                         if(counterAll==counterSelected){
                             jQuery('.global-user-select-wrapper-section li.multiselect-item.multiselect-all input').prop('checked',true);
                             jQuery('.global-user-select-wrapper-section li.multiselect-item.multiselect-all input').prop('selected',true);
                         }else{
                             jQuery('.global-user-select-wrapper-section li.multiselect-item.multiselect-all input').prop('checked',false);
                             jQuery('.global-user-select-wrapper-section li.multiselect-item.multiselect-all input').prop('selected',false);
                         }
                         if(globalClient.indexOf(';') != -1){
                             jQuery('.global-user-select-wrapper-section button.multiselect span').text('Multi');
                         }else{
                             if(jQuery("[client-id='"+globalClient+"']").attr('alt')!=null){
                                 jQuery('.global-user-select-wrapper-section button.multiselect span').text(jQuery("[client-id='"+globalClient+"']").attr('alt'));
                             }else{
                                 jQuery('.global-user-select-wrapper-section button.multiselect span').text(jQuery("[client-id='"+globalClient+"']").text());
                             }
                             
                         }
                     }       
                 }else if(globalClient==''){
                     var optionValues = [];
                     var options = jQuery('select[id$="site-search:globalClient"] option');              
                     if(options!=null){                      
                         jQuery.each(options,function (index, value) {
                             optionValues.push(jQuery(this).val());  
                         });
                         jQuery.each(optionValues,function (index, value) {                                                      
                             jQuery("[value='"+value+"']").prop('checked', false);
                             jQuery("[value='"+value+"']").prop('selected', false);                                                     
                         });
                         jQuery('.global-user-select-wrapper-section button.multiselect span').text('Select client');
                     }  
                 } 
            } 
            /*Added for Global Client End */                               
            jQuery('.from-btn').click( function(){
                var checked = jQuery('select[id$="site-search:globalClient"]').val();
                var allselectedClients='';               
                if(checked!=null){
                    jQuery.each(checked,function (index, value) {                       
                        if(index=='0'){                     
                            allselectedClients = value; 
                        }else{                      
                            allselectedClients = allselectedClients + ';' + value;
                        }                                           
                    });                      
                }
                fetchselectedClients(allselectedClients);                                                                                
            });                             
            
        });
        
        function resetClientFields(){
            var clientFilters = jQuery('.claims-filters-container .client select option');
            var clientValues = [];
            if(clientFilters!=null){
                jQuery.each(clientFilters,function (index, value) {
                    clientValues.push(jQuery(this).val());  
                });
                jQuery.each(clientValues,function (index, value) {                                                       
                     jQuery("[value='"+value+"']").prop('checked', false);
                     jQuery("[value='"+value+"']").prop('selected', false);                                                     
                });
                jQuery('.claims-filters-container .client .btn-group button').text('');
                jQuery('.claims-filters-container .client .btn-group button').attr('title','');
            }
        }  
        
        function limitText(limitField,limitNum) {
            if (limitField.value.length >= limitNum) {
                limitField.value = limitField.value.substring(0, limitNum);
            }            
        }                   
   </script>
   <apex:outputPanel id="filterScript">
   <script>
    jQuery('.gard-contact.claim-tabs-section .multiselect').multiselect({
        includeSelectAllOption: true,
        nonSelectedText: '',
        selectAllText: '<span>Check all</span>',
        enableFiltering: true,
        disableIfEmpty: true,
        filterBehavior: 'text',
        enableCaseInsensitiveFiltering: true,
        label: function(element) {
            var optionStr = jQuery(element).text();
            optionStr = jQuery.trim(optionStr);
            if (jQuery(element).parents('.request-forms').length > 0) {
                if (optionStr.length > 25) {
                    return '<span class="select-options" alt="' + optionStr + '">' + optionStr.substring(0, 24) + '...' + '</span>';
                }
                else {
                    return '<span class="select-options">' + optionStr + '</span>';
                }
            }
            if (jQuery(element).parents('.claim-details-document-type-filter').length > 0) {
                if (optionStr.length > 25) {
                    return '<span class="select-options" alt="' + optionStr + '">' + optionStr.substring(0, 23) + '...' + '</span>';
                }
                else {
                    return '<span class="select-options">' + optionStr + '</span>';
                }
            }
            else {
                if (optionStr.length > 19) {
                    return '<span class="select-options" alt="' + optionStr + '">' + optionStr.substring(0, 18) + '...' + '</span>';
                }
                else {
                    return '<span class="select-options">' + optionStr + '</span>';
                }
            }
        },
        buttonText: function(options, select) {
            if (options.length == 0) {
                if (select.parent().parent().hasClass('global-user-select-wrapper-section')) {
                    return ' <span>Select client</span>';
                }
                else {
                    return ' <b class="caret"></b>';
                }
            }
            else {
                if (options.length == 1) {
                    var labels = [];
                    options.each(function() {
                        if (jQuery(this).attr('label') !== undefined) {
                            labels.push(jQuery(this).attr('label'));
                        }
                        else {
                            var btnstr = jQuery(this).html();
                            if (select.parent().parent().hasClass('claim-details-document-type-filter')) {
                                if (btnstr.length > 28) {
                                    labels.push(btnstr.substring(0, 26) + '...');
                                }
                                else {
                                    labels.push(btnstr);
                                }
                            }
                            else {
                                if (btnstr.length > 18) {
                                    labels.push(btnstr.substring(0, 18) + '...');
                                }
                                else {
                                    labels.push(btnstr);
                                }
                            }
                        }
                    });
                    return '<span>' + labels + '</span>';
                }
                else {
                    if (options.length > 1) {
                        /* return '<span>' + options.length + ' ' + this.nSelectedText + '</span> <b class="caret"></b>'; */
                        return '<span>Multi</span> <b class="caret"></b>';
                    }
                }
            }
        }
    });
    /* new multiselect end */
    /* Default search by any word selection for the pick-list search option */
    //var incrementer = 1;
    jQuery('.claim-filter-sections .search-by-option-container').each( function(){
                    var searchOptions = '<span class="search-by-icon-button selectpicker-long-option" alt="Search by"><span class="search-by-pointer"></span><div class="search-by-option"><div class="search-by-text">Search by<span class="close-search-by"></span></div><div class="search-options"><input class="any-word" id="search-by-any-word' + incrementer + '" type="radio" value="0" name="search-option' + incrementer + '" checked><label for="search-by-any-word' + incrementer + '">Any word</label></div><div class="search-options"><input class="exact-phrase" id="search-by-exact-phrase' + incrementer + '" type="radio" value="1" name="search-option' + incrementer + '"><label for="search-by-exact-phrase' + incrementer + '">Exact phrase</label></div></div></span>';
                    jQuery(this).html(searchOptions);
                    incrementer++;
    });
    /* Default search by any word selection for the pick-list search option */

    
    /* Controls the opening/closing feature for the search by popup. */
    jQuery('.claim-filter-sections .search-by-icon-button').click( function(){
                    jQuery(this).children().show();
    });
    var searchByElement = jQuery('.claim-filter-sections .search-by-icon-button');
    jQuery(document).bind('mouseup', function (e){
                    if (searchByElement.has(e.target).length === 0) {
                                    jQuery(searchByElement).children().hide();
                    }
    });
    /* Controls the opening/closing feature for the search by popup. */

    /* Controls the search by option popup for the single pick-list */
    jQuery('.claim-filter-sections .bs-searchbox').each( function(){
                    var searchOptions = '<span class="search-by-icon-button selectpicker-long-option" alt="Search by"><span class="search-by-pointer"></span><div class="search-by-option"><div class="search-by-text">Search by<span class="close-search-by"></span></div><div class="search-options"><input class="any-word" id="search-by-any-word' + incrementer + '" type="radio" value="0" name="search-option' + incrementer + '" checked><label for="search-by-any-word' + incrementer + '">Any word</label></div><div class="search-options"><input class="exact-phrase" id="search-by-exact-phrase' + incrementer + '" type="radio" value="1" name="search-option' + incrementer + '"><label for="search-by-exact-phrase' + incrementer + '">Exact phrase</label></div></div></span>';
                    jQuery(this).append(searchOptions);
                    incrementer++;
    });
    jQuery('.claim-filter-sections .bs-searchbox .search-by-icon-button').click( function(e){
                    e.stopPropagation();
                    jQuery(this).children().show();
    });
    var searchByElementSingle = jQuery('.claim-filter-sections.client .bs-searchbox .search-by-icon-button');
    jQuery(document).bind('mousedown', function (e){
                    if (searchByElementSingle.has(e.target).length === 0) {
                                    jQuery(searchByElementSingle).children().hide();
                    }
    });                                  
     jQuery(".select-wrapper .btn-group ul.multiselect-container, .dropdown-menu.open ul").mCustomScrollbar({
        mouseWheelPixels: 20,
        scrollEasing: "linear",
        scrollInertia: 0
    });

    /* Stop multi-select dropdown closing event clicking on the custom scroll bar */
    jQuery('.mCSB_draggerContainer').click( function(e){
        e.stopPropagation();
    });
       var onlySharedClientNames = '{!shareClientName}';
       var thisOption;//listOptionObject
       var optionTxt;//text of each listOptionObject
       var txtLmt;//end Index
       /* added for shared client style in client dropdown start */        
       jQuery('.tab-open-claim-section .claim-filter-sections.client .checkbox span.select-options').each(function(){
           thisOption = jQuery(this);
           optionTxt = thisOption.text();
           txtLmt = (optionTxt.indexOf(' .'));
           txtLmt = (txtLmt > -1) ? txtLmt : optionTxt.indexOf('...');
           if(txtLmt > -1){
               if(onlySharedClientNames.indexOf(optionTxt.substring(0,txtLmt).trim()) > -1){
                   thisOption.addClass('share-class');
               }
           }
           //if(onlySharedClientNames.indexOf(jQuery(this).attr('alt')) >=0 || onlySharedClientNames.indexOf(jQuery(this).text().trim()) >=0){jQuery(this).addClass('share-class');}      
       });  
       /*Older Code replaced by Pulkit
        jQuery('.tab-open-claim-section .claim-filter-sections.client .checkbox span.select-options').each(function(){      
        var shid = '{!shareClientName}';        
        console.log('sharedClientName:'+shid);      
        if(shid.indexOf(jQuery(this).attr('alt')) >=0 || shid.indexOf(jQuery(this).text().trim()) >=0 ){jQuery(this).addClass('share-class');}      
        });     
    	*/
    /* added for shared client style in client dropdown end */
   </script>
   </apex:outputPanel> 
</apex:page>