<apex:page standardStylesheets="false" controller="MyEventsCtrl" action="{!viewData}" sidebar="false" showHeader="false" applyBodyTag="false" applyHtmlTag="false">
    <meta http-equiv="content-type" content="application/vnd.ms-excel; charset=UTF-8"/>
    <apex:includeScript value="{!$Resource.GoogleAnalytics}"/>
    
    <style type="text/css">
        @media print{
        .header-container,.breadcrumbs,.tab-button-section,#footer,
        .portfolio-reports-filter-section,.reportLink,.claim-print-export-holder,
        .copy-right-container,{display:none;}
        .reportDataBlock{
        display:block;
        }  
        .tab-details-section{
        border-top: 1px solid #FFF;
        }
        }
        .tab-table-wrapper{
        display:block;
        }
        .form-btn{
        background: none repeat scroll 0 0 #FFFFFF;
        border: 1px solid #00B6DD;
        border-radius: 4px;
        color: #003f5f;
        font-family: AvenirMedium,Arial,Helvetica,sans-serif;
        /*margin-top: 39px;*/
        padding: 8px 12px 6px 13px;
        text-align: center;
        }
        .portfolio-reports-filters-container .select-wrapper .dropdown-toggle.selectpicker {
        width: 196px !important;
        margin-left: -3px;
        margin-right: 52px;
        }
        .portfolio-reports-filter-submit.report-filters .form-btn.secondary-btn {
        margin: 25px 0 0 -2px !important;
        }
        .claim-filter-sections.agreement-type.report-filters {
        margin: 0 35px 0 0;
        width: 222px !important;
        } 
        .portfolio .portfolio-reports .select-wrapper .dropdown-toggle.selectpicker,
        .portfolio .portfolio-reports .claims-filters-container .select-wrapper,
        .portfolio .portfolio-reports .claim-filter-sections .select-wrapper {
        float: left;
        margin: 0 !important;
        width: 100% !important;
        }
        .portfolio .portfolio-reports .select-wrapper .dropdown-menu.open {
        max-width: 222px !important;
        min-width: 222px !important;
        }
        .portfolio .portfolio-reports .select-wrapper .dropdown-menu.open ul.dropdown-menu.selectpicker {   
        max-width: 220px !important;
        min-width: 220px !important;
        }
        <!-- newly added style -->
        .fluido-events-container th.event-name, td.event-name{
        width: 570px !important;
        max-width: 570px !important;
        min-width: 570px !important;
        line-height: 14px;
        
        }
        .fluido-events-container .global-print-dwnld {
        margin: -4px 27px 0px -3px;
        width: auto;
        }
        
        .fluido-events-container th.date-col,td.date-col{
        width : 150px !important;
        max-width: 150px !important;
        min-width: 150px !important;
        
        }
        .fluido-events-container th.event-status,td.event-status{
        width : 150px !important;
        max-width: 150px !important;
        min-width: 150px!important;
        line-height: 14px;
        }
        .fluido-events-container th.cover,td.cover{
        width : 150px !important;
        max-width: 150px !important;
        min-width: 150px !important;
        }
        
        .fluido-events-container th.additional-details,td.additional-details{
        width : 150px !important;
        max-width: 150px !important;
        min-width: 150px !important;
        }
        .fluido-events-container .table-showing-records{
        margin-left: 69%;
        
        }
        .fluido-events-container .claim-filter-sections.save-filter {
        
        position: relative;
        width: 20px !important;
        }
        /*.broker-view-page-container .fluido-events-container .claim-filter-sections.filter.clear {
        margin: -27px 0 0 1090px !important;
        }*/
        
        .fluido-events-container td {
        border: 1px solid #FFFFFF;
        border-right: 1px solid #FFFFFF;
        border-left: 0px solid #FFFFFF;
        cursor: normal;
        word-wrap: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
        
        }
        .fluido-events-container .claim-filter-sections, .claim-filter-sections.cover-group {
        
        width: 222px !important;
        }
        .fluido-events-container .select-wrapper .btn-group ul.multiselect-container {
        border: 1px solid #ddd8d0;
        border-radius: 0;
        box-shadow: -2px 3px 2px 0 rgba(73, 59, 38, 0.2);
        max-height: 273px;
        max-width: 175px;
        min-width: 175px;
        white-space: normal;
        width: 175px;
        word-wrap: break-word;
        }
        <!-- / newly added style -->
        .disable-tab-style
        {
        background: none repeat scroll 0 0 #adadad !important;
        color: #ededed !important;
        cursor: default;
        }
        .form-popup-options {
        float: left;
        height: 53px !important;
        width: 46px !important;
        }
        .form-field-scrol-container {
        /* border: 1px solid #dccbb1; */
        border-radius: 0 0 3px 3px;
        float: left;
        padding: 14px 0 10px 15px;
        position: relative;
        width: 100%;
        }
        /*.broker-view-page-container .filter {
        margin: -35px 0px 0 1016px !important;        
        }*/
        .clear-btn-styl,.filter {
        width:auto !important;
        }
        button.Zebra_DatePicker_Icon {
            left: 169px !important;
        }
        .pagination{
           float:right !important;
        }
        .record-details{
            margin-right: 17px !important;
        }
    </style>
    <script>
    
    js$=jQuery.noConflict();
    var noPopup = false;
    var commentBlock = 0;
    
    jQuery(document).ready(function(){
        var pageOld = jQuery('.page-no.pager-section > input[type="text"]').val();
        jQuery('#PgMyEvt input[type="text"]').bind('keypress', function (eInner){   
            if (eInner.keyCode == 13) {
                console.log('if key is pressed :::::::::::::::::::'); 
                enterPage   = jQuery('.page-no.pager-section > input[type="text"]').val();                       
                if(enterPage <= {!CEILING(noOfRecords/size)} && enterPage != 0){                             
                    jQuery('.overley, .loading').show();                         
                    changePageNumberCover();  
                    console.log('if key is pressed :::::::: changePageNumberCover called :::::::::::::::::::');                            
                    return false;
                }
                else{
                    jQuery('.page-no.pager-section > input[type="text"]').val('1');
                    console.log('if page is 1 :::::::::::::::::::'); 
                    changePageNumberCover();                             
                    return false;
                }
            }    
        }); 
    });
    </script>
   <apex:composition template="PageFrame">
        <apex:define name="content" >
            <div  class="content">
                <div class="content-wrapper"> 
                    <div class="page-title">My events</div>
                    <div class="tab-section-container">
                        <!--  <div class="report-new-claim-button">
<apex:outputLink value="/apex/ReportClaimsP2" styleClass="form-btn secondary-btn" >New claim</apex:outputLink> 
</div> -->
                        <div class="tab-button-section">
                            <div class="single-tab deselected"><apex:outputLink value="/apex/MyAccount?Id=tab1">My information</apex:outputLink></div>
                            <div class="single-tab deselected"><apex:outputLink value="/apex/MyAccount?Id=tab2">My subscriptions</apex:outputLink></div>
                            <!-- SF-3902 -->
                            <apex:outputPanel rendered="{!Administrator}">
        <!-- SF-4096 starts --> <div class="single-tab deselected"><apex:outputLink value="/apex/MyAccount?Id=tab3"><apex:outputText value="My company's contacts"/></apex:outputLink></div><!-- SF-4096 ends -->
                            </apex:outputPanel>
                            <apex:form >
                                <div class="single-tab selected"><apex:outputLink value="/apex/MyEvents">My events</apex:outputLink><div class="update-cover-wrapper-activated"></div></div>
                            </apex:form>
                        </div>
                        <div class="gard-contact claim-tabs-section fluido-events-container">
                            <div class="tab-detail-columns">
                                <div class="tab-reported-claim-section tab-table-wrapper tab-detail-container portfolio-reports" style="display:block;"><!-- tab-all-claim-section tab-table-wrapper tab-detail-container broker-view object portfolio-reports-->
                                    <div class="form-field-scrol-container free-content-area"> <!--free-report-area-->
                                        <apex:form id="theFrm">
                                            <apex:actionFunction action="{!ViewData}" name="sortingFunction" reRender="recordData,noData,dwnsection,paginationBlock" oncomplete="jQuery('.overley, .loading').hide();">
                                                <apex:param value="" name="column" assignTo="{!sortExpression}" ></apex:param>
                                            </apex:actionFunction>
                                            <apex:outputpanel id="test" style="display:none;"></apex:outputpanel>
                                            <apex:outputPanel id="filterSection">
                                                <div class="claims-filters-container">
                                                    <div class="claim-filter-sections object" style="width : 175px !important;">
                                                        <label for="filter-field">Event name</label> 
                                                        <div class="select-wrapper"> 
                                                            <apex:selectList size="1" value="{!selectedEvents}" multiselect="true" styleClass="filter-field multiselect" id="activity-client-id">                                              
                                                                <apex:selectOptions value="{!EventOptions}"/>
                                                            </apex:selectList> 
                                                        </div>
                                                    </div>
                                                    <div class="claim-filter-sections object" style="width : 175px !important;">
                                                        <label for="filter-field">Status</label>
                                                        <div class="select-wrapper">
                                                            <apex:selectList size="1" value="{!selectedEventStatus}" styleClass="filter-field multiselect" multiselect="true" id="year-id">                                              
                                                                <apex:selectoptions value="{!StatusOptions}" />
                                                            </apex:selectList>
                                                        </div>
                                                    </div>                                                  
                                                    <div class="claim-filter-sections filter" style="width:auto !important;">
                                                        <apex:commandButton value="Go" id="sbutton" action="{!viewData}" styleClass="tab-filter-btn" style="border: none;margin-top: 4px;margin-left: 4px;" reRender="recordData,dwnsection,noData,filterSection,filterScript,paginate,paginationBlock" onclick="jQuery('.overley, .loading').show();" oncomplete="jQuery('.overley, .loading').hide();"/>
                                                        
                                                    </div>
                                                    <div class="claim-filter-sections filter clear clear-btn-style" style="width:auto !important;">
                                                        <apex:commandButton value="Clear" action="{!clearOptions}" styleClass="form-btn doc-clear-filter-buton"/>                                                
                                                    </div>  
                                                    
                                                </div> 
                                            </apex:outputPanel>
                                            <!-- ********************** adding table starts ************************ -->
                                            <apex:outputPanel id="recordData">  
                                                <apex:outputPanel rendered="{!IF(Events.size>0,true,false)}">
                                                    <div class="client-list-section">
                                                        <table>
                                                            <thead>
                                                                <tr>
                                                                    <th class="event-name" onclick="jQuery('.overley,.loading').show();sortingFunction('fluidoconnect__Survey__r.fluidoconnect__Survey_Title_English__c');">
                                                                        <div class="th-container" style="padding:13px 0 11px 4px;">Event name
                                                                            <div class="item-sort">
                                                                                <div class="{!IF(sortExpression=='fluidoconnect__Survey__r.fluidoconnect__Survey_Title_English__c',IF(sortDirection='ASC','sort-desc','sort-asc'),'unsorted')}"></div>
                                                                            </div>
                                                                        </div> 
                                                                    </th>
                                                                    <th class="event-status" onclick="jQuery('.overley,.loading').show();sortingFunction('fluidoconnect__Status__c');">
                                                                        <div class="th-container" style="padding:12px 0 12px 4px;">Status
                                                                            <div class="item-sort">
                                                                                <div class="{!IF(sortExpression=='fluidoconnect__Status__c',IF(sortDirection='ASC','sort-desc','sort-asc'),'unsorted')}"></div>
                                                                            </div>
                                                                        </div>
                                                                    </th>
                                                                    <th class="additional-details" onclick="jQuery('.overley,.loading').show();sortingFunction('fluidoconnect__Survey__r.Event_Start_Date__c');">
                                                                        <div class="th-container" style="padding-bottom: 10px;">Date
                                                                            <div class="item-sort">
                                                                                <div class="{!IF(sortExpression=='fluidoconnect__Survey__r.Event_Start_Date__c',IF(sortDirection='ASC','sort-desc','sort-asc'),'unsorted')}"></div>
                                                                            </div>
                                                                        </div>
                                                                    </th>
                                                                    <th class="additional-details">
                                                                        <div class="th-container" style="padding-bottom: 10px;">Program link</div>
                                                                    </th>
                                                                    <th class="additional-details">
                                                                        <div class="th-container" style="padding:14px 0 11px 6px;line-height: 13px;">Registration link</div>
                                                                    </th> 
                                                                     
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <apex:variable value="{!0}" var="rowNum"/>
                                                                <apex:repeat var="evt" value="{!Events}">
                                                                    <tr class="{!IF(MOD(rowNum,2)==0,'odd','even')}">
                                                                        <td class="event-name" alt="{!HTMLENCODE(evt.eventName)}"><apex:outputText value="{!HTMLENCODE(evt.eventName)}" escape="false" /> </td>    <!--{!HTMLENCODE(act.UserName)}-->
                                                                        <td class="event-status"><apex:outputText value="{!evt.eventMemberStatus}" escape="false" /> </td>
                                                                        <td class="additional-details">
                                                                            <apex:outputText value="{0, date, dd'-'MM'-'yyyy}">
                                                                                <apex:param value="{!evt.eventDate}"></apex:param>
                                                                            </apex:outputText>
                                                                        </td>
                                                                        <td class="additional-details">
                                                                            <apex:outputLink value="{!HTMLENCODE(evt.programLink)}" target="_blank" rendered="{!if(AND(evt.programLink!= ' ',evt.programLink!= ''),true,false)}">Click here</apex:outputLink>
                                                                        </td>
                                                                        <td class="additional-details">
                                                                            <apex:outputLink value="{!HTMLENCODE(evt.eventLink)}" target="_blank" rendered="{!if(AND(evt.eventLink!= ' ',evt.eventLink!= ''),true,false)}">Click here</apex:outputLink></td>
                                                                    </tr>
                                                                    <apex:variable var="rowNum" value="{!rowNum + 1}"/> 
                                                                </apex:repeat>
                                                            </tbody> 
                                                        </table>
                                                    </div>                                   
                                                </apex:outputPanel>
                                            </apex:outputPanel>
                                            <!-- ############# If No data avilable start ################# -->
                                            <apex:outputPanel id="noData">
                                                <apex:outputPanel rendered="{!IF(Events.size<=0,true,false)}" >
                                                    <div class="no-data-found">
                                                        No records available.
                                                    </div>
                                                </apex:outputPanel> 
                                            </apex:outputPanel>
                                            <!-- ############ If No data avilable end ##################### -->
                                        
                                            <apex:outputPanel id="dwnsection">
                                                <apex:outputPanel rendered="{!IF(Events.size>0,true,false)}">
                                                    <div class="record-detail-dwnld-section" style="width:68px !important;">                               
                                                        <div class="global-print-dwnld">
                                                            <apex:commandButton value="" action="{!exportToExcel}" title="Export to Excel" styleClass="global-dwnld"  onclick="ga('send', 'event', 'Download', 'Excel', 'Covers');"/>
                                                            <apex:commandButton value="" title="Print" action="{!print}" styleClass="global-print"/>                                                 
                                                        </div>
                                                    </div>
                                                </apex:outputPanel>
                                            </apex:outputPanel>
                                            
                                            <!-- !!!!!!!!!!!!!!! Pagination section starts here !!!!!!!!!!!!!!!!!! -->
                                            <apex:outputPanel id="paginationBlock">
                                            <div class="pagination" style="display:{!IF(noOfRecords > size,'block;','none;')}; width:auto !important;">
                                                  <div class="record-details">Showing total records: <span class="record-starting">{!((pageNum-1)*10)+1}</span> – <span class="record-end">{!IF(pageNum*10<noOfRecords,pageNum*10,noOfRecords)}</span> of <span class="record-total">{!noOfRecords}</span></div>
                                                <div class="pagination-wrapper">
                                                    <!--<div class="item-per-page">Total: {!noOfRecords}</div>-->
                                                        <div class="pager"> 
                                                            <apex:commandButton action="{!first}" rendered="{!hasPrevious}" reRender="recordData,paginationBlock" status="refreshstatus_bottom" styleClass="pager-prev pager-section extream-first activated" onclick="jQuery('.overley, .loading').show();" oncomplete="jQuery('.overley, .loading').hide();"  />                                              
                                                            <apex:outputpanel styleClass="pager-prev pager-section extream-first deactivated" rendered="{!NOT(hasPrevious)}"/>
                                                                                        
                                                            <apex:commandButton action="{!previous}" rendered="{!hasPrevious}" reRender="recordData,paginationBlock" status="refreshstatus_bottom" styleClass="pager-prev pager-section activated" onclick="jQuery('.overley, .loading').show();" oncomplete="jQuery('.overley, .loading').hide();" />                                                                           
                                                            <apex:outputPanel styleClass="pager-prev pager-section deactivated" rendered="{!NOT(hasPrevious)}" style="margin-right: 2px;" />
                                                            <div class="page-no pager-section" id="PgMyEvt"><apex:inputText value="{!pageNum}" onchange="changePageNumberCover();"/></div>
                                                            <apex:actionFunction name="changePageNumberCover" action="{!setpageNumber}" reRender="recordData,paginationBlock" oncomplete="jQuery('.overley, .loading').hide();"/> 
                                                            <!--<div class="page-no pager-section">{!intStartrecord}</div> -->
                                                            <div class="page-of pager-of-section">of {!CEILING(noOfRecords/size)}</div>                    
                                                            <apex:commandButton action="{!next}" rendered="{!hasNext}" reRender="recordData,paginationBlock" status="refreshstatus_bottom" styleClass="pager-next pager-section activated" onclick="jQuery('.overley, .loading').show();" oncomplete="jQuery('.overley, .loading').hide();"/>    
                                                            <apex:outputPanel styleClass="pager-next pager-section deactivated" rendered="{!NOT(hasNext)}" />  
                                                            
                                                            <apex:commandButton action="{!last}" rendered="{!hasNext}" reRender="recordData,paginationBlock" status="refreshstatus_bottom" styleClass="pager-next pager-section extream-last activated" onclick="jQuery('.overley, .loading').show();" oncomplete="jQuery('.overley, .loading').hide();"  />   
                                                            <apex:outputPanel styleClass="pager-next pager-section extream-last deactivated" rendered="{!NOT(hasNext)}" />
                                                         </div>
                                                  </div>
                                           </div>
                                           <script>
                                           setTimeout(function(){
                                 /* Restricts the number, arrow, backspace and delete button for the pagination */
                                    jQuery('.page-no.pager-section > input[type="text"]').keypress( function(event){
                                        return validatePagination(event);
                                    });
                                /* Restricts the number, arrow, backspace and delete button for the pagination */
                                 
                                   
                                         jQuery('#PgMyEvt input[type="text"]').bind('keypress', function (eInner){  
                                          var enterPage = jQuery('.page-no.pager-section > input[type="text"]').val(); 
                                                    if (eInner.keyCode == 13) {                                                   
                                                   if(enterPage <= {!CEILING(noOfRecords/size)} && enterPage != 0){                                                        
                                                         jQuery('.overley, .loading').show();                         
                                                         changePageNumberCover();                             
                                                         return false;
                                                     }
                                                     else{
                                                         jQuery('.page-no.pager-section > input[type="text"]').val('1');
                                                         changePageNumberCover();
                                                         return false;
                                                     }  
                                                 }        
                                                        
                                          }); 
                                          
                                         jQuery('[id$="oncomplete"]').hide();
                                     },1);
                                           </script>
                                           </apex:outputPanel>
                                
                                            <!-- !!!!!!!!!!!!!!! Pagination section ends here !!!!!!!!!!!!!!!!!!!! -->
                                                    <!--/apex:outputPanel --> 
                                                    
                                                    <!-- ****************** adding table end ****************** -->
                                                    <!-- apex:actionFunction action="{!fetchSelectedClients}" name="fetchSelectedClients" immediate="true" rerender="recordData,noData,filterClient,filterScript" onComplete="resetClientFields();" >
                                                        <apex:param name="allSelectedClients" value="" assignTo="{!strSelected}" />
                                                    </apex:actionFunction>
                                                    <!-- /Free report area -->
                                                </apex:form>
                                            </div> 
                                        </div>                  
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div> 
                </apex:define>
            </apex:composition>
            <!-- script for filterscript -->            
            <script>
            function limitText(limitField,limitNum) {
                if (limitField.value.length >= limitNum) {
                    limitField.value = limitField.value.substring(0, limitNum);
                }            
            }                     
            </script>
            
            <apex:outputPanel id="filterScript">
                <script>
                
                                     
                jQuery('.gard-contact.claim-tabs-section .multiselect').multiselect({
                    includeSelectAllOption: true,
                    nonSelectedText: '',
                    selectAllText: '<span>Check all</span>',
                    enableFiltering: true,
                    disableIfEmpty: true,
                    filterBehavior: 'text',
                    enableCaseInsensitiveFiltering: true,
                    label: function(element) {
                        var optionStr = jQuery(element).text();
                        optionStr = jQuery.trim(optionStr);
                        if (jQuery(element).parents('.request-forms').length > 0) {
                            if (optionStr.length > 25) {
                                return '<span class="select-options" alt="' + optionStr + '">' + optionStr.substring(0, 24) + '...' + '</span>';
                            }
                            else {
                                return '<span class="select-options">' + optionStr + '</span>';
                            }
                        }
                        if (jQuery(element).parents('.claim-details-document-type-filter').length > 0) {
                            if (optionStr.length > 25) {
                                return '<span class="select-options" alt="' + optionStr + '">' + optionStr.substring(0, 23) + '...' + '</span>';
                            }
                            else {
                                return '<span class="select-options">' + optionStr + '</span>';
                            }
                        }
                        else {
                            if (optionStr.length > 19) {
                                return '<span class="select-options" alt="' + optionStr + '">' + optionStr.substring(0, 18) + '...' + '</span>';
                            }
                            else {
                                return '<span class="select-options">' + optionStr + '</span>';
                            }
                        }
                    },
                    buttonText: function(options, select) {
                        if (options.length == 0) {
                            if (select.parent().parent().hasClass('global-user-select-wrapper-section')) {
                                return ' <span>Select client</span>';
                            }
                            else {
                                return ' <b class="caret"></b>';
                            }
                        }
                        else {
                            if (options.length == 1) {
                                var labels = [];
                                options.each(function() {
                                    if (jQuery(this).attr('label') !== undefined) {
                                        labels.push(jQuery(this).attr('label'));
                                    }
                                    else {
                                        var btnstr = jQuery(this).html();
                                        if (select.parent().parent().hasClass('claim-details-document-type-filter')) {
                                            if (btnstr.length > 28) {
                                                labels.push(btnstr.substring(0, 26) + '...');
                                            }
                                            else {
                                                labels.push(btnstr);
                                            }
                                        }
                                        else {
                                            if (btnstr.length > 18) {
                                                labels.push(btnstr.substring(0, 18) + '...');
                                            }
                                            else {
                                                labels.push(btnstr);
                                            }
                                        }
                                    }
                                });
                                return '<span>' + labels + '</span>';
                            }
                            else {
                                if (options.length > 1) {
                                    /* return '<span>' + options.length + ' ' + this.nSelectedText + '</span> <b class="caret"></b>'; */
                                    return '<span>Multi</span> <b class="caret"></b>';
                                }
                            }
                        }
                    }
                });
                /* new multiselect end */
                /* Default search by any word selection for the pick-list search option */
                //var incrementer = 1;
                jQuery('.claim-filter-sections .search-by-option-container').each( function(){
                    var searchOptions = '<span class="search-by-icon-button selectpicker-long-option" alt="Search by"><span class="search-by-pointer"></span><div class="search-by-option"><div class="search-by-text">Search by<span class="close-search-by"></span></div><div class="search-options"><input class="any-word" id="search-by-any-word' + incrementer + '" type="radio" value="0" name="search-option' + incrementer + '" checked><label for="search-by-any-word' + incrementer + '">Any word</label></div><div class="search-options"><input class="exact-phrase" id="search-by-exact-phrase' + incrementer + '" type="radio" value="1" name="search-option' + incrementer + '"><label for="search-by-exact-phrase' + incrementer + '">Exact phrase</label></div></div></span>';
                    jQuery(this).html(searchOptions);
                    incrementer++;
                });
                /* Default search by any word selection for the pick-list search option */
                
                
                /* Controls the opening/closing feature for the search by popup. */
                jQuery('.claim-filter-sections .search-by-icon-button').click( function(){
                    jQuery(this).children().show();
                });
                var searchByElement = jQuery('.claim-filter-sections .search-by-icon-button');
                jQuery(document).bind('mouseup', function (e){
                    if (searchByElement.has(e.target).length === 0) {
                        jQuery(searchByElement).children().hide();
                    }
                });
                /* Controls the opening/closing feature for the search by popup. */
                
                /* Controls the search by option popup for the single pick-list */
                jQuery('.claim-filter-sections .bs-searchbox').each( function(){
                    var searchOptions = '<span class="search-by-icon-button selectpicker-long-option" alt="Search by"><span class="search-by-pointer"></span><div class="search-by-option"><div class="search-by-text">Search by<span class="close-search-by"></span></div><div class="search-options"><input class="any-word" id="search-by-any-word' + incrementer + '" type="radio" value="0" name="search-option' + incrementer + '" checked><label for="search-by-any-word' + incrementer + '">Any word</label></div><div class="search-options"><input class="exact-phrase" id="search-by-exact-phrase' + incrementer + '" type="radio" value="1" name="search-option' + incrementer + '"><label for="search-by-exact-phrase' + incrementer + '">Exact phrase</label></div></div></span>';
                    jQuery(this).append(searchOptions);
                    incrementer++;
                });
                jQuery('.claim-filter-sections .bs-searchbox .search-by-icon-button').click( function(e){
                    e.stopPropagation();
                    jQuery(this).children().show();
                });
                var searchByElementSingle = jQuery('.claim-filter-sections.client .bs-searchbox .search-by-icon-button');
                jQuery(document).bind('mousedown', function (e){
                    if (searchByElementSingle.has(e.target).length === 0) {
                        jQuery(searchByElementSingle).children().hide();
                    }
                });                                  
                jQuery(".select-wrapper .btn-group ul.multiselect-container, .dropdown-menu.open ul").mCustomScrollbar({
                    mouseWheelPixels: 20,
                    scrollEasing: "linear",
                    scrollInertia: 0
                });
                /* Stop multi-select dropdown closing event clicking on the custom scroll bar */
                jQuery('.mCSB_draggerContainer').click( function(e){
                    e.stopPropagation();
                });
                /* script for single picklist */
                /* Controls the search by option popup for the single pick-list */  
                jQuery('.portfolio-reports .client-picklist .selectpicker').selectpicker({
                    noneResultsText: 'No match found!',
                    liveSearch: true,
                    searchAccentInsensitive: false
                });  
                /* Deselect any selection while choosong any picklist */
                jQuery('.portfolio-reports .client-picklist .select-wrapper .dropdown-toggle.selectpicker').click( function(){
                    document.getSelection().removeAllRanges();
                });
                /* Deselect any selection while choosong any picklist */                                        
                
                /* Controls the opening/closing feature for the search by popup. */
                jQuery('.portfolio-reports .client-picklist .search-by-icon-button').click( function(){
                    jQuery(this).children().show();
                });
                var searchByElement = jQuery('.portfolio-reports .client-picklist .search-by-icon-button');
                jQuery(document).bind('mouseup', function (e){
                    if (searchByElement.has(e.target).length === 0) {
                        jQuery(searchByElement).children().hide();
                    }
                });
                /* Controls the opening/closing feature for the search by popup. */
                
                /* Default search by any word selection for the pick-list search option */
                //var incrementer = 1;
                jQuery('.portfolio-reports .client-picklist .search-by-option-container').each( function(){
                    var searchOptions = '<span class="search-by-icon-button selectpicker-long-option" alt="Search by"><span class="search-by-pointer"></span><div class="search-by-option"><div class="search-by-text">Search by<span class="close-search-by"></span></div><div class="search-options"><input class="any-word" id="search-by-any-word' + incrementer + '" type="radio" value="0" name="search-option' + incrementer + '" checked><label for="search-by-any-word' + incrementer + '">Any word</label></div><div class="search-options"><input class="exact-phrase" id="search-by-exact-phrase' + incrementer + '" type="radio" value="1" name="search-option' + incrementer + '"><label for="search-by-exact-phrase' + incrementer + '">Exact phrase</label></div></div></span>';
                    jQuery(this).html(searchOptions);
                    incrementer++;
                });
                jQuery('.portfolio-reports .client-picklist .bs-searchbox').each( function(){
                    var searchOptions = '<span class="search-by-icon-button selectpicker-long-option" alt="Search by"><span class="search-by-pointer"></span><div class="search-by-option"><div class="search-by-text">Search by<span class="close-search-by"></span></div><div class="search-options"><input class="any-word" id="search-by-any-word' + incrementer + '" type="radio" value="0" name="search-option' + incrementer + '" checked><label for="search-by-any-word' + incrementer + '">Any word</label></div><div class="search-options"><input class="exact-phrase" id="search-by-exact-phrase' + incrementer + '" type="radio" value="1" name="search-option' + incrementer + '"><label for="search-by-exact-phrase' + incrementer + '">Exact phrase</label></div></div></span>';
                    jQuery(this).append(searchOptions);
                    incrementer++;
                });
                
                jQuery('.portfolio-reports .client-picklist .bs-searchbox .search-by-icon-button').click( function(e){
                    e.stopPropagation();
                    jQuery(this).children().show();
                });
                var searchByElementSingle = jQuery('.portfolio-reports .client-picklist .bs-searchbox .search-by-icon-button');
                jQuery(document).bind('mousedown', function (e){
                    if (searchByElementSingle.has(e.target).length === 0) {
                        jQuery(searchByElementSingle).children().hide();
                    }
                });                                  
                jQuery(".portfolio-reports .client-picklist .dropdown-menu.open ul").mCustomScrollbar({
                    mouseWheelPixels: 20,
                    autoHideScrollbar: true,
                    scrollEasing: "linear",
                    scrollInertia: 0
                }); 
                
                /* Stop multi-select dropdown closing event clicking on the custom scroll bar */
                jQuery('.mCSB_draggerContainer').click( function(e){
                    e.stopPropagation();
                });
                
                /* for substring and tooltip of single select */
                jQuery('.portfolio-reports .client-picklist .dropdown-menu .selectpicker li a').each( function(){
                    var formsName = jQuery.trim(jQuery(this).text());
                    if (formsName.length > 16) {
                        jQuery(this).addClass('selectpicker-long-option');
                        jQuery(this).attr('alt', formsName);
                        jQuery(this).html(formsName.substring(0, 15) + '&hellip;');
                    }
                    else {
                        jQuery(this).html(formsName);
                    }
                });    
                /* Provides the tooltip using jquery UI tooltip plugin */
                jQuery('td, .select-wrapper .btn-group ul.multiselect-container span, .dropdown-menu.open ul.dropdown-menu.selectpicker li a.selectpicker-long-option').mouseenter( function(){
                    jQuery('.custom-tooltip').remove();
                    if(jQuery(this).attr('alt')) {
                        jQuery('body').append('<span class="custom-tooltip">' + jQuery(this).attr('alt') + '</span>');
                    }
                });
                jQuery('td, .select-wrapper .btn-group ul.multiselect-container span, .dropdown-menu.open ul.dropdown-menu.selectpicker li a').mouseleave( function(){
                    jQuery('.custom-tooltip').remove();
                }); 
                </script>
            </apex:outputPanel>
            <!-- end of script for filterscript-->  
        </apex:page>