<apex:page standardController="PEME_Invoice__c">
<style>
   
    .ribbon-container {
        width : 100%;
        height : 85px;
        /* padding : 5px; */
        position: absolute;
        float: left; 
        /* left: 12%; */
        left: 23%;       
        margin-top:-39px;
    }
    .sub-section-ribbon {
        float: left;
        width: 250px;
        height : 75px;
        position: relative;
    /* border: 1px solid; */
        margin-right: -30px;
        color: #FFF;
        padding-top: 25px;
        border:none !important;
    }
    .text-section {
        color: #FFF;
    /* font-size: 16px; */
        font-family: arial;
        max-width: 85px;
        width: 85px;
        margin-top: -33px;
        margin-left: -1px;
        font-size: 13px;
    }
    .active-state {
        background: transparent url("{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/blue-arrow.png')}") no-repeat scroll 0 0;
    }
    .reject-state {
        background: transparent url("{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/red-arrow.png')}") no-repeat scroll 0 0;
    }
    .deactive-state {
        background: transparent url("{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/grey-arrow.png')}") no-repeat scroll 0 0;
    }
    .approved-state {
        background: transparent url("{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/green-arrow.png')}") no-repeat scroll 0 0;
    }
</style>
<!-- apex:variable value="{!CONTAINS($CurrentPage.URL, 'gard--uat.lightning.force.com')}" var="isLightningMode"/ -->
<apex:variable value="{!CONTAINS($CurrentPage.URL, 'lightning.force.com')}" var="isLightningMode"/> 
 <!-- apex:outputPanel rendered="{!$User.UIThemeDisplayed == 'Theme3'}" -->
 <apex:outputpanel rendered="{!isLightningMode = false}"> 
<br/>
  <div align="center" class="ribbon-container">
  <apex:outputPanel rendered="{!PEME_Invoice__c.Status__c == 'Draft'}">
      <div class="sub-section-ribbon"><!--  active-state -->
          <span>
          <apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/blue-arrow.png')}" height="50" width="143px" alt="active state" />
          </span>
          <div class="text-section" style="margin-top: -32px !important;">Draft</div>
      </div>
      <div class="sub-section-ribbon" style="margin-left: -92px !important;"><!-- deactive-state -->
          <span>
          <apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/grey-arrow.png')}" height="50" width="143px" alt="deactive state" />
          </span>
          <div class="text-section" style="margin-top:-39px !important;">Under Approval</div>
      </div>
      <div class="sub-section-ribbon" style="margin-left: -92px !important;"><!-- deactive-state -->
           <span>
            <apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/grey-arrow.png')}" height="50" width="143px" alt="deactive state" />
          </span>
          <div class="text-section" style="-39px;">Approved /<br/>Rejected</div>
      </div>
  </apex:outputPanel>
  <apex:outputPanel rendered="{!PEME_Invoice__c.Status__c == 'Under Approval'}">
      <div class="sub-section-ribbon"><!-- deactive-state -->
           <span>
          <apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/grey-arrow.png')}" height="50" width="143px" alt="deactive state" />
          </span>
          <div class="text-section" style="margin-top:-32px !important;">Draft</div>
      </div>
      <div class="sub-section-ribbon" style="margin-left: -92px !important;"><!-- activate state -->
           <span>
          <apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/blue-arrow.png')}" height="50" width="143px" alt="active state" />
          </span>
          <div class="text-section" style="margin-top:-39px !important;">Under Approval</div>
      </div>
      <div class="sub-section-ribbon" style="margin-left: -92px !important;"><!-- deactive-state -->
           <span>
          <apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/grey-arrow.png')}" height="50" width="143px" alt="deactive state" />
          </span>
          <div class="text-section" style="margin-top:-39px;">Approved /<br/>Rejected</div>
      </div>
  </apex:outputPanel>
  <apex:outputPanel rendered="{!PEME_Invoice__c.Status__c == 'Approved'}">
      <div class="sub-section-ribbon"><!-- deactive-state -->
           <span>
          <apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/grey-arrow.png')}" height="50" width="143px" alt="deactive state" />
          </span>
          <div class="text-section" style="margin-top:-32px !important;">Draft</div>
      </div>
      <div class="sub-section-ribbon" style="margin-left: -92px !important;"><!-- deactive-state -->
           <span>
          <apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/grey-arrow.png')}" height="50" width="143px" alt="deactive state" />
          </span>  
          <div class="text-section" style="margin-top:-39px !important;">Under Approval</div>
      </div>
      <div class="sub-section-ribbon" style="margin-left: -92px !important;"><!-- approved-state -->
           <span>
          <apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/green-arrow.png')}" height="50" width="143px" alt="approved state" />
          </span> 
          <div class="text-section" style="margin-top: -32px !important;">Approved</div>
      </div>
  </apex:outputPanel>
  <apex:outputPanel rendered="{!PEME_Invoice__c.Status__c == 'Rejected'}">
      <div class="sub-section-ribbon"><!-- deactive-state -->
           <span>
          <apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/grey-arrow.png')}" height="50" width="143px" alt="deactive state" />
          </span>
          <div class="text-section" style="margin-top:-32px !important;">Draft</div>
      </div>
      <div class="sub-section-ribbon" style="margin-left: -92px !important;"><!-- deactive-state -->
           <span>
          <apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/grey-arrow.png')}" height="50" width="143px" alt="deactive state" />
          </span>
          <div class="text-section" style="margin-top:-39px !important;">Under Approval</div>
      </div>
      <div class="sub-section-ribbon" style="margin-left: -92px !important;"><!-- reject-state"  -->
          <span>
          <apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/red-arrow.png')}" height="50" width="143px" alt="reject state" />
          </span>
          <div class="text-section">Rejected</div>
      </div>
  </apex:outputPanel>
  <apex:outputPanel rendered="{!PEME_Invoice__c.Status__c == 'Partially Approved'}">
      <div class="sub-section-ribbon"><!-- deactive-state -->
           <span>
          <apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/grey-arrow.png')}" height="50" width="143px" alt="deactive state" />
          </span>
          <div class="text-section" style="margin-top: -32px !important;">Draft</div>
      </div>
      <div class="sub-section-ribbon" style="margin-left: -92px !important;"><!-- deactive-state -->
           <span>
          <apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/grey-arrow.png')}" height="50" width="143px" alt="deactive state" />
          </span>
          <div class="text-section" style="margin-top:-39px !important;">Under Approval</div>
      </div>
      <div class="sub-section-ribbon" style="margin-left: -92px !important;"><!--  active-state -->
           <span>
          <apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/blue-arrow.png')}" height="50" width="143px" alt="active state" />
          </span>
          <div class="text-section" style="margin-top:-39px !important;">Partially<br/>Approved</div>
      </div>
  </apex:outputPanel>
  <apex:outputPanel rendered="{!PEME_Invoice__c.Status__c == ''}">
      <div class="sub-section-ribbon"><!-- deactive-state -->
           <span>
          <apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/grey-arrow.png')}" height="50" width="143px" alt="deactive state" />
          </span>
          <div class="text-section" style="margin-top: -32px !important;">Draft</div>
      </div>
      <div class="sub-section-ribbon" style="margin-left: -92px !important;"><!-- deactive-state -->
           <span>
          <apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/grey-arrow.png')}" height="50" width="143px" alt="deactive state" />
          </span>
          <div class="text-section" style="margin-top:-39px !important;">Under Approval</div>
      </div>
      <div class="sub-section-ribbon" style="margin-left: -92px !important;"><!-- deactive-state -->
           <span>
          <apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/grey-arrow.png')}" height="50" width="143px" alt="deactive state" />
          </span> 
          <div class="text-section" style="margin-top: -39px !important;">Approved /<br/>Rejected</div>
      </div>
  </apex:outputPanel>
   </div>
   <br/>
   </apex:outputpanel>
</apex:page>