<apex:page controller="PEMEClientInvoiceDetailsCtrl" standardStylesheets="false" sidebar="false" showHeader="false" action="{!loadData}">
<style>
/* CSS for the PEME pages */
.normal-content-text {
    float: left;
    padding: 0 30px;
}
.peme-invitation-letter {
    float: right;
    margin: -2px 0 0;
}
.peme-invitation-letter > a {
    background: transparent url("{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/large-download-icon.png')}") no-repeat scroll 0 0;
    float: left;
    height: 30px;
    padding: 6px 0 0 40px;
}
.peme-invitation-letter > a:hover {
    background: transparent url("{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/large-download-icon.png')}") no-repeat scroll 0 -40px;
}
.enrollement-form-sections {
    background: rgba(0, 0, 0, 0) url("../images/claim-details-section-separator.png") repeat-x scroll left bottom;
    float: left;
    padding: 20px 10px 20px 0;
    width: 98.5%;
}
.enrollement-form-sections:last-child {
    background: none repeat-x scroll left bottom;
    padding: 20px 10px 0px 0;
}
.peme-new-enrollement-form .report-new-claim-field-section {
    margin: 0 35px 0 0;
}
.peme-new-enrollement-form .user-info-details.prime-user-contact {
    margin: 15px 0 10px;
}
.left-right-wrapper {
    float: left;
    margin-bottom: 10px;
    width: 100%;
}
.multi-sectional-section .multi-sectional-section-each {
    background: rgba(0, 0, 0, 0) url("../images/claim-details-section-separator.png") repeat-x scroll left bottom;
    float: left;
    padding: 0 0 20px;
    position: relative;
    width: 1050px;
}
.multi-sectional-section .multi-sectional-section-each:last-child {
    background: none repeat-x scroll left bottom;
    padding: 0 0 0px;
}
.delete-enrollement-multi-each {
    background: transparent url("../images/restore-icon.png") no-repeat scroll 0 -50px;
    cursor: pointer;
    height: 20px;
    position: absolute;
    right: 0;
    top: 13px;
    width: 20px;
}
.add-another-button {
    float: left;
    margin: 15px 0 0;
    width: 100%;
}
.peme-new-enrollement-form .section-titles.obj-det-title {
    left: -82px;
}
body p {
  line-height: 18px;
  margin: 0 0 10px 0;
}
.my-addressbook-container .accordion-container-wrapper {
  overflow: hidden;
}
.form-field-scrol-container.free-content-area {
  padding: 9px 3px 0;
}
/* CSS for the PEME pages */
.peme-clinic-invoice-detail-container .multi-sectional-section-each,
.peme-new-inv-review-page .multi-sectional-section-each {
    background: none repeat-x scroll left bottom;
    float: left;
    padding: 0 0 20px;
    position: relative;
    width: 100%;
}
.peme-clinic-invoice-detail-container .multi-sectional-section-each label,
.peme-clinic-client-details-page .multi-sectional-section-each label {
    font: 13px AvenirHeavy;
}
.peme-clinic-invoice-detail-container .peme-review-container {
    margin-top: 0px;
}
.peme-clinic-invoice-detail-container .new-claim-right-section {
    margin: 0 !important;
}
.peme-clinic-exam-detail-container .claims-filters-container .select-wrapper {
    width: 222px;
}
.peme-clinic-exam-detail-container .select-wrapper .btn-group ul.multiselect-container {
    max-width: 222px;
    min-width: 222px;
}
.peme-clinic-exam-detail-container .client-list-section {
    width: 100%;
}
.peme-clinic-exam-detail-container th.clinic-exam-date,
.peme-clinic-exam-detail-container td.clinic-exam-date {
    max-width: 112px;
    min-width: 112px;
}
.peme-clinic-exam-detail-container th.clinic-exam-examinee,
.peme-clinic-exam-detail-container td.clinic-exam-examinee {
    max-width: 254px;
    min-width: 254px;
}
.peme-clinic-exam-detail-container th.clinic-exam-age,
.peme-clinic-exam-detail-container td.clinic-exam-age {
    max-width: 99px;
    min-width: 99px;
}
.peme-clinic-exam-detail-container th.clinic-exam-rank,
.peme-clinic-exam-detail-container td.clinic-exam-rank {
    max-width: 95px;
    min-width: 95px;
}
.peme-clinic-exam-detail-container th.clinic-exam-examination,
.peme-clinic-exam-detail-container td.clinic-exam-examination {
    max-width: 326px;
    min-width: 326px;
}
.peme-clinic-exam-detail-container th.clinic-exam-object,
.peme-clinic-exam-detail-container td.clinic-exam-object {
    max-width: 173px;
    min-width: 173px;
}
.peme-clinic-exam-detail-container th.clinic-exam-amnt,
.peme-clinic-exam-detail-container td.clinic-exam-amnt {
    max-width: 103px;
    min-width: 103px;
}
.peme-tabs .tab-grad-cont-section .pagination {
  float: right !important;
  margin: 10px 0px 0 0;
  position: relative;
  right: 0;
  width: auto;
}
</style>
<script>
  js$=jQuery.noConflict();
  jQuery(document).ready(function(){
   jQuery('#PgPEMEClientInvoice input[type="text"]').bind('keypress', function (eInner){   
                if (eInner.keyCode == 13) {   
                             jQuery('.overley, .loading').show();                         
                             changePageNumberCover();                             
                             return false;
                    }    
                    
      }); 
  });
 </script>
 <apex:outputPanel id="scriptSection">
<script>
jQuery('.peme-clinic-invoice-detail-container .multiselect').multiselect({
                                includeSelectAllOption: true,
                                nonSelectedText: '',
                                selectAllText: '<span>Check all</span>',
                                enableFiltering: true,
                                disableIfEmpty: true,
                                filterBehavior: 'text',
                                enableCaseInsensitiveFiltering: true,
                                label: function(element) {
                                                var optionStr = jQuery(element).text();
                                                optionStr = jQuery.trim(optionStr);
                                                if (jQuery(element).parents('.request-forms').length > 0) {
                                                                if (optionStr.length > 25) {
                                                                                return '<span class="select-options" alt="' + optionStr + '">' + optionStr.substring(0, 24) + '...' + '</span>';
                                                                }
                                                                else {
                                                                                return '<span class="select-options">' + optionStr + '</span>';
                                                                }
                                                }
                                                if (jQuery(element).parents('.claim-details-document-type-filter').length > 0) {
                                                                if (optionStr.length > 25) {
                                                                                return '<span class="select-options" alt="' + optionStr + '">' + optionStr.substring(0, 23) + '...' + '</span>';
                                                                }
                                                                else {
                                                                                return '<span class="select-options">' + optionStr + '</span>';
                                                                }
                                                }
                                                else {
                                                                if (optionStr.length > 19) {
                                                                                return '<span class="select-options" alt="' + optionStr + '">' + optionStr.substring(0, 18) + '...' + '</span>';
                                                                }
                                                                else {
                                                                                return '<span class="select-options">' + optionStr + '</span>';
                                                                }
                                                }
                                },
                                buttonText: function(options, select) {
                                                if (options.length == 0) {
                                                                if (select.parent().parent().hasClass('global-user-select-wrapper-section')) {
                                                                                return ' <span>Select client</span>';
                                                                }
                                                                else {
                                                                                return ' <b class="caret"></b>';
                                                                }
                                                }
                                                else {
                                                                if (options.length == 1) {
                                                                                var labels = [];
                                                                                options.each(function() {
                                                                                                if (jQuery(this).attr('label') !== undefined) {
                                                                                                                labels.push(jQuery(this).attr('label'));
                                                                                                }
                                                                                                else {
                                                                                                                var btnstr = jQuery(this).html();
                                                                                                                if (select.parent().parent().hasClass('claim-details-document-type-filter')) {
                                                                                                                                if (btnstr.length > 28) {
                                                                                                                                                labels.push(btnstr.substring(0, 26) + '...');
                                                                                                                                }
                                                                                                                                else {
                                                                                                                                                labels.push(btnstr);
                                                                                                                                }
                                                                                                                }
                                                                                                                else {
                                                                                                                                if (btnstr.length > 18) {
                                                                                                                                                labels.push(btnstr.substring(0, 18) + '...');
                                                                                                                                }
                                                                                                                                else {
                                                                                                                                                labels.push(btnstr);
                                                                                                                                }
                                                                                                                }
                                                                                                }
                                                                                });
                                                                                return '<span>' + labels + '</span>';
                                                                }
                                                                else {
                                                                                if (options.length > 1) {
                                                                                                /* return '<span>' + options.length + ' ' + this.nSelectedText + '</span> <b class="caret"></b>'; */
                                                                                                return '<span>Multi</span> <b class="caret"></b>';
                                                                                }
                                                                }
                                                }
                                }
                });           
                /* Multiselect custom dropdown for the header global drop down */

                /* jQuery multiselect popup's custom scroll bar */
                jQuery(".select-wrapper .btn-group ul.multiselect-container, .dropdown-menu.open ul").mCustomScrollbar({
                                mouseWheelPixels: 20,
                                scrollEasing: "linear",
                                scrollInertia: 0
                });
</script>
</apex:outputPanel>
<apex:composition template="PageFrame" >       
    <apex:define name="content" >
    <apex:form id="PEMEClientInvoices">
    <!-- Content section starts -->
            <div id="content" class="content">
                <div class="content-wrapper report-a-new-claim peme-about-page">
                    <div class="page-title">Clinic invoice details : {!objInvoice.Clinic_Invoice_Number__c}</div>

                    <div class="tab-section-container">
                        <div class="tab-button-section">
                            <div class="peme-clinic-invoice-details single-tab selected"><apex:outputLink value="/apex/PEMEClientInvoiceDetails?invoices={!selectedInvoice}">Invoice details</apex:outputLink><div class="update-cover-wrapper-activated"></div></div>
                            <div class="peme-clinic-cexam-details single-tab deselected"><apex:outputLink value="/apex/PEMEClientExamDetails?invoices={!selectedInvoice}">Examination details</apex:outputLink><div class="update-cover-wrapper-activated"></div></div>
                        </div>

                        <div class="tab-details-section gard-contact my-addressbook-container peme-tabs">
                            <div class="tab-detail-columns">
                                <!-- Invoice Section Starts -->
                                <div class="tab-grad-cont-section my-info-container-holder tab-detail-container peme-clinic-invoice-detail-container">
                                    <div class="form-field-scrol-container free-content-area">
                                        <div class="peme-review-container">
                                            <div class="uw-review-small-infos manning-section">
                                                <div class="multi-section-holder">
                                                    <div class="multi-sectional-section-each">
                                                        <div class="report-new-claim-field-section">
                                                            <div class="report-new-claim-field-section-left-panel">
                                                                <div class="report-new-claim-single-section new-claim-client">
                                                                    <label for="client-field">Invoice number:</label>
                                                                    <div class="claim-review-detail-text need-wrapped-text">{!objInvoice.Clinic_Invoice_Number__c}</div>
                                                                </div>
                                                            </div>
                                                            <div class="report-new-claim-field-section-right-panel">
                                                                <div class="report-new-claim-single-section new-claim-client">
                                                                    <label for="client-field">Invoice date:</label>
                                                                    <div class="claim-review-detail-text">
                                                                    <apex:outputText value="{0,date,dd-MM-yyyy}">
                                                                        <apex:param value="{!objInvoice.Invoice_Date__c}" />
                                                                    </apex:outputText>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="report-new-claim-field-section new-claim-right-section">
                                                            <div class="report-new-claim-field-section-left-panel">
                                                                <div class="report-new-claim-single-section new-claim-client">
                                                                    <label for="client-field">Member name:</label><!--SF-4282-->
                                                                    <div class="claim-review-detail-text">{!objInvoice.Client__r.Name}</div>
                                                                </div>
                                                            </div>
                                                            <div class="report-new-claim-field-section-right-panel">
                                                                <div class="report-new-claim-single-section new-claim-client">
                                                                    <label for="client-field">Manning agent:</label>
                                                                    <div class="claim-review-detail-text">{!objInvoice.Manning_agent__r.Client__r.Name}</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="multi-sectional-section-each">
                                                        <div class="report-new-claim-field-section">
                                                            <div class="report-new-claim-field-section-left-panel">
                                                                <div class="report-new-claim-single-section new-claim-client">
                                                                    <label for="client-field">Period covered - From:</label>
                                                                    <div class="claim-review-detail-text">
                                                                    <apex:outputText value="{0,date,dd-MM-yyyy}">
                                                                        <apex:param value="{!objInvoice.Period_Covered_From__c}" />
                                                                    </apex:outputText>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="report-new-claim-field-section-right-panel">
                                                                <div class="report-new-claim-single-section new-claim-client">
                                                                    <label for="client-field">Period covered - To:</label>
                                                                    <div class="claim-review-detail-text">
                                                                    <apex:outputText value="{0,date,dd-MM-yyyy}">
                                                                        <apex:param value="{!objInvoice.Period_Covered_To__c}" />
                                                                    </apex:outputText>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="report-new-claim-field-section new-claim-right-section">
                                                            <div class="report-new-claim-field-section-left-panel">
                                                                <div class="report-new-claim-single-section new-claim-client">
                                                                    <label for="client-field">Clinic:</label>
                                                                    <div class="claim-review-detail-text">{!objInvoice.Clinic__r.Name}</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="multi-sectional-section-each">
                                                        <div class="report-new-claim-field-section">
                                                            <div class="report-new-claim-field-section-left-panel">
                                                                <div class="report-new-claim-single-section new-claim-client">
                                                                    <label for="client-field">Gard PEME reference no:</label>
                                                                    <div class="claim-review-detail-text">{!objInvoice.PEME_reference_No__c}</div>
                                                                </div>
                                                            </div>
                                                            <div class="report-new-claim-field-section-right-panel">
                                                                <div class="report-new-claim-single-section new-claim-client">
                                                                    <label for="client-field">Object:</label>
                                                                    <div class="claim-review-detail-text">{!objInvoice.ObjectList__c}</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Invoice Section Ends -->
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Content section ends -->
            </apex:form>
    </apex:define>
</apex:composition>
<script>
  jQuery(document).ready(function(){
  jQuery('.peme-clinic-invoice-detail-container .multiselect').multiselect({
                                includeSelectAllOption: true,
                                nonSelectedText: '',
                                selectAllText: '<span>Check all</span>',
                                enableFiltering: true,
                                disableIfEmpty: true,
                                filterBehavior: 'text',
                                enableCaseInsensitiveFiltering: true,
                                label: function(element) {
                                                var optionStr = jQuery(element).text();
                                                optionStr = jQuery.trim(optionStr);
                                                if (jQuery(element).parents('.request-forms').length > 0) {
                                                                if (optionStr.length > 25) {
                                                                                return '<span class="select-options" alt="' + optionStr + '">' + optionStr.substring(0, 24) + '...' + '</span>';
                                                                }
                                                                else {
                                                                                return '<span class="select-options">' + optionStr + '</span>';
                                                                }
                                                }
                                                if (jQuery(element).parents('.claim-details-document-type-filter').length > 0) {
                                                                if (optionStr.length > 25) {
                                                                                return '<span class="select-options" alt="' + optionStr + '">' + optionStr.substring(0, 23) + '...' + '</span>';
                                                                }
                                                                else {
                                                                                return '<span class="select-options">' + optionStr + '</span>';
                                                                }
                                                }
                                                else {
                                                                if (optionStr.length > 19) {
                                                                                return '<span class="select-options" alt="' + optionStr + '">' + optionStr.substring(0, 18) + '...' + '</span>';
                                                                }
                                                                else {
                                                                                return '<span class="select-options">' + optionStr + '</span>';
                                                                }
                                                }
                                },
                                buttonText: function(options, select) {
                                                if (options.length == 0) {
                                                                if (select.parent().parent().hasClass('global-user-select-wrapper-section')) {
                                                                                return ' <span>Select client</span>';
                                                                }
                                                                else {
                                                                                return ' <b class="caret"></b>';
                                                                }
                                                }
                                                else {
                                                                if (options.length == 1) {
                                                                                var labels = [];
                                                                                options.each(function() {
                                                                                                if (jQuery(this).attr('label') !== undefined) {
                                                                                                                labels.push(jQuery(this).attr('label'));
                                                                                                }
                                                                                                else {
                                                                                                                var btnstr = jQuery(this).html();
                                                                                                                if (select.parent().parent().hasClass('claim-details-document-type-filter')) {
                                                                                                                                if (btnstr.length > 28) {
                                                                                                                                                labels.push(btnstr.substring(0, 26) + '...');
                                                                                                                                }
                                                                                                                                else {
                                                                                                                                                labels.push(btnstr);
                                                                                                                                }
                                                                                                                }
                                                                                                                else {
                                                                                                                                if (btnstr.length > 18) {
                                                                                                                                                labels.push(btnstr.substring(0, 18) + '...');
                                                                                                                                }
                                                                                                                                else {
                                                                                                                                                labels.push(btnstr);
                                                                                                                                }
                                                                                                                }
                                                                                                }
                                                                                });
                                                                                return '<span>' + labels + '</span>';
                                                                }
                                                                else {
                                                                                if (options.length > 1) {
                                                                                                /* return '<span>' + options.length + ' ' + this.nSelectedText + '</span> <b class="caret"></b>'; */
                                                                                                return '<span>Multi</span> <b class="caret"></b>';
                                                                                }
                                                                }
                                                }
                                }
                });           
                /* Multiselect custom dropdown for the header global drop down */

                /* jQuery multiselect popup's custom scroll bar */
                jQuery(".select-wrapper .btn-group ul.multiselect-container, .dropdown-menu.open ul").mCustomScrollbar({
                                mouseWheelPixels: 20,
                                scrollEasing: "linear",
                                scrollInertia: 0
                });
  });
/*jQuery('.single-tab').click( function(){
    if(jQuery(this).hasClass('peme-clinic-invoice-details') && jQuery(this).hasClass('deselected')) {
        jQuery('.single-tab.selected').removeClass('selected').addClass('deselected');
        jQuery(this).removeClass('deselected').addClass('selected');
        jQuery('.tab-detail-columns .tab-detail-container').hide();
        jQuery('.tab-detail-columns .peme-clinic-invoice-detail-container').show();
    }
    if(jQuery(this).hasClass('peme-clinic-cexam-details') && jQuery(this).hasClass('deselected')) {
        jQuery('.single-tab.selected').removeClass('selected').addClass('deselected');
        jQuery(this).removeClass('deselected').addClass('selected');
        jQuery('.tab-detail-columns .tab-detail-container').hide();
        jQuery('.tab-detail-columns .peme-clinic-exam-detail-container').show();
    }
});*/
</script>
</apex:page>