<apex:page standardController="PEME_Debit_note_detail__c">
<style>
   
    .ribbon-container {
        width : 100%;
        height : 85px;
        padding : 5px;
        position: absolute;
        float: left; 
        left: 25%;       
    }
    .sub-section-ribbon {
        float: left;
        width: 250px;
        height : 75px;
        position: relative;
        border: 1px solid;
        margin-right: -30px;
        color: #FFF;
        padding-top: 25px;
      
    }
    .text-section {
        color: #FFF;
        margin-left: -30px;
        font-size: 16px;
        font-family: arial;
        max-width: 85px;
        width: 80px;
    }
    .active-state {
        background: transparent url("{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/blue-arrow.png')}") no-repeat scroll 0 0;
    }
    .reject-state {
        background: transparent url("{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/red-arrow.png')}") no-repeat scroll 0 0;
    }
    .deactive-state {
        background: transparent url("{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/grey-arrow.png')}") no-repeat scroll 0 0;
    }
    .approved-state {
        background: transparent url("{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/green-arrow.png')}") no-repeat scroll 0 0;
    }
</style>
<br/>
  <div align="center" class="ribbon-container">
  
  <apex:outputPanel rendered="{!PEME_Debit_note_detail__c.Status__c == 'Pending Update'}">     
      <div class="sub-section-ribbon active-state"><div class="text-section">Pending Update</div></div>
      <div class="sub-section-ribbon deactive-state"><div class="text-section">Approved /<br/>Rejected</div></div>
  </apex:outputPanel>  
  <apex:outputPanel rendered="{!PEME_Debit_note_detail__c.Status__c == 'Approved'}">     
      <div class="sub-section-ribbon deactive-state"><div class="text-section">Pending Update</div></div>
      <div class="sub-section-ribbon approved-state"><div class="text-section">Approved</div></div>
  </apex:outputPanel>
   <apex:outputPanel rendered="{!PEME_Debit_note_detail__c.Status__c == 'Rejected'}">     
      <div class="sub-section-ribbon deactive-state"><div class="text-section">Pending Update</div></div>
      <div class="sub-section-ribbon reject-state"><div class="text-section">Rejected</div></div>
  </apex:outputPanel>
  <apex:outputPanel rendered="{!PEME_Debit_note_detail__c.Status__c == ''}">     
      <div class="sub-section-ribbon deactive-state"><div class="text-section">Pending Update</div></div>
      <div class="sub-section-ribbon deactive-state"><div class="text-section">Approved /<br/>Rejected</div></div>
  </apex:outputPanel>
  
  
   </div>
   <br/>
</apex:page>