<apex:page Controller="ShowClaimDetailsCtrl" readOnly="true" sidebar="false" showHeader="false" cache="true">

<style>
   @media print{
        .printContent{
            display: block !important;
        }
    }
    .printContent{
        display: none;
    }
    .odd-row td {
            background: rgb(210, 246, 251);
        }
    .even-row td {
            background: rgb(234, 250, 253);
        }
    .text{
              mso-number-format:"\@";/*force text*/
         }
     thead th {
            background: rgb(25, 82, 111);
            color: #fff;
            vertical-align: middle;
            text-align: center !important;
            /* width: 100px; */
            height: 50px;
            align: 0 auto;
            
        }
     tbody td {
            text-align: center !important;
            align: 0 auto !important;
            vertical-align: middle !important;
           
        }
     
</style>
    <body style="background: #fff;">      
         <div class="gard-logo">
                    <img src="{!URLFOR($Resource.logo)}" width="100px;" alt="gardLogo" />
        </div>
        <div style="color: #0badd1;"><u>Claim Sub Claim Details:</u></div> 
        
        <table class="gradienttable">
            <thead>
                <tr>                    
                    <th style="width: 100px;"><apex:outputText value="Claim no."/></th>
                    <th style="width: 100px;"><apex:outputText value="Date"/></th>
                    <th style="width: 150px;"><apex:outputText value="Claim type"/></th>
                    <th style="width: 150px;"><apex:outputText value="Claim details"/></th>
                    <th style="width: 150px;"><apex:outputText value="Claim handlers"/></th>
                    <th style="width: 180px;"><apex:outputText value="Client claim ref."/></th> 
                    <th style="width: 100px;"><apex:outputText value="Status"/></th> 
                    <th style="width: 100px;"><apex:outputText value="Client description"/></th>                                     
                </tr>
            </thead>
            <tbody>
                <apex:variable var="row_counter" value="{!1}" />  
                <apex:variable var="record_count" value="{!0}" />                
                <apex:repeat value="{!mapTypeClaim[claimType]}" var="rec">
                    <tr class="{!IF(MOD(row_counter,2)==0,'odd-row','even-row')}">
                        <td style="width: 100px;"><apex:outputText value="{!HTMLENCODE(rec.sub_claims_no__c)}"/></td>
                        <td class="text" style="width: 100px;"><apex:outputText value="{0,date,dd'-'MM'-'yyyy}">
                            <apex:param value="{!rec.sub_claim_date__c}" />
                            </apex:outputText> 
                        </td>
                        <td style="width: 150px;"><apex:outputText value="{!HTMLENCODE(rec.Claim_Type__c)}" escape="false"/></td>
                        <td style="width: 150px;"><apex:outputText value="{!HTMLENCODE(rec.Claim_Detail__c)}" /></td>
                        <td style="width: 150px;"><apex:outputText value="{!HTMLENCODE(rec.Claims_handler__r.Name)}" /></td>
                        <td style="width: 180px;"><apex:outputText value="{!HTMLENCODE(rec.Member_reference__c)}" /></td>
                        <td style="width: 100px;"><apex:outputText value="{!rec.Status__c}" /></td>                       
                        <td style="width: 100px;">                            
                        <apex:outputText rendered="{!AND(rec.Contract_for_review__r.Business_Area__c != 'Marine', OR(AND(OR(rec.Claim_Type__c=='Crew',rec.Claim_Type__c=='Passenger',rec.Claim_Type__c=='Person(s) other than Crew or Passenger'),(isPeopleLine=='true')),NOT(OR(rec.Claim_Type__c=='Crew',rec.Claim_Type__c=='Passenger',rec.Claim_Type__c=='Person(s) other than Crew or Passenger'))))}" value=" {!HTMLENCODE(rec.Sub_Claim_Description__c)}" />
                        <apex:outputText rendered="{!AND(rec.Contract_for_review__r.Business_Area__c != 'Marine', OR(AND(OR(rec.Claim_Type__c=='Crew',rec.Claim_Type__c=='Passenger',rec.Claim_Type__c=='Person(s) other than Crew or Passenger'),(isPeopleLine=='false'))))}" value="{!HTMLENCODE(rec.Sub_Claim_Description_Restricted__c)}" />                        
                        <!-- This block is added for SF-4814 -->
                        <apex:outputText rendered="{!AND(rec.Contract_for_review__r.Business_Area__c == 'Marine')}" value="{!HTMLENCODE(rec.Sub_Claim_Description_Restricted__c)}" />                        
                        <!-- This block is added for SF-4814 -->
                        </td>
                    </tr>
                    <apex:variable var="row_counter" value="{!row_counter + 1}"/>
                    <apex:variable var="record_count" value="{!record_count+1}"/>
                </apex:repeat>                
                <!--<tr>
                  <td colspan="10" style="text-align:left; background: #cccccc; font-size:10px">  
                  <span style="float:left;">Payment history Displaying  <strong><apex:outputText value="{!lstRecordsPayments.size}"></apex:outputText></strong>  records on  <strong><apex:outputText value="{!GenerateTimeStamp}"></apex:outputText></strong>.</span>
                  <span style="float:right;text-align:right;">Generated on <apex:outputText value=" {!GenerateTime} by {!UserName}."></apex:outputText></span>
                  </td>
                </tr>    --> 
                <div>Displaying  <strong><apex:outputText value="{!record_count}"></apex:outputText></strong>  records on  <strong><apex:outputText value="{!GenerateTimeStamp}"></apex:outputText></strong>.</div>              
            </tbody>
        </table>        
       
    </body>
    <script type="text/javascript"> 
                window.onload=function(){self.print();window.close();}
    </script>   
</apex:page>