<apex:page standardController="Object__c" extensions="MyObjectDetailsAllCoversCtrl" showHeader="false" sidebar="false" cache="true">

<div>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</div>

<style>
    @media print{
        .printContent{
            display: block !important;
        }
    }
    .printContent{
        display: none;
    }
    .odd-row td {
            background: rgb(210, 246, 251);
        }
    .even-row td {
            background: rgb(234, 250, 253);
        }
    .text{
              mso-number-format:"\@";/*force text*/
         }
     thead th {
            background: rgb(25, 82, 111);
            color: #fff;
            vertical-align: middle;
            width: auto;
            height: auto;
        }
     tbody td {
            text-align: left;
        }
</style>
    <body style="background: #fff;" class="printContent">
        <apex:image id="theImage" value="https://c.ap1.content.force.com/servlet/servlet.ImageServer?id=01590000003zgbu&oid=00D90000000uxX9" width="132" height="65"/>
        <div style="color: #0badd1;"><u>MyObjectDetailsAllCovers</u></div>
        <div>Displaying  <strong><apex:outputText value="{!noOfData}"></apex:outputText></strong>  records on  <strong><apex:outputText value="{0,date,d/MMM/yy HH:mm a}"><apex:param value="{!NOW()}" /></apex:outputText></strong>.</div>
    <table class="gradienttable">
        <thead>
            <tr>
                <th ><apex:outputText value="Broker"/></th>
                <th ><apex:outputText value="Underwriter"/></th>
                <th ><apex:outputText value="Cover"/></th>
                <th ><apex:outputText value="Capital"/></th>
                <th ><apex:outputText value="Inception date"/></th>
                <th ><apex:outputText value="Expiry date"/></th>        
                <th ><apex:outputText value="Claims lead"/></th>
                <th ><apex:outputText value="Gard share"/></th>
                <th ><apex:outputText value="Currency"/></th>
                <th ><apex:outputText value="Sum insured"/></th>
            </tr>  
        </thead>
        <tbody> 
        <apex:variable var="row_counter" value="{!1}" />
        <apex:repeat value="{!lstAllCaseForExcel}" var="lst">
                <apex:repeat value="{!lst}" var="case">
            <tr class="{!IF(MOD(row_counter,2)==0,'odd-row','even-row')}">
                <td><apex:outputText value="{!if(case.Agreement__r.Broker__r.Name == null,'n/a',case.Agreement__r.Broker__r.Name)}"/></td>
                    <td><apex:outputText value="{!case.Underwriter__r.Name}"/></td>
                    <td><apex:outputText value="{!case.Product_Name__c}"/></td>
                    <td><apex:outputText value="{!case.Capital__c}"/></td>
                    <td class="text">
                        <apex:outputText value="{0,date,dd'-'MM'-'yyyy}">
                            <apex:param value="{!case.Inception_date__c}" /> 
                        </apex:outputText>
                    </td>
                    <td class="text">
                        <apex:outputText value="{0,date,dd'-'MM'-'yyyy}">
                            <apex:param value="{!case.Expiration_Date__c}" /> 
                        </apex:outputText>
                    </td>
                    <td><apex:outputText value="{!case.Claims_Lead__c}"/></td>
                    <td><apex:outputText value="{!case.Gard_Share__c}"/></td>
                    <td><apex:outputText value="{!case.SUM_INSURED_CURRENCY__c}"/></td>
                    <td><apex:outputText value="{0, number, ###,##0}">
                            <apex:param value="{!case.Sum_Insured_100PCT_Org__c}"/>
                        </apex:outputText></td>
            </tr>
            <apex:variable var="row_counter" value="{!row_counter + 1}"/>
        </apex:repeat>
         </apex:repeat>
                <tr>
                  <td colspan="10" style="text-align:left; background: #cccccc; font-size:10px">  <div><apex:outputText value="Generated on {0,date,EEE MMM d HH:mm:ss yyyy} 'by ' '{!UserName}.'"><apex:param value="{!NOW()}" /></apex:outputText></div></td>
                </tr>
        </tbody>
    </table> 
    <script type="text/javascript"> 
                window.onload=function(){self.print();history.go(-1);}
            </script> 
    </body>    
</apex:page>