<apex:page Controller="ShareDataCtrl" sidebar="false" showHeader="false" cache="true">
   
<!--<head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</head>-->

<style>
    @media print{
        .printContent{
            display: block !important;
        }
    }
    .printContent{
        display: none;
    }
    .odd-row td {
            background: rgb(210, 246, 251);
        }
    .even-row td {
            background: rgb(234, 250, 253);
        }
    .text{
              mso-number-format:"\@";/*force text*/
         }
     thead th {
            background: rgb(25, 82, 111);
            color: #fff;
            vertical-align: middle;
            width: 100px;
            height: 50px;
        }
     tbody td {
            text-align: center;
        }
</style>
   <body style="background: #fff;" class="printContent">
       <div class="gard-logo">
                    <img src="{!URLFOR($Resource.logo)}" width="100px;" alt="gardLogo"/>
        </div>
        <div style="color: #0badd1;"><u>Share Data</u></div>
        <div>Displaying  <strong><apex:outputText value="{!noOfData}"></apex:outputText></strong>  records on  <strong><apex:outputText value="{!GenerateTimeStamp}"></apex:outputText></strong>.</div>
        <table class="gradienttable">
            <thead>
                <tr>
                    <th style="width: 100px;"><apex:outputText value="Name"/></th>
                    <th style="width: 200px;"><apex:outputText value="Client"/></th>
                    <th style="width: 200px;"><apex:outputText value="Target Company"/></th>
                    <th style="width: 400px;"><apex:outputText value="Target Contacts"/></th>
                    <th style="width: 100px;"><apex:outputText value="Status"/></th>                    
               </tr>
           </thead>
           <tbody>
           <apex:variable var="row_counter" value="{!1}" />
           <apex:repeat value="{!lstAllAgreementsForExcel}" var="lstAgreementSet">
           <apex:repeat value="{!lstAgreementSet}" var="AgSet">
                <tr class="{!IF(MOD(row_counter,2)==0,'odd-row','even-row')}">                    
                    <td style="text-align:left;"><apex:outputText value="{!AgSet.shareName}"/></td>
                    <td style="text-align:left;"><apex:outputText value="{!AgSet.clientName}"/></td>
                    <td style="text-align:left;"><apex:outputText value="{!AgSet.targetCompany}"/></td>
                    <td style="text-align:left;"><apex:outputText value="{!AgSet.targetContact}"/></td>
                    <td style="text-align:left;"><apex:outputText value="{!AgSet.status}"/></td>                  
               </tr>
                <apex:variable var="row_counter" value="{!row_counter + 1}"/>
            </apex:repeat>
            </apex:repeat>
                <tr>
                  <td colspan="5" style="text-align:left; background: #cccccc; font-size:10px">  <div>Generated on <apex:outputText value=" {!GenerateTime} by {!UserName}."></apex:outputText></div></td>
                </tr>
            </tbody>
        </table> 
            <script type="text/javascript"> 
                window.onload=function(){self.print();history.go(-1);}
            </script>
    </body> 
</apex:page>