<apex:page Controller="PEMEClinicInvoicesCtrl" showHeader="false" sidebar="false" cache="true">
<style>
    @media print{
        .printContent{
            display: block !important;
        }
    }
    .printContent{
        display: none;
    }
    .odd-row td {
            background: rgb(210, 246, 251);
        }
    .even-row td {
            background: rgb(234, 250, 253);
        }
    .text{
              mso-number-format:"\@";/*force text*/
         }
     thead th {
            background: rgb(25, 82, 111);
            color: #fff;
            vertical-align: middle;
            width: 100px;
            height: 50px;
        }
     tbody td {
            text-align: center;
        }
</style>
    <body style="background: #fff;" class="printContent">
        <div> <apex:image value="https://{!$Site.Domain}{!URLFOR($Resource.logo)}" width="132" height="65"/></div>
        <div style="color: #0badd1;"><u>Submitted Invoices</u></div>
        <div>Displaying  <b><apex:outputText value="{!noOfData}"></apex:outputText></b>  records on  <b><apex:outputText value="{0,date,d/MMM/yy HH:mm a}"><apex:param value="{!NOW()}"/></apex:outputText></b>.</div>
        <table class="gradienttable">
            <thead>
                <tr>
                    <th><apex:outputText value="Client"/></th>
                    <th><apex:outputText value="Invoice number"/></th>
                    <th><apex:outputText value="Invoice date"/></th>
                    <th><apex:outputText value="PEME reference no"/></th>
             <!--   <th><apex:outputText value="Crew examined"/></th>  -->
                    <th><apex:outputText value="Amount (PHP)"/></th>    
                    <th><apex:outputText value="Status"/></th>    
                    <th><apex:outputText value="Date of final verification"/></th>                               
                </tr>
            </thead>
            <tbody>
                <apex:variable var="row_counter" value="{!1}" />
                <apex:repeat value="{!lstinv}" var="invoices">   
                    <tr class="{!IF(MOD(row_counter,2)==0,'odd-row','even-row')}">
                        <td>{!invoices.Client__r.Name}</td>
                        <td>{!invoices.Clinic_Invoice_Number__c}</td>
                        <td class="text">
                            <apex:outputText value="{0,date,dd-MM-yyyy}">
                                <apex:param value="{!invoices.Invoice_Date__c}" />
                            </apex:outputText>
                        </td>                                              
                        <td>{!invoices.PEME_reference_No__c}</td>
                  <!--  <td>{!invoices.Crew_Examined__c}</td>  -->
                        <td>{!invoices.Total_Amount__c}</td>    
                        <td>{!invoices.Status__c}</td>  
                        <td class="text">
                            <apex:outputText value="{0,date,dd-MM-yyyy}">
                                <apex:param value="{!invoices.Date_of_Final_Verification__c}" />
                            </apex:outputText>
                        </td>                                                
                    </tr>
                    <apex:variable var="row_counter" value="{!row_counter + 1}"/>
                </apex:repeat>
                <tr>
                  <td colspan="7" style="text-align:left; background: #cccccc; font-size:10px">  <div>Generated on  <apex:outputText value=" {0,date,EEE MMM d HH:mm:ss yyyy}"><apex:param value="{!NOW()}"/></apex:outputText> by {!userName}.</div></td>
                </tr>
            </tbody>
        </table>
            <script type="text/javascript"> 
                window.onload=function(){self.print();history.go(-1);}
            </script>
    </body>   
</apex:page>