<apex:page standardController="Case" extensions="ReportedClaimsCtrl" showHeader="false" sidebar="false" cache="true">
    
<div>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</div>

<style>
    @media print{
        .printContent{
            display: block !important;
        }
    }
    .printContent{
        display: none;
    }
    .odd-row td {
            background: rgb(210, 246, 251);
        }
    .even-row td {
            background: rgb(234, 250, 253);
        }
    .text{
              mso-number-format:"\@";/*force text*/
         }
     thead th {
            background: rgb(25, 82, 111);
            color: #fff;
            vertical-align: middle;
            width: auto;
            height: auto;
        }
     tbody td {
            text-align: left;
        }
</style>
    <body style="background: #fff;" class="printContent">
        <div class="gard-logo">
                    <img src="{!URLFOR($Resource.logo)}" width="100px;" alt="gardLogo"/>
        </div>
        <div style="color: #0badd1;"><u>{!$Label.MyGard_ClaimStatus_Draft} claims</u></div>
        <div>Displaying  <strong><apex:outputText value="{!noOfData}"></apex:outputText></strong>  records on  <strong><apex:outputText value="{!GenerateTimeStamp}"></apex:outputText></strong>.</div>
    <table class="gradienttable">
    <thead>
        <tr>
            <th><apex:outputText value="Incident date"/></th>
            <th><apex:outputText value="Claim type"/></th>
            <th><apex:outputText value="Claim detail"/></th>
            <th><apex:outputText value="Cover"/></th>
            <th><apex:outputText value="Object name"/></th>
         <!--   <th><apex:outputText value="Status"/></th> -->
            <th><apex:outputText value="Gard claim reference"/></th>
            <th><apex:outputText value="Client claim reference"/></th>
        </tr> 
        </thead>
        <tbody>
            <apex:variable var="row_counter" value="{!1}" />  
       <apex:repeat value="{!lstDraftClaims}" var="case">
                 <tr class="{!IF(MOD(row_counter,2)==0,'odd-row','even-row')}">                                           
                       <td class="client-name"><apex:outputText value="{0,date,dd'-'MM'-'yyyy}">
                                                        <apex:param value="{!case.Event_Date__c}" /> 
                                                </apex:outputText></td>
                    <td class="client-type"> {!case.Claim_Type__c}</td>
                     <td class="client-type"> {!case.Claim_Detail__c}</td>
                    <td class="cover">{!case.Risk_Coverage__r.Product_Name__c}</td>
                    <td class="obj-name">{!case.Object__r.Name}</td>
                <!--    <td class="status">{!case.Status}</td> -->
                    <td class="ClaimsHandler">{!case.Claim_Reference_Number__c}</td>
                    <td class="client-ref">{!case.Member_reference__c}</td>
                </tr>
                <apex:variable var="row_counter" value="{!row_counter + 1}"/>
        </apex:repeat>
                <tr>
                  <td colspan="7" style="text-align:left; background: #cccccc; font-size:10px">  <div>Generated on <apex:outputText value=" {!GenerateTime} by {!UserName}."></apex:outputText></div></td>
                </tr>
            </tbody>
    </table> 
    <script type="text/javascript"> 
        //window.onload=function(){self.print();history.go(-1);}
        window.onload=function(){self.print();setTimeout(function(){history.go(-1)},5000);}
            </script>
     </body>  
</apex:page>