<apex:page id="repClaims" standardController="Case" sidebar="false" showHeader="false" extensions="ReportedClaimsCtrl" standardStylesheets="false">
<apex:includeScript value="{!$Resource.GoogleAnalytics}"/>

<style>
    
     .my-cliams .tab-reported-claim-section th.client-name,
     .my-cliams .tab-reported-claim-section td.client-name {
        max-width: 192px !important;
        min-width: 192px !important;
        width: 192px !important;
     }    
    
    .broker-view-page-container .my-cliams .tab-reported-claim-section th.client-type,
    .broker-view-page-container .my-cliams .tab-reported-claim-section td.client-type {
        max-width: 210px !important;
        min-width: 210px !important;
        width: 210px !important;
    }
    
    .broker-view-page-container .my-cliams .tab-reported-claim-section th.claims-handler,
    .broker-view-page-container .my-cliams .tab-reported-claim-section td.claims-handler {
        max-width: 159px !important;
        min-width: 159px !important;
        width: 159px !important;
    }
    
    .broker-view-page-container .my-cliams .tab-reported-claim-section th.cover,
    .broker-view-page-container .my-cliams .tab-reported-claim-section td.cover {
            max-width: 128px !important;
            min-width: 128px !important;
            width: 128px !important;
    }
    
    .broker-view-page-container .my-cliams .tab-reported-claim-section th.obj-name,
    .broker-view-page-container .my-cliams .tab-reported-claim-section td.obj-name {
        max-width: 152px !important;
        min-width: 152px !important;
        width: 152px !important;
    }
    
    .broker-view-page-container .my-cliams .tab-reported-claim-section th.status,
    .broker-view-page-container .my-cliams .tab-reported-claim-section td.status {
        max-width: 77px !important;
        min-width: 77px !important;
        width: 77px !important;
    }
    .broker-view-page-container .my-cliams .tab-reported-claim-section th.client-ref div.th-container,
    .broker-view-page-container .my-cliams .tab-reported-claim-section th.client-ref div.td-container {
        line-height: 14px !important;
        padding: 8px 29px 3px 5px !important;
    }
    .broker-view-page-container .my-cliams .tab-reported-claim-section th.date div.th-container,
    .broker-view-page-container .my-cliams .tab-reported-claim-section th.date div.td-container {
        padding: 8px 32px 3px 4px !important;
    }
    .client-view-page-container .my-cliams .tab-reported-claim-section th.client-ref div.th-container{
        /*line-height: 14px !important;*/
        padding: 11px 5px 10px 7px;
    }
    .client-view-page-container .my-cliams.claim-tabs-section .tab-reported-claim-section th.client-ref
    .client-view-page-container .my-cliams.claim-tabs-section .tab-reported-claim-section td.client-ref {
        max-width: 175px !important;
        min-width: 175px !important;
        width: 175px !important;
    }
    .client-view-page-container .my-cliams.claim-tabs-section .tab-reported-claim-section th.date,
    .client-view-page-container .my-cliams.claim-tabs-section .tab-reported-claim-section td.date {
        max-width: 99px !important;
        min-width: 99px !important;
    }
    .client-view-page-container .my-cliams .tab-reported-claim-section th.date div.th-container,
    .client-view-page-container .my-cliams .tab-reported-claim-section th.date div.td-container {
        line-height: inherit;    
        padding: 11px 5px 10px 7px;
    }
    .client-view-page-container .my-cliams.claim-tabs-section .tab-reported-claim-section th.cover,
    .client-view-page-container .my-cliams.claim-tabs-section .tab-reported-claim-section td.cover {
        max-width: 193px !important;
        min-width: 193px !important;
    }
    .my-cliams.claim-tabs-section .tab-reported-claim-section .pagination {
        margin: 9px -15px 0px 0px !important;
    }
    .client-view-page-container .my-cliams.claim-tabs-section th.client-type,
    .client-view-page-container .my-cliams.claim-tabs-section td.client-type,
    .client-view-page-container .my-cliams.claim-tabs-section .tab-reported-claim-section th.obj-name,
    .client-view-page-container .my-cliams.claim-tabs-section .tab-reported-claim-section td.obj-name,
    .client-view-page-container .my-cliams.claim-tabs-section .tab-reported-claim-section th.client-ref,
    .client-view-page-container .my-cliams.claim-tabs-section .tab-reported-claim-section td.client-ref {
        max-width: 175px !important;
        min-width: 175px !important;
    }
    .client-view-page-container .my-cliams.claim-tabs-section .tab-reported-claim-section th.status,
    .client-view-page-container .my-cliams.claim-tabs-section .tab-reported-claim-section td.status {
        min-width: 123px !important;
        max-width: 123px !important;
    }
    .client-view-page-container .my-cliams.claim-tabs-section .tab-reported-claim-section th.claims-handler,
    .client-view-page-container .my-cliams.claim-tabs-section .tab-reported-claim-section td.claims-handler {
        min-width: 228px !important;
        max-width: 228px !important;
    }
    .client-view-page-container.multiple-client-view-page-container .my-cliams.claim-tabs-section .tab-reported-claim-section th.client-ref,
    .client-view-page-container.multiple-client-view-page-container .my-cliams.claim-tabs-section .tab-reported-claim-section td.client-ref {
        max-width: 162px !important;
        min-width: 162px !important;
        width: 162px !important;
    }
    .client-view-page-container.multiple-client-view-page-container .my-cliams.claim-tabs-section .tab-reported-claim-section th.date,
    .client-view-page-container.multiple-client-view-page-container .my-cliams.claim-tabs-section .tab-reported-claim-section td.date {
        max-width: 88px !important;
        min-width: 88px !important;
    }
    .client-view-page-container.multiple-client-view-page-container .my-cliams.claim-tabs-section .tab-reported-claim-section th.cover,
    .client-view-page-container.multiple-client-view-page-container .my-cliams.claim-tabs-section .tab-reported-claim-section td.cover {
        max-width: 128px !important;
        min-width: 128px !important;
    }
    .client-view-page-container.multiple-client-view-page-container .my-cliams.claim-tabs-section th.client-type,
    .client-view-page-container.multiple-client-view-page-container .my-cliams.claim-tabs-section td.client-type {
        max-width: 210px !important;
        min-width: 210px !important;
    }
    .client-view-page-container.multiple-client-view-page-container .my-cliams.claim-tabs-section .tab-reported-claim-section th.obj-name,
    .client-view-page-container.multiple-client-view-page-container .my-cliams.claim-tabs-section .tab-reported-claim-section td.obj-name {
        max-width: 152px !important;
        min-width: 152px !important;
    }
    .client-view-page-container.multiple-client-view-page-container .my-cliams.claim-tabs-section .tab-reported-claim-section th.status,
    .client-view-page-container.multiple-client-view-page-container .my-cliams.claim-tabs-section .tab-reported-claim-section td.status {
        min-width: 77px !important;
        max-width: 77px !important;
    }
    .client-view-page-container.multiple-client-view-page-container .my-cliams.claim-tabs-section .tab-reported-claim-section th.claims-handler,
    .client-view-page-container.multiple-client-view-page-container .my-cliams.claim-tabs-section .tab-reported-claim-section td.claims-handler {
        min-width: 159px !important;
        max-width: 159px !important;
    }
        
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
        /*.broker-view-page-container .my-cliams.claim-tabs-section .tab-reported-claim-section th.client-name {
            max-width: 192px !important;
            min-width: 192px !important;
            width: 192px !important;
        }*/
    }
     th div.th-container{
        padding: 11px 5px 10px 7px;
    }
</style>
 <script>
    function currentClaimHandler(claimsHandlerId,emId){
         if(jQuery('.underwrt-popup-link .underwriter-popup').length <=0){ 
         //jQuery('.overley').show();
          jQuery(emId).append('<div class="underwriter-popup normal-table-popup"><div class="und-popup-pointer"></div><div class="und-popup-wrapper"><span class="popup-loader">Loading...</span></div></div></div>');
            getClaimHandlerInfo(claimsHandlerId+'#'+emId.id);          
           return false;
        }
        else{       
            return true;
        }
     }
  js$=jQuery.noConflict();
  var pageOld = jQuery('.page-no.pager-section > input[type="text"]').val();
  jQuery(document).ready(function(){
  
   jQuery('.main-menu-links').removeClass('active');
    jQuery('.main-menu-links.myclaims').addClass('active');
   jQuery('.pagination-wrapper .page-no input[type="text"]').bind('keypress', function (eInner){
                if (eInner.keyCode == 13) { 
                    enterPage   = jQuery('.page-no.pager-section > input[type="text"]').val();
                       console.log(enterPage+'of'+{!CEILING(submissionSetCon.resultSize/submissionSetCon.PageSize)});
                       if(enterPage <= {!CEILING(submissionSetCon.resultSize/submissionSetCon.PageSize)} && enterPage != 0){
                              console.log('Enter if');
                             jQuery('.overley, .loading').show();                         
                             changePageNumberReport();                             
                             return false;
                         }
                         else{
                         console.log('new code');
                             jQuery('.page-no.pager-section > input[type="text"]').val('1');
                             changePageNumberReport();
                             return false;
                         }
                    }    
                    
      }); 
      
          var undElement1 = jQuery('td.claims-handler .underwrt-popup-link');
    jQuery(document).bind('mouseup', function (e){
        if (undElement1.has(e.target).length == 0) {           
            jQuery('.underwriter-popup').remove();
        }
    });   
  });
 </script>
 <apex:composition template="PageFrame" >
        <apex:define name="content" > 
      <div  class="content">
       <div class="content-wrapper"> 
        <div class="page-title">My claims</div>
             <div class="tab-section-container">
                    <div class="report-new-claim-button">
                    <apex:outputLink value="/apex/ReportClaimsP2" styleClass="form-btn secondary-btn" >New claim</apex:outputLink>
                    </div>
                 <!--3581 Starts-->
                    <div class="tab-button-section claims-tab-holder">
                        <div class="open-claims single-tab deselected"><apex:outputLink value="/apex/OpenClaims">{! UPPER(LEFT($Label.MyGard_ClaimStatus_Open,1)) & LOWER(RIGHT($Label.MyGard_ClaimStatus_Open,LEN($Label.MyGard_ClaimStatus_Open)-1))} claims</apex:outputLink></div>
                        <div class="all-claims single-tab deselected"> <apex:outputLink value="/apex/AllClaims">{! UPPER(LEFT($Label.MyGard_ClaimStatus_All,1)) & LOWER(RIGHT($Label.MyGard_ClaimStatus_All,LEN($Label.MyGard_ClaimStatus_All)-1))} claims</apex:outputLink> </div>
                        <div class="reported-claims single-tab selected"><apex:outputLink value="/apex/ReportedIncident">{! UPPER(LEFT($Label.MyGard_ClaimStatus_Pending,1)) & LOWER(RIGHT($Label.MyGard_ClaimStatus_Pending,LEN($Label.MyGard_ClaimStatus_Pending)-1))} claims<div class="update-cover-wrapper-activated"></div></apex:outputLink></div>
                        <div class="draft-claims single-tab deselected"><apex:outputLink value="/apex/DraftClaims" >{! UPPER(LEFT($Label.MyGard_ClaimStatus_Draft,1)) & LOWER(RIGHT($Label.MyGard_ClaimStatus_Draft,LEN($Label.MyGard_ClaimStatus_Draft)-1))} claims</apex:outputLink></div>
                        <div class="forms single-tab deselected"><apex:outputLink value="/apex/DisplayForms" >Forms</apex:outputLink></div>
                        <div class="draft-claims single-tab deselected"><apex:outputLink value="/apex/ViewClaimDocuments" >Documents </apex:outputLink></div>
                    </div>
                 <!--3581 Ends-->
                  <div class="tab-details-section gard-contact claim-tabs-section my-cliams">
                      <div class="tab-detail-columns">
                      <div class="tab-reported-claim-section tab-table-wrapper tab-detail-container" style="display:block;">
                      <div class="form-field-scrol-container free-content-area">
                        <apex:form >
                                 <apex:actionFunction action="{!showClaimsHandler}" name="getClaimHandlerInfo" rerender="testPopUp" status="renderMeStatus"  >
                                    <apex:param name="claimsHandlerId" assignTo="{!claimsHandlerId}" value="" />
                                </apex:actionFunction>
                                <apex:actionStatus id="renderMeStatus" onstop="showPopup();" />
                        </apex:form>
  <apex:outputPanel id="testPopUp">
  <script> 

       function showPopup(){
       var em =document.getElementById('{!JSENCODE(pointingId)}');
        jQuery('.overley').hide();
        jQuery('.underwriter-popup').remove();
       
       // jQuery(em).append('<div class="underwriter-popup"><div class="und-popup-pointer"></div><div class="und-popup-wrapper"><div class="under-popup-section"><div class="sec-heading">Direct line : </div><div class="sec-details">{!claimsHandler.Phone__c}</div></div><div class="under-popup-section"><div class="sec-heading">Mobile phone : </div><div class="sec-details">{!claimsHandler.MobilePhone__c}</div></div><div class="under-popup-section"><div class="sec-heading">Email : </div><div class="sec-details"><a href="mailto:{!claimsHandler.Email__c}">{!claimsHandler.Email__c}</a></div></div><div class="under-popup-section"><div class="sec-heading">Office : </div><div class="sec-details">{!claimsHandler.Office_city__c}</div></div></div></div>');
        jQuery(em).append('<div class="underwriter-popup normal-table-popup"><div class="und-popup-pointer"></div><div class="und-popup-wrapper"><div class="cont-detail-area"><div alt="Land line" class="first-add tel-num claim-handler-each" x-ms-format-detection="none"><span class="add-phn-field-icon"></span>{!JSINHTMLENCODE(claimsHandler.Phone__c)}</div><div alt="Mobile" class="first-add mobile claim-handler-each" x-ms-format-detection="none"><span class="add-phn-field-icon mobile-icon"></span>{!JSINHTMLENCODE(claimsHandler.MobilePhone__c)}</div><div alt="Email" class="first-add info-email claim-handler-each"><span class="add-field-icon"></span><a href="mailto:{!claimsHandler.Email__c}">{!JSINHTMLENCODE(claimsHandler.Email__c)}</a></div><div alt="Location" class="first-add location claim-handler-each"><span class="topic"></span>{!JSINHTMLENCODE(claimsHandler.Office_city__c)}</div></div></div></div>'); 
          
        var undElement2 = jQuery('td.claims-handler .underwrt-popup-link');
        jQuery(document).bind('mouseup', function (e){           
        if (undElement2.has(e.target).length === 0) {            
            jQuery('.underwriter-popup').remove();
        }
        });  
        /* JS for the auto trimming of underwriter popup long email */
        jQuery('.underwriter-popup .cont-detail-area .info-email a').each( function(){
            console.log('call');
                        var emailText = jQuery(this).text();
                        if (emailText.length > 33) {
                        console.log('call...');
                                        jQuery(this).addClass('selectpicker-long-option');
                                        jQuery(this).attr('alt', emailText);
                                        jQuery(this).html(emailText.substring(0, 32) + '...');
                        }
                        else {
                                        jQuery(this).html(emailText);
                        }
        });
        /* JS for the auto trimming of underwriter popup long email */    
        /* Provides the tooltip using jquery UI tooltip plugin */
        jQuery('.underwriter-popup .cont-detail-area .info-email a').mouseenter( function(){
            jQuery('.custom-tooltip').remove();
            if(jQuery(this).attr('alt')) {
                jQuery('body').append('<span class="custom-tooltip">' + jQuery(this).attr('alt') + '</span>');
            }
        });
        jQuery('.underwriter-popup .cont-detail-area .info-email a').mouseleave( function(){
            jQuery('.custom-tooltip').remove();
        });
            
        /* Provides the tooltip using jquery UI tooltip plugin */ 
        
        return false;
          } 
          

  </script>
  </apex:outputPanel>
      <script>
             jQuery('.pagination-wrapper .page-no input[type="text"]').bind('keypress', function (eInner){
                if (eInner.keyCode == 13) { 
                    enterPage   = jQuery('.page-no.pager-section > input[type="text"]').val();
                       console.log(enterPage+'of'+{!CEILING(submissionSetCon.resultSize/submissionSetCon.PageSize)});
                       if(enterPage <= {!CEILING(submissionSetCon.resultSize/submissionSetCon.PageSize)} && enterPage != 0){
                              console.log('Enter if refresh');
                             jQuery('.overley, .loading').show();                         
                             changePageNumberReport();                             
                             return false;
                         }
                         else{
                             jQuery('.page-no.pager-section > input[type="text"]').val(pageOld);
                             console.log('EEEEEEEEEEEE');
                             return false;
                         }
                    }    
                    
              });            
         $j = jQuery.noConflict();
             $j( document ).ready(function() { 
             
             console.log( "ReportedIncident ready!" );                               
             $j('.from-btn').click( function(){
                 fetchSelectedClients();         
           });                         
            
        });                                      
   </script>
  
  <apex:form >
  <apex:actionFunction action="{!fetchSelectedClients}" name="fetchSelectedClients"> <!--rerender="ListView1,ListView2" -->
   <!--     <apex:param name="allSelectedClients" value="" assignTo="{!strSelected}" /-->
    </apex:actionFunction>
    </apex:form>
  <apex:outputPanel rendered="{!IF(lstCase.size>0,true,false)}" id="ListView1" >
  
    <apex:form id="theFrm">          
    <apex:actionFunction action="{!getOpenClaimDetails}" name="sortingFunction" reRender="ListView1" oncomplete="jQuery('.overley,.loading').hide();">
        <apex:param value="" name="column" assignTo="{!orderByNew}" ></apex:param>
    </apex:actionFunction>     
  
    <div class="client-list-section" >
        <table>
            <thead>
                <tr>                  
                        <th class="client-name" style="display:{!if((hasMultipleClients),'block;','none;')}" onclick="jQuery('.overley,.loading').show();sortingFunction('Contract_for_review__r.Client__r.Name');"><!--4302 replaced style="display:{!if((usertype == 'Broker'),'block;','none;')}"-->
                           <div class="th-container">Client
                                <div class="item-sort">
                                    <div class="{!IF(orderByNew=='Contract_for_review__r.Client__r.Name',IF(sortDirection='ASC','sort-desc','sort-asc'),'unsorted')}"></div>                                   
                                </div>
                            </div>
                        </th>                  
                    <th class="client-type" onclick="jQuery('.overley,.loading').show();sortingFunction('Claim_Type__c');">
                        <div class="th-container">Claim type
                            <div class="item-sort">
                                <div class="{!IF(orderByNew=='Claim_Type__c',IF(sortDirection='ASC','sort-desc','sort-asc'),'unsorted')}"></div>                                
                            </div>
                        </div>
                    </th>
                    <th class="client-type" onclick="jQuery('.overley,.loading').show();sortingFunction('Claim_Detail__c');"><!--added for SF-6292-->
                        <div class="th-container">Claim detail
                            <div class="item-sort">
                                <div class="{!IF(orderByNew=='Claim_Detail__c',IF(sortDirection='ASC','sort-desc','sort-asc'),'unsorted')}"></div>                                
                            </div>
                        </div>
                    </th>
                    <th class="obj-name" onclick="jQuery('.overley,.loading').show();sortingFunction('Object__r.Name');">
                        <div class="th-container">Object
                            <div class="item-sort">
                               <div class="{!IF(orderByNew=='Object__r.Name',IF(sortDirection='ASC','sort-desc','sort-asc'),'unsorted')}"></div>
                               
                            </div>
                        </div>
                    </th>
                    <th class="cover" onclick="jQuery('.overley,.loading').show();sortingFunction('Risk_Coverage__r.Name');">
                       <div class="th-container">Cover
                            <div class="item-sort">
                                <div class="{!IF(orderByNew=='Risk_Coverage__r.Name',IF(sortDirection='ASC','sort-desc','sort-asc'),'unsorted')}"></div>
                                
                            </div>
                        </div>
                    </th>
                    <!-- <th class="cover"><apex:commandLink action="{!sortByVersionKeyOpen}" reRender="ListView1">VERSION KEY</apex:commandLink></th> -->
                    <th class="date" onclick="jQuery('.overley,.loading').show();sortingFunction('Event_Date__c');">
                       <div class="th-container">Event date
                            <div class="item-sort">
                                <div class="{!IF(orderByNew=='Event_Date__c',IF(sortDirection='ASC','sort-desc','sort-asc'),'unsorted')}"></div>
                              
                            </div>
                        </div>
                    </th>
                    <th class="client-ref" onclick="jQuery('.overley,.loading').show();sortingFunction('Member_reference__c');">
                        <div class="th-container">Client claim reference
                            <div class="item-sort">
                                <div class="{!IF(orderByNew=='Member_reference__c',IF(sortDirection='ASC','sort-desc','sort-asc'),'unsorted')}"></div>
                                
                            </div>
                        </div>
                    </th>
                    <th class="claims-handler" onclick="jQuery('.overley,.loading').show();sortingFunction('Account.Main_Claims_Handler__r.Name');">
                        <div class="th-container">
                            Claims recipient
                            <div class="item-sort">
                                <div class="{!IF(orderByNew=='Account.Main_Claims_Handler__r.Name',IF(sortDirection='ASC','sort-desc','sort-asc'),'unsorted')}"></div>
                                
                            </div>
                        </div>
                    </th>
                    <th class="status" onclick="jQuery('.overley,.loading').show();sortingFunction('Status');">
                        <div class="th-container">Status
                            <div class="item-sort">
                                <div class="{!IF(orderByNew=='Status',IF(sortDirection='ASC','sort-desc','sort-asc'),'unsorted')}"></div>
                               
                            </div>
                        </div>
                    </th>                    
                   
                </tr>               
            </thead>
            <tbody>   
            <apex:variable value="{!0}" var="rowNum"/>                                     
            <apex:repeat value="{!lstCase}" var="case" id="rpt">
                <tr class="{!IF(MOD(rowNum,2)==0,'odd','even')}"> 
                    <td class="client-name" style="display:{!if(hasMultipleClients,'compact;','none;')}">{!HTMLENCODE(case.Contract_for_review__r.Client__r.Name)}</td><!--4302 replaced style="display:{!if(usertype == 'Broker','compact;','none;')}"-->
                    <td class="client-type"> {!HTMLENCODE(case.Claim_Type__c)}</td>
                    <td class="client-type"> {!HTMLENCODE(case.Claim_Detail__c)}</td><!--added for SF-6292-->
                    <td class="obj-name">{!HTMLENCODE(case.Object__r.Name)}</td>
                    <td class="cover">{!HTMLENCODE(case.Risk_Coverage__r.Product_Name__c)}</td>
                    <td class="date">
                        <apex:outputText value="{0,date,dd'-'MM'-'yyyy}">
                            <apex:param value="{!case.Event_Date__c}" /> 
                        </apex:outputText>
                    </td>
                    <td class="client-ref">{!HTMLENCODE(case.Member_reference__c)}</td>                   
                    <td class="claims-handler">
                        <apex:outputPanel onclick="return currentClaimHandler('{!HTMLENCODE(case.Claims_handler__c)}',this);" styleClass="underwrt-popup-link"  id="cldId"> 
                           {!HTMLENCODE(case.Claims_handler__r.Name)}
                        </apex:outputPanel>                       
                    </td>
                    <td class="status">{!HTMLENCODE(IF( case.status=='Pending' , $Label.MyGard_ClaimStatus_Pending , IF(case.status=='Draft', $Label.MyGard_ClaimStatus_Draft , case.status ) ))}</td> <!--SF-3581-->
                </tr>
                <apex:variable var="rowNum" value="{!rowNum + 1}"/>
               </apex:repeat>
               
            </tbody>
        </table>
        
         
    </div>
    <div class="table-footnote"><!-- <span class="form-req-field"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> --> Represents claims which are reported through MyGard portal only</div>                     
        <div class="record-detail-dwnld-section">                               
        <div class="global-print-dwnld">
                <apex:commandButton title="Export to excel" value="" action="{!exportToExcel}" styleClass="global-dwnld" onClick="ga('send', 'event', 'Download', 'Excel', 'Reported claims');"/>
                <apex:commandButton title="Print" value="" action="{!print}" styleClass="global-print"/>        
            </div>
        </div>
  
    </apex:form>
<apex:form id="reportedClaim-pagination">
   <!-- Pagination section start-->
    <div class="pagination" style="display:{!IF(submissionSetCon.resultSize > submissionSetCon.PageSize,'block;','none;')}">
        <div class="pagination-wrapper">
            <div class="record-details">Showing total records: <span class="record-starting">{!((pageNum-1)*10)+1}</span> – <span class="record-end">{!IF(pageNum*10<submissionSetCon.resultSize,pageNum*10,submissionSetCon.resultSize)}</span> of <span class="record-total">{!submissionSetCon.resultSize}</span></div>
            <!--<div class="item-per-page">Total: {!submissionSetCon.resultSize}</div>-->
            <div class="pager"> 
                <apex:commandButton action="{!first}" rendered="{!submissionSetCon.hasPrevious}" reRender="ListView1 , reportedClaim-pagination" styleClass="pager-prev pager-section extream-first activated" onclick="jQuery('.overley, .loading').show();" oncomplete="jQuery('.overley, .loading').hide();"  />                                              
                <apex:outputpanel styleClass="pager-prev pager-section extream-first deactivated" rendered="{!NOT(submissionSetCon.HasPrevious)}"/>
                  
                <apex:commandLink action="{!Previous}" rendered="{!HasPrevious}" reRender="ListView1, reportedClaim-pagination" styleClass="pager-prev pager-section activated" onclick="jQuery('.overley, .loading').show();" oncomplete="jQuery('.overley, .loading').hide();" />                                            
                <apex:outputPanel styleClass="pager-prev pager-section deactivated" rendered="{!NOT(HasPrevious)}" /> 
                 <div class="page-no pager-section"><apex:inputText value="{!pageNum}"  /></div>
                 <apex:actionFunction name="changePageNumberReport" action="{!setpageNumber}" reRender="ListView1, reportedClaim-pagination" oncomplete="jQuery('.overley, .loading').hide();"/>  
                <div class="page-of pager-of-section">of {!CEILING(submissionSetCon.resultSize/submissionSetCon.PageSize)}</div>
                <!--<div class="page-no pager-section">{!IF(submissionSetCon.PageNumber == 1,1,((submissionSetCon.PageNumber -1) * submissionSetCon.PageSize)+1)}</div>
                <div class="page-no pager-section">{!IF(submissionSetCon.PageNumber * submissionSetCon.pageSize > submissionSetCon.resultSize,submissionSetCon.resultSize,submissionSetCon.PageNumber * submissionSetCon.pageSize)}</div>-->
                <apex:outputPanel styleClass="pager-next pager-section deactivated" rendered="{!NOT(submissionSetCon.HasNext)}" />                                                    
                <apex:commandLink rendered="{!HasNext}" action="{!Next}" reRender="ListView1, reportedClaim-pagination" styleClass="pager-next pager-section activated" onclick="jQuery('.overley, .loading').show();" oncomplete="jQuery('.overley, .loading').hide();"/>
                
                <apex:commandButton action="{!last}" rendered="{!submissionSetCon.HasNext}" reRender="ListView1, reportedClaim-pagination" styleClass="pager-next pager-section extream-last activated" onclick="jQuery('.overley, .loading').show();" oncomplete="jQuery('.overley, .loading').hide();"  />   
                <apex:outputPanel styleClass="pager-next pager-section extream-last deactivated" rendered="{!NOT(submissionSetCon.HasNext)}" />
            </div>
        </div>
    </div>
             <!-- Pagination section end-->
</apex:form>
<script>
      /* Restricts the number, arrow, backspace and delete button for the pagination */
                    jQuery('.page-no.pager-section > input[type="text"]').keypress( function(event){
                        return validatePagination(event);
                    });
    /* Restricts the number, arrow, backspace and delete button for the pagination */
   jQuery('.pagination-wrapper .page-no input[type="text"]').bind('keypress', function (eInner){
                if (eInner.keyCode == 13) { 
                    enterPage   = jQuery('.page-no.pager-section > input[type="text"]').val();
                       console.log(enterPage+'of'+{!CEILING(submissionSetCon.resultSize/submissionSetCon.PageSize)});
                       if(enterPage <= {!CEILING(submissionSetCon.resultSize/submissionSetCon.PageSize)} && enterPage != 0){
                              console.log('Enter if');
                             jQuery('.overley, .loading').show();                         
                             changePageNumberReport();                             
                             return false;
                         }
                         else{
                             jQuery('.page-no.pager-section > input[type="text"]').val('1');
                             changePageNumberReport();
                             return false;
                         }
                    }    
                    
      }); 
      
         console.log('tooltrip active Reported cailms');
                  /* tooltrip for client-name start*/
                jQuery('td.client-name').each( function(){
                    var formsName = jQuery.trim(jQuery(this).text());
                    if (formsName.length > 27) {
                        jQuery(this).addClass('selectpicker-long-option');
                        jQuery(this).attr('alt', formsName);
                        jQuery(this).html(formsName.substring(0, 25) + '...');
                    }
                    else {
                        jQuery(this).html(formsName);
                    }
                });
                /* tooltrip for client-name end*/
           
                /* tooltrip for client-type start*/
                jQuery('.broker-view-page-container td.client-type').each( function(){
                    var formsName = jQuery.trim(jQuery(this).text());
                    if (formsName.length > 27) {
                        jQuery(this).addClass('selectpicker-long-option');
                        jQuery(this).attr('alt', formsName);
                        jQuery(this).html(formsName.substring(0, 25) + '...');
                    }
                    else {
                        jQuery(this).html(formsName);
                    }
                });
                /* tooltrip for client-type end*/
                 /* tooltrip for obj-name start*/
                jQuery('.broker-view-page-container td.obj-name').each( function(){
                    var formsName = jQuery.trim(jQuery(this).text());
                    if (formsName.length > 18) {
                        jQuery(this).addClass('selectpicker-long-option');
                        jQuery(this).attr('alt', formsName);
                        jQuery(this).html(formsName.substring(0, 16) + '...');
                    }
                    else {
                        jQuery(this).html(formsName);
                    }
                });
                /* tooltrip for obj-name end*/
                /* tooltrip for cover start*/
                jQuery('.broker-view-page-container td.cover').each( function(){
                    var formsName = jQuery.trim(jQuery(this).text());
                    if (formsName.length > 21) {
                        jQuery(this).addClass('selectpicker-long-option');
                        jQuery(this).attr('alt', formsName);
                        jQuery(this).html(formsName.substring(0, 20) + '...');
                    }
                    else {
                        jQuery(this).html(formsName);
                    }
                });
                /* tooltrip for cover end*/
                /* tooltrip for client-claim-ref start*/
                jQuery('.broker-view-page-container td.client-ref').each( function(){
                    var formsName = jQuery.trim(jQuery(this).text());
                    if (formsName.length > 20) {
                        jQuery(this).addClass('selectpicker-long-option');
                        jQuery(this).attr('alt', formsName);
                        jQuery(this).html(formsName.substring(0, 18) + '...');
                    }
                    else {
                        jQuery(this).html(formsName);
                    }
                });
                /* tooltrip for client-claim-ref end*/
               
                /*  ######## Client view tool trip start    */
                    /* tooltrip for client-claim-ref start*/
                jQuery('.client-view-page-container td.client-ref').each( function(){
                    var formsName = jQuery.trim(jQuery(this).text());
                    if (formsName.length > 25) {
                        jQuery(this).addClass('selectpicker-long-option');
                        jQuery(this).attr('alt', formsName);
                        jQuery(this).html(formsName.substring(0, 23) + '...');
                    }
                    else {
                        jQuery(this).html(formsName);
                    }
                });
                /* tooltrip for client-claim-ref end*/
                /* tooltrip for client-type start*/
                jQuery('.client-view-page-container td.client-type').each( function(){
                    var formsName = jQuery.trim(jQuery(this).text());
                    if (formsName.length > 27) {
                        jQuery(this).addClass('selectpicker-long-option');
                        jQuery(this).attr('alt', formsName);
                        jQuery(this).html(formsName.substring(0, 25) + '...');
                    }
                    else {
                        jQuery(this).html(formsName);
                    }
                });
                /* tooltrip for client-type end*/
            
                /* tooltrip for obj-name start*/
                jQuery('.client-view-page-container td.obj-name').each( function(){
                    var formsName = jQuery.trim(jQuery(this).text());
                    if (formsName.length > 18) {
                        jQuery(this).addClass('selectpicker-long-option');
                        jQuery(this).attr('alt', formsName);
                        jQuery(this).html(formsName.substring(0, 16) + '...');
                    }
                    else {
                        jQuery(this).html(formsName);
                    }
                });
                /* tooltrip for obj-name end*/
            
                /* tooltrip for cover start*/
                jQuery('.client-view-page-container td.cover').each( function(){
                    var formsName = jQuery.trim(jQuery(this).text());
                    if (formsName.length > 26) {
                        jQuery(this).addClass('selectpicker-long-option');
                        jQuery(this).attr('alt', formsName);
                        jQuery(this).html(formsName.substring(0, 24) + '...');
                    }
                    else {
                        jQuery(this).html(formsName);
                    }
                });
                /* tooltrip for cover end*/
                 /* tooltrip for claims-handler  start*/
                jQuery('td.claims-handler span.underwrt-popup-link').each( function(){
                    var formsName = jQuery.trim(jQuery(this).text());
                    if (formsName.length > 18) {
                        jQuery(this).addClass('selectpicker-long-option');
                        jQuery(this).attr('alt', formsName);
                        jQuery(this).html(formsName.substring(0, 16) + '...');
                    }
                    else {
                        jQuery(this).html(formsName);
                    }
                });
                 /*tooltrip for claims-handler end*/
                 jQuery('td.claims-handler span.underwrt-popup-link').mouseenter( function(){
                jQuery('.custom-tooltip').remove();
                if(jQuery(this).attr('alt')) {
                    jQuery('body').append('<span class="custom-tooltip">' + jQuery(this).attr('alt') + '</span>');
                }
                });
                jQuery('td.claims-handler span.underwrt-popup-link').mouseleave( function(){
                            jQuery('.custom-tooltip').remove();
                });
                /* tooltrip for client-type start*/   
                 /*  ######## Client view tool trip end */
                /* Provides the tooltip using jquery UI tooltip plugin */
                jQuery('td').mouseenter( function(){
                    jQuery('.custom-tooltip').remove();
                    if(jQuery(this).attr('alt')) {
                        jQuery('body').append('<span class="custom-tooltip">' + jQuery(this).attr('alt') + '</span>');
                    }
                });
                jQuery('td').mouseleave( function(){
                    jQuery('.custom-tooltip').remove();
                });
                
                /* Provides the tooltip using jquery UI tooltip plugin */
 </script>
 </apex:outputPanel>  
                         <!-- If No data avilable start-->
                    <apex:outputPanel id="ListView2">
                        <apex:outputPanel rendered="{!IF(lstCase.size<=0,true,false)}">
                                     <div class="no-data-found">
                                        No records available.
                                    </div> 
                                    <div class="upld-field-desc" style="float:left;font-style: oblique;margin:10px 0 0 0;">Represents claims which are reported through MyGard portal only</div>
                        </apex:outputPanel>
                     </apex:outputPanel> 
                     <!-- If No data avilable end--> 
 </div>
 </div>
                            
                            
                        </div>
                    </div>
             </div>             
          </div>
         </div>
        
                 
        </apex:define>
    </apex:composition>
    
</apex:page>