<apex:page showChat="false" showHeader="false" sidebar="false" standardStylesheets="false" applyBodyTag="false" applyHtmlTag="false">
<apex:includeScript value="{!$Resource.GoogleAnalytics}"/>

<style>
.each-sub-point
{
margin-bottom: 20px;
}
.topic-info-data
{
    width: 100%;
    padding: 2px 0px;
}
.caption-data
{
    padding-left: 10px;
}
.terms-use-page a,.terms-use-page a:hover,.terms-use-page a:focus
{
    font: 13px AvenirHeavy,Helvetica !important;
   
}
</style> 
<apex:composition template="PageFrame">
        <apex:define name="content" >                    
           <div  class="content">
            <div class="content-wrapper portfolio-content-area terms-page-container"> 
                <div class="page-title">TERMS OF USE - MyGard</div>
                <div class="tab-section-container">
                    <div class="tab-details-section gard-contact claim-tabs-section portfolio">                     
                         <div class="tab-detail-columns"> 
                        <div class="tab-reported-claim-section tab-table-wrapper tab-detail-container documents-details-holder" style="display:block;">
                         <div class="free-content-area">
                            <div class="claims-for-object-section details-object-section terms-use-page"> 
                                <div style="text-align: justify;">
                                    MyGard is an extranet developed and managed by Gard which allows Members, Clients and Brokers to get an overview of their commercial relationship with Gard and to manage their contact information and subscriptions to Gard publications.
                                    <br/><br/>
                                    By accessing MyGard you agree to the following terms of use:  
                                    <br/><br/>
                                    <div class="each-sub-point"><span class="topic-info">1<span class="caption-data">HOW TO ACCESS MYGARD</span></span>
                                        <span class="topic-info-data">You enter MyGard by entering your personal username and password.</span>
                                    </div>
                                    <div class="each-sub-point"><span class="topic-info">2<span class="caption-data">DISCLAIMER</span></span>
                                        <span class="topic-info-data">The content on MyGard is provided for general information purposes only. MyGard is updated every 24th hours. We always strive to ensure the accuracy and quality of the information provided on MyGard. We can, however, not guarantee that the information provided is complete and up-to-date.
                                        <br/><br/>
                                        Your access to MyGard is solely and exclusively linked to the Member(s), Client(s) and/or Broker you work for, therefore, it is your own responsibility to immediately notify Gard should you change your relationship to that Member, Client or Broker so that your access can be adjusted/revoked, whichever is appropriate. Similarly, the admin user(s) of the Member, Client or Broker is responsible for verifying that this has been done, to avoid unauthorized access to MyGard data. 
                                        <br/><br/>
                                        We refer to our general Disclaimer which also applies to MyGard <br/><a href="http://www.gard.no/ikbViewer/web/disclaimer" target="_blank">http://www.gard.no/ikbViewer/web/disclaimer</a>.
                                        </span>
                                    </div>
                                    <div class="each-sub-point"><span class="topic-info">3<span class="caption-data">ACCEPTABLE USE POLICY</span></span>
                                        <span class="topic-info-data">You are solely responsible for any information you may submit via MyGard.
                                            <br/><br/>
                                            <span class="topic-info-data">
                                            You may access, copy, download and print the material contained on MyGard for your personal and non-commercial use only, provided that you do not modify or delete any copyright, trademark or other proprietary notice that appears on the material. 
                                            <br/><br/>
                                            <span class="topic-info-data">
                                            Any other kind of use, reproduction, translation, adaption, arrangement, any other alteration, distribution or storage of MyGard in any form or by any means wholly or partly, without the prior written consent of Gard AS is prohibited.
                                            <br/><br/>
                                            <span class="topic-info-data">
                                            We reserve the right to refuse or cancel any customer or user’s registration and to remove or prohibit any customer or user of MyGard from using MyGard as we deem necessary.
                                            </span>
                                            </span>
                                            </span>
                                        </span>
                                    </div>
                                    <div class="each-sub-point"><span class="topic-info">4<span class="caption-data">INTELLECTUAL PROPERTY RIGHTS</span></span>
                                        <span class="topic-info-data">Gard AS has the ownership and/or full rights to the content as well as the selection and arrangement of the contents available on MyGard. Unauthorized use is prohibited. </span>
                                    </div>
                                    <div class="each-sub-point"><span class="topic-info">5<span class="caption-data">PROCESSING OF PERSONAL DATA</span></span>
                                        <span class="topic-info-data">Gard AS processes personal data in relation to MyGard in accordance with the Norwegian Personal Data Act and as described in Gard’s Privacy Policy available at  <br/><a href="/mygard/PrivacyPolicy">https://{!$Site.Domain}/mygard/PrivacyPolicy</a>.</span>
                                    </div>
                                    <div class="each-sub-point"><span class="topic-info">6<span class="caption-data">COOKIES</span></span>
                                        <span class="topic-info-data">Our use of cookies is described in our Cookie Policy available at <br/><a href="http://www.gard.no/ikbViewer/web/cookie-policy" target="_blank">http://www.gard.no/ikbViewer/web/cookie-policy</a>. </span>
                                    </div>
                                    <div class="each-sub-point"><span class="topic-info">7<span class="caption-data">PRECAUTIONS - DATA SECURITY</span></span>
                                        <span class="topic-info-data">As a user of MyGard you are solely to ensure good security on the device used to access MyGard. We recommend that you ensure to have appropriate firewall protection and updated antivirus and antispyware programs.
                                         <br/><br/>
                                         <span class="topic-info-data">As a user of MyGard you are also solely responsible to keep personal codes and passwords secret. You are responsible for any and all statements made, acts or omissions that occur through the use of your password. Please notify Gard AS immediately if you have any reason to believe or become aware of any loss, theft or unauthorized use of your password. Gard AS may assume that any communications Gard AS receives under your password have been made by you unless Gard AS receives notice otherwise.</span>
                                         </span>
                                    </div>
                                     <br/><br/>
                                     For questions in relation to the use of My Gard please contact us at email  <a href="mailto:MyGard.support@gard.no">MyGard.support@gard.no</a> or call us at +47 37 01 91 00 (switchboard).  
                                </div>
                            </div>
                        </div>
                       </div>
                       </div>
                       </div> 
                </div>
             </div> 
            </div>
        </apex:define>
 </apex:composition>
</apex:page>