<apex:page id="pg1" controller="UWRChartersVesselCtrl" showHeader="false" sidebar="false"  standardStylesheets="false" applyBodyTag="false" applyHtmlTag="false" action="{!chkAccess}">
    <apex:includeScript value="{!$Resource.GoogleAnalytics}"/>
    <style>
        .ui-autocomplete-loading { 
        background: #F1F1F0 url(/img/loading32.gif) right center no-repeat !important;
        background-size: 15px 15px !important;
        }
        .auto-popup{
        width: 387px;
        display: table-cell;
        /* border: 2px solid #F1F1F0;*/
        } 
        .obj-name-auto {
        /*width: 125px;*/
        float: left;
        font-weight: bold;
        }
        .imo-auto{
        float: right;
        padding-right: 10px;
        }
        .nationality-officer .select-wrapper .dropdown-menu.open ul.dropdown-menu.selectpicker {
        max-height: 84px !important;
        }
        .req-classification .select-wrapper .btn-group.open ul.dropdown-menu.multiselect-container{
        max-height: 217px !important;
        }
        
        .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus{
        background-color: #FFF !important;
        }
        .AutoCompleteTopDivPanel{
        overflow-y: auto;
        max-height: 291px;
        width: 438px;
        border: 2px solid #F1F1F0;
        z-index: 99;
        position: absolute;
        background: none repeat scroll 0 0 #FFF;
        }
        .uw-form-for-ship-owner .form-req-field img{
        margin-left: -10px !important;
        }
        .personal-details-section, .personal-claim-details, .personal-category {
        float: left;
        width: 100%;
        }
        .itopf-right-field-section {
        background: none repeat scroll 0 0 #fff !important;
        border: none !important;
        border-radius: 0px !important;
        padding: 0px !important;
        }
        label.uw-right-label {
        width: 200px;
        }
        .hint-section-each {
        color: black !important;
        }
        .attached-doc-text-section label {
        color: black !important; 
        }
        .uw-review-desc-infos-title {
        color: black !important; 
        }
        uw-attachment-upload-section{
        width: 600px !important ;
        }
        .desc-tooltip {
        margin: 0px -5px 0 0;
        }
        .extream-bottom-place-finder .autocomplete-wrappers, .extrem-last-dropdown .dropdown-menu.open {
        bottom: 29px;
        box-shadow: 1px -1px 2px 0px rgba(73, 59, 38, 0.2);
        left: 0px;
        top: auto;
        }
        /* IE10+ specific styles go here  for SF-1802*/  
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
        .search-by-imo-ie-style{
        opacity: 0.6;
        }
        }
        .currency-dropdown-style .select-wrapper .bootstrap-select.btn-group .dropdown-menu.open { 
        width: 105px !important;
        overflow: hidden !important;
        } 
        .request-for-guestUser
        {
        position:relative;
        margin-top:-51px;
        }
        
        .request-form-each-field-section.vat-section .select-wrapper .btn.dropdown-toggle.selectpicker.disabled.btn-default,
        .request-form-each-field-section.vat-section .select-wrapper .btn-group .multiselect.disabled.btn-default {
                background-position: 130px 11px !important;
        }
        .portfolio .broker-view.forms .multistep-content-holder .select-wrapper .dropdown-menu.open ul.dropdown-menu.selectpicker {
            width: 146px !important;
        }
    </style>
    <script type="text/javascript">
    var incrementer = 40; 
    var isPageLoad = false;                        
    //var __sfdcSessionId = '{!GETSESSIONID()}'; 
    function chkFile(s,t,v_text)
    {
        var i = t.id;
        //console.log(i);
        var str_id=i.substr(i.lastIndexOf(":")+1);
        // alert(str_id);
        switch (v_text) {
            case 0:
                text_field = "uploadFile";
                break;
            case 1:
                text_field = "uploadFile1";
                break;
            case 2:
                text_field = "uploadFile2";
                break;   
            case 3:
                text_field = "uploadFile3";
                break;
            case 4:
                text_field = "uploadFile4";
                break;       
        }
        jQuery(".error-file-upload").removeClass("error-file-upload");
        jQuery(".error-file-upload-msg").remove();        
        if(s>5242880){        
            jQuery("[id$="+str_id+"]").val('');        
            jQuery("[id$="+text_field+"]").val('');
            jQuery("[id$="+text_field+"]").next().next().after('<div class="error-file-upload-msg">File size is bigger than 5MB</div>');
            jQuery("[id$="+text_field+"]").addClass("error-file-upload");
            
        }
        else{
            var fname = jQuery("[id$="+str_id+"]").val();
            fname = fname.substr(fname.lastIndexOf("\\") + 1);
            jQuery("[id$="+text_field+"]").val(fname);  
            jQuery(".error-file-upload-msg").remove();
            jQuery(t).parent().next().after('<span class="reim-delete-expence"></span>'); 
            jQuery(".reim-add-expence").remove();
            if(v_text <5){                
                jQuery(t).parent().next().after('<span class="reim-add-expence"></span>');
                jQuery('.reim-add-expence').click( function(){                  
                    jQuery(this).parent().next().show();
                    jQuery('.reim-add-expence').remove();
                    jQuery(this).parent().next().after('<span class="reim-delete-expence"></span>');        
                });                               
            }              
        }
    }  
    //method for checking checkboxes and related textboxes
    jQuery(document).ready(function() {     
        console.log('onload method');
        //check for same-as-assured checkbox
        var invoice1 = jQuery('textarea[id$="ship-owner-name-premium-invoice"]');
        var same_name1 = jQuery('input[id$="same_as_assured"]').is(':checked');
        if(same_name1)
        {
            invoice1.attr("disabled", "disabled");                
        }
        else
        {
            invoice1.removeAttr("disabled");              
        }
        //check for VAT-Not-Applicable checkbox
        var objVatNo1 = jQuery('input[id$="vatNo"]');
        //Added By Geetham For SF-4915
        var Objvatname1 = jQuery('textarea[id$="ship-owner-vat-name"]');
        var vat_app_chk1 = jQuery('input[id$="vat_applicable"]').is(':checked');
        console.log(vat_app_chk1);
        if(vat_app_chk1){
            console.log('inside loop:'+objVatNo1);
            objVatNo1.attr("disabled", "disabled");
            Objvatname1.attr("disabled", "disabled"); 
            objVatNo1.val('');
            Objvatname1.val('');
            jQuery('select[id$="country_select_id"]').parents(".select-wrapper").children().children().addClass("disabled");
        }
        else{
            objVatNo1.removeAttr("disabled");
            Objvatname1.removeAttr("disabled");
            jQuery('select[id$="country_select_id"]').parents(".select-wrapper").children().children(3).removeClass('disabled');
        }           
        
    });
    function checkAssured(assNm)
    {
        var invoice = jQuery('textarea[id$="ship-owner-name-premium-invoice"]');
        var assNo = jQuery('textarea[id$="ship-owner-name-of-assured"]').val();
        var same_name = jQuery('input[id$="same_as_assured"]').is(':checked');
        
        if(same_name)
        {
            invoice.attr("disabled", "disabled");
            invoice.val(assNo);
            invoice.text(assNo);
        }
        else{
            invoice.removeAttr("disabled");
            invoice.val('');
        }
    }
    function noVAT(vatId)
    {           
        var objVatNo = jQuery('input[id$="vatNo"]');
        //Added By Geetham For SF-4915
        var Objvatname = jQuery('textarea[id$="ship-owner-vat-name"]');
        var vat_app_chk = jQuery('input[id$="vat_applicable"]').is(':checked');
        if(vat_app_chk){
            objVatNo.attr("disabled", "disabled");
            Objvatname.attr("disabled", "disabled"); 
            jQuery('input[id$="vatNo"]').val('');
            jQuery('textarea[id$="ship-owner-vat-name"]').val('');
            jQuery('input[id$="ship-owner-country-prefix"]').val('');
            jQuery('select[id$="country_select_id"]').parents(".select-wrapper").children().children().addClass("disabled");
            jQuery('button.selectpicker .filter-option').html(' ');
        }
        else{
            objVatNo.removeAttr("disabled");
            Objvatname.removeAttr("disabled");
            jQuery('select[id$="country_select_id"]').parents(".select-wrapper").children().children(3).removeClass('disabled');
        }           
    }  
    function clearSearch(){
        jQuery('input[id$="objSearch"]').val('');
        jQuery('.AutoCompleteTopDivPanel').hide();
    }
    function callSearchOption(){
        jQuery(".error-validation-msg").remove();
        var strKey = jQuery.trim(jQuery('input[id$="objSearch"]').val());
        var selectedClient =jQuery('select[id$="ship-owner-client"]').val();
        var arrDate = jQuery('input[id$="arvDate"]').val();
        if((typeof selectedClient != typeof  undefined) && (selectedClient == '' || selectedClient == null || selectedClient == ' ') ){
            var msgError = '<div class="error-validation-msg" >Please select client.</div>';                  
            jQuery('select[id$="ship-owner-client"]').parent().after(msgError);                 
            return false;
        }
        
        if(!isNaN(strKey) && strKey.length==7){
            jQuery('input[id$="objSearch"]').addClass('ui-autocomplete-loading');
            jQuery('input[id$="objSearch"]').attr('readonly','readonly');
            jQuery('input[id$="keyStr"]').val('imo');
            fetchObjectDetails(strKey,/*selectedClient,*/'imo',arrDate );//4302 selectedClient commented
        }
        else if( isNaN(strKey) && strKey.length >= 3){
            jQuery('input[id$="objSearch"]').addClass('ui-autocomplete-loading');
            jQuery('input[id$="objSearch"]').attr('readonly','readonly');
            jQuery('input[id$="keyStr"]').val('objname');
            fetchObjectDetails(strKey,/*selectedClient,*/'objname',arrDate  );//4302 commented
        }
    }
    
    function validationPage1Shipowner(){
        jQuery(".error-validation-msg").remove(); 
        
        var selectedClient = jQuery('select[id$="ship-owner-client"]').val();
        var dtAttach = jQuery('input[id$="ship-owner-att-risk-date"]').val();
        var objName = jQuery.trim(jQuery('input[id$="ship-owner-obj-name"]').val());
        var grossTonnage = jQuery.trim(jQuery('input[id$="ship-owner-gross-tonnage"]').val());
        var yearBuild = jQuery('select[id$="ship-owner-year-build"]').val();
        var portOfReg = jQuery('select[id$="ship-owner-port-of-registry"]').val();
        var flag = jQuery('select[id$="obj_flag_field"]').val();
        var callSign = jQuery.trim(jQuery('input[id$="ship-owner-call-sign"]').val());
        var classification = jQuery('select[id$="ship-owner-classification"]').val();
        /*var str = classification.split(';');
            alert(str.size());
            console.log('******** classification'+classification.indexOf(","));*/
        var ownerName = jQuery.trim(jQuery('textarea[id$="ship-owner-name-of-assured"]').val());
        var premiumInvoice = jQuery.trim(jQuery('textarea[id$="ship-owner-name-premium-invoice"]').val());
        var ownerVatName = jQuery.trim(jQuery('textarea[id$="ship-owner-vat-name"]').val());
        var vatNo = jQuery.trim(jQuery('input[id$="vatNo"]').val());
        var countryPrefix = jQuery.trim(jQuery('input[id$="ship-owner-country-prefix"]').val());
        var vat_chk = jQuery('input[id$="vat_applicable"]').is(':checked');
        var regex=/^[a-zA-Z]+$/;
        var Country = jQuery('select[id$="country_select_id"]').val();
        
        var imoNo = jQuery.trim(jQuery('input[id$="ship-owner-imo"]').val());
        
        var userType1 = {!isGuest};
        if(userType1)
        {
            var Guestclient= jQuery('input[id$="GuestclientName"]').val();
        }
        
        var countoption =0;
        jQuery('select[id$="ship-owner-classification"] option:selected').each( function(){
            countoption++;
        });
        console.log('size----'+countoption);
        
        
        if((typeof selectedClient != typeof  undefined) && (selectedClient == '' || selectedClient == null || selectedClient == ' ') ){
            var msgError = '<div class="error-validation-msg" >Please select client.</div>';                  
            jQuery('select[id$="ship-owner-client"]').parent().after(msgError);                 
            return false;
        }
        else if(userType1 && (Guestclient==null || Guestclient==''))
        {
            var msgError = '<span class="error-validation-msg">Please select client.</span>';                  
            jQuery('input[id$="GuestclientName"]').after(msgError);                 
            return false;
        }
            else if((typeof dtAttach != typeof  undefined) && (dtAttach == '' || dtAttach == null || dtAttach == ' ') ){
                var msgError = '<div class="error-validation-msg" >Date for attachment of risk can not be blank.</div>';                  
                jQuery('input[id$="ship-owner-att-risk-date"]').after(msgError);                 
                return false;
            }
                else if((typeof objName != typeof  undefined) && ( objName == '' || objName == null || objName == ' ') ){
                    var msgError = '<div class="error-validation-msg" >Please select object name.</div>';                  
                    jQuery('input[id$="ship-owner-obj-name"]').after(msgError);                 
                    return false;
                }
                    else if((typeof flag != typeof  undefined) && (flag == '' || flag == null || flag == ' ') ){
                        var msgError = '<div class="error-validation-msg" >Flag can not be blank.</div>';                  
                        jQuery('select[id$="obj_flag_field"]').parent().after(msgError);                 
                        return false;
                    }
                        else if((typeof portOfReg != typeof  undefined) && (portOfReg == '' || portOfReg == null || portOfReg == ' ') ){
                            var msgError = '<div class="error-validation-msg" >Port of registry can not be blank.</div>';                  
                            jQuery('select[id$="ship-owner-port-of-registry"]').parent().after(msgError);                 
                            return false;
                        }
                            else if((typeof callSign != typeof  undefined) && (callSign == '' || callSign == null || callSign == ' ') ){
                                var msgError = '<div class="error-validation-msg" >Call sign can not be blank.</div>';                  
                                jQuery('input[id$="ship-owner-call-sign"]').after(msgError);                 
                                return false;
                            }
                                else if((typeof grossTonnage != typeof  undefined) && (grossTonnage == '' || grossTonnage == null || grossTonnage == ' ') ){
                                    var msgError = '<div class="error-validation-msg" >Gross tonnage can not be blank.</div>';                  
                                    jQuery('input[id$="ship-owner-gross-tonnage"]').after(msgError);  
                                    return false;
                                }
        
                                    else if((typeof yearBuild != typeof  undefined) && (yearBuild == '' || yearBuild == null || yearBuild == ' ') ){
                                        var msgError = '<div class="error-validation-msg" >Year built can not be blank.</div>';                  
                                        jQuery('select[id$="ship-owner-year-build"]').parent().after(msgError);                 
                                        return false;
                                    }
        
                                        else if((typeof classification != typeof  undefined) && (classification == '' || classification == null || classification == ' ') ){
                                            var msgError = '<div class="error-validation-msg" >Classification can not be blank.</div>';                  
                                            jQuery('select[id$="ship-owner-classification"]').parent().after(msgError);                 
                                            return false;
                                        }
        
                                            else if(ownerName == ''){
                                                var msgError = '<div class="error-validation-msg" >This field can not be blank.</div>';                  
                                                jQuery('textarea[id$="ship-owner-name-of-assured"]').after(msgError);                 
                                                return false;
                                            }
                                                else if(premiumInvoice == ''){
                                                    var msgError = '<div class="error-validation-msg" >This field can not be blank.</div>';                  
                                                    jQuery('textarea[id$="ship-owner-name-premium-invoice"]').after(msgError);                 
                                                    return false;
                                                }
                                                    else if(ownerVatName == '' && vat_chk == false){//Added By Geetham For SF-4915
                                                        var msgError = '<div class="error-validation-msg" >This field can not be blank.</div>';                  
                                                        jQuery('textarea[id$="ship-owner-vat-name"]').after(msgError);                 
                                                        return false;
                                                    }
                                                        else if(vatNo == '' && vat_chk == false){
                                                            var msgError = '<div class="error-validation-msg" >This field can not be blank.</div>';                  
                                                            jQuery('input[id$="vatNo"]').after(msgError);                 
                                                            return false;
                                                        }
                                                            else if(countryPrefix != '' && !countryPrefix.match(regex)){
                                                                var msgError = '<div class="error-validation-msg">Country code should be text only.</div>';                  
                                                                jQuery('input[id$="ship-owner-country-prefix"]').after(msgError);                 
                                                                return false;
                                                            }
                                                                else if((typeof grossTonnage != typeof  undefined) && (grossTonnage != '') && (isNaN(grossTonnage)) ){                
                                                                    var msgError = '<div class="error-validation-msg">Gross tonnage should be a number.</div>';                  
                                                                    jQuery('input[id$="ship-owner-gross-tonnage"]').after(msgError);                 
                                                                    return false;                
                                                                }
                                                                
                                                                        else if(!vat_chk && (typeof Country != typeof  undefined) && (Country == '' || Country == null || Country == ' ')) {
                                                            var msgError = '<div class="error-validation-msg">Please select Country.</div>';                  
                                                            jQuery('select[id$="country_select_id"]').next().after(msgError);                
                                                            return false;
                                                        }
                                                                    else if(countoption > 2){
                                                                        var msgError = '<div class="error-validation-msg" >You can select max 2 classification.</div>';                  
                                                                        jQuery('select[id$="ship-owner-classification"]').parent().after(msgError);                 
                                                                        return false;
                                                                    }
                                                                        else if((typeof imoNo != typeof  undefined) && imoNo != '' ){
                                                                            console.log('not blank IMO');
                                                                            if(imoNo.length != 7 || isNaN(imoNo)){
                                                                                console.log('Error in IMO');
                                                                                var msgError = '<div class="error-validation-msg">IMO no. should be a 7 digit number.</div>';                  
                                                                                jQuery('input[id$="ship-owner-imo"]').after(msgError);                 
                                                                                return false;
                                                                            }
                                                                            
                                                                            else{
                                                                                return true;
                                                                            }
                                                                        }
                                                                            else{
                                                                                return true;
                                                                            }
    }
    
    </script>
    <!--<script src="/soap/ajax/31.0/connection.js" type="text/javascript"></script>-->
<apex:composition template="PageFrame" >
    <apex:define name="content" > 
        <!-- Content section starts -->
            <div id="content" class="content">
                <div class="content-wrapper">
                    <!--SF-4582 starts-->
                        <apex:outputPanel rendered="{!if(usertype!='GUEST',true,false)}">
                            <div class="page-title">My portfolio<!--<apex:outputText value="{!IF(formType=='PI','Layup form P&I','Layup form Marine')}" />--></div>
                            </apex:outputPanel>
                            <!--4582 Ends-->
                                <div class="tab-section-container">
                                    <!--SF-4582 starts-->
                                        <apex:outputPanel rendered="{!if(usertype!='GUEST',true,false)}">
                                            <apex:include pageName="requestPage"/>
                                                </apex:outputPanel>
                                            <!--4582 Ends-->
                                                <div class="tab-button-section">                            
                                                    <div class="tab-header-container">
                                                        <!--SF-4582 starts-->
                                                            <apex:outputPanel rendered="{!if(usertype!='GUEST',true,false)}">
                                                                <div class="cover single-tab deselected"><apex:outputLink value="/apex/MyCovers" >Covers</apex:outputLink></div>
                                                                    <div class="object single-tab deselected"><apex:outputLink value="/apex/MyObjects" >Objects</apex:outputLink></div>
                                                                        <div class="documents single-tab deselected"><apex:outputLink value="/apex/ViewDocument" >Documents</apex:outputLink></div>
                                                                            </apex:outputPanel>
                                                                        <!--4582 Ends--> 
                                                                            <div class="forms single-tab selected"><apex:outputLink value="/apex/PortfolioForms" >Forms</apex:outputLink><div class="update-cover-wrapper-activated"></div></div>
                                                                            <!--SF-4582 starts-->
                                                                                <apex:outputPanel rendered="{!if(usertype!='GUEST',true,false)}">                            
                                                                                    <div class="portfolio-report single-tab deselected"><apex:outputLink value="/apex/PortfolioReports">Portfolio reports</apex:outputLink></div>
                                                                                        </apex:outputPanel>
                                                                                    <!--SF-4582 ends-->
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="tab-details-section gard-contact claim-tabs-section portfolio">
                                                                                        <div class="tab-detail-columns">
                                                                                            <apex:form >
                                                                                                <apex:actionFunction name="fetchObjectDetails" action="{!searchByImoObjectName}"  reRender="popup1" oncomplete="jQuery('.reqest-object.search-object-name').removeClass('ui-autocomplete-loading');">
                                                                                                    <apex:param name="param_selectedObject" value="" assignTo="{!ObjName}"/>
                                                                                                        <!--4302 commented--<apex:param name="param_selectedClient" value="" assignTo="{!selectedClient}"/>-->
                                                                                                            <apex:param name="param_FindBy" value="" assignTo="{!FindBy}"/>
                                                                                                                <apex:param name="param_ArrvDate" value="" assignTo="{!arrivalDate}"/>
                                                                                                                    </apex:actionFunction>
                                                                                                                </apex:form>
                                                                                                                <!-- newly added -->
                                                                                                                    <div class="tab-object-section tab-table-wrapper tab-detail-container broker-view forms" style="display: block;">
                                                                                                                        <div class="multistep-form-step-container layup-pi-form-container">                                       
                                                                                                                            <div class="contact-field">
                                                                                                                                <apex:form id="fr1" >
                                                                                                                                    <div class="form-field-scrol-container">
                                                                                                                                        
                                                                                                                                        <div class="multistep-form-path-pointer">
                                                                                                                                            <div class="common-path-bar"></div>
                                                                                                                                            <div class="completed-path-bar"></div>
                                                                                                                                            <div class="section-titles obj-det-title">Object details</div>
                                                                                                                                            <div class="section-titles rev-title">Review and submit</div>
                                                                                                                                            <div class="obj-details-dot dots current"></div>
                                                                                                                                            <div class="review-dot dots"></div>
                                                                                                                                            </div>
                                                                                                                                            <!--<div class="calendar-container new-claim-calender"></div>-->
                                                                                                                                            <div class="new-claim-report-section sub-sec-title-area">Application form for Chartered object</div>
                                                                                                                                                <div class="request-form-fields-container uw-mou-obg-detl-container multistep-content-holder visible-form-section uw-form-field-container">
                                                                                                                                                <div class="report-new-claim-field-section">
                                                                                                                                                <div class="report-new-claim-field-section-left-panel">
                                                                                                                                                <apex:outputPanel id="otp1">  
                                                                                                                                                <apex:outputPanel rendered="{!hasMultipleClients}"> <!-- sfEdit 4302 replaced rendered="{!userType=='Broker'"} -->
                                                                                                                                                <div class="request-form-each-field-section req-cover-new-client-name">
                                                                                                                                                <label for="client-cover-new"><span class="form-req-field"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> Client:</label>
                                                                                                                                                <div class="select-wrapper">
                                                                                                                                                <apex:selectList value="{!selectedClient}" styleClass="selectpicker" id="ship-owner-client" onChange="clearFieldValues();changeSelectedClientIdFormsCSActionFunction();">
                                                                                                                                                <apex:selectOptions value="{!clientLst}"/>
                                                                                                                                                </apex:selectList>
                                                                                                                                                </div>
                                                                                                                                                <script>
                                                                                                                                                jQuery('.alternate-imo-no > input[type="text"]').keypress( function(event){
                                                                                                                                                    return validatePagination(event);
                                                                                                                                                });
/* Controls the search by option popup for the single pick-list */

jQuery('.request-form-each-field-section.req-cover-new-client-name .selectpicker').selectpicker({
    noneResultsText: 'No match found!',
    liveSearch: true,
    searchAccentInsensitive: false
});  

jQuery('.request-form-each-field-section.req-cover-new-client-name .select-wrapper .dropdown-toggle.selectpicker').click( function(){
    //jQuery('.dropdown-menu.inner.selectpicker .mCSB_container').css('display', 'block');
    //alert(jQuery(this).next().children().find('li.selected').length);
    if (jQuery(this).next().children().find('li.selected').length != 0) {
        //alert(jQuery(this).next().children().find('.mCSB_container').css('top')/* .children('.mCSB_container').css('top') */);
    }
});
/* Deselect any selection while choosong any picklist */
jQuery('.request-form-each-field-section.req-cover-new-client-name .select-wrapper .btn-group button.multiselect, .select-wrapper .dropdown-toggle.selectpicker').click( function(){
    document.getSelection().removeAllRanges();
});
/* Deselect any selection while choosong any picklist */

/* Default search by any word selection for the pick-list search option */
//var incrementer = 1;
jQuery('.request-form-each-field-section.req-cover-new-client-name .search-by-option-container').each( function(){
    var searchOptions = '<span class="search-by-icon-button selectpicker-long-option" alt="Search by"><span class="search-by-pointer"></span><div class="search-by-option"><div class="search-by-text">Search by<span class="close-search-by"></span></div><div class="search-options"><input class="any-word" id="search-by-any-word' + incrementer + '" type="radio" value="0" name="search-option' + incrementer + '" checked><label for="search-by-any-word' + incrementer + '">Any word</label></div><div class="search-options"><input class="exact-phrase" id="search-by-exact-phrase' + incrementer + '" type="radio" value="1" name="search-option' + incrementer + '"><label for="search-by-exact-phrase' + incrementer + '">Exact phrase</label></div></div></span>';
    jQuery(this).html(searchOptions);
    incrementer++;
});
/* Default search by any word selection for the pick-list search option */


/* Controls the opening/closing feature for the search by popup. */
jQuery('.request-form-each-field-section.req-cover-new-client-name .search-by-icon-button').click( function(){
    jQuery(this).children().show();
});
var searchByElement = jQuery('.request-form-each-field-section.req-cover-new-client-name .search-by-icon-button');
jQuery(document).bind('mouseup', function (e){
    if (searchByElement.has(e.target).length === 0) {
        jQuery(searchByElement).children().hide();
    }
});
/* Controls the opening/closing feature for the search by popup. */

/* Controls the search by option popup for the single pick-list */
jQuery('.request-form-each-field-section.req-cover-new-client-name .bs-searchbox').each( function(){
    var searchOptions = '<span class="search-by-icon-button selectpicker-long-option" alt="Search by"><span class="search-by-pointer"></span><div class="search-by-option"><div class="search-by-text">Search by<span class="close-search-by"></span></div><div class="search-options"><input class="any-word" id="search-by-any-word' + incrementer + '" type="radio" value="0" name="search-option' + incrementer + '" checked><label for="search-by-any-word' + incrementer + '">Any word</label></div><div class="search-options"><input class="exact-phrase" id="search-by-exact-phrase' + incrementer + '" type="radio" value="1" name="search-option' + incrementer + '"><label for="search-by-exact-phrase' + incrementer + '">Exact phrase</label></div></div></span>';
    jQuery(this).append(searchOptions);
    incrementer++;
});
jQuery('.request-form-each-field-section.req-cover-new-client-name .bs-searchbox .search-by-icon-button').click( function(e){
    e.stopPropagation();
    jQuery(this).children().show();
});
var searchByElementSingle = jQuery('.request-form-each-field-section.req-cover-new-client-name .bs-searchbox .search-by-icon-button');
jQuery(document).bind('mousedown', function (e){
    if (searchByElementSingle.has(e.target).length === 0) {
        jQuery(searchByElementSingle).children().hide();
    }
});                                  
jQuery(".request-form-each-field-section.req-cover-new-client-name .dropdown-menu.open ul").mCustomScrollbar({
    mouseWheelPixels: 20,
    scrollEasing: "linear",
    scrollInertia: 0
}); 

/* Stop multi-select dropdown closing event clicking on the custom scroll bar */
jQuery('.mCSB_draggerContainer').click( function(e){
    e.stopPropagation();
});
</script>
</div>
</apex:outputPanel> 
</apex:outputPanel>
<!--Client Part-->
    <apex:outputPanel rendered="{!if(AND(!hasMultipleClients,userType!='GUEST'),true,false)}"><!-- sfEdit 4302 replaced rendered="{!(userType=='Client')}"-->
        <div class="request-form-each-field-section req-cover-new-client-name">
            <label for="client-cover-new"><span class="form-req-field"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> Client:</label>
            <div class="emptyPanelStyle" Style = "margin-top: 0 !important;">
                <apex:outputText value="{!clientName}" id="single-client"/>
            </div>
        </div>   
    </apex:outputPanel> 
    <!--Client Part End--> 
    <!--SF-4582- starts -->
    <apex:outputPanel rendered="{!if(AND(!hasMultipleClients,userType=='GUEST'),true,false)}">
        <div class="request-form-each-field-section req-cover-new-client-name">
            <label for="client-cover-new"><span class="form-req-field"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> Client:</label>
            <apex:inputText value="{!DummyGuestClient}" id="GuestclientName"/>
        </div>  
    </apex:outputPanel> 
    <!--SF-4582- Ends -->
    <apex:outputPanel id="objectPanel">
        <script>console.log('under otp2');console.log('object name:{!objectIns.name}');</script>
        <apex:inputHidden value="{!FindBy}" id="keyStr"/>
            <!--SF-4582 starts-->
                <apex:outputPanel rendered="{!if(usertype!='GUEST',true,false)}">
                    <div class="request-form-each-field-section req-effective-date floating-or-carrier uw-obj-search">
                        <apex:inputText id="objSearch" value="{!ObjName}" onkeyup="callSearchOption();" styleClass="reqest-object search-object-name search-by-imo-ie-style" html-placeholder="Search by object name / IMO"/>
                            </div>
                        </apex:outputPanel>
                        <!--sf-4582 ends-->
                            <div class="request-form-each-field-section req-object">
                                <label for="reqest-object"><span class="form-req-field"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> Object name:</label>
                                    <apex:inputText id="ship-owner-obj-name" value="{!objectIns.name}" styleClass="reqest-object"/>
                                    </div>
                                    <div class="request-form-each-field-section uw-flag objsection">
                                    <label for="reqest-type"><span class="form-req-field"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> Flag:</label>
                                    <div class="select-wrapper">
                                    <apex:selectList value="{!objectIns.Flag__c}" multiselect="false" size="1" styleClass="selectpicker" id="obj_flag_field">
                                    <apex:selectOptions value="{!FlagList}"/>
                                    </apex:selectList>
                                    </div>
                                    </div>
                                    <div class="request-form-each-field-section uw-call-sign">
                                    <label for="uw-call-sign-input"><span class="form-req-field"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> Call sign:</label>
                                    <apex:inputText value="{!objectIns.Signal_Letters_Call_sign__c}" styleClass="uw-call-sign-input" id="ship-owner-call-sign"/>
                                    </div> 
                                    <div class="request-form-each-field-section req-year-build objsection">
                                    <label for="uw-ship-owner-small-craft-built-year"><span class="form-req-field"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> Year built:</label>
                                    <div class="select-wrapper">
                                    <apex:selectList value="{!selectedYrBuilt}" multiselect="false" size="1" styleClass="selectpicker" id="ship-owner-year-build">
                                    <apex:selectOptions value="{!yearBuilt}"/>
                                    </apex:selectList>
                                    </div>
                                    </div>
                                    <script>
                                    jQuery('.alternate-imo-no > input[type="text"]').keypress( function(event){
                                        return validatePagination(event);
                                    });
        /* Controls the search by option popup for the single pick-list */
        
        jQuery('.request-form-each-field-section.objsection .selectpicker').selectpicker({
            noneResultsText: 'No match found!',
            liveSearch: true,
            searchAccentInsensitive: false
        });  
        
        jQuery('.request-form-each-field-section.objsection .select-wrapper .dropdown-toggle.selectpicker').click( function(){
            //jQuery('.dropdown-menu.inner.selectpicker .mCSB_container').css('display', 'block');
            //alert(jQuery(this).next().children().find('li.selected').length);
            if (jQuery(this).next().children().find('li.selected').length != 0) {
                //alert(jQuery(this).next().children().find('.mCSB_container').css('top')/* .children('.mCSB_container').css('top') */);
            }
        });
        /* Deselect any selection while choosong any picklist */
        jQuery('.request-form-each-field-section.objsection .select-wrapper .btn-group button.multiselect, .select-wrapper .dropdown-toggle.selectpicker').click( function(){
            document.getSelection().removeAllRanges();
        });
        /* Deselect any selection while choosong any picklist */
        
        /* Default search by any word selection for the pick-list search option */
        //var incrementer = 1;
        jQuery('.request-form-each-field-section.objsection .search-by-option-container').each( function(){
            var searchOptions = '<span class="search-by-icon-button selectpicker-long-option" alt="Search by"><span class="search-by-pointer"></span><div class="search-by-option"><div class="search-by-text">Search by<span class="close-search-by"></span></div><div class="search-options"><input class="any-word" id="search-by-any-word' + incrementer + '" type="radio" value="0" name="search-option' + incrementer + '" checked><label for="search-by-any-word' + incrementer + '">Any word</label></div><div class="search-options"><input class="exact-phrase" id="search-by-exact-phrase' + incrementer + '" type="radio" value="1" name="search-option' + incrementer + '"><label for="search-by-exact-phrase' + incrementer + '">Exact phrase</label></div></div></span>';
            jQuery(this).html(searchOptions);
            incrementer++;
        });
        /* Default search by any word selection for the pick-list search option */
        
        
        /* Controls the opening/closing feature for the search by popup. */
        jQuery('.request-form-each-field-section.objsection .search-by-icon-button').click( function(){
            jQuery(this).children().show();
        });
        var searchByElement = jQuery('.request-form-each-field-section.objsection .search-by-icon-button');
        jQuery(document).bind('mouseup', function (e){
            if (searchByElement.has(e.target).length === 0) {
                jQuery(searchByElement).children().hide();
            }
        });
        /* Controls the opening/closing feature for the search by popup. */
        
        /* Controls the search by option popup for the single pick-list */
        jQuery('.request-form-each-field-section.objsection .bs-searchbox').each( function(){
            var searchOptions = '<span class="search-by-icon-button selectpicker-long-option" alt="Search by"><span class="search-by-pointer"></span><div class="search-by-option"><div class="search-by-text">Search by<span class="close-search-by"></span></div><div class="search-options"><input class="any-word" id="search-by-any-word' + incrementer + '" type="radio" value="0" name="search-option' + incrementer + '" checked><label for="search-by-any-word' + incrementer + '">Any word</label></div><div class="search-options"><input class="exact-phrase" id="search-by-exact-phrase' + incrementer + '" type="radio" value="1" name="search-option' + incrementer + '"><label for="search-by-exact-phrase' + incrementer + '">Exact phrase</label></div></div></span>';
            jQuery(this).append(searchOptions);
            incrementer++;
        });
        jQuery('.request-form-each-field-section.objsection .bs-searchbox .search-by-icon-button').click( function(e){
            e.stopPropagation();
            jQuery(this).children().show();
        });
        var searchByElementSingle = jQuery('.request-form-each-field-section.objsection .bs-searchbox .search-by-icon-button');
        jQuery(document).bind('mousedown', function (e){
            if (searchByElementSingle.has(e.target).length === 0) {
                jQuery(searchByElementSingle).children().hide();
            }
        });                                  
        jQuery(".request-form-each-field-section.objsection .dropdown-menu.open ul").mCustomScrollbar({
            mouseWheelPixels: 20,
            scrollEasing: "linear",
            scrollInertia: 0
        }); 
        
        /* Stop multi-select dropdown closing event clicking on the custom scroll bar */
        jQuery('.mCSB_draggerContainer').click( function(e){
            e.stopPropagation();
        });
        </script>                                                                   
    </apex:outputPanel> 
    
</div>

<apex:outputPanel id="date-attachment">  
    <div class="report-new-claim-field-section-right-panel">
        <div class="request-form-each-field-section req-effective-date uw-left-top-calendar">
            <label class="long-uw-label" for="ship-owner-att-risk-date"><span class="form-req-field"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> Date for attachment of risk:</label>
            <apex:inputText value="{!dateOutput}" id="ship-owner-att-risk-date" styleClass="ship-owner-att-risk-date custom-datepicker" html-readonly="true"/>
        </div>
    </div>
</apex:outputPanel>
<apex:outputPanel id="imoBlock">  
    <div class="report-new-claim-field-section-right-panel">
        <div class="request-form-each-field-section req-effective-date pushed-fieldset" id="guest_user_imo">
            <!--SF-4582-->
            <!--div class="request-for-guestUser" style="display:{!IF((userType=='GUEST'),'block;','none;')}"-->
            <div class="alternate-imo-no">
                <label class="uw-right-label" for="reqest-object">IMO no.:</label>
                <apex:inputText id="ship-owner-imo" value="{!uwf.Imo_Lloyds_No__c}" styleClass="reqest-object" maxlength="7" onkeypress="validateNumbers(event)"/>
                <!-- ***** for SF-3737 *******-->
                <script>
                jQuery('input[id$="ship-owner-imo"]').keyup( function(event){
                    var test = jQuery(this).val();
                    console.log(test);
                    var number_gross = test.replace(/\D/g, ''); 
                    console.log(test.replace(/\D/g, ''));
                    var test = jQuery(this).val(number_gross);
                });
                var checkGuestUser = {!isGUEST}
                console.log('checkGuestUser::::::::'+checkGuestUser);
                if(checkGuestUser){
                    console.log('checkGuestUser from if ::::::::');
                    jQuery('[id$="guest_user_imo"]').removeClass("pushed-fieldset");
                }
                else
                {   
                    console.log('checkGuestUser from else ::::::::');
                    jQuery('[id$="guest_user_imo"]').addClass("pushed-fieldset");
                }
                </script>
                <!-- **** /for SF-3737 ******* --> 
                
            </div>
            <!--/div-->
        </div>
        <div class="request-form-each-field-section req-product-area imosection">
            <label for="reqest-product-area"><span class="form-req-field"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> Port of registry:</label>
            <div class="select-wrapper">
                <apex:selectList value="{!objectIns.Port__c}" size="1" multiselect="false" styleClass="selectpicker" id="ship-owner-port-of-registry">
                    <apex:selectOptions value="{!PortList}"/>
                    <!-- SF-4086 -->      <apex:selectOptions value="{!options1}"/> 
                </apex:selectList> 
            </div>
        </div>
        <div class="request-form-each-field-section req-effective-date">
            <label class="uw-right-label" for="reqest-object"><span class="form-req-field"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> Gross tonnage:</label>
            <apex:inputtext value="{!uwf.tonnage__c}" styleClass="reqest-object" id="ship-owner-gross-tonnage" maxlength="10" onkeypress="validateNumbers(event)"/> 
            <!-- ***** for SF-3737 *******-->
            <script>
            jQuery('input[id$="ship-owner-gross-tonnage"]').keyup( function(event){
                var test = jQuery(this).val();
                console.log(test);
                var number_gross = test.replace(/\D/g, ''); 
                console.log(test.replace(/\D/g, ''));
                var test = jQuery(this).val(number_gross);
            });
            </script>
            <!-- **** /for SF-3737 ******* -->
            
        </div>
        <div class="request-form-each-field-section req-classification imosection">
            <label class="uw-right-label" for="uw-built-year"><span class="form-req-field"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> Classification:</label>
            <div class="select-wrapper">
                <apex:selectList value="{!SelectedClassification}" id="ship-owner-classification"  size="1" multiselect="true" styleClass="filter-field multiselect">
                    <!-- <apex:selectList value="{!objectIns.Classification_society__c}" id="ship-owner-classification"  size="1" multiselect="false" styleClass="selectpicker">-->
                    <apex:selectOptions value="{!ClassificationList}"/>
                </apex:selectList>                                                        
            </div>
        </div>
    </div>
    <script>
    jQuery('.alternate-imo-no > input[type="text"]').keypress( function(event){
        return validatePagination(event);
    });
    jQuery('.ship-owner-att-risk-date.custom-datepicker').Zebra_DatePicker({
        direction: true,
        format: 'd.m.Y',
        first_day_of_week: 0
    });
    jQuery('.ship-owner-att-risk-date.custom-datepicker').data('Zebra_DatePicker');
    /* Controls the search by option popup for the single pick-list */
    
    jQuery('.request-form-each-field-section.imosection .selectpicker').selectpicker({
        noneResultsText: 'No match found!',
        liveSearch: true,
        searchAccentInsensitive: false
    });  
    
    jQuery('.request-form-each-field-section.imosection .select-wrapper .dropdown-toggle.selectpicker').click( function(){
        //jQuery('.dropdown-menu.inner.selectpicker .mCSB_container').css('display', 'block');
        //alert(jQuery(this).next().children().find('li.selected').length);
        if (jQuery(this).next().children().find('li.selected').length != 0) {
            //alert(jQuery(this).next().children().find('.mCSB_container').css('top')/* .children('.mCSB_container').css('top') */);
        }
    });
    /* Deselect any selection while choosong any picklist */
    jQuery('.request-form-each-field-section.imosection .select-wrapper .btn-group button.multiselect, .select-wrapper .dropdown-toggle.selectpicker').click( function(){
        document.getSelection().removeAllRanges();
    });
    /* Deselect any selection while choosong any picklist */
    
    /* Default search by any word selection for the pick-list search option */
    //var incrementer = 1;
    jQuery('.request-form-each-field-section.imosection .search-by-option-container').each( function(){
        var searchOptions = '<span class="search-by-icon-button selectpicker-long-option" alt="Search by"><span class="search-by-pointer"></span><div class="search-by-option"><div class="search-by-text">Search by<span class="close-search-by"></span></div><div class="search-options"><input class="any-word" id="search-by-any-word' + incrementer + '" type="radio" value="0" name="search-option' + incrementer + '" checked><label for="search-by-any-word' + incrementer + '">Any word</label></div><div class="search-options"><input class="exact-phrase" id="search-by-exact-phrase' + incrementer + '" type="radio" value="1" name="search-option' + incrementer + '"><label for="search-by-exact-phrase' + incrementer + '">Exact phrase</label></div></div></span>';
        jQuery(this).html(searchOptions);
        incrementer++;
    });
    /* Default search by any word selection for the pick-list search option */
    
    
    /* Controls the opening/closing feature for the search by popup. */
    jQuery('.request-form-each-field-section.imosection .search-by-icon-button').click( function(){
        jQuery(this).children().show();
    });
    var searchByElement = jQuery('.request-form-each-field-section.imosection .search-by-icon-button');
    jQuery(document).bind('mouseup', function (e){
        if (searchByElement.has(e.target).length === 0) {
            jQuery(searchByElement).children().hide();
        }
    });
    /* Controls the opening/closing feature for the search by popup. */
    
    /* Controls the search by option popup for the single pick-list */
    jQuery('.request-form-each-field-section.imosection .bs-searchbox').each( function(){
        var searchOptions = '<span class="search-by-icon-button selectpicker-long-option" alt="Search by"><span class="search-by-pointer"></span><div class="search-by-option"><div class="search-by-text">Search by<span class="close-search-by"></span></div><div class="search-options"><input class="any-word" id="search-by-any-word' + incrementer + '" type="radio" value="0" name="search-option' + incrementer + '" checked><label for="search-by-any-word' + incrementer + '">Any word</label></div><div class="search-options"><input class="exact-phrase" id="search-by-exact-phrase' + incrementer + '" type="radio" value="1" name="search-option' + incrementer + '"><label for="search-by-exact-phrase' + incrementer + '">Exact phrase</label></div></div></span>';
        jQuery(this).append(searchOptions);
        incrementer++;
    });
    jQuery('.request-form-each-field-section.imosection .bs-searchbox .search-by-icon-button').click( function(e){
        e.stopPropagation();
        jQuery(this).children().show();
    });
    var searchByElementSingle = jQuery('.request-form-each-field-section.imosection .bs-searchbox .search-by-icon-button');
    jQuery(document).bind('mousedown', function (e){
        if (searchByElementSingle.has(e.target).length === 0) {
            jQuery(searchByElementSingle).children().hide();
        }
    });                                  
    jQuery(".request-form-each-field-section.imosection .dropdown-menu.open ul").mCustomScrollbar({
        mouseWheelPixels: 20,
        scrollEasing: "linear",
        scrollInertia: 0
    }); 
    
    /* Stop multi-select dropdown closing event clicking on the custom scroll bar */
    jQuery('.mCSB_draggerContainer').click( function(e){
        e.stopPropagation();
    });
    if(isPageLoad){
        /* bootstrap multiselect custom design */
        jQuery('.request-form-each-field-section.req-classification .multiselect').multiselect({
            includeSelectAllOption: true,
            selectAllText: '<span>Check all</span>',
            enableFiltering: true,
            filterBehavior: 'value',
            enableCaseInsensitiveFiltering: true,
            label: function(element) {
                var optionStr = jQuery(element).html();
                if (jQuery(element).parents('.request-forms').length > 0) {
                    if (optionStr.length > 25) {
                        return '<span class="select-options" alt="' + optionStr + '">' + optionStr.substring(0, 24) + '...' + '</span>';
                    }
                    else {
                        return '<span class="select-options">' + optionStr + '</span>';
                    }
                }
                else {
                    if (optionStr.length > 19) {
                        return '<span class="select-options" alt="' + optionStr + '">' + optionStr.substring(0, 18) + '...' + '</span>';
                    }
                    else {
                        return '<span class="select-options">' + optionStr + '</span>';
                    }
                }
            },
            buttonText: function(options, select) {
                if (options.length == 0) {
                    return ' <b class="caret"></b>';
                }
                else {
                    if (options.length == 1) {
                        var labels = [];
                        options.each(function() {
                            if (jQuery(this).attr('label') !== undefined) {
                                labels.push(jQuery(this).attr('label'));
                            }
                            else {
                                var btnstr = jQuery(this).html();
                                if (btnstr.length > 18) {
                                    labels.push(btnstr.substring(0, 18) + '...');
                                }
                                else {
                                    labels.push(btnstr);
                                }
                            }
                        });
                        return '<span>' + labels + '</span>';
                    }
                    else {
                        if (options.length > 1) {
                            /* return '<span>' + options.length + ' ' + this.nSelectedText + '</span> <b class="caret"></b>'; */
                            return '<span>Multi</span> <b class="caret"></b>';
                        }
                    }
                }
            }
        });
        
        /* jQuery multiselect popup custom scroll bar */
        jQuery(".request-form-each-field-section.req-classification .select-wrapper .btn-group ul.multiselect-container").mCustomScrollbar({
            mouseWheelPixels: 20,
            scrollEasing: "linear",
            scrollInertia: 0
        });
        
        /* Stop multi-select dropdown closing event clicking on the custom scroll bar */
        jQuery('.request-form-each-field-section.req-classification .mCSB_draggerContainer').click( function(e){
            e.stopPropagation();
        });
        /* Default search by any word selection for the pick-list search option */
        //var incrementer = 1;
        jQuery('.request-form-each-field-section.req-classification .search-by-option-container').each( function(){
            var searchOptions = '<span class="search-by-icon-button selectpicker-long-option" alt="Search by"><span class="search-by-pointer"></span><div class="search-by-option"><div class="search-by-text">Search by<span class="close-search-by"></span></div><div class="search-options"><input class="any-word" id="search-by-any-word' + incrementer + '" type="radio" value="0" name="search-option' + incrementer + '" checked><label for="search-by-any-word' + incrementer + '">Any word</label></div><div class="search-options"><input class="exact-phrase" id="search-by-exact-phrase' + incrementer + '" type="radio" value="1" name="search-option' + incrementer + '"><label for="search-by-exact-phrase' + incrementer + '">Exact phrase</label></div></div></span>';
            jQuery(this).html(searchOptions);
            incrementer++;
        });
        /* Default search by any word selection for the pick-list search option */
        
        
        /* Controls the opening/closing feature for the search by popup. */
        jQuery('.request-form-each-field-section.req-classification .search-by-icon-button').click( function(){
            jQuery(this).children().show();
        });
        var searchByElement = jQuery('.request-form-each-field-section.req-classification .search-by-icon-button');
        jQuery(document).bind('mouseup', function (e){
            if (searchByElement.has(e.target).length === 0) {
                jQuery(searchByElement).children().hide();
            }
        });
        /* Controls the opening/closing feature for the search by popup. */
        
        /* Controls the search by option popup for the single pick-list */
        jQuery('.request-form-each-field-section.req-classification .bs-searchbox').each( function(){
            var searchOptions = '<span class="search-by-icon-button selectpicker-long-option" alt="Search by"><span class="search-by-pointer"></span><div class="search-by-option"><div class="search-by-text">Search by<span class="close-search-by"></span></div><div class="search-options"><input class="any-word" id="search-by-any-word' + incrementer + '" type="radio" value="0" name="search-option' + incrementer + '" checked><label for="search-by-any-word' + incrementer + '">Any word</label></div><div class="search-options"><input class="exact-phrase" id="search-by-exact-phrase' + incrementer + '" type="radio" value="1" name="search-option' + incrementer + '"><label for="search-by-exact-phrase' + incrementer + '">Exact phrase</label></div></div></span>';
            jQuery(this).append(searchOptions);
            incrementer++;
        });
        jQuery('.request-form-each-field-section.req-classification .bs-searchbox .search-by-icon-button').click( function(e){
            e.stopPropagation();
            jQuery(this).children().show();
        });
        var searchByElementSingle = jQuery('.request-form-each-field-section.req-classification .bs-searchbox .search-by-icon-button');
        jQuery(document).bind('mousedown', function (e){
            if (searchByElementSingle.has(e.target).length === 0) {
                jQuery(searchByElementSingle).children().hide();
            }
        });
        jQuery('.request-form-each-field-section.req-classification .select-wrapper .dropdown-toggle.selectpicker').click( function(){
            //jQuery('.dropdown-menu.inner.selectpicker .mCSB_container').css('display', 'block');
            //alert(jQuery(this).next().children().find('li.selected').length);
            if (jQuery(this).next().children().find('li.selected').length != 0) {
                //alert(jQuery(this).next().children().find('.mCSB_container').css('top')/* .children('.mCSB_container').css('top') */);
            }
        });
        /* Deselect any selection while choosong any picklist */
        jQuery('.request-form-each-field-section.req-classification .select-wrapper .btn-group button.multiselect, .select-wrapper .dropdown-toggle.selectpicker').click( function(){
            document.getSelection().removeAllRanges();
        });
        /* Deselect any selection while choosong any picklist */
    }
    </script>
</apex:outputPanel>
</div>
<apex:outputPanel id="otherfields">
    <div class="report-new-claim-field-section new-claim-right-section">
        <!--SF-4964 STARTS
        <div class="request-form-each-field-section req-effective-date uw-separator">
            <label class="" for="reqest-effective-date"> Vessel’s intended trading area, (if possible, please enter more details than WWT):</label>
            <apex:inputTextarea value="{!uwf.short_description_vessel__c}" styleClass="long-description-uw" id="ship-owner-short-desc" onkeyup="limitText(this,500);" onkeypress="limitText(this,500);"/>
        </div>
        SF-4964 ENDS-->
        <!--  code modified for MYG-3009 -->
        <div class="request-form-each-field-section uw-period-of-cover">
            <div class="half-text-section" style="width:200px !important;">
                <label for="uw-period-of-cover-input" class="double-line-label"> CGL offshore cover to be covered under P&amp;I: </label>
                <div class="select-wrapper">
                    <apex:selectList value="{!uwf.CGL_Offshore_Cover_PI__c}" multiselect="false" size="1" styleClass="selectpicker">
                        <apex:selectOption itemValue="" itemLabel=""/>
                        <apex:selectOption itemValue="Yes" itemLabel="Yes"/>
                        <apex:selectOption itemValue="Yes" itemLabel="No"/>
                    </apex:selectList> 
                </div>
            </div>
            <div class="cnt-pref" style="width:150px !important;padding-top:18px !important;">
                <label for="uw-period-of-cover-input" class="double-line-label" style="width: 160px;">Limit of cover(in millions):</label>
                <apex:inputText value="{!uwf.Limit_of_Cover_USD__c}" id="limitofcover" styleClass="uw-add-right-to-right-field" maxlength="15"/>
                <!--<span class="curency-describer">USD</span>-->
                <!-- checking number fileds  -->
                <script>
                //
                jQuery(document).ready(function() {
                    jQuery('input[id$="limitofcover"]').keypress(function (event) {
                        return isNumber(event, this)
                    });
                });
                // THE SCRIPT THAT CHECKS IF THE KEY PRESSED IS A NUMERIC OR DECIMAL VALUE.
                function isNumber(evt, element) {
                    
                    var charCode = (evt.which) ? evt.which : event.keyCode
                    
                    if (
                        (charCode != 45 || $(element).val().indexOf('-') != -1) &&      // “-” CHECK MINUS, AND ONLY ONE.
                        (charCode != 46 || $(element).val().indexOf('.') != -1) &&      // “.” CHECK DOT, AND ONLY ONE.
                        (charCode < 48 || charCode > 57))
                        return false;
                    
                    return true;
                }    
                </script>
                <!-- /checking number fileds  -->
            </div>
            <!--  code added for MYG-3009 -->
            
            <div class="cnt-pref currency-dropdown-style" style="width:105px !important;padding-top:18px !important;">
                <label for="uw-period-of-cover-input" class="double-line-label"> Currency : </label>
                <div class="select-wrapper">
                    <apex:selectList value="{!coverCurrency}" multiselect="false" size="1" styleClass="selectpicker">
                        <apex:selectOptions value="{!coverCurrencyList}"/>
                    </apex:selectList> 
                </div>
            </div>
        </div>
        <div class="request-form-each-field-section">
            <!--<label for="uw-additional-reg-owner-name-add" class="uw-add-det-left-label long-label-textarea"><span class="form-req-field"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> Name of assured / members:</label> for SF-4964-->
            <label for="uw-additional-reg-owner-name-add" class="uw-add-det-left-label long-label-textarea"><span class="form-req-field"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> Name of assured/members and capacity (full name, including city/country)</label>
            <apex:inputTextarea value="{!uwf.Name_of_Assured_Member__c}" styleClass="long-description-uw" id="ship-owner-name-of-assured" onkeyup="limitText(this,1000);" onkeypress="limitText(this,1000);"/>
        </div>
        <div class="request-form-each-field-section">
            <!--<label class="uw-add-det-left-label long-label-textarea" for="uw-additional-reg-owner-name-add">Name of co-assureds (if any) and capacity:</label> for SF-4964-->
            <label class="uw-add-det-left-label long-label-textarea" for="uw-additional-reg-owner-name-add">Name of co-assured (if any) and capacity (full name, including city/country)</label>
            <apex:inputTextarea value="{!uwf.Co_assureds_capacity__c}" styleClass="long-description-uw" onkeyup="limitText(this,1000);" onkeypress="limitText(this,1000);"/>
        </div>
        <!-- <div class="request-form-each-field-section">
<label class="uw-add-det-left-label long-label-textarea" for="uw-additional-reg-owner-name-add">Mortgagee(s), name and address:</label>
<apex:inputtextarea value="{!uwf.Mortgagee_Name_and_Address__c}" styleClass="long-description-uw" onkeyup="limitText(this,1000);" onkeypress="limitText(this,1000);"/>
</div> -->
        <div class="request-form-each-field-section">
            <div class="half-text-section">
                <label for="uw-additional-reg-owner-name-add" class="uw-add-det-left-label long-label-textarea"><span class="form-req-field"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> Name to appear on premium invoice:</label>
                <apex:inputtextarea value="{!uwf.Name_on_Premium_Invoice__c}" styleClass="uw-additional-prem-inv-name" id="ship-owner-name-premium-invoice" onkeyup="limitText(this,1000);" onkeypress="limitText(this,1000);"/>
            </div>
            <div class="subs-check-single same-assured">
                <apex:inputcheckbox onClick="checkAssured(this)" id="same_as_assured" value="{!isSame}"/>                
                <label for="{!$Component.same_as_assured}">Same as assured</label>
            </div>
        </div>
        <!--SF-4915--Starts-->
        <div class="request-form-each-field-section uw-add-det-vat-nap">
            <label class="uw-add-det-left-label" for="uw-additional-reg-owner-name-add"></label>
            <div class="subs-check-single">
                <apex:inputcheckbox onClick="noVAT(this)" id="vat_applicable" value="{!uwf.VAT_Not_Applicable__c}"/>                
                <label for="{!$Component.vat_applicable}">VAT not applicable</label>
            </div>
        </div>
        <!--SF-4915--Ends-->
        <div class="request-form-each-field-section">
            <label class="uw-add-det-left-label double-line-label long-label-textarea" for="uw-additional-reg-owner-name-add"><span class="form-req-field"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> VAT &ndash; Name and address of the operating company:</label>
            <apex:inputtextarea value="{!uwf.VAT_Name_AddressOf_Company__c}" styleClass="long-description-uw" id="ship-owner-vat-name" onkeyup="limitText(this,1000);" onkeypress="limitText(this,1000);"/>
        </div>
        <div class="request-form-each-field-section vat-section" style="height:100px !important;">
            <div class="half-text-section">
                <label for="uw-additional-reg-owner-name-add" class="uw-add-det-left-label"><span class="form-req-field"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> Registered for VAT – VAT number:</label>
                <apex:inputText id="vatNo" value="{!uwf.VAT_number__c}" styleClass="uw-add-vat-no" maxlength="100"/> 
            </div>
            <!-- <div class="cnt-pref">
<label for="uw-additional-reg-owner-name-add" class="uw-add-right-to-right-label" style="margin-left: 0px !important;"> Country code:</label>
<apex:inputText value="{!uwf.Country_prefix__c}" styleClass="uw-add-right-to-right-field" id="ship-owner-country-prefix" maxlength="10"/>
</div> -->
            <div class="cnt-pref extrem-last-dropdown">
                <label for="uw-additional-reg-owner-name-add" class="uw-add-right-to-right-label" style="margin-left: 0px !important;margin-bottom: 1px;">
                <span class="form-req-field"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> 
                    <span class="label-text">Country code:</span>
                    <span class="desc-tooltip closed" style="left: 85px; margin: 0px -10px 0 0;"><div class="desc-tooltip-container" style="display: none; margin: 23px 0 0px -158px; width: 200px;"><div class="desc-tooltip-popup-pointer" style="margin: 0px 0 0 160px;"></div><div class="desc-tooltip-popup-wrapper"><div class="desc-tooltip-popup-title">What is this?</div><div class="desc-tooltip-popup-text">{!$ObjectType.UWForm__c.fields.Country_prefix__c.InlineHelpText}</div></div></div></span>
                </label>
                <!--<apex:inputText value="{!uwf.Country_prefix__c}" styleClass="uw-add-right-to-right-field" id="ship-owner-country-prefix" maxlength="10"/>-->
                <div class="select-wrapper">
                    <apex:selectList value="{!selectedCountryCode}" size="1" multiselect="false" styleClass="selectpicker" id="country_select_id">
                        <apex:selectOptions value="{!Countrycodes}"/>
                    </apex:selectList>
                </div>
            </div> 
            <script>
            /* Controls the search by option popup for the single pick-list */
            
            jQuery('.request-form-each-field-section .cnt-pref .selectpicker').selectpicker({
                noneResultsText: 'No match found!',
                liveSearch: true,
                searchAccentInsensitive: false
            });  
            
            jQuery('.request-form-each-field-section .cnt-pref .select-wrapper .dropdown-toggle.selectpicker').click( function(){
                //jQuery('.dropdown-menu.inner.selectpicker .mCSB_container').css('display', 'block');
                //alert(jQuery(this).next().children().find('li.selected').length);
                if (jQuery(this).next().children().find('li.selected').length != 0) {
                    //alert(jQuery(this).next().children().find('.mCSB_container').css('top')/* .children('.mCSB_container').css('top') */);
                }
            });
            /* Deselect any selection while choosong any picklist */
            jQuery('.request-form-each-field-section .cnt-pref .select-wrapper .btn-group button.multiselect, .select-wrapper .dropdown-toggle.selectpicker').click( function(){
                document.getSelection().removeAllRanges();
            });
            /* Deselect any selection while choosong any picklist */
            
            /* Default search by any word selection for the pick-list search option */
            //var incrementer = 1;
            jQuery('.request-form-each-field-section .cnt-pref .search-by-option-container').each( function(){
                var searchOptions = '<span class="search-by-icon-button selectpicker-long-option" alt="Search by"><span class="search-by-pointer"></span><div class="search-by-option"><div class="search-by-text">Search by<span class="close-search-by"></span></div><div class="search-options"><input class="any-word" id="search-by-any-word' + incrementer + '" type="radio" value="0" name="search-option' + incrementer + '" checked><label for="search-by-any-word' + incrementer + '">Any word</label></div><div class="search-options"><input class="exact-phrase" id="search-by-exact-phrase' + incrementer + '" type="radio" value="1" name="search-option' + incrementer + '"><label for="search-by-exact-phrase' + incrementer + '">Exact phrase</label></div></div></span>';
                jQuery(this).html(searchOptions);
                incrementer++;
            });
            /* Default search by any word selection for the pick-list search option */
            
            
            /* Controls the opening/closing feature for the search by popup. */
            jQuery('.request-form-each-field-section .cnt-pref .search-by-icon-button').click( function(){
                jQuery(this).children().show();
            });
            var searchByElement = jQuery('.request-form-each-field-section .cnt-pref .search-by-icon-button');
            jQuery(document).bind('mouseup', function (e){
                if (searchByElement.has(e.target).length === 0) {
                    jQuery(searchByElement).children().hide();
                }
            });
            /* Controls the opening/closing feature for the search by popup. */
            
            /* Controls the search by option popup for the single pick-list */
            jQuery('.request-form-each-field-section .cnt-pref .bs-searchbox').each( function(){
                var searchOptions = '<span class="search-by-icon-button selectpicker-long-option" alt="Search by"><span class="search-by-pointer"></span><div class="search-by-option"><div class="search-by-text">Search by<span class="close-search-by"></span></div><div class="search-options"><input class="any-word" id="search-by-any-word' + incrementer + '" type="radio" value="0" name="search-option' + incrementer + '" checked><label for="search-by-any-word' + incrementer + '">Any word</label></div><div class="search-options"><input class="exact-phrase" id="search-by-exact-phrase' + incrementer + '" type="radio" value="1" name="search-option' + incrementer + '"><label for="search-by-exact-phrase' + incrementer + '">Exact phrase</label></div></div></span>';
                jQuery(this).append(searchOptions);
                incrementer++;
            });
            jQuery('.request-form-each-field-section .cnt-pref .bs-searchbox .search-by-icon-button').click( function(e){
                e.stopPropagation();
                jQuery(this).children().show();
            });
            var searchByElementSingle = jQuery('.request-form-each-field-section .cnt-pref .bs-searchbox .search-by-icon-button');
            jQuery(document).bind('mousedown', function (e){
                if (searchByElementSingle.has(e.target).length === 0) {
                    jQuery(searchByElementSingle).children().hide();
                }
            });                                  
            jQuery(".request-form-each-field-section .cnt-pref .dropdown-menu.open ul").mCustomScrollbar({
                mouseWheelPixels: 20,
                scrollEasing: "linear",
                scrollInertia: 0
            }); 
            
            /* Stop multi-select dropdown closing event clicking on the custom scroll bar */
            jQuery('.mCSB_draggerContainer').click( function(e){
                e.stopPropagation();
            });
            </script>
        </div>
        <!--Commented for SF-4915 By Geetham STARTS-->
        <!--div class="request-form-each-field-section uw-add-det-vat-nap">
            <label class="uw-add-det-left-label" for="uw-additional-reg-owner-name-add"></label>
            <div class="subs-check-single">
                <apex:inputCheckbox onClick="noVAT(this)" id="vat_applicable" value="{!uwf.VAT_Not_Applicable__c}"/>             
                <label for="{!$Component.vat_applicable}">VAT not applicable</label>
            </div>
        </div-->
        <!--Commented for SF-4915 By Geetham ENDS-->
    </div>
</apex:outputPanel>

</div> 
</div>
<div class="form-submit-section">
    <div class="left-button-set">
        <apex:commandButton value="Next" action="{!goNext}" styleClass="form-btn next-nav"  onclick="return validationPage1Shipowner();"/> 
        <apex:commandButton value="Cancel" action="{!clearRecord}" styleClass="form-btn multi-clear-btn" style="margin-left: 4px;" />
    </div>
    <div class="right-button-set">
        <apex:commandButton value="Review and submit" action="{!saveRecord}" styleClass="form-btn rvw-sub-multi" onclick="return validationPage1Shipowner();"/> 
    </div>
</div>                                
<apex:actionFunction action="{!fetchSelectedClients}" name="fetchSelectedClientsPF" reRender="otp1" onComplete="clearFieldValues();">
    <apex:param name="allSelectedClients" value="" assignTo="{!strSelected}" />
</apex:actionFunction>   
<apex:actionFunction action="{!changeSelectedClientIdFormsCS}" name="changeSelectedClientIdFormsCSActionFunction" reRender="otp" onComplete="clearFieldValues();"/>
</apex:form>
</div>
</div>
</div>
<!-- newly added -->
<!-- POPUP STARTS -->   
<apex:form >
    
    <apex:outputPanel id="popup1">
        <script>console.log('isPopup1--->{!isPopup1}');
        jQuery('.reqest-object.search-object-name').removeClass('ui-autocomplete-loading');
        if({!isPopup1} == false){
            jQuery('.AutoCompleteTopDivPanel').remove(); 
            jQuery('input[id$="objSearch"]').removeAttr('readonly'); 
        } 
        console.log('size--->{!lstObject.size}');
        
        var searchVal = jQuery.trim(jQuery('input[id$="objSearch"]').val());
        var keyVal = jQuery('input[id$="keyStr"]').val();
        if(({!lstObject.size} < 1) && ((searchVal != undefined) && (searchVal != '' || searchVal != null || searchVal != ' ')) && (isPageLoad == true) )
        {
            console.log('No ');
            var msgNoRecord = '<div class="AutoCompleteTopDivPanel"><div class="auto-popup">No object found.</div></div>'; 
            jQuery(msgNoRecord).insertAfter(jQuery('input[id$="objSearch"]'));
            jQuery('input[id$="objSearch"]').removeAttr('readonly'); 
            isPageLoad  = true;            
        } 
        var undElement = jQuery('.AutoCompleteTopDivPanel');
        jQuery(document).bind('mouseup', function (e){
            if (undElement.has(e.target).length === 0) {
                jQuery(undElement).hide();
                jQuery('.AutoCompleteTopDivPanel').remove();
                jQuery('input[id$="objSearch"]').removeAttr('readonly'); 
                isPageLoad = true;
            }
        });   
        
        </script>
        <apex:outputPanel rendered="{!isPopup1}">
            <div class="AutoCompleteTopDivPanel">
                <div class="auto-popup">              
                    <apex:repeat value="{!lstObject}" var="obj">
                        <div style="width:100%;">
                            <span class="obj-name-auto">
                                <apex:commandLink action="{!setObjectSelection}" value="{!obj.name}" rerender="objectPanel,imoBlock" oncomplete="clearSearch();return false;">
                                    <apex:param name="selObject" assignTo="{!selectedObj}" value="{!obj.id}"/>
                                </apex:commandLink>
                            </span>
                            <span class="imo-auto">
                                IMO# &nbsp;<apex:outputText value="{!obj.Imo_Lloyds_No__c}"/>
                            </span> 
                            <div style="width:100%;float:left;border-bottom: 1px solid #F1F1F0;">
                                <apex:outputText value="{!obj.Object_Type__c}"/>,&nbsp;
                                <apex:outputText value="{!obj.Flag__c}"/>                           
                            </div>
                        </div>                      
                    </apex:repeat>  
                </div>
            </div>
            <script>
            /* jQuery multiselect popup custom scroll bar */
            jQuery(".AutoCompleteTopDivPanel").mCustomScrollbar({
                mouseWheelPixels: 20,
                scrollEasing: "linear",
                scrollInertia: 0
            });
            /* Stop multi-select dropdown closing event clicking on the custom scroll bar */
            jQuery('.mCSB_draggerContainer').click( function(e){
                e.stopPropagation();
            });
            var undElement = jQuery('.AutoCompleteTopDivPanel');
            jQuery(document).bind('mouseup', function (e){
                if (undElement.has(e.target).length === 0) {
                    jQuery(undElement).hide();
                    jQuery('.AutoCompleteTopDivPanel').remove();
                    jQuery('input[id$="objSearch"]').removeAttr('readonly');
                    isPageLoad  = true;
                }
            });
            jQuery('.AutoCompleteTopDivPanel').insertAfter(jQuery('input[id$="objSearch"]'));
            </script>
        </apex:outputPanel>
        
    </apex:outputPanel>
    <!-- POPUP ENDS -->               
</apex:form>    
</div>
</div>
</div>
</div>
</div>    
</apex:define>
</apex:composition>
<script>
jQuery('.from-btn').click( function(){
    var checked = jQuery('select[id$="site-search:globalClient"]').val();
    var allSelectedClients='';
    console.log('UWRChartersVessel Page Selection On Click');
    console.log('checked: '+checked);
    if(checked!=null){
        jQuery.each(checked,function (index, value) {
            console.log('index: '+index);   
            console.log('value: '+value);
            if(index=='0'){                     
                allSelectedClients = value; 
            }else{                      
                allSelectedClients = allSelectedClients + ';' + value;
            }
            console.log('allSelectedClients: '+allSelectedClients);                     
        });                      
    }
    fetchSelectedClientsPF(allSelectedClients);                                                                               
});
jQuery( document ).ready(function() {                               
    console.log( "UWRChartersVessel ready!" );
    var selectedClient = jQuery('select[id$="ship-owner-client"]').val(); 
    if((typeof selectedClient != typeof  undefined) && (selectedClient == '' || selectedClient == null || selectedClient == ' ') ){
        clearFieldValues();                 
    }
    /* JS for the auto trimming of underwriter popup long email */
    jQuery('.emptyPanelStyle').each( function(){          
        var emailText = jQuery.trim(jQuery(this).text());
        if (emailText.length > 28) { 
            jQuery(this).attr('alt', emailText);
            jQuery(this).html(emailText.substring(0, 26) + '...');
        }
        else {
            jQuery(this).html(emailText);
        }
    });
    /* JS for the auto trimming of underwriter popup long email */    
    /* Provides the tooltip using jquery UI tooltip plugin */
    jQuery('.emptyPanelStyle').mouseenter( function(){
        jQuery('.custom-tooltip').remove();
        if(jQuery(this).attr('alt')) {
            jQuery('body').append('<span class="custom-tooltip">' + jQuery(this).attr('alt') + '</span>');
        }
    });
    jQuery('.emptyPanelStyle').mouseleave( function(){
        jQuery('.custom-tooltip').remove();
    });
});
function clearFieldValues(){
    jQuery('input[id$="ship-owner-obj-name"]').attr('value','');
    jQuery('input[id$="ship-owner-gross-tonnage"]').attr('value','');
    jQuery('input[id$="ship-owner-call-sign"]').attr('value','');
    jQuery('input[id$="imo"]').attr('value','');
    jQuery('.year-build .filter-option').text('');
    jQuery('.year-build .dropdown-toggle').attr('title','');
    jQuery('.req-classification .dropdown-toggle span').text('');
    jQuery('.req-classification .dropdown-toggle').attr('title','');
    jQuery('.req-product-area .filter-option').text('');
    jQuery('.req-product-area .dropdown-toggle').attr('title','');
    jQuery('.uw-flag .filter-option').text('');
    jQuery('.uw-flag .dropdown-toggle').attr('title','');
}
</script>
<!-- script for filterscript -->
<apex:outputPanel id="filterScript">
    <script>
    jQuery('.gard-contact.claim-tabs-section .multiselect').multiselect({
        includeSelectAllOption: true,
        nonSelectedText: '',
        selectAllText: '<span>Check all</span>',
        enableFiltering: true,
        disableIfEmpty: true,
        filterBehavior: 'text',
        enableCaseInsensitiveFiltering: true,
        label: function(element) {
            var optionStr = jQuery(element).text();
            optionStr = jQuery.trim(optionStr);
            if (jQuery(element).parents('.request-forms').length > 0) {
                if (optionStr.length > 25) {
                    return '<span class="select-options" alt="' + optionStr + '">' + optionStr.substring(0, 24) + '...' + '</span>';
                }
                else {
                    return '<span class="select-options">' + optionStr + '</span>';
                }
            }
            if (jQuery(element).parents('.claim-details-document-type-filter').length > 0) {
                if (optionStr.length > 25) {
                    return '<span class="select-options" alt="' + optionStr + '">' + optionStr.substring(0, 23) + '...' + '</span>';
                }
                else {
                    return '<span class="select-options">' + optionStr + '</span>';
                }
            }
            else {
                if (optionStr.length > 19) {
                    return '<span class="select-options" alt="' + optionStr + '">' + optionStr.substring(0, 18) + '...' + '</span>';
                }
                else {
                    return '<span class="select-options">' + optionStr + '</span>';
                }
            }
        },
        buttonText: function(options, select) {
            if (options.length == 0) {
                if (select.parent().parent().hasClass('global-user-select-wrapper-section')) {
                    return ' <span>Select client</span>';
                }
                else {
                    return ' <b class="caret"></b>';
                }
            }
            else {
                if (options.length == 1) {
                    var labels = [];
                    options.each(function() {
                        if (jQuery(this).attr('label') !== undefined) {
                            labels.push(jQuery(this).attr('label'));
                        }
                        else {
                            var btnstr = jQuery(this).html();
                            if (select.parent().parent().hasClass('claim-details-document-type-filter')) {
                                if (btnstr.length > 28) {
                                    labels.push(btnstr.substring(0, 26) + '...');
                                }
                                else {
                                    labels.push(btnstr);
                                }
                            }
                            else {
                                if (btnstr.length > 18) {
                                    labels.push(btnstr.substring(0, 18) + '...');
                                }
                                else {
                                    labels.push(btnstr);
                                }
                            }
                        }
                    });
                    return '<span>' + labels + '</span>';
                }
                else {
                    if (options.length > 1) {
                        /* return '<span>' + options.length + ' ' + this.nSelectedText + '</span> <b class="caret"></b>'; */
                        return '<span>Multi</span> <b class="caret"></b>';
                    }
                }
            }
        }
    });
    /* new multiselect end */
    /* Default search by any word selection for the pick-list search option */
    //var incrementer = 1;
    jQuery('.claim-filter-sections .search-by-option-container').each( function(){
        var searchOptions = '<span class="search-by-icon-button selectpicker-long-option" alt="Search by"><span class="search-by-pointer"></span><div class="search-by-option"><div class="search-by-text">Search by<span class="close-search-by"></span></div><div class="search-options"><input class="any-word" id="search-by-any-word' + incrementer + '" type="radio" value="0" name="search-option' + incrementer + '" checked><label for="search-by-any-word' + incrementer + '">Any word</label></div><div class="search-options"><input class="exact-phrase" id="search-by-exact-phrase' + incrementer + '" type="radio" value="1" name="search-option' + incrementer + '"><label for="search-by-exact-phrase' + incrementer + '">Exact phrase</label></div></div></span>';
        jQuery(this).html(searchOptions);
        incrementer++;
    });
    /* Default search by any word selection for the pick-list search option */
    
    
    /* Controls the opening/closing feature for the search by popup. */
    jQuery('.claim-filter-sections .search-by-icon-button').click( function(){
        jQuery(this).children().show();
    });
    var searchByElement = jQuery('.claim-filter-sections .search-by-icon-button');
    jQuery(document).bind('mouseup', function (e){
        if (searchByElement.has(e.target).length === 0) {
            jQuery(searchByElement).children().hide();
        }
    });
    /* Controls the opening/closing feature for the search by popup. */
    
    /* Controls the search by option popup for the single pick-list */
    jQuery('.claim-filter-sections .bs-searchbox').each( function(){
        var searchOptions = '<span class="search-by-icon-button selectpicker-long-option" alt="Search by"><span class="search-by-pointer"></span><div class="search-by-option"><div class="search-by-text">Search by<span class="close-search-by"></span></div><div class="search-options"><input class="any-word" id="search-by-any-word' + incrementer + '" type="radio" value="0" name="search-option' + incrementer + '" checked><label for="search-by-any-word' + incrementer + '">Any word</label></div><div class="search-options"><input class="exact-phrase" id="search-by-exact-phrase' + incrementer + '" type="radio" value="1" name="search-option' + incrementer + '"><label for="search-by-exact-phrase' + incrementer + '">Exact phrase</label></div></div></span>';
        jQuery(this).append(searchOptions);
        incrementer++;
    });
    jQuery('.claim-filter-sections .bs-searchbox .search-by-icon-button').click( function(e){
        e.stopPropagation();
        jQuery(this).children().show();
    });
    var searchByElementSingle = jQuery('.claim-filter-sections.client .bs-searchbox .search-by-icon-button');
    jQuery(document).bind('mousedown', function (e){
        if (searchByElementSingle.has(e.target).length === 0) {
            jQuery(searchByElementSingle).children().hide();
        }
    });                                  
    jQuery(".select-wrapper .btn-group ul.multiselect-container, .dropdown-menu.open ul").mCustomScrollbar({
        mouseWheelPixels: 20,
        scrollEasing: "linear",
        scrollInertia: 0
    });
    /* Stop multi-select dropdown closing event clicking on the custom scroll bar */
    jQuery('.mCSB_draggerContainer').click( function(e){
        e.stopPropagation();
    });
    </script>
</apex:outputPanel>
<!-- end of script for filterscript-->   
<!-- ****** for SF-3737 *************-->
<script>
function validateNumbers(evt){
    var theEvent = evt || window.event; 
    var key = theEvent.keyCode || theEvent.which; 
    key = String.fromCharCode( key ); 
    var regex = /^\d+$/;
    if( !regex.test(key) ) { 
        theEvent.returnValue = false; 
        if(theEvent.preventDefault) theEvent.preventDefault(); 
    } 
}
</script>
<!-- ******** /for SF-3737 **********-->                                              
</apex:page>