<!--UWRCharterersRenewalQuestionnaire1-->
<apex:page controller="UWRCharterersRenewalQuestionnaireCtrl" showHeader="false" sidebar="false" id="uw" standardStylesheets="false" applyBodyTag="false" applyHtmlTag="false" action="{!chkAccess}">
<apex:includeScript value="{!$Resource.GoogleAnalytics}"/>

<style>
   .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus{
        background-color: #FFF !important;
    }
    <!-- .custom-row .custom-cell.action-column{
      max-width: 100px !important;
      min-width: 100px !important;
      width: 100px !important;
    }
    .custom-row .custom-cell.ri-load-dateri-load-date, .custom-row .custom-cell.ri-discharge-date{
      max-width: 300px !important;
      min-width: 300px !important;
      width: 300px !important;
    } 
    .custom-cell-data input[type="text"]{
       background: none repeat scroll 0 0 #f8fdfe !important;
      border: 1px solid #8fdff1 !important;
      padding: 0 3px !important;
      width: 100% !important;
    } -->
    .error-msg {
      font-family: AvenirMedium,Arial,Helvetica,sans-serif;
      font-size: 12px;
      margin: 0px;
      color: #E42704;
      padding: 5px 0px 0px !important;
    }
    <!--.rew-date-activator .renewal-other-required-date {
        padding-left: 0px !important;
    } -->
     .char-entry-form-container .char-entry-vat-na {
        width: 100%;
        margin-top: 0px !important;
    }
   <!-- .uw-review-desc-infos-title {
        margin: 10px 0 0px;
    }
    .rew-date-activator .subs-check-single {
        float: left;
    }  
    .rew-date-activator .report-new-claim-field-section-right-panel {
        float: left;
        margin-left: 10px;
    } -->
    
    .desc-tooltip {
        margin: 0px -5px 0 0 !important;
    }
    <!-- .extream-bottom-place-finder .autocomplete-wrappers, .extrem-last-dropdown .dropdown-menu.open {
    bottom: 29px;
    box-shadow: 1px -1px 2px 0px rgba(73, 59, 38, 0.2);
    left: 0px;
    top: auto;
    } -->
    .charterers-renewal-questionnaire1-container th.insurance-year,td.insurance-year{
        <!-- display: table-cell;
        max-width: 216px !important;
        min-width: 216px !important; -->
        line-height: 14px;
    }
    .charterers-renewal-questionnaire1-container th.insurance-year-first-child,td.insurance-year-first-child{
        width: 100% !important;
        padding: 0 !important;
    } 
    .charterers-renewal-questionnaire1-container th.insurance-year-second-child ,.insurance-year-second-child{
        max-width: 50% !important;
        min-width: 50% !important;   
        background: #fbfeff !important;
    }
    .charterers-renewal-questionnaire1-container th.title,td.title{
        max-width: 144px !important;
        min-width: 144px !important;
    }
    .charterers-renewal-questionnaire1-container td.th-container {
    background: none repeat scroll 0 0 #003f5f;
    color: #ffffff;
    font-family: AvenirMedium,arial,helvetica,sans-serif;
    font-size: 13px;
   }
    .charterers-renewal-questionnaire1-container th.insurance-year-child,td.insurance-year-child{
        width: 97px !important;
        max-width:97px !important;
        min-width: 97px !important;
        line-height: 14px;
    }
    .portfolio .multistep-content-holder input[type="text"] {
    color: #584e3c;
    width: 100% !important;
    background: #fbfeff !important;
    }
    td.marge-th-style {
        height:25px !important;
        min-height:25px !important;
        max-height:25px !important;
    }
    .cargo-trading-dot{
        left: 133px !important;
    }
    .add-details-dot.dots {
        left: 260px !important;
   }
   .rev-title{
        left: 349px !important;
    }
    .add-det-title {
        left: 225px !important;
    }
    .cargo-trading-det-title{
        left: 123px;
    }
    .questionnaire-textarea{
        min-height: 90px !important;
        max-height: 90px !important;
        height: 90px !important;
        resize: none !important;
        background-color: white !important;
    } 
    .charterers-renewal-questionnaire1-container .section-titles.obj-det-title {
        left: -113px !important;
    }
    .portfolio .multistep-content-holder .select-wrapper .dropdown-menu.open ul.dropdown-menu.selectpicker { 
        width: 210px !important;        
        max-height: 160px !important;
    }
    .tooltip-validation {
    position: absolute;
    z-index: 1070;
    display: block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    filter: alpha(opacity=0);
    opacity: 0;
    line-break: auto;
    }
    .tooltip-validation.top {
        padding: 5px 0;
        margin-top: -3px;
        margin-left: -36px;
    }
    .tooltip-validation.in {
        filter: alpha(opacity=90);
        opacity: .9;
    }
    .tooltip-validation-arrow {
        position: absolute;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
    }
    .tooltip-validation.top .tooltip-validation-arrow {
        bottom: 0;
        left: 50%;
        margin-left: -5px;
        border-width: 5px 5px 0;
        border-top-color: #E42704;
    }
    .tooltip-validation-inner {
        max-width: 200px;
        padding: 3px 8px;
        color: #E42704;
        text-align: center;
        background-color: #FFF;
        border-radius: 4px;
        border-color: #E42704;
        border: 1px solid;
    }  
    .normal-td-style-blank {
        background: none repeat scroll 0 0 #FFF;
        border-right: 1px solid #8fdff1 !important;
        border-left: 1px solid #8fdff1 !important;
        border-top: 1px solid #FFF !important;
        border-bottom: 1px solid #FFF !important;
    }
</style>

    <apex:composition template="PageFrame" >
        <apex:define name="content" > 
            <!-- Content section starts -->
            <div id="content" class="content">
                <div class="content-wrapper">
                    <div class="page-title">My portfolio</div>
                    <div class="tab-section-container">
                        <apex:include pageName="requestPage"/>
                        <div class="tab-button-section">                            
                           <div class="tab-header-container">
                            <div class="cover single-tab deselected"><apex:outputLink value="/apex/MyCovers" >Covers</apex:outputLink></div>
                            <div class="object single-tab deselected"><apex:outputLink value="/apex/MyObjects" >Objects</apex:outputLink></div>
                            <div class="documents single-tab deselected"><apex:outputLink value="/apex/ViewDocument" >Documents</apex:outputLink></div>
                            <div class="forms single-tab selected"><apex:outputLink value="/apex/PortfolioForms" >Forms</apex:outputLink><div class="update-cover-wrapper-activated"></div></div>
                            <div class="portfolio-report single-tab deselected"><apex:outputLink value="/apex/PortfolioReports">Portfolio reports</apex:outputLink></div>
                           </div>
                        </div>
                        <div class="tab-details-section gard-contact claim-tabs-section portfolio charterers-renewal-questionnaire1-container">
                            <div class="tab-object-section tab-table-wrapper tab-detail-container broker-view forms" style="display: block;">
                                <div class="multistep-form-step-container itopf-form-container layup-pi-form-container char-entry-form-container">
                                    <apex:form id="Entry-page">
                                        <apex:outputPanel id="otp1">
                                        <div class="contact-field">
                                            <div class="form-field-scrol-container">
                                                <div class="multistep-form-path-pointer">
                                                    <div class="common-path-bar"></div>
                                                    <div class="completed-path-bar"></div>
                                                    <div class="section-titles obj-det-title">Information &amp; Chartering activity</div>
                                                    <div class="section-titles cargo-trading-det-title">Cargo</div>
                                                    <div class="section-titles add-det-title">Other activity</div>
                                                    <div class="section-titles rev-title">Review and submit</div>
                                                    <div class="obj-details-dot dots current"></div>
                                                    <div class="cargo-trading-dot dots"></div>
                                                    <div class="add-details-dot dots"></div>
                                                    <div class="review-dot dots"></div>
                                                </div>
                                                <div class="new-claim-report-section sub-sec-title-area">Charterers renewal questionnaire</div>
                                                <div class="request-form-fields-container uw-mou-obg-detl-container multistep-content-holder visible-form-section">
                                                    <div class="report-new-claim-field-section">
                                                        <apex:outputPanel id="rqf1">
                                                            <div class="report-new-claim-field-section-left-panel">
                                                            <apex:outputPanel rendered="{!(hasMultipleClients)}"><!--sfEdit for 4302 replaced rendered="{!userType=='Broker'}"-->
                                                                <!--Start Issue SF-3999 -->
                                                                <label class="simple-line-label" for="client-field">Information about the Assured(s):</label>
                                                                <!--End Issue SF-3999 -->
                                                                <div class="request-form-each-field-section req-cover-new-client-name">
                                                                    <!--Start Issue SF-3999 -->
                                                                    <!--<label for="client-cover-new"><span class="form-req-field" style="margin-right: 4px !important;"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span>Name of the Assured:</label> -->
                                                                    <label for="client-cover-new"><span class="form-req-field" style="margin-right: 4px !important;"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span>Name of the Assured(s):</label>
                                                                    <!--End Issue SF-3999 -->
                                                                    <div class="select-wrapper">
                                                                        <apex:selectList value="{!selectedClient}" styleClass="selectpicker"  id="Name_of_the_Assured" onchange="changeSelectedClientIdFormsCSActionFunction();">  <!-- onChange="clearFieldValues();" disabled="{!AND(questionnaireId!= null,questionnaireId!='')}"  -->
                                                                            <apex:selectOptions value="{!clientLst}"/>
                                                                        </apex:selectList>
                                                                    </div>
                                                                    <script>
                                                                        
                                                                        /* Controls the search by option popup for the single pick-list */
                                                                            jQuery('.request-form-each-field-section.req-cover-new-client-name .selectpicker').selectpicker({
                                                                                noneResultsText: 'No match found!',
                                                                                liveSearch: true,
                                                                                searchAccentInsensitive: false
                                                                            });  
                                                                                
                                                                            jQuery('.request-form-each-field-section.req-cover-new-client-name .select-wrapper .dropdown-toggle.selectpicker').click( function(){
                                                                                //jQuery('.dropdown-menu.inner.selectpicker .mCSB_container').css('display', 'block');
                                                                                //alert(jQuery(this).next().children().find('li.selected').length);
                                                                                if (jQuery(this).next().children().find('li.selected').length != 0) {
                                                                                    //alert(jQuery(this).next().children().find('.mCSB_container').css('top')/* .children('.mCSB_container').css('top') */);
                                                                                }
                                                                            });
                                                                            /* Deselect any selection while choosong any picklist */
                                                                            jQuery('.request-form-each-field-section.req-cover-new-client-name .select-wrapper .btn-group button.multiselect, .select-wrapper .dropdown-toggle.selectpicker').click( function(){
                                                                                document.getSelection().removeAllRanges();
                                                                            });
                                                                            /* Deselect any selection while choosong any picklist */
                                                                        
                                                                            /* Default search by any word selection for the pick-list search option */
                                                                                //var incrementer = 1;
                                                                            jQuery('.request-form-each-field-section.req-cover-new-client-name .search-by-option-container').each( function(){
                                                                                var searchOptions = '<span class="search-by-icon-button selectpicker-long-option" alt="Search by"><span class="search-by-pointer"></span><div class="search-by-option"><div class="search-by-text">Search by<span class="close-search-by"></span></div><div class="search-options"><input class="any-word" id="search-by-any-word' + incrementer + '" type="radio" value="0" name="search-option' + incrementer + '" checked><label for="search-by-any-word' + incrementer + '">Any word</label></div><div class="search-options"><input class="exact-phrase" id="search-by-exact-phrase' + incrementer + '" type="radio" value="1" name="search-option' + incrementer + '"><label for="search-by-exact-phrase' + incrementer + '">Exact phrase</label></div></div></span>';
                                                                                jQuery(this).html(searchOptions);
                                                                                incrementer++;
                                                                            });
                                                                            /* Default search by any word selection for the pick-list search option */
                                                                        
                                                                            
                                                                            /* Controls the opening/closing feature for the search by popup. */
                                                                            jQuery('.request-form-each-field-section.req-cover-new-client-name .search-by-icon-button').click( function(){
                                                                                jQuery(this).children().show();
                                                                            });
                                                                            var searchByElement = jQuery('.request-form-each-field-section.req-cover-new-client-name .search-by-icon-button');
                                                                            jQuery(document).bind('mouseup', function (e){
                                                                                if (searchByElement.has(e.target).length === 0) {
                                                                                    jQuery(searchByElement).children().hide();
                                                                                }
                                                                            });
                                                                            /* Controls the opening/closing feature for the search by popup. */
                                                                        
                                                                            /* Controls the search by option popup for the single pick-list */
                                                                            jQuery('.request-form-each-field-section.req-cover-new-client-name .bs-searchbox').each( function(){
                                                                                var searchOptions = '<span class="search-by-icon-button selectpicker-long-option" alt="Search by"><span class="search-by-pointer"></span><div class="search-by-option"><div class="search-by-text">Search by<span class="close-search-by"></span></div><div class="search-options"><input class="any-word" id="search-by-any-word' + incrementer + '" type="radio" value="0" name="search-option' + incrementer + '" checked><label for="search-by-any-word' + incrementer + '">Any word</label></div><div class="search-options"><input class="exact-phrase" id="search-by-exact-phrase' + incrementer + '" type="radio" value="1" name="search-option' + incrementer + '"><label for="search-by-exact-phrase' + incrementer + '">Exact phrase</label></div></div></span>';
                                                                                jQuery(this).append(searchOptions);
                                                                                incrementer++;
                                                                            });
                                                                            jQuery('.request-form-each-field-section.req-cover-new-client-name .bs-searchbox .search-by-icon-button').click( function(e){
                                                                                e.stopPropagation();
                                                                                jQuery(this).children().show();
                                                                            });
                                                                            var searchByElementSingle = jQuery('.request-form-each-field-section.req-cover-new-client-name .bs-searchbox .search-by-icon-button');
                                                                            jQuery(document).bind('mousedown', function (e){
                                                                                if (searchByElementSingle.has(e.target).length === 0) {
                                                                                    jQuery(searchByElementSingle).children().hide();
                                                                                }
                                                                            });                                  
                                                                                jQuery(".request-form-each-field-section.req-cover-new-client-name .dropdown-menu.open ul").mCustomScrollbar({
                                                                                mouseWheelPixels: 20,
                                                                                scrollEasing: "linear",
                                                                                scrollInertia: 0
                                                                            }); 
                                                                            
                                                                            /* Stop multi-select dropdown closing event clicking on the custom scroll bar */
                                                                            jQuery('.mCSB_draggerContainer').click( function(e){
                                                                                e.stopPropagation();
                                                                            });
                                                                    </script>
                                                                </div>
                                                            </apex:outputPanel>
                                                            <!--Client Part-->
                                                                <apex:outputPanel rendered="{!(!hasMultipleClients)}"><!-- sfEdit 4302 replaced rendered="{!userType=='Client'}-->
                                                                    <div class="request-form-each-field-section req-cover-new-client-name">
                                                                       <label><span class="form-req-field"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> Client:</label>
                                                                       <div class="emptyPanelStyle" Style = "margin-top: 0 !important;">
                                                                       <apex:outputText value="{!clientName}"/>
                                                                       </div>
                                                                    </div>   
                                                                </apex:outputPanel> 
                                                            <!--Client Part End--> 
                                                                <!-- div class="request-form-each-field-section req-cover-new-client-name uw-separator">
                                                                    <label>Name of the Assured: </label>
                                                                    <apex:inputText value="{!uwf.Name_of_the_Assured__c}" styleClass="reqest-object" id="assured-name" onkeyup="limitText(this,100);" onkeypress="limitText(this,100);"/>                                      
                                                                </div -->
                                                            </div>  
                                                        </apex:outputPanel>
                                                        <div class="report-new-claim-single-section new-claim-client primary-assured-add">
                                     
                                                                <label for="place-field">Any expected changes in the Assured and Co-Assureds’ for the upcoming Policy year?</label>
                                                                <apex:inputTextarea value="{!uwf.expected_changes_for_upcoming_yr__c}" styleClass="questionnaire-textarea" onkeyup="limitText(this,500);" onkeypress="limitText(this,500);"/>
                                                                 <div class="fb-textarea-text-limit">(Max 500 characters)</div>                                                                       
                                                        </div>                                           
                                                    </div>
                                                    <div class="report-new-claim-field-section new-claim-right-section">
                                                        <div class="personal-details-section itopf-right-field-section">
                                                            <!--Start Issue SF-3999 -->
                                                            <!--<label class="simple-line-label" for="client-field">Chartering activity</label>-->
                                                            <label class="simple-line-label" for="client-field">Present and future chartering activity: </label><br/>
                                                            <!--<label class="simple-line-label" for="client-field">Please expand table as needed to provide details <b>by vessel type and GT.</b></label> -->
                                                            <!--End Issue SF-3999 -->
                                                            <div class="client-list-section" style="border-bottom: 1px solid white !important;border-left: 1px solid white !important;border-top: 1px solid white !important;">
                                                                
                                                                <table>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="title marge-th-style"></td>
                                                                            <td colspan="2" class="th-container insurance-year marge-th-style" style="border-left: 1px solid #8fdff1 !important;border-top: 1px solid #8fdff1 !important;">Current Insurance Year</td>  
                                                                            <td class=""></td>
                                                                            <td colspan="2" class="th-container insurance-year marge-th-style" style="border-top: 1px solid #8fdff1 !important;">Upcoming Insurance Year</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td></td>
                                                                            <td class="th-container insurance-year-child" style="border-left: 1px solid #8fdff1 !important;">Time Charters:</td>
                                                                            <td class="th-container insurance-year-child">Voyage Charters:</td>
                                                                           <td class=""></td>
                                                                            <td class="th-container insurance-year-child">Time Charters:</td>
                                                                            <td class="th-container insurance-year-child">Voyage Charters:</td>
                                                                        </tr>
                                                                    </tbody>
                                                                    <tbody style="border-left: 1px solid #8fdff1 !important;border-top: 1px solid #8fdff1 !important;">
                                                                        <tr  class="odd">                        
                                                                                <td class="title" style="border-top: 1px solid #8fdff1 !important;"><span class="form-req-field" style="margin-right: 4px !important;"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span>Number of vessels chartered:</td>
                                                                                <td class="insurance-year-child"><apex:inputText value="{!uwf.current_time_no_of_vessels__c}" onkeyup="limitText(this,10);" onkeypress="limitText(this,10);" id="time_chat1a"/></td>
                                                                                <td class="insurance-year-child" style="border-right: 1px solid #8fdff1 !important;"><apex:inputText value="{!uwf.current_voyage_no_of_vessels__c}" id="voyage_chat1a" onkeyup="limitText(this,10);" onkeypress="limitText(this,10);"/></td> 
                                                                                <td class="normal-td-style-blank">
                                                                                <apex:commandLink styleClass="pager-next pager-section activated" id="row1_arrow"/></td>
                                                                                <td class="insurance-year-child" style="border-left: 1px solid #8fdff1 !important;"><apex:inputText value="{!uwf.upcoming_time_no_of_vessels__c}" id="time_chat1b" onkeyup="limitText(this,10);" onkeypress="limitText(this,10);"/></td>
                                                                                <td class="insurance-year-child"><apex:inputText value="{!uwf.upcoming_voyage_no_of_vessels__c}" id="voyage_chat1b" onkeyup="limitText(this,10);" onkeypress="limitText(this,10);"/></td>
                                                                        </tr>
                                                                        <tr  class="even">                        
                                                                                <td class="title"><span class="form-req-field" style="margin-right: 4px !important;"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span>Duration of Charters (average # of days):</td>
                                                                                <td class="insurance-year-child"><apex:inputText value="{!uwf.current_time_duration_of_charters__c}" id="time_chat2a" onkeyup="limitText(this,10);" onkeypress="limitText(this,10);"/></td>
                                                                                <td class="insurance-year-child" style="border-right: 1px solid #8fdff1 !important;"><apex:inputText value="{!uwf.current_voyage_duration_of_charters__c}" id="voyage_chat2a" onkeyup="limitText(this,10);" onkeypress="limitText(this,10);"/></td> 
                                                                                <td class="normal-td-style-blank">
                                                                                <apex:commandLink styleClass="pager-next pager-section activated" id="row2_arrow"/></td>
                                                                                <td class="insurance-year-child" style="border-left: 1px solid #8fdff1 !important;"><apex:inputText value="{!uwf.upcoming_time_duration_of_charters__c}" id="time_chat2b" onkeyup="limitText(this,10);" onkeypress="limitText(this,10);"/></td>
                                                                                <td class="insurance-year-child"><apex:inputText value="{!uwf.upcoming_voyage_duration_of_charters__c}" id="voyage_chat2b" onkeyup="limitText(this,10);" onkeypress="limitText(this,10);"/></td>
                                                                        </tr>
                                                                        <tr  class="odd">                        
                                                                                <td class="title"><span class="form-req-field" style="margin-right: 4px !important;"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span>Average vessel size (in GT):</td>
                                                                                <td class="insurance-year-child"><apex:inputText value="{!uwf.current_time_avg_vessel_size__c}" id="time_chat3a" onkeyup="limitText(this,10);" onkeypress="limitText(this,10);"/></td>
                                                                                <td class="insurance-year-child" style="border-right: 1px solid #8fdff1 !important;"><apex:inputText value="{!uwf.current_voyage_avg_vessel_size__c}" id="voyage_chat3a" onkeyup="limitText(this,10);" onkeypress="limitText(this,10);"/></td> 
                                                                                <td class="normal-td-style-blank">
                                                                                <apex:commandLink styleClass="pager-next pager-section activated" id="row3_arrow"/></td>
                                                                                <td class="insurance-year-child" style="border-left: 1px solid #8fdff1 !important;"><apex:inputText value="{!uwf.upcoming_time_avg_vessel_size__c}" id="time_chat3b" onkeyup="limitText(this,10);" onkeypress="limitText(this,10);"/></td>
                                                                                <td class="insurance-year-child"><apex:inputText value="{!uwf.upcoming_voyage_avg_vessel_size__c}" id="voyage_chat3b" onkeyup="limitText(this,10);" onkeypress="limitText(this,10);"/></td>
                                                                        </tr>
                                                                        <tr  class="even">                        
                                                                                <td class="title"><span class="form-req-field" style="margin-right: 4px !important;"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span>Average vessel age (years):</td>
                                                                                <td class="insurance-year-child"><apex:inputText value="{!uwf.current_time_avg_vessel_age__c}" id="time_chat4a" onkeyup="limitText(this,10);" onkeypress="limitText(this,10);"/></td>
                                                                                <td class="insurance-year-child" style="border-right: 1px solid #8fdff1 !important;"><apex:inputText value="{!uwf.current_voyage_avg_vessel_age__c}" id="voyage_chat4a" onkeyup="limitText(this,10);" onkeypress="limitText(this,10);"/></td> 
                                                                                <td class="normal-td-style-blank">
                                                                                <apex:commandLink styleClass="pager-next pager-section activated" id="row4_arrow"/></td>
                                                                                <td class="insurance-year-child" style="border-left: 1px solid #8fdff1 !important;"><apex:inputText value="{!uwf.upcoming_time_avg_vessel_age__c}" id="time_chat4b" onkeyup="limitText(this,10);" onkeypress="limitText(this,10);"/></td>
                                                                                <td class="insurance-year-child"><apex:inputText value="{!uwf.upcoming_voyage_avg_vessel_age__c}" id="voyage_chat4b" onkeyup="limitText(this,10);" onkeypress="limitText(this,10);"/></td>
                                                                        </tr> 
                                                                        <tr  class="odd">                        
                                                                                <td class="title" style="border-bottom: 1px solid #8fdff1 !important;">Types of charterparties used:</td>
                                                                                <td class="insurance-year-child" style="border-bottom: 1px solid #8fdff1 !important;"><apex:inputText value="{!uwf.current_time_types_of_charterparties__c}" id="time_chat5a" onkeyup="limitText(this,10);" onkeypress="limitText(this,10);"/></td>
                                                                                <td class="insurance-year-child" style="border-bottom: 1px solid #8fdff1 !important;border-right: 1px solid #8fdff1 !important;"><apex:inputText value="{!uwf.current_voyage_types_of_charterparties__c}" id="voyage_chat5a" onkeyup="limitText(this,10);" onkeypress="limitText(this,10);"/></td> 
                                                                                <td class="normal-td-style-blank">
                                                                                <apex:commandLink styleClass="pager-next pager-section activated" id="row5_arrow"/></td>
                                                                                <td class="insurance-year-child" style="border-bottom: 1px solid #8fdff1 !important;border-left: 1px solid #8fdff1 !important;"><apex:inputText value="{!uwf.upcoming_time_types_of_charterparties__c}" id="time_chat5b" onkeyup="limitText(this,10);" onkeypress="limitText(this,10);"/></td>
                                                                                <td class="insurance-year-child" style="border-bottom: 1px solid #8fdff1 !important;"><apex:inputText value="{!uwf.upcoming_voyage_types_of_charterparties__c}" id="voyage_chat5b" onkeyup="limitText(this,10);" onkeypress="limitText(this,10);"/></td>
                                                                        </tr>                                                
                                                                    </tbody>  
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-submit-section">
                                                <div class="left-button-set">
                                                    <apex:commandButton value="Next" action="{!goNextSecondPage}" styleClass="form-btn next-nav" onclick="return fieldValidation();ga('send', 'event', 'Button Click', 'Next', 'UWRCharterersRenewalQuestionnaire1');"/>  
                                                    <apex:commandButton value="Save" action="{!tempSavePage1}" onComplete="jQuery(this).removeAttr('disabled');" styleClass="form-btn multi-clear-btn" style="margin-left: 4px;" reRender="proxy,save-popup" onclick="if(!saveFunction()) return false;"/>         
                                                    <apex:commandButton value="Cancel" action="{!toggleCancel}" styleClass="form-btn multi-clear-btn" style="margin-left: 4px;" reRender="cancel-popup" onclick="jQuery('.overley,.loading').show();ga('send', 'event', 'Button Click', 'Cancel', 'UWRCharterersRenewalQuestionnaire1');"/>                                                   
                                                </div>
                                                <div class="right-button-set">
                                                    <input id="submit" class="form-btn rvw-sub-multi disabled" type="submit" name="submit" value="Review and submit"/>
                                                </div>
                                            </div>
                                        </div>
                                        <apex:outputPanel id="cancel-popup">
                                            <apex:outputPanel rendered="{!cancelPopUp}">
                                                <script>
                                                    jQuery('.overley').show();
                                                    jQuery('.loading').hide();
                                                </script>
                                                <div id="contact-info-pop-container" class="global-popup global-popup-confirm" style="display:block;z-index:9999990;" >
                                                    <div id="contact-info-pop" class="cont-info-pop popup-infos">
                                                        <div id="contact-info-pop-wrapper">
                                                            <div class="popup-form-container">
                                                                <div class="contact-field">
                                                                    <div class="pop-up-sub-title">
                                                                        <!--SF-3818--Start-->                                             
                                                                        <!--Do you want to exit without saving?-->
                                                                        {!$ObjectType.Confirm_PopUp__mdt.fields.UWRExitwoSave__c.inlineHelpText}
                                                                        <!--SF-3818--End-->
                                                                    </div>                                 
                                                                    <div class="form-submit-section">
                                                                        <apex:commandButton value="Yes" styleClass="form-btn" action="{!sendToForm}" oncomplete="jQuery('.overley').hide();" /> 
                                                                        <apex:commandButton value="No" styleClass="form-btn" action="{!doNotCancel}" oncomplete="jQuery('.overley').hide();" reRender="cancel-popup"/>
                                                                    </div>
                                                                </div>                                                 
                                                            </div>
                                                        </div> 
                                                    </div>
                                                </div>           
                                            </apex:outputPanel>
                                        </apex:outputPanel>
                                        <apex:outputPanel id="save-popup">
                                            <apex:outputPanel rendered="{!savePopUp}">
                                                <script>
                                                   jQuery('.overley').show();
                                                   jQuery('.loading').hide();
                                                </script>
                                                    <div id="contact-info-pop-container" class="global-popup global-popup-confirm" style="display:block;z-index:9999990;">       
                                                        <div id="contact-info-pop" class="cont-info-pop popup-infos">
                                                            <div id="contact-info-pop-wrapper">
                                                                <div class="popup-form-container">
                                                                    <div class="contact-field">
                                                                        <div class="pop-up-sub-title">
                                                                            <!--SF-3818--Start-->                                             
                                                                            <!--Your record has been saved as draft.-->
                                                                            {!$ObjectType.Confirm_PopUp__mdt.fields.UWRSave__c.inlineHelpText}
                                                                            <!--SF-3818--End-->
                                                                        </div>                                 
                                                                        <div class="form-submit-section">
                                                                             <apex:commandButton value="Ok" styleClass="form-btn" onclick="closeDraftPopUp();return false;" immediate="true" /> 

                                                                        </div>
                                                                        <script>
                                                                                function closeDraftPopUp(){
                                                                                    console.log('before Call------------------>');
                                                                                    closeDraft();
                                                                                    console.log('after Call------------------>'); 
                                                                                }
                                                                            </script>

                                                                    </div>                                                 
                                                                </div>
                                                            </div> 
                                                        </div>
                                                    </div>           
                                            </apex:outputPanel>
                                        </apex:outputPanel>
                                        <apex:actionFunction action="{!hideSavePopUp}" name="closeDraft" immediate="true" /> 
                                        <apex:actionFunction action="{!fetchSelectedClients}" name="fetchSelectedClientsPF" reRender="opt" immediate="true"  > <!-- reRender="rqf1"  oncomplete="clearFieldValues();"-->
                                            <apex:param name="allSelectedClients" value="" assignTo="{!strSelected}" />
                                        </apex:actionFunction>
                                        <apex:actionFunction action="{!changeSelectedClientIdFormsCS}" name="changeSelectedClientIdFormsCSActionFunction" reRender="otp" onComplete="clearFieldValues();"/>
                                        </apex:outputPanel>
                                    </apex:form>   
                                </div>
                            </div>              
                        </div>
                    </div>
                </div>
            </div>
            <!-- Content section ends -->
        </apex:define>
    </apex:composition>
    <script>
    <!-- testing -->
    /*jQuery( document ).ready(function() {                               
       console.log( "UWRCharterersRenewalQuestionnaire1 ready!" );
       var selectedClient = jQuery('select[id$="Name_of_the_Assured"]').val(); 
       if((typeof selectedClient != typeof  undefined) && (selectedClient == '' || selectedClient == null || selectedClient == ' ') ){
            clearFieldValues();                 
       }
     });*/
     function clearFieldValues(){
    jQuery('select[id$="Name_of_the_Assured"]').attr('value','');
    }
    <!-- /testing-->
        jQuery('a[id$="row1_arrow"]').click(function() {
            var time_chatStr = jQuery('input[id$="time_chat1a"]').val();
            if(time_chatStr !='' || time_chatStr != null || time_chatStr !=' ' || time_chatStr != undefined){
                jQuery('input[id$="time_chat1b"]').val(time_chatStr);
            }
            var voyage_chatStr = jQuery('input[id$="voyage_chat1a"]').val();
            if(voyage_chatStr !='' || voyage_chatStr != null || voyage_chatStr !=' ' || voyage_chatStr != undefined){
                jQuery('input[id$="voyage_chat1b"]').val(voyage_chatStr);
            }
        });
        jQuery('a[id$="row2_arrow"]').click(function() {
            var time_chatStr2 = jQuery('input[id$="time_chat2a"]').val();   
            if(time_chatStr2 !='' || time_chatStr2 != null || time_chatStr2 !=' ' || time_chatStr2 != undefined){
                jQuery('input[id$="time_chat2b"]').val(time_chatStr2);
            }
            var voyage_chatStr2 = jQuery('input[id$="voyage_chat2a"]').val();
            if(voyage_chatStr2 !='' || voyage_chatStr2 != null || voyage_chatStr2 !=' ' || voyage_chatStr2 != undefined){
                jQuery('input[id$="voyage_chat2b"]').val(voyage_chatStr2);
            }
        });
        jQuery('a[id$="row3_arrow"]').click(function() {
            var time_chatStr3 = jQuery('input[id$="time_chat3a"]').val();       
            if(time_chatStr3 !='' || time_chatStr3 != null || time_chatStr3 !=' ' || time_chatStr3 != undefined){
                jQuery('input[id$="time_chat3b"]').val(time_chatStr3);
            }
            var voyage_chatStr3 = jQuery('input[id$="voyage_chat3a"]').val();
            if(voyage_chatStr3 !='' || voyage_chatStr3 != null || voyage_chatStr3 !=' ' || voyage_chatStr3 != undefined){
                jQuery('input[id$="voyage_chat3b"]').val(voyage_chatStr3);
            }
        });
        jQuery('a[id$="row4_arrow"]').click(function() {
            var time_chatStr4 = jQuery('input[id$="time_chat4a"]').val();       
            if(time_chatStr4 !='' || time_chatStr4 != null || time_chatStr4 !=' ' || time_chatStr4 != undefined){
                jQuery('input[id$="time_chat4b"]').val(time_chatStr4);
            }
            var voyage_chatStr4 = jQuery('input[id$="voyage_chat4a"]').val();
            if(voyage_chatStr4 !='' || voyage_chatStr4 != null || voyage_chatStr4 !=' ' || voyage_chatStr4 != undefined){
                jQuery('input[id$="voyage_chat4b"]').val(voyage_chatStr4);
            }
        });
        jQuery('a[id$="row5_arrow"]').click(function() {
            var time_chatStr5 = jQuery('input[id$="time_chat5a"]').val();
            if(time_chatStr5 !='' || time_chatStr5 != null || time_chatStr5 !=' ' || time_chatStr5 != undefined){
                jQuery('input[id$="time_chat5b"]').val(time_chatStr5);
            }
            var voyage_chatStr5 = jQuery('input[id$="voyage_chat5a"]').val();
            if(voyage_chatStr5 !='' || voyage_chatStr5 != null || voyage_chatStr5 !=' ' || voyage_chatStr5 != undefined){
                jQuery('input[id$="voyage_chat5b"]').val(voyage_chatStr5);
            }
        });
        <!-- only allow number and dot -->
        <!-- *************** for 1st row ******************-->
        jQuery('input[id$="time_chat1a"]').keyup(function(){
            var val = jQuery(this).val();
            if(isNaN(val)){
                 val = val.replace(/[^0-9\.]/g,'');
                 if(val.split('.').length>2) 
                     val =val.replace(/\.+$/,"");
            }
            jQuery(this).val(val); 
        }); 
        jQuery('input[id$="voyage_chat1a"]').keyup(function(){
            var val = jQuery(this).val();
            if(isNaN(val)){
                 val = val.replace(/[^0-9\.]/g,'');
                 if(val.split('.').length>2) 
                     val =val.replace(/\.+$/,"");
            }
            jQuery(this).val(val); 
        });
        jQuery('input[id$="time_chat1b"]').keyup(function(){
            var val = jQuery(this).val();
            if(isNaN(val)){
                 val = val.replace(/[^0-9\.]/g,'');
                 if(val.split('.').length>2) 
                     val =val.replace(/\.+$/,"");
            }
            jQuery(this).val(val); 
        }); 
        jQuery('input[id$="voyage_chat1b"]').keyup(function(){
            var val = jQuery(this).val();
            if(isNaN(val)){
                 val = val.replace(/[^0-9\.]/g,'');
                 if(val.split('.').length>2) 
                     val =val.replace(/\.+$/,"");
            }
            jQuery(this).val(val); 
        });
        <!-- *************** for 1st row ******************-->
        <!-- *************** for 2nd row ******************-->
        jQuery('input[id$="time_chat2a"]').keyup(function(){
            var val = jQuery(this).val();
            if(isNaN(val)){
                 val = val.replace(/[^0-9\.]/g,'');
                 if(val.split('.').length>2) 
                     val =val.replace(/\.+$/,"");
            }
            jQuery(this).val(val); 
        }); 
        jQuery('input[id$="voyage_chat2a"]').keyup(function(){
            var val = jQuery(this).val();
            if(isNaN(val)){
                 val = val.replace(/[^0-9\.]/g,'');
                 if(val.split('.').length>2) 
                     val =val.replace(/\.+$/,"");
            }
            jQuery(this).val(val); 
        }); 
        jQuery('input[id$="time_chat2b"]').keyup(function(){
            var val = jQuery(this).val();
            if(isNaN(val)){
                 val = val.replace(/[^0-9\.]/g,'');
                 if(val.split('.').length>2) 
                     val =val.replace(/\.+$/,"");
            }
            jQuery(this).val(val); 
        }); 
        jQuery('input[id$="voyage_chat2b"]').keyup(function(){
            var val = jQuery(this).val();
            if(isNaN(val)){
                 val = val.replace(/[^0-9\.]/g,'');
                 if(val.split('.').length>2) 
                     val =val.replace(/\.+$/,"");
            }
            jQuery(this).val(val); 
        }); 
        <!-- *************** /for 2nd row ******************-->
        <!-- *************** for 3rd row ******************-->
        jQuery('input[id$="time_chat3a"]').keyup(function(){
            var val = jQuery(this).val();
            if(isNaN(val)){
                 val = val.replace(/[^0-9\.]/g,'');
                 if(val.split('.').length>2) 
                     val =val.replace(/\.+$/,"");
            }
            jQuery(this).val(val); 
        }); 
        jQuery('input[id$="voyage_chat3a"]').keyup(function(){
            var val = jQuery(this).val();
            if(isNaN(val)){
                 val = val.replace(/[^0-9\.]/g,'');
                 if(val.split('.').length>2) 
                     val =val.replace(/\.+$/,"");
            }
            jQuery(this).val(val); 
        }); 
        jQuery('input[id$="time_chat3b"]').keyup(function(){
            var val = jQuery(this).val();
            if(isNaN(val)){
                 val = val.replace(/[^0-9\.]/g,'');
                 if(val.split('.').length>2) 
                     val =val.replace(/\.+$/,"");
            }
            jQuery(this).val(val); 
        }); 
        jQuery('input[id$="voyage_chat3b"]').keyup(function(){
            var val = jQuery(this).val();
            if(isNaN(val)){
                 val = val.replace(/[^0-9\.]/g,'');
                 if(val.split('.').length>2) 
                     val =val.replace(/\.+$/,"");
            }
            jQuery(this).val(val); 
        }); 
        <!-- *************** /for 3rd row ******************-->
        <!-- *************** for 4th row ******************-->
        jQuery('input[id$="time_chat4a"]').keyup(function(){
            var val = jQuery(this).val();
            if(isNaN(val)){
                 val = val.replace(/[^0-9\.]/g,'');
                 if(val.split('.').length>2) 
                     val =val.replace(/\.+$/,"");
            }
            jQuery(this).val(val); 
        }); 
        jQuery('input[id$="voyage_chat4a"]').keyup(function(){
            var val = jQuery(this).val();
            if(isNaN(val)){
                 val = val.replace(/[^0-9\.]/g,'');
                 if(val.split('.').length>2) 
                     val =val.replace(/\.+$/,"");
            }
            jQuery(this).val(val); 
        }); 
        jQuery('input[id$="time_chat4b"]').keyup(function(){
            var val = jQuery(this).val();
            if(isNaN(val)){
                 val = val.replace(/[^0-9\.]/g,'');
                 if(val.split('.').length>2) 
                     val =val.replace(/\.+$/,"");
            }
            jQuery(this).val(val); 
        }); 
        jQuery('input[id$="voyage_chat4b"]').keyup(function(){
            var val = jQuery(this).val();
            if(isNaN(val)){
                 val = val.replace(/[^0-9\.]/g,'');
                 if(val.split('.').length>2) 
                     val =val.replace(/\.+$/,"");
            }
            jQuery(this).val(val); 
        }); 
        jQuery('input[id$="time_chat5a"]').keyup(function(){
            var val = jQuery(this).val();
            if(isNaN(val)){
                 val = val.replace(/[^0-9\.]/g,'');
                 if(val.split('.').length>2) 
                     val =val.replace(/\.+$/,"");
            }
            jQuery(this).val(val); 
        }); 
        <!-- *************** /for 4th row ******************-->
        <!-- *************** for 5th row ******************-->
        jQuery('input[id$="voyage_chat5a"]').keyup(function(){
            var val = jQuery(this).val();
            if(isNaN(val)){
                 val = val.replace(/[^0-9\.]/g,'');
                 if(val.split('.').length>2) 
                     val =val.replace(/\.+$/,"");
            }
            jQuery(this).val(val); 
        });
        jQuery('input[id$="time_chat5b"]').keyup(function(){
            var val = jQuery(this).val();
            if(isNaN(val)){
                 val = val.replace(/[^0-9\.]/g,'');
                 if(val.split('.').length>2) 
                     val =val.replace(/\.+$/,"");
            }
            jQuery(this).val(val); 
        }); 
        jQuery('input[id$="voyage_chat5b"]').keyup(function(){
            var val = jQuery(this).val();
            if(isNaN(val)){
                 val = val.replace(/[^0-9\.]/g,'');
                 if(val.split('.').length>2) 
                     val =val.replace(/\.+$/,"");
            }
            jQuery(this).val(val); 
        }); 
        <!-- *************** /for 5th row ******************-->
        <!-- /only allow number and dot -->
        <!-- Mandatory fields -->
        function removeBorder(){
            jQuery('input[id$="time_chat1a"]').css('border','');
            jQuery('input[id$="voyage_chat1a"]').css('border','');
            jQuery('input[id$="time_chat1b"]').css('border','');
            jQuery('input[id$="voyage_chat1b"]').css('border','');
            jQuery('input[id$="time_chat2a"]').css('border','');
            jQuery('input[id$="voyage_chat2a"]').css('border','');
            jQuery('input[id$="time_chat2b"]').css('border','');
            jQuery('input[id$="voyage_chat2b"]').css('border','');
            jQuery('input[id$="time_chat3a"]').css('border','');
            jQuery('input[id$="voyage_chat3a"]').css('border','');
            jQuery('input[id$="time_chat3b"]').css('border','');
            jQuery('input[id$="voyage_chat3b"]').css('border','');
            jQuery('input[id$="time_chat4a"]').css('border','');
            jQuery('input[id$="voyage_chat4a"]').css('border','');
            jQuery('input[id$="time_chat4b"]').css('border','');
            jQuery('input[id$="voyage_chat4b"]').css('border','');
        }
        
        function fieldValidation(){
                console.log('****** from field validation ********');
                removeBorder();
                jQuery(".tooltip-validation").remove();
                jQuery(".error-validation-msg").remove();
                var assuredName =  jQuery('select[id$="Name_of_the_Assured"]').val();
                var t_chat1a = jQuery.trim(jQuery('input[id$="time_chat1a"]').val());
                var voy_chat1a = jQuery.trim(jQuery('input[id$="voyage_chat1a"]').val());
                var t_chat1b = jQuery.trim(jQuery('input[id$="time_chat1b"]').val());
                var voy_chat1b = jQuery.trim(jQuery('input[id$="voyage_chat1b"]').val());
                var t_chat2a = jQuery.trim(jQuery('input[id$="time_chat2a"]').val());
                var voy_chat2a = jQuery.trim(jQuery('input[id$="voyage_chat2a"]').val());
                var t_chat2b = jQuery.trim(jQuery('input[id$="time_chat2b"]').val());
                var voy_chat2b = jQuery.trim(jQuery('input[id$="voyage_chat2b"]').val());
                var t_chat3a = jQuery.trim(jQuery('input[id$="time_chat3a"]').val());
                var voy_chat3a = jQuery.trim(jQuery('input[id$="voyage_chat3a"]').val());
                var t_chat3b = jQuery.trim(jQuery('input[id$="time_chat3b"]').val());
                var voy_chat3b = jQuery.trim(jQuery('input[id$="voyage_chat3b"]').val());
                var t_chat4a = jQuery.trim(jQuery('input[id$="time_chat4a"]').val());
                var voy_chat4a = jQuery.trim(jQuery('input[id$="voyage_chat4a"]').val());
                var t_chat4b = jQuery.trim(jQuery('input[id$="time_chat4b"]').val());
                var voy_chat4b = jQuery.trim(jQuery('input[id$="voyage_chat4b"]').val());
                
                console.log('******** assuredName  *******'+ assuredName );
                if((typeof assuredName != typeof  undefined) && (assuredName == '' || assuredName == null || assuredName == ' ')){
                    var msgError = '<div class="error-validation-msg" style="margin-left: 0px;">Please select client.</div>';                  
                    jQuery('select[id$="Name_of_the_Assured"]').parent().after(msgError);                 
                    return false;
                }
                else if(t_chat1a == '' || t_chat1a == null || t_chat1a == ' ' ){
                    console.log('******** t_chat1a  *******'+ t_chat1a );
                    var msgError = '<div class="tooltip-validation fade top in" style="top: 139px;"><div class="tooltip-validation-arrow" style="left: 50%;"></div><div class="tooltip-validation-inner">This field can not be blank.</div></div>';                                                     
                    jQuery('input[id$="time_chat1a"]').after(msgError);
                    jQuery('input[id$="time_chat1a"]').css('border','1px solid #E42704');
                    return false;
                }
                else if(voy_chat1a == '' || voy_chat1a == null || voy_chat1a == ' ' ){
                    var msgError = '<div class="tooltip-validation fade top in" style="top: 139px;"><div class="tooltip-validation-arrow" style="left: 50%;"></div><div class="tooltip-validation-inner">This field can not be blank.</div></div>';            
                   jQuery('input[id$="voyage_chat1a"]').after(msgError);    
                   jQuery('input[id$="voyage_chat1a"]').css('border','1px solid #E42704');
                    return false;
                }
                else if(t_chat1b == '' || t_chat1b == null || t_chat1b == ' ' ){
                    console.log('******** t_chat1b *******'+ t_chat1a );
                    var msgError = '<div class="tooltip-validation fade top in" style="top: 139px;"><div class="tooltip-validation-arrow" style="left: 50%;"></div><div class="tooltip-validation-inner">This field can not be blank.</div></div>';            
                    jQuery('input[id$="time_chat1b"]').after(msgError);
                    jQuery('input[id$="time_chat1b"]').css('border','1px solid #E42704');
                    return false;
                }
                else if(voy_chat1b == '' || voy_chat1b == null || voy_chat1b == ' ' ){
                     var msgError = '<div class="tooltip-validation fade top in" style="top: 139px;"><div class="tooltip-validation-arrow" style="left: 50%;"></div><div class="tooltip-validation-inner">This field can not be blank.</div></div>';
                     jQuery('input[id$="voyage_chat1b"]').after(msgError);
                     jQuery('input[id$="voyage_chat1b"]').css('border','1px solid #E42704');
                    return false;
                }
                
                else if(t_chat2a == '' || t_chat2a == null || t_chat2a == ' ' ){
                    var msgError = '<div class="tooltip-validation fade top in" style="top: 177px;"><div class="tooltip-validation-arrow" style="left: 50%;"></div><div class="tooltip-validation-inner">This field can not be blank.</div></div>';
                    jQuery('input[id$="time_chat2a"]').after(msgError);
                    jQuery('input[id$="time_chat2a"]').css('border','1px solid #E42704');          
                    return false;
                }
                else if(voy_chat2a == '' || voy_chat2a == null || voy_chat2a == ' ' ){
                   var msgError = '<div class="tooltip-validation fade top in" style="top: 177px;"><div class="tooltip-validation-arrow" style="left: 50%;"></div><div class="tooltip-validation-inner">This field can not be blank.</div></div>';
                   jQuery('input[id$="voyage_chat2a"]').after(msgError);    
                    jQuery('input[id$="voyage_chat2a"]').css('border','1px solid #E42704');           
                    return false;
                }
                else if(t_chat2b == '' || t_chat2b == null || t_chat2b == ' ' ){
                   var msgError = '<div class="tooltip-validation fade top in" style="top: 177px;"><div class="tooltip-validation-arrow" style="left: 50%;"></div><div class="tooltip-validation-inner">This field can not be blank.</div></div>';
                   jQuery('input[id$="time_chat2b"]').after(msgError);    
                    jQuery('input[id$="time_chat2b"]').css('border','1px solid #E42704');            
                    return false;
                }
                else if(voy_chat2b == '' || voy_chat2b == null || voy_chat2b == ' ' ){
                    var msgError = '<div class="tooltip-validation fade top in" style="top: 177px;"><div class="tooltip-validation-arrow" style="left: 50%;"></div><div class="tooltip-validation-inner">This field can not be blank.</div></div>';
                   jQuery('input[id$="voyage_chat2b"]').after(msgError);      
                    jQuery('input[id$="voyage_chat2b"]').css('border','1px solid #E42704');        
                    return false;
                }
                
                else if(t_chat3a == '' || t_chat3a == null || t_chat3a == ' ' ){
                    var msgError = '<div class="tooltip-validation fade top in" style="top: 214px;"><div class="tooltip-validation-arrow" style="left: 50%;"></div><div class="tooltip-validation-inner">This field can not be blank.</div></div>';
                    jQuery('input[id$="time_chat3a"]').after(msgError);    
                    jQuery('input[id$="time_chat3a"]').css('border','1px solid #E42704');             
                    return false;
                }
                else if(voy_chat3a == '' || voy_chat3a == null || voy_chat3a == ' ' ){
                    var msgError = '<div class="tooltip-validation fade top in" style="top: 214px;"><div class="tooltip-validation-arrow" style="left: 50%;"></div><div class="tooltip-validation-inner">This field can not be blank.</div></div>';
                   jQuery('input[id$="voyage_chat3a"]').after(msgError);  
                   jQuery('input[id$="voyage_chat3a"]').css('border','1px solid #E42704');               
                    return false;
                }
                else if(t_chat3b == '' || t_chat3b == null || t_chat3b == ' ' ){
                   var msgError = '<div class="tooltip-validation fade top in" style="top: 214px;"><div class="tooltip-validation-arrow" style="left: 50%;"></div><div class="tooltip-validation-inner">This field can not be blank.</div></div>';
                   jQuery('input[id$="time_chat3b"]').after(msgError);    
                   jQuery('input[id$="time_chat3b"]').css('border','1px solid #E42704');             
                    return false;
                }
                else if(voy_chat3b == '' || voy_chat3b == null || voy_chat3b == ' ' ){
                   var msgError = '<div class="tooltip-validation fade top in" style="top: 214px;"><div class="tooltip-validation-arrow" style="left: 50%;"></div><div class="tooltip-validation-inner">This field can not be blank.</div></div>';
                   jQuery('input[id$="voyage_chat3b"]').after(msgError);  
                   jQuery('input[id$="voyage_chat3b"]').css('border','1px solid #E42704');               
                    return false;
                }
                
                else if(t_chat4a == '' || t_chat4a == null || t_chat4a == ' ' ){
                    var msgError = '<div class="tooltip-validation fade top in" style="top: 251px;"><div class="tooltip-validation-arrow" style="left: 50%;"></div><div class="tooltip-validation-inner">This field can not be blank.</div></div>';
                    jQuery('input[id$="time_chat4a"]').after().after(msgError);      
                    jQuery('input[id$="time_chat4a"]').css('border','1px solid #E42704');           
                    return false;
                }
                else if(voy_chat4a == '' || voy_chat4a == null || voy_chat4a == ' ' ){
                    var msgError = '<div class="tooltip-validation fade top in" style="top: 251px;"><div class="tooltip-validation-arrow" style="left: 50%;"></div><div class="tooltip-validation-inner">This field can not be blank.</div></div>';
                   jQuery('input[id$="voyage_chat4a"]').after(msgError);                 
                   jQuery('input[id$="voyage_chat4a"]').css('border','1px solid #E42704');
                    return false;
                }
                else if(t_chat4b == '' || t_chat4b == null || t_chat4b == ' ' ){
                    var msgError = '<div class="tooltip-validation fade top in" style="top: 251px;"><div class="tooltip-validation-arrow" style="left: 50%;"></div><div class="tooltip-validation-inner">This field can not be blank.</div></div>';
                   jQuery('input[id$="time_chat4b"]').after(msgError);               
                   jQuery('input[id$="time_chat4b"]').css('border','1px solid #E42704');  
                    return false;
                }
                else if(voy_chat4b == '' || voy_chat4b == null || voy_chat4b == ' ' ){
                   var msgError = '<div class="tooltip-validation fade top in" style="top: 251px;"><div class="tooltip-validation-arrow" style="left: 50%;"></div><div class="tooltip-validation-inner">This field can not be blank.</div></div>';
                   jQuery('input[id$="voyage_chat4b"]').after(msgError);              
                   jQuery('input[id$="voyage_chat4b"]').css('border','1px solid #E42704');   
                    return false;
                }
                else{
                    return true;
                }
            }
            jQuery('.from-btn').click(function(){
                var checked = jQuery('select[id$="site-search:globalClient"]').val();
                var allSelectedClients='';             
                if(checked!=null){
                    jQuery.each(checked,function (index, value) {
                        if(index=='0'){                     
                            allSelectedClients = value; 
                        }else{                      
                            allSelectedClients = allSelectedClients + ';' + value;
                        }                                     
                    });                      
                }
                fetchSelectedClientsPF(allSelectedClients);                                                                               
          });
    
    function saveFunction(){
        var retVal = fieldValidation();
        console.log('saveFunction retVal - '+retVal);
        
        if(!retVal) return retVal;//invalid
        
        //valid
        jQuery(this).attr('disabled','disabled');
        jQuery('.overley,.loading').show();
        ga('send', 'event', 'Button Click','Save', 'UWRCharterersRenewalQuestionnaire1');
        return retVal;
    }
    </script>
</apex:page>