<!--UWRForEntryFormfReviewForm, NOT IN USE-->
<apex:page controller="UWRForEntryFormforCharterClientsCtrl" extensions="UwrAssuredsExtension" showHeader="false" sidebar="false" id="uw" standardStylesheets="false" applyBodyTag="false" applyHtmlTag="false">
    <apex:includeScript value="{!$Resource.GoogleAnalytics}"/>
    
    <style>
        .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus{
        background-color: #FFF !important;
        }
        .custom-row .custom-cell.action-column{
        max-width: 100px !important;
        min-width: 100px !important;
        width: 100px !important;
        }
        .custom-row .custom-cell.ri-load-date, .custom-row .custom-cell.ri-discharge-date{
        max-width: 300px !important;
        min-width: 300px !important;
        width: 300px !important;
        }
        .custom-cell-data input[type="text"]{
        background: none repeat scroll 0 0 #f8fdfe !important;
        border: 1px solid #8fdff1 !important;
        padding: 0 3px !important;
        width: 100% !important;
        }
        .extrem-last-dropdown .dropdown-menu {
        bottom: 29px !important;
        box-shadow: 1px -1px 2px 0 rgba(73, 59, 38, 0.2) !important;
        left: 0 !important;
        top: auto !important;
        }
        .report-new-claim-field-section-left-panel, .report-new-claim-field-section-right-panel {
        float: left;
        margin-bottom : 15px;
        width: 222px;
        }
    </style>
    
    
    
    <script>
    function deteleRowCall(rowIndex)
    {
        jQuery('input[id$="rowIndexParam"]').val(rowIndex);
        deteleRow();
    }
    function validationPage3charterClient(){
        jQuery(".error-validation-msg").remove(); 
        var ula_cnf = jQuery('input[id$="cnf"]').is(':checked');
        var fName = jQuery.trim(jQuery('input[id$="reporter-name"]').val());
        var place = jQuery.trim(jQuery('input[id$="reporter-place"]').val());
        var signDate = jQuery('input[id$="reporter-date"]').val();
        var reg = /^\w+([\.!#$%&'*+-/=?^`{|}~]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
                                                          var userType1 = {!isGuest};
                                                          if(userType1)
                                                          {
                                                          var emailPage1 = jQuery.trim(jQuery('input[id$="email_charter"]').val().toLowerCase());
                                                          var SubmitterName = jQuery.trim(jQuery('input[id$="Submitter_Name"]').val().toLowerCase());
                                                          var Country = jQuery('select[id$="country_id"]').val();
                                                          var CountryVal = jQuery('select[id$="country_id"] option:selected').text();
                                                          }
                                                          if(!ula_cnf ){
                                                          var msgError = '<div class="error-validation-msg">This field can not be blank.</div>';                  
                                                          jQuery('input[id$="cnf"]').next().after(msgError);                 
                                                          return false;
                                                          }
                                                          else if(!userType1 && fName  == '' ){
                                                          var msgError = '<div class="error-validation-msg">This field can not be blank.</div>';                  
                                                          jQuery('input[id$="reporter-name"]').after(msgError);                 
                                                          return false;
                                                          }
                                                          else if(!userType1 && place  == '' ){
                                                          var msgError = '<div class="error-validation-msg" style="margin-left: 63px;">This field can not be blank.</div>';                  
                                                          jQuery('input[id$="reporter-place"]').after(msgError);                 
                                                          return false;
                                                          }
                                                          else if(signDate  == '' ){
                                                          var msgError = '<div class="error-validation-msg" style="margin-left: 63px;">This field can not be blank.</div>';                  
                                                          jQuery('input[id$="reporter-date"]').next().after(msgError);                 
                                                          return false;
                                                          }
                                                          //SF-4806 Added By Geetham
                                                          else if(userType1 && SubmitterName=='')
                                                          {
                                                          var msgError = '<div class="error-validation-msg">This field can not be blank.</div>';                  
                                                          jQuery('input[id$="Submitter_Name"]').after(msgError);                 
                                                          return false;
                                                          }    
                                                          else if(userType1 && (!reg.test(emailPage1) || (emailPage1=='')))
                                                          {
                                                          var msgError = '<div class="error-validation-msg">Email is not valid.</div>';                  
                                                          jQuery('input[id$="email_charter"]').after(msgError);                 
                                                          return false;
                                                          }
                                                          /* Commented for SF-4914
                                                          else if(userType1 && (typeof NotificationmailTo != typeof  undefined) && (NotificationmailTo == '' || NotificationmailTo == null || NotificationmailTo == ' ')) 
                                                          {
                                                          var msgError = '<div class="error-validation-msg">Please select Mail to.</div>';                  
                                                          jQuery('select[id$="NotifcationMail"]').next().after(msgError);                
                                                          return false;
                                                          }
                                                          else if(userType1 && (typeof NotificationmailTo1 != typeof  undefined) && (NotificationmailTo1 == '' || NotificationmailTo1 == null || NotificationmailTo1 == ' ')) 
                                                          {
                                                          var msgError = '<div class="error-validation-msg">Please select Mail to.</div>';                  
                                                          jQuery('select[id$="NotifcationMail1"]').next().after(msgError);                
                                                          return false;
                                                          }
                                                          */
                                                          else if(userType1 && (typeof Country != typeof  undefined) && (Country == '' || Country == null || Country == ' ')) 
                                                          {
                                                              var msgError = '<div class="error-validation-msg">Please select Country.</div>';                  
                                                              jQuery('select[id$="country_id"]').next().after(msgError);                
                                                              return false;
                                                          }
                                                          else
                                                          {
                                                          jQuery('.loading,.overley').show();
                                                          console.log('--CountryVal--'+CountryVal);
                                                          jQuery('input[id$="CountryValue"]').val(CountryVal);
                                                          showSuccessPopup();
                                                          // return true;
                                                          }
                                                          }
                                                          </script>
    <apex:composition template="PageFrame" >
        <apex:define name="content" > 
            <!-- Content section starts -->
            <div id="content" class="content">
                <div class="content-wrapper">
                    <!--SF-4582 starts-->
                    <apex:outputPanel rendered="{!if(usertype!='GUEST',true,false)}">
                        <div class="page-title">My portfolio</div>
                    </apex:outputPanel>
                    <!--4582 Ends-->
                    <div class="tab-section-container">
                        <!--SF-4582 starts-->
                        <apex:outputPanel rendered="{!if(usertype!='GUEST',true,false)}">
                            <apex:include pageName="requestPage"/>
                        </apex:outputPanel>
                        <!--4582 Ends-->
                        <div class="tab-button-section">                            
                            <div class="tab-header-container">
                                <!--SF-4582 starts-->
                                <apex:outputPanel rendered="{!if(usertype!='GUEST',true,false)}">
                                    <div class="cover single-tab deselected"><apex:outputLink value="/apex/MyCovers" >Covers</apex:outputLink></div>
                                    <div class="object single-tab deselected"><apex:outputLink value="/apex/MyObjects" >Objects</apex:outputLink></div>
                                    <div class="documents single-tab deselected"><apex:outputLink value="/apex/ViewDocument" >Documents</apex:outputLink></div>
                                </apex:outputPanel> 
                                <!--SF-4582 ends-->
                                <div class="forms single-tab selected"><apex:outputLink value="/apex/PortfolioForms" >Forms</apex:outputLink><div class="update-cover-wrapper-activated"></div></div>
                                <!--SF-4582 starts-->
                                <apex:outputPanel rendered="{!if(usertype!='GUEST',true,false)}">                            
                                    <div class="portfolio-report single-tab deselected"><apex:outputLink value="/apex/PortfolioReports">Portfolio reports</apex:outputLink></div>
                                </apex:outputPanel>
                                <!--SF-4582 ends-->
                            </div>
                        </div>
                        <div class="tab-details-section gard-contact claim-tabs-section portfolio">
                            <div class="tab-object-section tab-table-wrapper tab-detail-container broker-view forms" style="display: block;">
                                <div class="multistep-form-step-container itopf-form-container layup-pi-form-container char-entry-form-container">
                                    <apex:form >
                                        <apex:inputHidden value="{!CountryValue}" id="CountryValue"/>
                                        <apex:actionFunction name="fetchClientAddress" action="{!populateAddress}" />
                                        <apex:actionFunction name="deteleRow" action="{!removeTextBox}">
                                            <!-- <apex:param name="rowIndexParam" value="" assignTo="{!rowIndex}" />-->
                                        </apex:actionFunction> 
                                        <div class="contact-field">
                                            <div class="form-field-scrol-container">
                                                <div class="multistep-form-path-pointer">
                                                    <div class="common-path-bar"></div>
                                                    <div class="completed-path-bar" style="width: 387px;"></div>
                                                    <div class="section-titles obj-det-title">Client details</div>
                                                    <div class="section-titles add-det-title">Additional details</div>
                                                    <div class="section-titles rev-title">Review and submit</div>
                                                    <div class="obj-details-dot dots current"></div>
                                                    <div class="add-details-dot dots"></div>
                                                    <div class="review-dot dots"></div>
                                                </div>
                                                <!--  <div class="calendar-container new-claim-calender"></div>-->
                                                <div class="new-claim-report-section sub-sec-title-area">Comprehensive charterers cover entry form </div>
                                                <div style="display: block;" class="uw-review-page uw-small-sraft-review-container multistep-content-holder uw-form-field-container" >
                                                    <div class="uw-review-container">
                                                        <div class="">
                                                            <div class="char-client-details-review">
                                                                <div class="personal-detail-title">Client details</div>
                                                                <div class="report-new-claim-field-section">
                                                                    <div class="report-new-claim-field-section-left-panel">
                                                                        <div class="report-new-claim-single-section new-claim-client">
                                                                            <label for="client-field">Client:</label>
                                                                            <div class="claim-review-detail-text">
                                                                                <apex:outputText rendered="{!NOT(AND(ISNULL(DummyGuestClient),userType!='GUEST'))}" value="{!DummyGuestClient}"/>
                                                                                <apex:outputText rendered="{!NOT(AND(ISNULL(selectedClient),userType=='GUEST'))}" value="{!CName}"/>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                    <apex:outputPanel rendered="true">
                                                                        <div class="report-new-claim-field-section-right-panel">
                                                                            <div class="report-new-claim-single-section new-claim-client">
                                                                                <label for="client-field">Primary assured name:</label>
                                                                                <div class="claim-review-detail-text"><apex:outputText value="{!primaryAssuredName}"/></div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="report-new-claim-single-section new-claim-client ten-px-gab-top">
                                                                            <label for="client-field">Primary assured’s address:</label>
                                                                            <div class="claim-review-detail-text"><apex:outputField value="{!uwf.Primary_assured_s_address__c}"/></div>
                                                                        </div>
                                                                        <!--SF-5565 STARTS-->
                                                                        <div class="report-new-claim-single-section new-claim-client ten-px-gab-top">
                                                                            <label for="client-field">Primary assured’s national registration number:</label>
                                                                            <div class="claim-review-detail-text"><apex:outputField value="{!uwf.Primary_Assureds_Nat_Reg_No__c}"/></div>
                                                                        </div>
                                                                        <div class="report-new-claim-single-section new-claim-client ten-px-gab-top">
                                                                            <label for="client-field">Primary assured's capacity:</label>
                                                                            <div class="claim-review-detail-text"><apex:outputText value="{!IF(contains(selectedCapacity,'Other'), selectedCapacity+' - '+otherCapacityText,selectedCapacity)}"/></div>
                                                                        </div>
                                                                        <!--SF-5565 ENDS-->
                                                                        <div class="report-new-claim-field-section-left-panel">
                                                                            <div class="report-new-claim-single-section new-claim-client">
                                                                                <label for="client-field">Contact person name:</label>
                                                                                <div class="claim-review-detail-text"><apex:outputText value="{!uwf.Contact_person__c}"/></div>
                                                                            </div>
                                                                            <div class="report-new-claim-single-section new-claim-client">
                                                                                <label for="client-field">Email:</label>
                                                                                <div class="claim-review-detail-text"><apex:outputText value="{!uwf.E_mail_address__c}"/></div>
                                                                            </div>
                                                                            <!--<div class="report-new-claim-single-section new-claim-client normal-field-separator">
                                                                                <div style="width: 100%;" class="uw-review-desc-infos-title">Registered for VAT &ndash; VAT number:</div>
                                                                                <div class="claim-review-detail-text"><apex:outputText value="{!uwf.VAT_number__c}"/></div>
                                                                            </div>-->
                                                                        </div>
                                                                        <div class="report-new-claim-field-section-right-panel">
                                                                            <div class="report-new-claim-single-section new-claim-client char-rvw-field-pushed">
                                                                                <label for="client-field">Phone no:</label>
                                                                                <div class="claim-review-detail-text"><apex:outputText value="{!uwf.Phone_no__c}"/></div>
                                                                            </div>
                                                                        </div>
                                                                        <br/><br/>
                                                                        <apex:outputPanel rendered="true"><!--added for SF-5197 otherFormsChanges-->
                                                                        <apex:repeat value="{!uAWs}" var="eachAssured">
                                                                            <apex:outputPanel rendered="{!(eachAssured.companyName != '')}">
                                                                                <div class="pf-rev-open-section uw-separator">
                                                                                    <div class="uw-review-desc-infos-title">Name of assured/members</div>
                                                                                    <div class="uw-review-desc-infos-detail"><apex:outputText id="assId" value="{!eachAssured.companyName}"/></div>
                                                                                    
                                                                                    <div class="uw-review-desc-infos-title">Member type</div>
                                                                                    <div class="uw-review-desc-infos-detail"><apex:outputText id="assId2" value="{!eachAssured.memberType}"/></div>
                                                                                    
                                                                                    <div class="uw-review-desc-infos-title">Country</div>
                                                                                    <div class="uw-review-desc-infos-detail"><apex:outputText id="assId3" value="{!eachAssured.country}"/></div>
                                                                                    
                                                                                    <div class="uw-review-desc-infos-title">City</div>
                                                                                    <div class="uw-review-desc-infos-detail"><apex:outputText id="assId4" value="{!eachAssured.city}"/></div>
                                                                                    
                                                                                    <div class="uw-review-desc-infos-title">Capcacity</div>
                                                                                    <div class="uw-review-desc-infos-detail"><apex:outputText id="assId5" value="{!IF(contains(eachAssured.capacity,'Other'), eachAssured.capacity+' - '+eachAssured.capacityText,eachAssured.capacity)}"/></div>
                                                                                    
                                                                                    <div class="uw-review-desc-infos-title">National registration number</div>
                                                                                    <div class="uw-review-desc-infos-detail"><apex:outputText id="assId6" value="{!eachAssured.natRegNo}"/></div>
                                                                                    
                                                                                    <div class="uw-review-desc-infos-title">Is member?</div>
                                                                                    <div class="uw-review-desc-infos-detail"><apex:outputText id="assId7" value="{!IF(eachAssured.isMember,'Yes','No')}"/></div>
                                                                                    
                                                                                </div>
                                                                            </apex:outputPanel>
                                                                        </apex:repeat>
                                                                    </apex:outputPanel>
                                                                        <!--<div class="report-new-claim-single-section new-claim-client normal-field-separator">
                                                                            <label for="client-field">Additional assured(s) to be included in the certificate of entry:</label>
                                                                            <div class="claim-review-detail-text"><apex:outputField value="{!uwf.Co_assureds_capacity__c}"/></div>
                                                                        </div>-->
                                                                        <div class="report-new-claim-field-section-left-panel">
                                                                        </div>
                                                                        <div class="report-new-claim-field-section-right-panel">
                                                                        </div>
                                                                    </apex:outputPanel>
                                                                </div>
                                                                <div class="report-new-claim-field-section new-claim-right-section">
                                                                    <div class="personal-details-section itopf-right-field-section">
                                                                        <div class="report-new-claim-field-section-left-panel">
                                                                            <div class="report-new-claim-single-section new-claim-client">
                                                                                <label class="simple-line-label">Policy period - From:</label>
                                                                                <div class="line-height-reduce"><apex:outputText value="{!policyPeriodFrom}"/></div>
                                                                            </div>
                                                                            <div class="report-new-claim-single-section new-claim-client uw-separator">
                                                                                <label class="simple-line-label">Renewal date other than 20 February:</label>
                                                                                <div class="claim-review-detail-text"><apex:inputCheckbox value="{!uwf.IMO_not_known__c}" disabled="True"/></div>
                                                                            </div>
                                                                            <div class="report-new-claim-single-section new-claim-client">
                                                                                <label class="simple-line-label">Required renewal date:</label>
                                                                                <div class="claim-review-detail-text"><apex:outputText value="{!renewalDateOther}"/></div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="report-new-claim-field-section-right-panel">
                                                                            <div class="report-new-claim-single-section new-claim-client">
                                                                                <label class="simple-line-label">Policy period - To:</label>
                                                                                <div class="claim-review-detail-text"><apex:outputText value="{!policyPeriodTo}"/></div>
                                                                            </div>                                                                            
                                                                        </div>
                                                                        <div class="report-new-claim-single-section new-claim-client">
                                                                            <label class="simple-line-label">Name to appear on premium invoice:</label>
                                                                            <div class="claim-review-detail-text"><apex:outputText value="{!uwf.Name_on_Premium_Invoice__c}"/></div>
                                                                        </div>
                                                                        <div class="report-new-claim-single-section new-claim-client">
                                                                            <label class="simple-line-label">Address to be included on invoice:</label>
                                                                            <div class="claim-review-detail-text"><apex:outputText value="{!selectedValue}"/></div>
                                                                        </div>
                                                                        <div class="report-new-claim-single-section new-claim-client">
                                                                            <label for="client-field">Address details:</label>
                                                                            <div class="claim-review-detail-text"><apex:outputText value="{!uwf.Address_details__c}"/></div>
                                                                        </div>
                                                                        <div class="report-new-claim-single-section new-claim-client">
                                                                            <label class="simple-line-label">Payment of premium in:</label>
                                                                            <div class="claim-review-detail-text ten-px-gab-bottom">
                                                                                <apex:outputPanel rendered="{!uwf.X1_instalment__c}">
                                                                                    <apex:outputText value="{!install1}"></apex:outputText>
                                                                                </apex:outputPanel>
                                                                            </div> 
                                                                            <div class="claim-review-detail-text ten-px-gab-bottom">   
                                                                                <apex:outputPanel rendered="{!uwf.X3_instalments__c}">
                                                                                    <apex:outputText value="{!install3}"></apex:outputText>
                                                                                </apex:outputPanel>
                                                                            </div>
                                                                            <!--<div class="claim-review-detail-text ten-px-gab-bottom">   
                                                                                <apex:outputPanel rendered="{!uwf.Other_uwf__c}">
                                                                                    <apex:outputText value="{!installOther}"></apex:outputText>
                                                                                </apex:outputPanel>
                                                                            </div>-->
                                                                            <div class="claim-review-detail-text">
                                                                                <apex:outputPanel rendered="{!uwf.Other_uwf__c}">
                                                                                    <apex:outputText value="Other installments agreed"></apex:outputText>
                                                                                    <div class="report-new-claim-single-section new-claim-client">
                                                                                        <label class="simple-line-label">Details:</label>
                                                                                        <div class="claim-review-detail-text"><apex:outputField value="{!uwf.Other_Info__c}"/></div>
                                                                                    </div>
                                                                                </apex:outputPanel>
                                                                            </div>
                                                                        </div>
                                                                        <div class="report-new-claim-single-section new-claim-client">
                                                                                <div class="subs-check-single">
                                                                                    <div class="subs-check-single">
                                                                                        <div class="subs-check-single">
                                                                                            <apex:inputcheckbox id="cnf_VatNA" disabled="true" value="{!uwf.VAT_Not_Applicable__c}"/>
                                                                                            <label for="{!$Component.cnf_assureds}">VAT not applicable</label>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        <div class="report-new-claim-single-section new-claim-client">
                                                                            <label class="line-height-reduce">VAT – name and address of the operating company:</label>
                                                                            <div class="claim-review-detail-text"><apex:outputField value="{!uwf.VAT_Name_AddressOf_Company__c}"/></div>
                                                                        </div>
                                                                        <div class="report-new-claim-field-section-left-panel ten-px-gab-bottom">
                                                                            <div class="report-new-claim-single-section new-claim-client">
                                                                                <label class="simple-linabel">Registered for VAT - VAT number:</label>
                                                                                <div class="line-height-reduce"><apex:outputField value="{!uwf.VAT_number__c}"/></div>
                                                                            </div>                                                                                
                                                                        </div>
                                                                        <div class="report-new-claim-field-section-right-panel">
                                                                            <div class="report-new-claim-single-section new-claim-client">
                                                                                <label class="simple-line-label">Country code:</label>
                                                                                <div class="claim-review-detail-text"><apex:outputText value="{!selectedCountryCode}"/></div>
                                                                            </div> 
                                                                        </div>
                                                                        
                                                                        
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="char-client-details-review">
                                                                <div class="personal-detail-title top-space-added">Assured claim contacts</div>
                                                                <div class="client-list-section">
                                                                    <table>
                                                                        <thead>
                                                                            <tr>
                                                                                <th class="assured-claim-name"><div class="th-container">Name</div></th>
                                                                                <th class="assured-claim-phone"><div class="th-container">Phone</div></th>
                                                                                <th class="assured-claim-email"><div class="th-container">Email</div></th>
                                                                                <!-- <th class="assured-claim-fax"><div class="th-container">Fax</div></th> -->
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <apex:variable value="{!0}" var="rowNum"/>
                                                                            <apex:repeat value="{!claimContacts}" var="con">
                                                                                <tr class="{!IF(MOD(rowNum,2)==0,'odd','even')}">
                                                                                    <td class="assured-claim-name">{!con.Name}</td>
                                                                                    <td class="assured-claim-phone">{!con.Phone}</td>
                                                                                    <td class="assured-claim-email">{!con.Email}</td>
                                                                                    <!--<td class="assured-claim-fax">{!con.Fax}</td>-->
                                                                                </tr> 
                                                                                <apex:variable var="rowNum" value="{!rowNum + 1}"/> 
                                                                            </apex:repeat>                                                                      
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <div class="char-claims-related-invoice-review">
                                                                <div class="personal-detail-title top-space-added">Claims related invoices to be sent to</div>
                                                                <div class="report-new-claim-field-section">
                                                                    <div class="report-new-claim-field-section-left-panel">
                                                                        <div class="report-new-claim-single-section new-claim-client">
                                                                            <label for="client-field">Name:</label>
                                                                            <div class="claim-review-detail-text"><apex:outputText value="{!uwf.Claims_invoice_sent_to__c}"></apex:outputText></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="report-new-claim-field-section-right-panel">
                                                                        <div class="report-new-claim-single-section new-claim-client">
                                                                            <label for="client-field">Email:</label>
                                                                            <div class="claim-review-detail-text"><apex:outputText value="{!uwf.Email_UwForm__c}"/></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="char-broker-details-review">
                                                                <div class="personal-detail-title">Broker details</div>
                                                                <div class="report-new-claim-field-section">
                                                                    <div class="report-new-claim-single-section new-claim-client">
                                                                        <label for="client-field">Company name:</label>
                                                                        <!--sf-4582 starts-->
                                                                        <div class="claim-review-detail-text">
                                                                            <apex:outputText value="{!companyName}" rendered="{!(userType!='GUEST')}"/>
                                                                            <apex:outputText value="{!DummyGuestClient}" rendered="{!(userType=='GUEST')}"/>
                                                                        </div>
                                                                        
                                                                        <!--sf-4582 ends-->
                                                                    </div>
                                                                    <div class="report-new-claim-single-section new-claim-client">
                                                                        <label for="client-field">Address details:</label>
                                                                        <div class="claim-review-detail-text"><apex:outputText value="{!clientAddress}"/></div>
                                                                    </div>
                                                                </div>
                                                                <div class="report-new-claim-field-section new-claim-right-section">
                                                                    <div class="report-new-claim-field-section-left-panel">
                                                                        <div class="report-new-claim-single-section new-claim-client">
                                                                            <label class="simple-line-label">Contact person name:</label>
                                                                            <!--sf-4582 starts-->
                                                                            <apex:outputPanel rendered="{!(userType!='GUEST')}">
                                                                                <div class="line-height-reduce"><apex:outputText value="{!contactName}"/></div>
                                                                            </apex:outputPanel>
                                                                            <apex:outputPanel rendered="{!(userType=='GUEST')}">
                                                                                <div class="line-height-reduce"><apex:outputText value="{!GuestcontactpersonName}"/></div>
                                                                            </apex:outputPanel>
                                                                        </div>
                                                                        <div class="report-new-claim-single-section new-claim-client">
                                                                            <label class="simple-line-label">Email:</label>
                                                                            <div class="claim-review-detail-text"><apex:outputText value="{!email}"/></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="report-new-claim-field-section-right-panel">
                                                                        <div class="report-new-claim-single-section new-claim-client">
                                                                            <label class="simple-line-label">Phone:</label>
                                                                            <div class="claim-review-detail-text"><apex:outputText value="{!uwf.Phone_Uwform__c}"/></div>
                                                                        </div>
                                                                        <div class="report-new-claim-single-section new-claim-client">
                                                                            <label class="simple-line-label">Commision %:</label>
                                                                            <div class="claim-review-detail-text"><apex:outputText value="{!uwf.Commission__c}"/></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="uw-review-desc-infos review-confirmation-signature last uw-separator">
                                                            <div class="uw-review-desc-infos-title">
                                                                <div class="subs-check-single">
                                                                    <apex:inputcheckbox id="cnf"/>
                                                                    <label for="{!$Component.cnf}"><span class="form-req-field"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> I hereby confirm that the information provided is correct to the best of my knowledge.</label>
                                                                </div>
                                                            </div>
                                                            <div class="uw-review-desc-infos-detail">
                                                                <!--SF-4582 Starts-->
                                                                <apex:outputPanel rendered="{!if(usertype!='GUEST',true,false)}">
                                                                    <div class="uw-confirm-name-section uw-confirm-sections">
                                                                        <label for="uw-confirm-name-field"><span class="form-req-field"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> Name</label>
                                                                        <apex:inputText value="{!loggedInUsrName}" id="reporter-name"/>
                                                                    </div>
                                                                </apex:outputPanel>
                                                                <!--SF-4582 Ends-->
                                                                <apex:outputPanel rendered="{!if(usertype!='GUEST',true,false)}">
                                                                    <div class="uw-confirm-place-section uw-confirm-sections palce-confirm">
                                                                        <label for="uw-confirm-name-field"><span class="form-req-field"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> Place</label>
                                                                        <apex:inputText value="{!uwf.Place_of_reporting__c}" id="reporter-place"/>
                                                                    </div>
                                                                </apex:outputPanel>
                                                                <!--SF-4914--> 
                                                                <apex:outputPanel rendered="{!if(usertype=='GUEST',true,false)}">
                                                                    <div class="request-form-each-field-section uw-flag objsection uw-confirm-place-section uw-confirm-sections select-wrapper extrem-last-dropdown">
                                                                      <label for="uw-confirm-name-field"><span class="form-req-field">&nbsp;<apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> Country</label>
                                                                      <apex:selectList value="{!SelectedCountry}" multiselect="false" size="1" styleClass="selectpicker" id="country_id">
                                                                         <apex:selectOptions value="{!Country}"/>
                                                                      </apex:selectList>
                                                                  </div>
                                                                </apex:outputPanel>
                                                                <!--SF-4914 ENDS-->
                                                                <div class="uw-confirm-signature-date-section uw-confirm-sections thin-confirm-date-section deep-bottom-confirmation">
                                                                    <label for="uw-shp-owner-review-signature-date" class="uw-right-label">Date:</label>
                                                                    <apex:inputText value="{!dateOutputForReview}" styleClass="pi-confirm-signature-date custom-datepicker" html-readonly="true" id="reporter-date"/>                                                                  
                                                                </div>
                                                                
                                                                <!--SF-4582 Starts-->
                                                                <apex:outputPanel rendered="{!if(usertype=='GUEST',true,false)}">
                                                                    <!--SF-4806 STARTS-->
                                                                    <div class="uw-confirm-place-section uw-confirm-sections">
                                                                        <label for="form-req-field"><span class="form-req-field" >&nbsp;<apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> Name</label>
                                                                        <apex:inputText value="{!submitterName}" id="Submitter_Name" onkeyup="limitText(this,100);" onkeypress="limitText(this,100);"/>
                                                                    </div>
                                                                    <!--SF-4806 ENDS-->
                                                                    <div class="uw-confirm-place-section uw-confirm-sections">
                                                                        <label for="form-req-field"><span class="form-req-field">&nbsp;<apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> Email</label>
                                                                        <apex:inputText value="{!submitterEmail}" id="email_charter" onkeyup="limitText(this,100);" onkeypress="limitText(this,100);"/>
                                                                    </div>
                                                                    <!-- 
                                                                    <div class="request-form-each-field-section uw-flag objsection uw-confirm-place-section uw-confirm-sections select-wrapper extrem-last-dropdown">
                                                                        <label><span class="form-req-field">&nbsp;<apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> Mail to:</label>
                                                                        <apex:selectList value="{!selectedGardEmployee}" multiselect="false" size="1" styleClass="selectpicker" id="NotifcationMail">
                                                                            <apex:selectOptions value="{!GardEmployees}"/>
                                                                        </apex:selectList>
                                                                    </div>
                                                                    -->
                                                                    <!--
                                                                    <div class="request-form-each-field-section uw-flag objsection uw-confirm-place-section uw-confirm-sections select-wrapper extrem-last-dropdown">
                                                                    <label><span class="form-req-field">&nbsp;<apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> Mail to:</label>
                                                                    <apex:selectList value="{!selectedGardTeam}" multiselect="false" size="1" styleClass="selectpicker" id="NotifcationMail1">
                                                                    <apex:selectOptions value="{!GardTeam}"/>
                                                                    </apex:selectList>
                                                                    </div>-->
                                                                </apex:outputPanel>
                                                                
                                                            </div>
                                                            <script>
                                                            /* Controls the search by option popup for the single pick-list */
                                                            
                                                            jQuery('.request-form-each-field-section.objsection .selectpicker').selectpicker({
                                                                noneResultsText: 'No match found!',
                                                                liveSearch: true,
                                                                searchAccentInsensitive: false
                                                            });  
                                                            
                                                            jQuery('.request-form-each-field-section.objsection .select-wrapper .dropdown-toggle.selectpicker').click( function(){
                                                                //jQuery('.dropdown-menu.inner.selectpicker .mCSB_container').css('display', 'block');
                                                                //alert(jQuery(this).next().children().find('li.selected').length);
                                                                if (jQuery(this).next().children().find('li.selected').length != 0) {
                                                                    //alert(jQuery(this).next().children().find('.mCSB_container').css('top')/* .children('.mCSB_container').css('top') */);
                                                                }
                                                            });
                                                            /* Deselect any selection while choosong any picklist */
                                                            jQuery('.request-form-each-field-section.objsection .select-wrapper .btn-group button.multiselect, .select-wrapper .dropdown-toggle.selectpicker').click( function(){
                                                                document.getSelection().removeAllRanges();
                                                            });
                                                            /* Deselect any selection while choosong any picklist */
                                                            
                                                            /* Default search by any word selection for the pick-list search option */
                                                            //var incrementer = 1;
                                                            jQuery('.request-form-each-field-section.objsection .search-by-option-container').each( function(){
                                                                var searchOptions = '<span class="search-by-icon-button selectpicker-long-option" alt="Search by"><span class="search-by-pointer"></span><div class="search-by-option"><div class="search-by-text">Search by<span class="close-search-by"></span></div><div class="search-options"><input class="any-word" id="search-by-any-word' + incrementer + '" type="radio" value="0" name="search-option' + incrementer + '" checked><label for="search-by-any-word' + incrementer + '">Any word</label></div><div class="search-options"><input class="exact-phrase" id="search-by-exact-phrase' + incrementer + '" type="radio" value="1" name="search-option' + incrementer + '"><label for="search-by-exact-phrase' + incrementer + '">Exact phrase</label></div></div></span>';
                                                                jQuery(this).html(searchOptions);
                                                                incrementer++;
                                                            });
                                                            /* Default search by any word selection for the pick-list search option */
                                                            
                                                            
                                                            /* Controls the opening/closing feature for the search by popup. */
                                                            jQuery('.request-form-each-field-section.objsection .search-by-icon-button').click( function(){
                                                                jQuery(this).children().show();
                                                            });
                                                            var searchByElement = jQuery('.request-form-each-field-section.objsection .search-by-icon-button');
                                                            jQuery(document).bind('mouseup', function (e){
                                                                if (searchByElement.has(e.target).length === 0) {
                                                                    jQuery(searchByElement).children().hide();
                                                                }
                                                            });
                                                            /* Controls the opening/closing feature for the search by popup. */
                                                            
                                                            /* Controls the search by option popup for the single pick-list */
                                                            jQuery('.request-form-each-field-section.objsection .bs-searchbox').each( function(){
                                                                var searchOptions = '<span class="search-by-icon-button selectpicker-long-option" alt="Search by"><span class="search-by-pointer"></span><div class="search-by-option"><div class="search-by-text">Search by<span class="close-search-by"></span></div><div class="search-options"><input class="any-word" id="search-by-any-word' + incrementer + '" type="radio" value="0" name="search-option' + incrementer + '" checked><label for="search-by-any-word' + incrementer + '">Any word</label></div><div class="search-options"><input class="exact-phrase" id="search-by-exact-phrase' + incrementer + '" type="radio" value="1" name="search-option' + incrementer + '"><label for="search-by-exact-phrase' + incrementer + '">Exact phrase</label></div></div></span>';
                                                                jQuery(this).append(searchOptions);
                                                                incrementer++;
                                                            });
                                                            jQuery('.request-form-each-field-section.objsection .bs-searchbox .search-by-icon-button').click( function(e){
                                                                e.stopPropagation();
                                                                jQuery(this).children().show();
                                                            });
                                                            var searchByElementSingle = jQuery('.request-form-each-field-section.objsection .bs-searchbox .search-by-icon-button');
                                                            jQuery(document).bind('mousedown', function (e){
                                                                if (searchByElementSingle.has(e.target).length === 0) {
                                                                    jQuery(searchByElementSingle).children().hide();
                                                                }
                                                            });                                  
                                                            jQuery(".request-form-each-field-section.objsection .dropdown-menu.open ul").mCustomScrollbar({
                                                                mouseWheelPixels: 20,
                                                                scrollEasing: "linear",
                                                                scrollInertia: 0
                                                            }); 
                                                            
                                                            /* Stop multi-select dropdown closing event clicking on the custom scroll bar */
                                                            jQuery('.mCSB_draggerContainer').click( function(e){
                                                                e.stopPropagation();
                                                            });
                                                            </script>
                                                            
                                                            <!--SF-4582 Ends-->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-submit-section">
                                                <div class="left-button-set">
                                                    <apex:commandButton value="Prev" action="{!goPrevForReview}" styleClass="form-btn prev-nav"  />
                                                    <apex:commandButton value="Cancel" action="{!clearRecord}" rerender="otp" styleClass="form-btn multi-clear-btn" style="margin-left: 4px;" />
                                                    
                                                </div>
                                                <div class="right-button-set">
                                                    <apex:commandButton value="Submit" onclick="validationPage3charterClient();return false;" styleClass="form-btn rvw-sub-multi" rerender="success-popup" />
                                                    <apex:actionFunction rerender="success-popup" name="showSuccessPopup" action="{!saveSubmit}"/>                                             
                                                </div>
                                            </div>
                                        </div>
                                        <script>
                                        
                                        /* Control for custom datepicker */
                                        jQuery('.custom-datepicker').Zebra_DatePicker({
                                            direction: true,
                                            format: 'd.m.Y',
                                            first_day_of_week: 0
                                        });
                                        jQuery('.custom-datepicker').data('Zebra_DatePicker');
                                        </script> 
                                         <!--changes for SF-5197 otherFormsChanges STARTS-->
                                                    <apex:actionFunction name="saveAssuredsAF" action="{!saveAssureds}" rerender="success-popup"/><!--added for SF-5197-->
                                                    <apex:inputHidden value="{!parentUWRFormId}" id="parentUwfId"/><!--added for SF-5197-->
                                                    <apex:outputPanel id="success-popup">                                       
                                                        <!--SF-5197 STARTS-->
                                                        <!--Creates child Assured records and shows success popUp-->
                                                        <apex:outputPanel id="partial-success-popup" rendered="{!isSuccess && !doneAssuredsProcessing}">
                                                            <script>
                                                            var parentUwfId = '{!uwf.id}';
                                                            console.log('parentUwfId - '+parentUwfId);
                                                            if(parentUwfId != null && parentUwfId != 'null'){
                                                                jQuery('input[id$="parentUwfId"]').val(parentUwfId);
                                                                console.log('in IF parentUwfId - '+parentUwfId);
                                                                console.log('in IF parentUwfId by jQuery - '+jQuery('input[id$="parentUwfId"]').val());
                                                                saveAssuredsAF();
                                                            }
                                                            </script>
                                                        </apex:outputPanel>
                                                        <!--SF-5197 ENDS-->
                                                        <!--commented for includeOption<apex:outputPanel id="complete-success-popup" rendered="{!isSuccess && doneAssuredsProcessing}"><!--rendered="{!!doneAssuredsProcessing}"  id="complete-success-popup"-->
                                                        <apex:outputPanel id="complete-success-popup" rendered="{!isSuccess}"><!--rendered="{!!doneAssuredsProcessing}"  id="complete-success-popup"-->
                                                            <script>
                                                                jQuery('.loading').hide();
                                                                jQuery('.overley').show();
                                                            </script>
                                                            <div id="contact-info-pop-container" class="global-popup global-popup-confirm" style="display:block;z-index:9999990;" >       
                                                                <div id="contact-info-pop" class="cont-info-pop popup-infos">
                                                                    <div id="contact-info-pop-wrapper">
                                                                        <div class="popup-form-container">
                                                                            <div class="contact-field">
                                                                                <div class="pop-up-sub-title">
                                                                                    <!--SF-3818--Start-->                                             
                                                                                    <!--Thank you for contacting Gard. Your request has been successfully registered.-->
                                                                                    {!$ObjectType.Confirm_PopUp__mdt.fields.RequestChangepopUp__c.inlineHelpText}
                                                                                    <!--SF-3818--End-->
                                                                                </div>
                                                                                <div class="form-submit-section">
                                                                                    <apex:commandButton value="Ok" styleClass="form-btn" action="{!sendToForm}"  oncomplete="jQuery('.overley').hide();"/>
                                                                                </div>                                      
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </apex:outputPanel>
                                                    </apex:outputPanel>
                                                    <!--changes for SF-5197 otherFormsChanges ENDS-->
                                    </apex:form>
                                    
                                </div>
                            </div>              
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Content section ends -->
        </apex:define>
    </apex:composition>
</apex:page>