<apex:page controller="UWRLayUpFormCtrl" showHeader="false" sidebar="false" standardStylesheets="false" applyBodyTag="false" applyHtmlTag="false"> 
<apex:includeScript value="{!$Resource.GoogleAnalytics}"/>

<script>
        function validationPage2LayUp(){
            jQuery(".error-validation-msg").remove(); 
            var ula_cnf = jQuery('input[id$="ula_chk"]').is(':checked');
            var fName = jQuery.trim(jQuery('input[id$="uw-confirm-name-field"]').val());
            var place = jQuery.trim(jQuery('input[id$="uw-confirm-place-field"]').val());
            var signDate = jQuery('input[id$="att-risk-date"]').val();
            
            if(!ula_cnf ){
                var msgError = '<div class="error-validation-msg">This field can not be blank.</div>';                  
               jQuery('input[id$="ula_chk"]').next().after(msgError);                 
                return false;
            }
            else if(fName  == '' ){
                var msgError = '<div class="error-validation-msg">This field can not be blank.</div>';                  
               jQuery('input[id$="uw-confirm-name-field"]').after(msgError);                 
                return false;
            }
            else if(place  == '' ){
                var msgError = '<div class="error-validation-msg">This field can not be blank.</div>';                  
               jQuery('input[id$="uw-confirm-place-field"]').after(msgError);                 
                return false;
            }
            else if(signDate  == '' ){
                var msgError = '<div class="error-validation-msg" >This field can not be blank.</div>';                  
               jQuery('input[id$="satt-risk-date"]').next().after(msgError);                 
                return false;
            }
            else
            { 
                jQuery('.loading,.overley').show();
                showSuccessPopup();
                //return true;
            }
        }
</script>
 <apex:composition template="PageFrame" >
   <apex:define name="content" >    
      <!-- Content section starts -->
            <div id="content" class="content">
                <div class="content-wrapper">
                    <div class="page-title">My portfolio<!--<apex:outputText value="{!IF(formType=='PI','Layup form P&I','Layup form Marine')}" />--></div>
                    <div class="tab-section-container">
                        <apex:include pageName="requestPage"/>
                        <div class="tab-button-section">                            
                           <div class="tab-header-container">
                            <div class="cover single-tab deselected"><apex:outputLink value="/apex/MyCovers" >Covers</apex:outputLink></div>
                            <div class="object single-tab deselected"><apex:outputLink value="/apex/MyObjects" >Objects</apex:outputLink></div>
                            <div class="documents single-tab deselected"><apex:outputLink value="/apex/ViewDocument" >Documents</apex:outputLink></div>
                            <div class="forms single-tab selected"><apex:outputLink value="/apex/PortfolioForms" >Forms</apex:outputLink><div class="update-cover-wrapper-activated"></div></div>
                            <div class="portfolio-report single-tab deselected"><apex:outputLink value="/apex/PortfolioReports">Portfolio reports</apex:outputLink></div>
                           </div>
                        </div>
                        <div class="tab-details-section gard-contact claim-tabs-section portfolio">
                        <div class="tab-detail-columns">
                    <!-- body starts -->
                <div class="tab-object-section tab-table-wrapper tab-detail-container broker-view forms" style="display: block;">
                    <div class="multistep-form-step-container layup-pi-form-container">                        
                            <div class="contact-field">
                              <apex:form id="form1">
                                <div class="form-field-scrol-container">
                                    <div class="multistep-form-path-pointer">
                                        <div class="common-path-bar"></div>
                                        <div class="completed-path-bar" style="width: 205px;"></div>
                                        <div class="section-titles obj-det-title">Object details</div>
                                        <div class="section-titles rev-title">Review and submit</div>
                                        <div class="obj-details-dot dots current"></div>
                                        <div class="review-dot dots"></div>
                                    </div>
                                    <div class="uw-review-page uw-small-sraft-review-container multistep-content-holder">
                                        <div class="uw-review-container">
                                            <div class="uw-review-small-infos">
                                                <div class="personal-detail-title">Object details</div>
                                                <div class="report-new-claim-field-section">
                                                    <div class="report-new-claim-field-section-left-panel">
                                                        <div class="report-new-claim-single-section new-claim-client">
                                                            <label for="client-field">Client:</label>
                                                            <div class="claim-review-detail-text"><apex:outputText rendered="{!NOT(ISNULL(selectedClient))}" value="{!cName}"/></div>
                                                        </div>
                                                        <div class="report-new-claim-single-section new-claim-client">
                                                            <label for="client-field"><apex:outputText escape="false" value="{!If(formType=='Marine',' Arrival date final <br/> moorings:',' Arrival date:')}" /></label>
                                                            <div class="claim-review-detail-text"><apex:outputText value="{!arrivalDate}"/></div>
                                                        </div>
                                                        <div class="report-new-claim-single-section new-claim-client">
                                                            <label for="client-field">Object name:</label>
                                                            <div class="claim-review-detail-text"><apex:outputText value="{!objectIns.name}"/></div>
                                                        </div>
                                                        <apex:outputpanel rendered="{!(formType=='Marine')}">
                                                        <div class="report-new-claim-single-section new-claim-client">
                                                            <label for="client-field">Owners/Insured:</label>
                                                           <!-- <div class="claim-review-detail-text"><apex:outputText value="{!uwf.Owners_Insured__c}"/></div>-->
                                                           <apex:outputField value="{!uwf.Owners_Insured__c}"/>
                                                        </div>
                                                        </apex:outputpanel>
                                                        <apex:outputpanel rendered="{!(formType=='PI')}">
                                                        <div class="report-new-claim-single-section new-claim-client">
                                                            <label for="client-field">Gross tonnage:</label>
                                                            <div class="claim-review-detail-text">
                                                            <apex:outputText value="{0, number, ###,##0}">
                                                                 <apex:param value="{!objectIns.Gross_tonnage__c}"/>
                                                            </apex:outputText>
                                                         </div>
                                                        </div>
                                                        </apex:outputpanel>
                                                    </div>
                                                    <div class="report-new-claim-field-section-right-panel">
                                                        <div class="report-new-claim-single-section new-claim-client">
                                                            <label for="client-field">Lay-up location:</label>
                                                            <div class="claim-review-detail-text"><apex:outputText value="{!uwf.Layup_location__c}"/></div> 
                                                        </div>
                                                        <div class="report-new-claim-single-section new-claim-client">
                                                            <label for="client-field"><apex:outputText value="{!If(formType=='Marine',' Departure date:',' Departure date:')}" /></label>
                                                            <div class="claim-review-detail-text"><apex:outputText value="{!departureDate}"/></div>
                                                        </div>
                                                        <div class="report-new-claim-single-section new-claim-client">
                                                            <label for="client-field">IMO no.:</label>
                                                            <div class="claim-review-detail-text"><apex:outputText value="{!objectIns.Imo_Lloyds_No__c}"/></div>
                                                        </div>
                                                        <apex:outputpanel rendered="{!(formType=='Marine')}">
                                                        <div class="report-new-claim-single-section new-claim-client">
                                                            <label for="client-field">Number of crew onboard:</label>
                                                            <!--<div class="claim-review-detail-text"><apex:outputText value="{!uwf.Number_of_crew__c}"/></div>-->
                                                            <apex:outputField value="{!uwf.Number_of_crew__c}" styleClass="new-claim-field new-claim-description-field"/>
                                                        </div>
                                                        </apex:outputpanel>
                                                    </div>
                                                </div>
                                                <div class="report-new-claim-field-section new-claim-right-section">
                                                    <div class="personal-details-section itopf-right-field-section">
                                                        <div class="personal-category">
                                                        <apex:outputpanel rendered="{!(formType=='PI')}">
                                                            <div class="report-new-claim-field-section-left-panel">
                                                                <div class="report-new-claim-single-section new-claim-client">
                                                                    <label class="simple-line-label">Cargo onboard:</label>
                                                                    <div class="claim-review-detail-text"><apex:outputText value="{!cargo}"/></div>
                                                                </div>
                                                            </div>
                                                            <div class="report-new-claim-field-section-right-panel uw-separator">
                                                                <div class="report-new-claim-single-section new-claim-client">
                                                                    <label class="simple-line-label">Hot/Cold lay up1:</label>
                                                                    <div class="claim-review-detail-text"><apex:outputText value="{!layup}"/></div>
                                                                </div>
                                                            </div>
                                                        </apex:outputpanel>
                                                            <div class="report-new-claim-single-section new-claim-client uw-separator">
                                                                <label class="simple-line-label">Attach documents:</label>
                                                                <apex:outputPanel rendered="{!contentDistName != null}">
                                                                   <a href='{!contentDistURL}'>{!contentDistName}</a>
                                                                </apex:outputPanel>
                                                                                              
                                                            </div>
                                                            <div class="uw-review-desc-infos">
                                                                <div class="uw-review-desc-infos-title">Attached documents (please tick off as applicable):</div>
                                                                 <apex:outputpanel rendered="{!(formType=='PI')}">
                                                                     <apex:outputPanel rendered="{!uwf.Lay_up_location__c}">
                                                                        <div class="uw-review-desc-infos-detail">Lay-up location (Port Authority, Class, Surveyor, H&amp;M Underwriter)</div>
                                                                     </apex:outputpanel>
                                                                     <apex:outputPanel rendered="{!uwf.Mooring_arrangements__c}">
                                                                        <div class="uw-review-desc-infos-detail">Mooring arrangements (Class, Third party, H&amp;M Underwriter)</div>
                                                                     </apex:outputpanel>
                                                                     <apex:outputPanel rendered="{!uwf.Manning_arrangements__c}">
                                                                        <div class="uw-review-desc-infos-detail">Manning arrangements (Flag State)</div>
                                                                     </apex:outputpanel>
                                                                </apex:outputpanel>
                                                                 <apex:outputpanel rendered="{!(formType=='Marine')}">
                                                                     <apex:outputPanel rendered="{!uwf.Complete_Lay_up_plan_including_follow__c}">
                                                                        <div class="uw-review-desc-infos-detail">Complete Lay-up plan,including following sub items:</div>
                                                                     </apex:outputpanel>
                                                                      <apex:outputPanel rendered="{!uwf.Lay_up_declaration__c}">
                                                                        <div class="uw-review-desc-infos-detail">Lay-up declaration approved by Class/Third party</div>
                                                                     </apex:outputpanel>
                                                                     <apex:outputPanel rendered="{!uwf.Manning_arrangements__c}">
                                                                        <div class="uw-review-desc-infos-detail">Mooring arrangements approved by Class/Third party</div>
                                                                     </apex:outputpanel>
                                                                     <apex:outputPanel rendered="{!uwf.Lay_up_site__c}">
                                                                        <div class="uw-review-desc-infos-detail">Lay-up site approved by Port/Class/Third party</div>
                                                                     </apex:outputpanel>
                                                                     <apex:outputPanel rendered="{!uwf.Maintenance_Preservation_declaration__c}">
                                                                        <div class="uw-review-desc-infos-detail">Maintenance/Preservation declaration or plan according to Manufacturers recommendations</div>
                                                                     </apex:outputpanel>
                                                                 </apex:outputpanel>
                                                            </div>
                                                            <div class="pf-rev-open-section uw-separator">
                                                                <div class="uw-review-desc-infos-title">Other information:</div>
                                                                <div class="uw-review-desc-infos-detail"><apex:outputField value="{!uwf.Other_Info__c}"/></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="uw-review-desc-infos review-confirmation-signature last uw-separator">
                                                <div class="uw-review-desc-infos-title">
                                                    <div class="subs-check-single">
                                                        <apex:inputcheckbox id="ula_chk"/>                                                   
                                                        <label for="{!$Component.ula_chk}">I hereby confirm that the information provided is correct to the best of my knowledge.</label>
                                                    </div>
                                                </div>
                                                <div class="uw-review-desc-infos-detail">
                                                    <div class="uw-confirm-name-section uw-confirm-sections">
                                                        <label for="uw-confirm-name-field"><span class="form-req-field">&nbsp;<apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> Name</label>
                                                        <apex:inputText id="uw-confirm-name-field"  value="{!loggedInUsrName}" maxlength="100"/>
                                                    </div>
                                                    <div class="uw-confirm-place-section uw-confirm-sections palce-confirm">
                                                        <label for="uw-confirm-place-field"><span class="form-req-field">&nbsp;<apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> Place</label>
                                                        <apex:inputText id="uw-confirm-place-field"  value="{!uwf.Place_of_reporting__c}" maxlength="100"/>
                                                    </div>
                                                    <div class="uw-confirm-signature-date-section uw-confirm-sections thin-confirm-date-section deep-bottom-confirmation">
                                                        <label for="att-risk-date" class="uw-right-label"><span class="form-req-field">&nbsp;<apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> Date:</label>
                                                        <apex:inputText value="{!dateOutputForReview}" styleClass="pi-confirm-signature-date custom-datepicker" id="att-risk-date" />
                                                    </div>
                                                </div>
                                            </div>
                                            <script>
                                                /* Control for custom datepicker */
                                                jQuery('.custom-datepicker').Zebra_DatePicker({
                                                  direction: true,
                                                  format: 'd.m.Y',
                                                  first_day_of_week: 0
                                                });
                                                jQuery('.custom-datepicker').data('Zebra_DatePicker');
                                         </script> 
                                         
                                        </div>
                                    </div>
                                 </div>
                                 <div class="form-submit-section">
                                    <div class="left-button-set">
                                        <apex:commandButton value="Prev" action="{!goPrevPIFrom}" styleClass="form-btn prev-nav" /> 
                                        <apex:commandButton value="Cancel" action="{!cancelRecord}" styleClass="form-btn multi-clear-btn" style="margin-left: 4px;" />
                                    </div>
                                    <div class="right-button-set">
                                       <!-- <apex:commandButton value="Submit" action="{!saveSubmit}" styleClass="form-btn rvw-sub-multi" reRender="success-popup" onclick="return validationPage2LayUp();"/> -->
                                       <apex:commandButton value="Submit" onclick="validationPage2LayUp();return false;" styleClass="form-btn rvw-sub-multi" rerender="success-popup"/>                
                                       <apex:actionFunction rerender="success-popup" name="showSuccessPopup" action="{!saveSubmit}"/>
                                    </div>
                                </div>
                                <apex:outputPanel id="success-popup">
                                      <apex:outputPanel rendered="{!isSuccess}">
                                          <script>
                                              jQuery('.loading').hide();
                                               jQuery('.overley').show();
                                          </script>
                                         <div id="contact-info-pop-container" class="global-popup global-popup-confirm" style="display:block;z-index:9999990;" > 
                                         <div id="contact-info-pop" class="cont-info-pop popup-infos">
                                                 <div id="contact-info-pop-wrapper">
                                                    <div class="popup-form-container">
                                                     <div class="contact-field">
                                                        <div class="pop-up-sub-title">
                                                            <!--SF-3818--Start-->                                             
                                                            <!--Thank you for contacting Gard. Your request has been successfully registered.-->
                                                            {!$ObjectType.Confirm_PopUp__mdt.fields.RequestChangepopUp__c.inlineHelpText}
                                                            <!--SF-3818--End-->
                                                        </div> 
                                                        <div class="form-submit-section">
                                                            <apex:commandButton value="Ok" styleClass="form-btn" action="{!sendToForm}" oncomplete="jQuery('.overley').hide();" />
                                                        </div>
                                                    </div>                                                 
                                                    </div>
                                                </div> 
                                        </div>
                                        </div>                                              
                                      </apex:outputPanel>
                                </apex:outputPanel>
                               </apex:form>
                              </div>                        
                        </div>
                    </div>                 
                    <!-- body starts -->
            </div>
            </div>
            </div>
        </div>
    </div>
   </apex:define>
 </apex:composition>
</apex:page>