<apex:page id="MoUpg4" controller="UWRMOUCtrl" extensions="UwrAssuredsExtension" showHeader="false" sidebar="false">
    <apex:includeScript value="{!$Resource.GoogleAnalytics}"/>
    
    <style>
        .error-validation-msg {
        margin: 0 !important;
        }
        .extrem-last-dropdown .dropdown-menu {
        bottom: 29px !important;
        box-shadow: 1px -1px 2px 0 rgba(73, 59, 38, 0.2) !important;
        left: 0 !important;
        top: auto !important;
        }
        .report-new-claim-single-section.new-claim-client{
            margin-bottom : 8px !important;
        }
    </style>
    <script>
    jQuery('.main-menu-links').removeClass('active');
    jQuery('.main-menu-links.portfolio').addClass('active'); 
    
    function validationPage3Shipowner(){
        jQuery(".error-validation-msg").remove(); 
        var ula_cnf = jQuery('input[id$="cnf"]').is(':checked');
        var fName = jQuery.trim(jQuery('input[id$="ship-owner-sign-name"]').val());
        var place = jQuery.trim(jQuery('input[id$="ship-owner-sign-place"]').val());
        var signDate = jQuery('input[id$="ship-owner-sign-date"]').val();
        var reg = /^\w+([\.!#$%&'*+-/=?^`{|}~]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
      var userType1 = {!isGuest};
      if(userType1)
      {
      var emailPage1 = jQuery.trim(jQuery('input[id$="email_charter"]').val().toLowerCase());
      var SubmitterName = jQuery.trim(jQuery('input[id$="Submitter_Name"]').val().toLowerCase());
      var Country = jQuery('select[id$="Country"]').val();
      var CountryVal = jQuery('select[id$="Country"] option:selected').text();
      }
      
      console.log('userType1---'+userType1);
      if(!ula_cnf ){
      var msgError = '<div class="error-validation-msg">This field can not be blank.</div>';                  
      jQuery('input[id$="cnf"]').next().after(msgError);                 
      return false;
      }
      else if(!userType1  && fName  == '' ){
      console.log('fName--'+fName);
      var msgError = '<div class="error-validation-msg" style="margin-left: 63px;">This field can not be blank.</div>';                  
      jQuery('input[id$="ship-owner-sign-name"]').after(msgError);                 
      return false;
      }
      else if(!userType1 && place  == '' ){
      console.log('place--'+place);
      var msgError = '<div class="error-validation-msg" style="margin-left: 63px;">This field can not be blank.</div>';                  
      jQuery('input[id$="ship-owner-sign-place"]').after(msgError);                 
      return false;
      }
      else if(signDate  == '' ){
      var msgError = '<div class="error-validation-msg" style="margin-left: 63px;">This field can not be blank.</div>';                  
      jQuery('input[id$="ship-owner-sign-date"]').next().after(msgError);                 
      return false;
      }
      //SF-4806 Added By Geetham
      else if(userType1 && SubmitterName=='')
      {
      var msgError = '<div class="error-validation-msg">This field can not be blank.</div>';                  
      jQuery('input[id$="Submitter_Name"]').after(msgError);                 
      return false;
      }    
      else if(userType1 && (!reg.test(emailPage1) || (emailPage1=='')))
      {
      var msgError = '<div class="error-validation-msg">Email is not valid.</div>';                  
      jQuery('input[id$="email_charter"]').after(msgError);                 
      return false;
      }
      /*
      else if(userType1 && (typeof NotificationmailTo != typeof  undefined) && (NotificationmailTo == '' || NotificationmailTo == null || NotificationmailTo == ' ')) 
      {
      var msgError = '<div class="error-validation-msg">Please select Mail to.</div>';                  
      jQuery('select[id$="NotifcationMail"]').next().after(msgError);                
      return false;
      }
      else if(userType1 && (typeof NotificationmailTo1 != typeof  undefined) && (NotificationmailTo1 == '' || NotificationmailTo1 == null || NotificationmailTo1 == ' ')) 
      {
      var msgError = '<div class="error-validation-msg">Please select Mail to.</div>';                  
      jQuery('select[id$="NotifcationMail1"]').next().after(msgError);                
      return false;
      }
      */
      //SF-4914
    else if(userType1 && (typeof Country != typeof  undefined) && (Country == '' || Country == null || Country == ' ')) 
        {
        var msgError = '<div class="error-validation-msg">Please select Country.</div>';                  
        jQuery('select[id$="Country"]').next().after(msgError);                
        return false;
    }
      else
      {
          jQuery('.loading,.overley').show();
          console.log('--CountryVal--'+CountryVal);
            jQuery('input[id$="CountryValue"]').val(CountryVal);
          showSuccessPopup();
          // return true;
      }
    }
                                                          
    </script>
    <apex:composition template="PageFrame" >
        <apex:define name="content" >            
            <div id="content" class="content">
                <div class="content-wrapper">
                    <!--SF-4582 starts-->
                    <apex:outputPanel rendered="{!if(usertype!='GUEST',true,false)}">
                        <div class="page-title">My portfolio</div>
                    </apex:outputPanel>
                    <!--4582 Ends-->
                    <div class="tab-section-container">
                        <!--SF-4582 starts-->
                        <apex:outputPanel rendered="{!if(usertype!='GUEST',true,false)}">
                            <apex:include pageName="requestPage"/>
                        </apex:outputPanel>
                        <!--4582 Ends-->
                        <div class="tab-button-section">                            
                            <div class="tab-header-container">
                                <!--SF-4582 starts-->
                                <apex:outputPanel rendered="{!if(usertype!='GUEST',true,false)}">
                                    <div class="cover single-tab deselected"><apex:outputLink value="/apex/MyCovers" >Covers</apex:outputLink></div>
                                    <div class="object single-tab deselected"><apex:outputLink value="/apex/MyObjects" >Objects</apex:outputLink></div>
                                    <div class="documents single-tab deselected"><apex:outputLink value="/apex/ViewDocument" >Documents</apex:outputLink></div>
                                </apex:outputPanel> 
                                <!--SF-4582 ends-->
                                <div class="forms single-tab selected"><apex:outputLink value="/apex/PortfolioForms" >Forms</apex:outputLink><div class="update-cover-wrapper-activated"></div></div>
                                <!--SF-4582 starts-->
                                <apex:outputPanel rendered="{!if(usertype!='GUEST',true,false)}">                            
                                    <div class="portfolio-report single-tab deselected"><apex:outputLink value="/apex/PortfolioReports">Portfolio reports</apex:outputLink></div>
                                </apex:outputPanel>
                                <!--SF-4582 ends-->
                            </div>
                        </div>
                        <div class="tab-details-section gard-contact claim-tabs-section portfolio">
                            <div class="tab-detail-columns">
                                <div class="tab-object-section tab-table-wrapper tab-detail-container broker-view forms" style="display: block;">
                                    <apex:form id="frmRev">
                                        <apex:inputHidden value="{!CountryValue}" id="CountryValue"/> <!--  sf-4914 -->
                                        <div class="multistep-form-step-container ship-owner-form-container">                    
                                            <div class="contact-field">  
                                                <div class="form-field-scrol-container">
                                                    <div class="multistep-form-path-pointer">
                                                        <div class="common-path-bar" style="width: 555px !important;"></div>
                                                        <div class="completed-path-bar" style="width: 520px !important;"></div>
                                                        <div class="section-titles obj-det-title">Object details</div>
                                                        <div class="section-titles add-det-title">Additional details</div>
                                                        <div class="section-titles add-det-title" style="left: 331px !important;">Assureds details</div>
                                                        <div class="section-titles rev-title" style="left: 470px !important;">Review and submit</div>
                                                        <div class="obj-details-dot dots"></div>
                                                        <div class="add-details-dot dots"></div>
                                                        <div class="asd-details-dot dots" style="left : 378px;"></div>
                                                        <div class="review-dot dots current" style="left: 520px;"></div>
                                                    </div>
                                                    <!-- <div class="calendar-container new-claim-calender"></div>-->
                                                    <div class="new-claim-report-section sub-sec-title-area">Entry form for Mobile offshore unit</div>
                                                    <div class="uw-review-page uw-small-sraft-review-container multistep-content-holder" style="display:block;">
                                                        <div class="uw-review-container">
                                                            <div class="uw-review-small-infos">
                                                                <div class="personal-detail-title">Object details</div>
                                                                <div class="report-new-claim-field-section">
                                                                    <div class="report-new-claim-field-section-left-panel">
                                                                        <apex:outputPanel rendered="{!(userType=='Broker')}">
                                                                            <div class="report-new-claim-single-section new-claim-client">
                                                                                <label for="client-field">Client:</label>
                                                                                <div class="claim-review-detail-text">
                                                                                    <apex:outputText rendered="{!NOT(ISNULL(selectedClient))}" value="{!cName}"/>
                                                                                </div>
                                                                            </div>
                                                                        </apex:outputPanel>
                                                                        <!--SF-4582 starts-->
                                                                        <apex:outputPanel rendered="{!(userType=='GUEST')}">
                                                                            <div class="report-new-claim-single-section new-claim-client"  style="margin-bottom: 3px;">
                                                                                <label for="client-field">Client:</label>
                                                                                <div class="claim-review-detail-text">
                                                                                    <apex:outputText rendered="{!(AND(DummyGuestClient!='',userType=='GUEST'))}" value="{!DummyGuestClient}"/>
                                                                                </div>
                                                                            </div>
                                                                        </apex:outputPanel>
                                                                            <div class="report-new-claim-single-section new-claim-client">
                                                                            <label for="client-field">Date for attachment of risk:</label>
                                                                            <div class="claim-review-detail-text"><apex:outputText value="{!dateOutput}"/></div>
                                                                        </div>
                                                                        <!--SF-4582 Ends-->
                                                                        <div class="report-new-claim-single-section new-claim-client">
                                                                            <label for="client-field">Object name:</label>
                                                                            <div class="claim-review-detail-text"><apex:outputText id="obj" value="{!objectIns.name}"/></div>
                                                                        </div>
                                                                        <div class="report-new-claim-single-section new-claim-client">
                                                                            <label for="client-field">Flag:</label>
                                                                            <div class="claim-review-detail-text"><apex:outputText value="{!objectIns.Flag__c}"/></div>
                                                                        </div>
                                                                        <div class="report-new-claim-single-section new-claim-client">
                                                                            <label for="client-field">Call sign:</label>
                                                                            <div class="claim-review-detail-text"><apex:outputText value="{!objectIns.Signal_Letters_Call_sign__c}"/></div>
                                                                        </div>
                                                                        <div class="report-new-claim-single-section new-claim-client">
                                                                            <label for="client-field">Port of registry:</label>
                                                                            <div class="claim-review-detail-text"><apex:outputText value="{!objectIns.Port__c}"/></div>
                                                                        </div>
                                                                        <div class="report-new-claim-single-section new-claim-client">
                                                                            <label for="client-field">Year of built:</label>
                                                                            <div class="claim-review-detail-text"><apex:outputText value="{!selectedYrBuilt}"/></div>
                                                                        </div>
                                                                        <!--SF-4964 STARTS
                                                                        <div class="report-new-claim-single-section new-claim-client">
                                                                            <label for="client-field">No. of officers:</label>
                                                                            <div class="claim-review-detail-text"><apex:outputText value="{!uwf.Number_of_officers__c}"/></div>
                                                                        </div>
                                                                        <div class="report-new-claim-single-section new-claim-client">
                                                                            <label for="client-field">No. of crew:</label>
                                                                            <div class="claim-review-detail-text"><apex:outputText value="{!uwf.Number_of_crew__c}"/></div>
                                                                        </div>
                                                                        <div class="pf-rev-open-section">
                                                                            <div class="uw-review-desc-infos-title double-line-srink">Number of other personnel, <br/>that may be accommodated on board:</div>
                                                                            <div class="uw-review-desc-infos-detail"><apex:outputField value="{!uwf.personnel_on_board__c}"/></div>
                                                                        </div>
                                                                        SF-4964 ENDS-->
                                                                    </div>
                                                                    <div class="report-new-claim-field-section-right-panel">
                                                                        <div class="report-new-claim-single-section new-claim-client">
                                                                            <label for="client-field">&nbsp;</label>
                                                                            <div class="claim-review-detail-text">&nbsp;</div>
                                                                        </div>
                                                                        <div class="report-new-claim-single-section new-claim-client">
                                                                            <label for="client-field">Time for attachment of risk(in GMT):</label>
                                                                            <div class="claim-review-detail-text"><apex:outputText value="{!selectedHourGMT}"/></div>
                                                                        </div>
                                                                        <div class="report-new-claim-single-section new-claim-client">
                                                                            <label for="client-field">IMO no.:</label>
                                                                            <div class="claim-review-detail-text"><apex:outputText value="{!uwf.Imo_Lloyds_No__c}"/></div>
                                                                        </div>
                                                                        <div class="report-new-claim-single-section new-claim-client">
                                                                            <label for="client-field">Gross tonnage:</label>
                                                                            <div class="claim-review-detail-text">
                                                                                <apex:outputText value="{0, number, ###,##0}">
                                                                                    <apex:param value="{!grossTonnage}"/>
                                                                                </apex:outputText>
                                                                            </div>
                                                                        </div>
                                                                        <div class="report-new-claim-single-section new-claim-client">
                                                                            <label for="client-field">Classification:</label>
                                                                            <div class="claim-review-detail-text"><apex:outputText value="{!Classification}"/></div>
                                                                        </div>
                                                                        <!--SF-4964 STARTS
                                                                        <div class="report-new-claim-single-section new-claim-client">
                                                                            <label for="client-field">Nationality of officer:</label>
                                                                            <div class="claim-review-detail-text"><apex:outputText value="{!uwf.Nationality_of_officer__c}"/></div>
                                                                        </div>
                                                                        <div class="report-new-claim-single-section new-claim-client">
                                                                            <label for="client-field">Nationality of crew:</label>
                                                                            <div class="claim-review-detail-text"><apex:outputText value="{!uwf.Nationality_of_crew__c}"/></div>
                                                                        </div>
                                                                        SF-4964 ENDS-->                                                                        
                                                                        <div class="report-new-claim-single-section new-claim-client">
                                                                            <label for="client-field">Limit of cover(in millions):</label>
                                                                            <div class="claim-review-detail-text"><apex:outputText value="{!uwf.Limit_of_Cover_USD__c}"/></div>
                                                                        </div>
                                                                        <div class="report-new-claim-single-section new-claim-client">
                                                                            <label for="client-field">Currency :</label>
                                                                            <div class="claim-review-detail-text"><apex:outputText value="{!coverCurrency}"/></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="report-new-claim-field-section new-claim-right-section">
                                                                    <!--SF-4964 STARTS
                                                                    <div class="pf-rev-open-section uw-separator">
                                                                        <div class="uw-review-desc-infos-title">Vessel’s intended trading area, (if possible, please enter more details than WWT):</div>
                                                                        <div class="uw-review-desc-infos-detail"><apex:outputField value="{!uwf.short_description_vessel__c}"/></div>
                                                                    </div>
                                                                    SF-4964 ENDS-->
                                                                    <div class="pf-rev-open-section uw-separator">
                                                                        <div class="uw-review-desc-infos-title">Give a short description of the vessel and any conversions:</div>
                                                                        <div class="uw-review-desc-infos-detail"><apex:outputField value="{!uwf.short_description_vessel__c}"/></div>
                                                                    </div>
                                                                    <div class="pf-rev-open-section uw-separator">
                                                                        <div class="uw-review-desc-infos-title">Other statutory certification:</div>
                                                                        <div class="uw-review-desc-infos-detail"><apex:outputField value="{!uwf.Other_statutory_certification__c}"/></div>
                                                                    </div>
                                                                    <!--SF-4964 STARTS
                                                                    <div class="pf-rev-open-section uw-separator">
                                                                        <div class="col-liab-section">
                                                                            <label for="reqest-effective-date">Collision liabilities to be covered under P&amp;I: </label>
                                                                            <div class="claim-review-detail-text"><apex:outputText value="{!selectedCollLiabilities}" /></div>
                                                                        </div>
                                                                        <div class="report-new-claim-single-section new-claim-client including-ffo">
                                                                            <label class="bottom-drop-label">Incl. FFO:</label>
                                                                            <div class="claim-review-detail-text"><apex:outputText value="{!selectedIncludingFFO}" /></div>
                                                                        </div>
                                                                    </div>
                                                                    SF-4964 ENDS-->
                                                                    <!--SF-4964 STARTS
                                                                    <div class="pf-rev-open-section">
                                                                        <div class="uw-review-desc-infos-title double-line-srink">If vessel to be delivered on long term timecharter,<br/>Please state name of charterer, form of charter party and period:</div>
                                                                        <div class="uw-review-desc-infos-detail"><apex:outputField value="{!uwf.Name_Form_Period_Of_Charter__c}"/></div>
                                                                    </div>
                                                                    SF-4964 ENDS-->
                                                                    <!--SF-5197
                                                                    <div class="pf-rev-open-section">
                                                                        <div class="pf-rev-open-section uw-separator">
                                                                            <div class="uw-review-desc-infos-title double-line-srink">Other statutory certification:</div>
                                                                            <div class="uw-review-desc-infos-detail"><apex:outputField value="{!uwf.Other_statutory_certification__c}"/></div>
                                                                        </div>
                                                                    </div>-->
                                                                </div>
                                                            </div>
                                                            <div class="uw-review-desc-infos">
                                                                <div class="personal-detail-title">Additional details</div>
                                                                <div class="report-new-claim-field-section">    
                                                                    <div class="pf-rev-open-section uw-separator">
                                                                        <div class="uw-review-desc-infos-title">Registered owner’s name:</div>
                                                                        <div class="uw-review-desc-infos-detail"><apex:outputField value="{!uwf.Owner_Name__c}"/></div>
                                                                    </div>
                                                                    <div class="pf-rev-open-section uw-separator">
                                                                        <div class="uw-review-desc-infos-title">Registered owner’s address:</div>
                                                                        <div class="uw-review-desc-infos-detail"><apex:outputField value="{!uwf.Registered_Owner_Name__c}"/></div>
                                                                    </div>
                                                                    <div class="pf-rev-open-section uw-separator">
                                                                        <div class="uw-review-desc-infos-title">Registered owner’s national registration number:</div>
                                                                        <div class="uw-review-desc-infos-detail"><apex:outputField value="{!uwf.Registered_Owners_Nat_Reg_No__c}"/></div>
                                                                    </div>  
                                                                    <apex:outputPanel rendered="true"><!--added for SF-5197-->
                                                                        <apex:repeat value="{!uAWs}" var="eachAssured">
                                                                            <apex:outputPanel rendered="{!(eachAssured.companyName != '')}">
                                                                                <div class="pf-rev-open-section uw-separator">
                                                                                    <div class="uw-review-desc-infos-title">Name of assured/members</div>
                                                                                    <div class="uw-review-desc-infos-detail"><apex:outputText id="assId" value="{!eachAssured.companyName}"/></div>
                                                                                    
                                                                                    <div class="uw-review-desc-infos-title">Member type</div>
                                                                                    <div class="uw-review-desc-infos-detail"><apex:outputText id="assId2" value="{!eachAssured.memberType}"/></div>
                                                                                    
                                                                                    <div class="uw-review-desc-infos-title">Country</div>
                                                                                    <div class="uw-review-desc-infos-detail"><apex:outputText id="assId3" value="{!eachAssured.country}"/></div>
                                                                                    
                                                                                    <div class="uw-review-desc-infos-title">City</div>
                                                                                    <div class="uw-review-desc-infos-detail"><apex:outputText id="assId4" value="{!eachAssured.city}"/></div>
                                                                                    
                                                                                    <div class="uw-review-desc-infos-title">Capcacity</div>
                                                                                    <div class="uw-review-desc-infos-detail"><apex:outputText id="assId5" value="{!IF(contains(eachAssured.capacity,'Other'), eachAssured.capacity+' - '+eachAssured.capacityText,eachAssured.capacity)}"/></div>
                                                                                    
                                                                                    <div class="uw-review-desc-infos-title">National registration number</div>
                                                                                    <div class="uw-review-desc-infos-detail"><apex:outputText id="assId6" value="{!eachAssured.natRegNo}"/></div>
                                                                                    
                                                                                    <div class="uw-review-desc-infos-title">Is member?</div>
                                                                                    <div class="uw-review-desc-infos-detail"><apex:outputText id="assId7" value="{!IF(eachAssured.isMember,'Yes','No')}"/></div>
                                                                                    
                                                                                </div>
                                                                            </apex:outputPanel>
                                                                        </apex:repeat>
                                                                    </apex:outputPanel>
                                                                    <apex:outputPanel rendered="false"><!--"false" for SF-5197-->
                                                                    <div class="pf-rev-open-section uw-separator">
                                                                        <!--<div class="uw-review-desc-infos-title">Name of assured / members:</div> for SF-4964-->
                                                                        <div class="uw-review-desc-infos-title">Name of assured/members and capacity (full name, including city/country)</div>
                                                                        <div class="uw-review-desc-infos-detail"><apex:outputField id="assId" value="{!uwf.Name_of_Assured_Member__c}"/></div>
                                                                    </div>  
                                                                    <div class="pf-rev-open-section">
                                                                        <!--<div class="uw-review-desc-infos-title">Name of co-assureds (if any) and capacity:</div> for SF-4964-->
                                                                        <div class="uw-review-desc-infos-title">Name of co-assured (if any) and capacity (full name, including city/country)</div>
                                                                        <div class="uw-review-desc-infos-detail"><apex:outputField value="{!uwf.Co_assureds_capacity__c}"/></div>
                                                                    </div>
                                                                    </apex:outputPanel>
                                                                </div>
                                                                <div class="report-new-claim-field-section new-claim-right-section">
                                                                    <div class="pf-rev-open-section uw-separator">
                                                                        <div class="uw-review-desc-infos-title">Mortgagee(s), name and address:</div>
                                                                        <div class="uw-review-desc-infos-detail"><apex:outputField value="{!uwf.Mortgagee_Name_and_Address__c}"/></div>
                                                                    </div>  
                                                                    <div class="pf-rev-open-section uw-separator">
                                                                        <div class="uw-review-desc-infos-title">Name to appear on premium invoice:</div>
                                                                        <div class="uw-review-desc-infos-detail"><apex:outputField id="invName" value="{!uwf.Name_on_Premium_Invoice__c}"/></div>
                                                                    </div>
                                                                    <div class="pf-rev-open-section uw-separator"><!--added for SF-5197-->
                                                                        <div class="uw-review-desc-infos-title">
                                                                            <div class="subs-check-single">
                                                                                <div class="subs-check-single">
                                                                                    <apex:inputcheckbox id="cnf_assureds" disabled="true" value="{!isSame}"/>
                                                                                    <label for="{!$Component.cnf_assureds}">Same As registered owner</label>
                                                                                </div>
                                                                                <br/>
                                                                            </div>
                                                                            <div class="subs-check-single">
                                                                                <div class="subs-check-single">
                                                                                    <apex:inputcheckbox id="cnf_VatNA" disabled="true" value="{!uwf.VAT_Not_Applicable__c}"/>
                                                                                    <label for="{!$Component.cnf_assureds}">VAT not applicable</label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="pf-rev-open-section uw-separator">
                                                                        <div class="uw-review-desc-infos-title">VAT &ndash; Name and address of the operating company:</div>
                                                                        <div class="uw-review-desc-infos-detail"><apex:outputField value="{!uwf.VAT_Name_AddressOf_Company__c}"/></div>
                                                                    </div>
                                                                    <div class="pf-rev-open-section">
                                                                        <div class="uw-review-desc-infos-vat">
                                                                            <!--<div class="uw-review-desc-infos-title">Registered for VAT &ndash; VAT number:</div> -->
                                                                            <div style="width: 100%;" class="uw-review-desc-infos-title">Registered for VAT &ndash; VAT number:</div>
                                                                            <div class="uw-review-desc-infos-detail"><apex:outputText id="vatNo" value="{!uwf.VAT_number__c}"/></div>
                                                                        </div>
                                                                        <div class="uw-review-desc-infos-cunt-pref">
                                                                            <div class="uw-review-desc-infos-title">Country code:</div>
                                                                            <div class="uw-review-desc-infos-detail"><apex:outputText value="{!selectedCountryCode}"/></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="uw-review-desc-infos review-confirmation-signature last lastBottom">
                                                                <div class="uw-review-desc-infos-title">
                                                                    <div class="subs-check-single">
                                                                        <apex:inputcheckbox id="cnf"/>
                                                                        <label for="{!$Component.cnf}"><span class="form-req-field">&nbsp;<apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> I hereby confirm that the information provided is correct to the best of my knowledge.</label>
                                                                    </div>
                                                                </div>
                                                                
                                                                
                                                                <div class="uw-review-desc-infos-detail">
                                                                    <!--SF-4582 Starts-->
                                                                    <apex:outputPanel rendered="{!if(usertype!='GUEST',true,false)}">
                                                                        <div class="uw-confirm-name-section uw-confirm-sections">
                                                                            <label for="uw-confirm-name-field"><span class="form-req-field">&nbsp;<apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> Name</label>
                                                                            <apex:inputText value="{!uwf.Name_of_reporter__c}" id="ship-owner-sign-name" maxlength="100"/>
                                                                        </div>
                                                                    </apex:outputPanel>
                                                                    <!--SF-4582 Ends-->
                                                                    <apex:outputPanel rendered="{!if(usertype!='GUEST',true,false)}">
                                                                        <div class="uw-confirm-place-section uw-confirm-sections">
                                                                            <label for="uw-confirm-name-field"><span class="form-req-field">&nbsp;<apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> Place</label>
                                                                            <apex:inputText value="{!uwf.Place_of_reporting__c}" id="ship-owner-sign-place" maxlength="100"/>
                                                                        </div>
                                                                    </apex:outputPanel>
                                                                    <!--SF-4914 STARTS Added By Geetham -->
                                                                    <!--SF-4914--> 
                                                                    <apex:outputPanel rendered="{!if(usertype=='GUEST',true,false)}">
                                                                        <div class="request-form-each-field-section uw-flag objsection uw-confirm-place-section uw-confirm-sections select-wrapper extrem-last-dropdown">
                                                                          <label for="uw-confirm-name-field"><span class="form-req-field">&nbsp;<apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> Country</label>
                                                                          <apex:selectList value="{!SelectedCountry}" multiselect="false" size="1" styleClass="selectpicker" id="Country">
                                                                             <apex:selectOptions value="{!Country}"/>
                                                                          </apex:selectList>
                                                                      </div>
                                                                    </apex:outputPanel>
                                                                    <!--SF-4914 ENDS-->
                                                                    <div class="uw-confirm-signature-date-section uw-confirm-sections deep-bottom-confirmation">
                                                                        <label><span class="form-req-field">&nbsp;<apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> Date:</label>
                                                                        <apex:inputText value="{!dateOutputForReview}" styleClass="uw-long-signature-date custom-datepicker" id="ship-owner-sign-date" html-readonly="true"/>
                                                                    </div>
                                                                    
                                                                    <!--SF-4582 Starts-->
                                                                    <apex:outputPanel rendered="{!if(usertype=='GUEST',true,false)}">
                                                                        <!--SF-4806 STARTS-->
                                                                        <div class="uw-confirm-place-section uw-confirm-sections">
                                                                            <label for="form-req-field"><span class="form-req-field" >&nbsp;<apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> Name</label>
                                                                            <apex:inputText value="{!submitterName}" id="Submitter_Name" onkeyup="limitText(this,100);" onkeypress="limitText(this,100);"/>
                                                                        </div>
                                                                        <!--SF-4806 ENDS-->
                                                                        <div class="uw-confirm-place-section uw-confirm-sections">
                                                                            <label for="form-req-field"><span class="form-req-field">&nbsp;<apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> Email</label>
                                                                            <apex:inputText value="{!submitterEmail}" id="email_charter" onkeyup="limitText(this,100);" onkeypress="limitText(this,100);"/>
                                                                        </div>
                                                                        <!-- commented for SF-4914 -->
                                                                        <!-- div class="request-form-each-field-section uw-flag objsection uw-confirm-place-section uw-confirm-sections select-wrapper extrem-last-dropdown">
                                                                            <label><span class="form-req-field">&nbsp;<apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> Mail to:</label>
                                                                            <apex:selectList value="{!selectedGardEmployee}" multiselect="false" size="1" styleClass="selectpicker" id="NotifcationMail">
                                                                                <apex:selectOptions value="{!GardEmployees}"/>
                                                                            </apex:selectList>
                                                                        </div -->
                                                                        
                                                                        
                                                                    </apex:outputPanel>
                                                                </div> 
                                                                
                                                                <script>
                                                                /* Controls the search by option popup for the single pick-list */
                                                                
                                                                jQuery('.request-form-each-field-section.objsection .selectpicker').selectpicker({
                                                                    noneResultsText: 'No match found!',
                                                                    liveSearch: true,
                                                                    searchAccentInsensitive: false
                                                                });  
                                                                
                                                                jQuery('.request-form-each-field-section.objsection .select-wrapper .dropdown-toggle.selectpicker').click( function(){
                                                                    //jQuery('.dropdown-menu.inner.selectpicker .mCSB_container').css('display', 'block');
                                                                    //alert(jQuery(this).next().children().find('li.selected').length);
                                                                    if (jQuery(this).next().children().find('li.selected').length != 0) {
                                                                        //alert(jQuery(this).next().children().find('.mCSB_container').css('top')/* .children('.mCSB_container').css('top') */);
                                                                    }
                                                                });
                                                                /* Deselect any selection while choosong any picklist */
                                                                jQuery('.request-form-each-field-section.objsection .select-wrapper .btn-group button.multiselect, .select-wrapper .dropdown-toggle.selectpicker').click( function(){
                                                                    document.getSelection().removeAllRanges();
                                                                });
                                                                /* Deselect any selection while choosong any picklist */
                                                                
                                                                /* Default search by any word selection for the pick-list search option */
                                                                //var incrementer = 1;
                                                                jQuery('.request-form-each-field-section.objsection .search-by-option-container').each( function(){
                                                                    var searchOptions = '<span class="search-by-icon-button selectpicker-long-option" alt="Search by"><span class="search-by-pointer"></span><div class="search-by-option"><div class="search-by-text">Search by<span class="close-search-by"></span></div><div class="search-options"><input class="any-word" id="search-by-any-word' + incrementer + '" type="radio" value="0" name="search-option' + incrementer + '" checked><label for="search-by-any-word' + incrementer + '">Any word</label></div><div class="search-options"><input class="exact-phrase" id="search-by-exact-phrase' + incrementer + '" type="radio" value="1" name="search-option' + incrementer + '"><label for="search-by-exact-phrase' + incrementer + '">Exact phrase</label></div></div></span>';
                                                                    jQuery(this).html(searchOptions);
                                                                    incrementer++;
                                                                });
                                                                /* Default search by any word selection for the pick-list search option */
                                                                
                                                                
                                                                /* Controls the opening/closing feature for the search by popup. */
                                                                jQuery('.request-form-each-field-section.objsection .search-by-icon-button').click( function(){
                                                                    jQuery(this).children().show();
                                                                });
                                                                var searchByElement = jQuery('.request-form-each-field-section.objsection .search-by-icon-button');
                                                                jQuery(document).bind('mouseup', function (e){
                                                                    if (searchByElement.has(e.target).length === 0) {
                                                                        jQuery(searchByElement).children().hide();
                                                                    }
                                                                });
                                                                /* Controls the opening/closing feature for the search by popup. */
                                                                
                                                                /* Controls the search by option popup for the single pick-list */
                                                                jQuery('.request-form-each-field-section.objsection .bs-searchbox').each( function(){
                                                                    var searchOptions = '<span class="search-by-icon-button selectpicker-long-option" alt="Search by"><span class="search-by-pointer"></span><div class="search-by-option"><div class="search-by-text">Search by<span class="close-search-by"></span></div><div class="search-options"><input class="any-word" id="search-by-any-word' + incrementer + '" type="radio" value="0" name="search-option' + incrementer + '" checked><label for="search-by-any-word' + incrementer + '">Any word</label></div><div class="search-options"><input class="exact-phrase" id="search-by-exact-phrase' + incrementer + '" type="radio" value="1" name="search-option' + incrementer + '"><label for="search-by-exact-phrase' + incrementer + '">Exact phrase</label></div></div></span>';
                                                                    jQuery(this).append(searchOptions);
                                                                    incrementer++;
                                                                });
                                                                jQuery('.request-form-each-field-section.objsection .bs-searchbox .search-by-icon-button').click( function(e){
                                                                    e.stopPropagation();
                                                                    jQuery(this).children().show();
                                                                });
                                                                var searchByElementSingle = jQuery('.request-form-each-field-section.objsection .bs-searchbox .search-by-icon-button');
                                                                jQuery(document).bind('mousedown', function (e){
                                                                    if (searchByElementSingle.has(e.target).length === 0) {
                                                                        jQuery(searchByElementSingle).children().hide();
                                                                    }
                                                                });                                  
                                                                jQuery(".request-form-each-field-section.objsection .dropdown-menu.open ul").mCustomScrollbar({
                                                                    mouseWheelPixels: 20,
                                                                    scrollEasing: "linear",
                                                                    scrollInertia: 0
                                                                }); 
                                                                
                                                                /* Stop multi-select dropdown closing event clicking on the custom scroll bar */
                                                                jQuery('.mCSB_draggerContainer').click( function(e){
                                                                    e.stopPropagation();
                                                                });
                                                                </script>
                                                                
                                                                <!--SF-4582 Ends-->
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <script>
                                                    
                                                    /* Control for custom datepicker */
                                                    jQuery('.custom-datepicker').Zebra_DatePicker({
                                                        direction: true,
                                                        format: 'd.m.Y',
                                                        first_day_of_week: 0
                                                    });
                                                    jQuery('.custom-datepicker').data('Zebra_DatePicker');
                                                    </script> 
                                                    <!--changes for SF-5197 otherFormsChanges STARTS-->
                                                    <apex:actionFunction name="saveAssuredsAF" action="{!saveAssureds}" rerender="success-popup"/><!--added for SF-5197-->
                                                    <apex:inputHidden value="{!parentUWRFormId}" id="parentUwfId"/><!--added for SF-5197-->
                                                    <apex:outputPanel id="success-popup">                                       
                                                        <!--SF-5197 STARTS-->
                                                        <!--Creates child Assured records and shows success popUp-->
                                                        <apex:outputPanel id="partial-success-popup" rendered="{!isSuccess && !doneAssuredsProcessing}">
                                                            <script>
                                                            var parentUwfId = '{!uwf.id}';
                                                            console.log('parentUwfId - '+parentUwfId);
                                                            if(parentUwfId != null && parentUwfId != 'null'){
                                                                jQuery('input[id$="parentUwfId"]').val(parentUwfId);
                                                                console.log('in IF parentUwfId - '+parentUwfId);
                                                                console.log('in IF parentUwfId by jQuery - '+jQuery('input[id$="parentUwfId"]').val());
                                                                saveAssuredsAF();
                                                            }
                                                            </script>
                                                        </apex:outputPanel>
                                                        <!--SF-5197 ENDS-->
                                                        <!--commented for includeOption<apex:outputPanel id="complete-success-popup" rendered="{!isSuccess && doneAssuredsProcessing}"><!--rendered="{!!doneAssuredsProcessing}"  id="complete-success-popup"-->
                                                        <apex:outputPanel id="complete-success-popup" rendered="{!isSuccess}"><!--rendered="{!!doneAssuredsProcessing}"  id="complete-success-popup"-->
                                                            <script>
                                                                jQuery('.loading').hide();
                                                                jQuery('.overley').show();
                                                            </script>
                                                            <div id="contact-info-pop-container" class="global-popup global-popup-confirm" style="display:block;z-index:9999990;" >       
                                                                <div id="contact-info-pop" class="cont-info-pop popup-infos">
                                                                    <div id="contact-info-pop-wrapper">
                                                                        <div class="popup-form-container">
                                                                            <div class="contact-field">
                                                                                <div class="pop-up-sub-title">
                                                                                    <!--SF-3818--Start-->                                             
                                                                                    <!--Thank you for contacting Gard. Your request has been successfully registered.-->
                                                                                    {!$ObjectType.Confirm_PopUp__mdt.fields.RequestChangepopUp__c.inlineHelpText}
                                                                                    <!--SF-3818--End-->
                                                                                </div>
                                                                                <div class="form-submit-section">
                                                                                    <apex:commandButton value="Ok" styleClass="form-btn" action="{!sendToForm}"  oncomplete="jQuery('.overley').hide();"/>
                                                                                </div>                                      
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </apex:outputPanel>
                                                    </apex:outputPanel>
                                                    <!--changes for SF-5197 otherFormsChanges ENDS-->
                                                    <!--Commented for SF-5197
                                                    <apex:outputPanel id="success-popup" >
                                                        <apex:outputPanel rendered="{!isSuccess}">
                                                            <script>
                                                            jQuery('.loading').hide();
                                                            jQuery('.overley').show();
                                                            </script>
                                                            <div id="contact-info-pop-container" class="global-popup global-popup-confirm" style="display:block;z-index:9999990;" >        
                                                                <div id="contact-info-pop" class="cont-info-pop popup-infos">
                                                                    <div id="contact-info-pop-wrapper">
                                                                        <div class="popup-form-container">
                                                                            <div class="contact-field">
                                                                                <div class="pop-up-sub-title">
                                                                                    <!--SF-3818--Start-->                                             
                                                                                    <!--Thank you for contacting Gard. Your request has been successfully registered.--><!--SF-5197 cotd.
                                                                                    {!$ObjectType.Confirm_PopUp__mdt.fields.RequestChangepopUp__c.inlineHelpText}
                                                                                    <!--SF-3818--End--><!--SF-5197 cotd.
                                                                                </div> 
                                                                                <div class="form-submit-section">
                                                                                    <apex:commandButton value="Ok" styleClass="form-btn" action="{!sendToForm}" oncomplete="jQuery('.overley').hide();" />
                                                                                </div>                                      
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </apex:outputPanel>
                                                    </apex:outputPanel>
                                                    -->
                                                </div>
                                                <div class="form-submit-section">
                                                    <div class="left-button-set">
                                                        <!--<input type="submit" id="submit" class="form-btn prev-nav" name="submit" value="Prev"/>
<input type="submit" id="submit" class="form-btn next-nav" name="submit" value="Next"/>
<input type="submit" id="submit" class="form-btn multi-clear-btn" name="submit" value="Cancel"/>
-->
                                                        <apex:commandButton value="Prev" styleClass="form-btn prev-nav" action="{!goPrevForReview}"  />
                                                    </div>
                                                    <div class="right-button-set">
                                                        <!--<input id="submit" class="form-btn rvw-sub-multi" type="submit" name="submit" value="Review and Submit"/>
-->
                                                        <apex:commandButton value="Submit" onclick="validationPage3Shipowner();return false;" styleClass="form-btn rvw-sub-multi" rerender="success-popup"/>                
                                                        <apex:actionFunction rerender="success-popup" name="showSuccessPopup" action="{!saveRecordForReview}"/>
                                                    </div>
                                                </div> 
                                            </div> 
                                        </div>                     
                                    </apex:form>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div> 
            </div>   
        </apex:define>
    </apex:composition>   
    <script>
    jQuery(document).ready(function(){
        jQuery('span[id$="frmRev:vatNo"]').each(function(){
            console.log('***********************************line##################');
            jQuery(this).text(jQuery(this).text().replace(/(.{34})/g,"$1 \n"));
        });
        jQuery('span[id$="frmRev:j_id694"]').each(function(){
            console.log('***********************************line##################');
            jQuery(this).text(jQuery(this).text().replace(/(.{34})/g,"$1 \n"));
        });
        
    });
    </script>
</apex:page>