<apex:page controller="ViewPdf" sidebar="false" showHeader="false" action="{!fetchDoc}">
    
 <!--
 {!pdf}
 <iframe src="data:'application/pdf';base64,{!pdf}" height="110%" width="100%" id="reportPdf"/>
 -->
 
 <apex:iframe src="{!URLFOR($Action.Attachment.Download, att.id)}" height="10%" width="100%" id="reportPdf"/>

 
 
 
    <!-- insert in the document head -->
<!--<script>
function func1() {
console.log('{!pdf}');
document.getElementById("reportPdf").innerHTML = encodeURI('{!pdf}');
}
window.onload=func1;
</script>-->
<!-- <script type='text/javascript'>

  function embedPDF(){

    var myPDF = new PDFObject({ 

      url: 'https://c.cs8.content.force.com/servlet/servlet.FileDownload?file=00PL0000002TVIu'

    }).embed();  

  }

  window.onload = embedPDF;

</script> -->

    
    <!-- {!pdf} "data:application/pdf;charset=utf-8," + escape{!pdf});-->
   <!-- <apex:outputText escape="false" value="{!pdf}"/>-->
    <!-- <iframe src="data:'application/pdf';base64,{!pdf}" height="110%" width="100%" id="reportPdf"/> -->
    
    <!-- ----------------------------------------- <br/><br/> -->
    
    
    <!--<iframe src="data:'application/octet-stream';base64,{!pdf}" height="110%" width="100%"></iframe>-->
  
    
</apex:page>