<template>
    <div class="slds-p-vertical_x-small slds-p-horizontal_large slds-shrink-none slds-theme_shade">
        <div class="slds-form-element">
            <div class="slds-form-element__control">
                <div class="slds-combobox_container">
                <!-- slds-is-open -->
                    <div class={comboBoxClass} aria-expanded="true"  aria-haspopup="listbox" role="combobox">
                        <lightning-input
                            variant="label-hidden"
                            name="enter-search"
                            label="Search Contacts"
                            type="search"
                            placeholder="Search Contacts"
                            value={searchTerm}
                            onchange={handleSearch}
                            ></lightning-input>

                        <div id="listbox-id-2" class="slds-dropdown slds-dropdown_length-with-icon-7 slds-dropdown_fluid" role="listbox">
                            <ul class="slds-listbox slds-listbox_vertical" role="presentation" >
                                <template if:true={state.loading}>
                                    <li role="presentation" class="slds-listbox__item">
                                        <!-- id="listbox-option-unique-id-01" -->
                                        <div
                                        class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta"
                                        role="option"
                                        >
                                        <div class="slds-p-vertical_medium">
                                            <lightning-spinner
                                            alternative-text="Loading"
                                            size="small"
                                            ></lightning-spinner>
                                        </div>
                                        </div>
                                    </li>
                                </template>

                                <template if:true={state.noResults}>
                                    <li role="presentation" class="slds-listbox__item">
                                        <!-- id="listbox-option-unique-id-01" -->
                                        <div class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta" role="option">
                                            <div class="slds-p-around_x-small slds-text-color_weak">
                                                No results
                                            </div>
                                        </div>
                                    </li>
                                </template>

                                <template if:false={state.loading}>
                                    <template for:each={tiles} for:item="tile">
                                        <c-claims-survey-search-bar-tile
                                        key={tile.id}
                                        tile-id={tile.id}
                                        contact-name={tile.name}
                                        contact-email={tile.email}
                                        company-name={tile.companyName}
                                        ontileselect={handleTileSelect}
                                        ></c-claims-survey-search-bar-tile>
                                    </template>
                                </template>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slds-pill_container slds-pill_container_bare">
        <ul
          class="slds-listbox slds-listbox_horizontal"
          role="listbox"
          aria-label="Selected Options:"
          aria-orientation="horizontal"
        >
          <template for:each={pills} for:item="pill">
            <c-search-bar-pill
              key={pill.id}
              pill-id={pill.id}
              label={pill.label}
              onremove={handlePillRemove}
            ></c-search-bar-pill>
          </template>
        </ul>
    </div>
    <div class="slds-grid slds-gutters">
        <div class="slds-col">
            <div class="slds-text-title slds-p-around_small" aria-live="polite">
                {state.itemsSelected} Item(s) Selected
            </div>
        </div>
    </div>
</template>