/*.THIS .allign-desc{
    padding: 0px 45px 0px 0px
}
.THIS .slds-modal__content {
    overflow-y: scroll !important;
}
.cOpportunityCloseWon .full .forcePageBlock .forceRecordLayout{
    height: 300px !important;
    max-height: 300px !important;
}
.cOpportunityCloseWon .uiModal--horizontalForm .modal-container{
    max-height: 500px !important;
   
    height: 500px !important;
}
.cOpportunityCloseWon .slds-modal__content{
    
   
    height: 500px !important;
    max-height: 500px !important;
}
*/
.THIS .changeRecordTypeLeftRightContent, .THIS .slds-form-element__label {
    margin: 2%;
}