<!--
  @description       : Options for Claims Survey search dropdown
  @author            : Arpan Muhuri
  Ver      Date           Author                       Modification
  1.0   10-07-2021     Arpan Muhuri                      Created
-->
<template>
    <li role="presentation" class="slds-listbox__item">
      <!-- id="listbox-option-unique-id-01" -->
      <div
        class={tileClass}
        role="option"
        data-tile-id={tileId}
        tabindex="0"
        onblur={handleBlur}
        onfocus={handleFocus}
        onclick={handleClick}
        onkeyup={handleKeyUp}
      >
        <span class="slds-media__figure">
          <lightning-icon
            icon-name="standard:contact"
            alternative-text="Contact"
            size="small"
          ></lightning-icon>
        </span>
  
        <span class="slds-media__body">
          <span
            class="slds-listbox__option-text slds-listbox__option-text_entity"
          >
            {contactName}
          </span>
          <span class="slds-listbox__option-meta slds-listbox__option-meta_entity"
            >{companyName} • {contactEmail}
          </span>
        </span>
      </div>
    </li>
  </template>