<template>
  <div
    class="slds-p-vertical_x-small slds-p-horizontal_large slds-shrink-none slds-theme_shade"
  >
    <div class="slds-form-element">
      <div class="slds-form-element__control">
        <div class="slds-combobox_container">
          <!-- slds-is-open -->
          <div
            class={comboBoxClass}
            aria-expanded="true"
            aria-haspopup="listbox"
            role="combobox"
          >
            <lightning-input
              variant="label-hidden"
              name="enter-search"
              label="Search Accounts"
              type="search"
              placeholder="Search Accounts"
              value={searchTerm}
              onchange={handleSearch}
            ></lightning-input>

            <div
              id="listbox-id-2"
              class="slds-dropdown slds-dropdown_length-with-icon-7 slds-dropdown_fluid"
              role="listbox"
            >
              <ul
                class="slds-listbox slds-listbox_vertical"
                role="presentation"
              >
                <template if:true={state.loading}>
                  <li role="presentation" class="slds-listbox__item">
                    <!-- id="listbox-option-unique-id-01" -->
                    <div
                      class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta"
                      role="option"
                    >
                      <div class="slds-p-vertical_medium">
                        <lightning-spinner
                          alternative-text="Loading"
                          size="small"
                        ></lightning-spinner>
                      </div>
                    </div>
                  </li>
                </template>

                <template if:true={state.noResults}>
                  <li role="presentation" class="slds-listbox__item">
                    <!-- id="listbox-option-unique-id-01" -->
                    <div
                      class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta"
                      role="option"
                    >
                      <div class="slds-p-around_x-small slds-text-color_weak">
                        No results
                      </div>
                    </div>
                  </li>
                </template>

                <template if:false={state.loading}>
                  <template for:each={tiles} for:item="tile">
                    <c-search-bar-tile
                      key={tile.id}
                      tile-id={tile.id}
                      name={tile.name}
                      subinfo={tile.subinfo}
                      company-id={tile.companyId}
                      ontileselect={handleTileSelect}
                    ></c-search-bar-tile>
                  </template>
                </template>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="slds-pill_container slds-pill_container_bare">
      <ul
        class="slds-listbox slds-listbox_horizontal"
        role="listbox"
        aria-label="Selected Options:"
        aria-orientation="horizontal"
      >
        <template for:each={pills} for:item="pill">
          <c-search-bar-pill
            key={pill.id}
            pill-id={pill.id}
            label={pill.label}
            onremove={handlePillRemove}
          ></c-search-bar-pill>
        </template>
      </ul>
    </div>
    <div class="slds-grid slds-gutters">
      <div class="slds-col">
        <div class="slds-text-title slds-p-around_small" aria-live="polite">
          {state.itemsSelected} Item(s) Selected
        </div>
      </div>
      <div class="slds-col">
        <lightning-accordion allow-multiple-sections-open>
          <lightning-accordion-section
            name="filter"
            label="Filters"
            class="slds-text-color_weak"
          >
            <lightning-input
              type="checkbox"
              label="Risk Indicator"
              name="Risk Indicator"
              onchange={handleRiskFilter}
              checked
            ></lightning-input>
            <lightning-input
              type="checkbox"
              label="Policy Year"
              name="Policy Year"
              onchange={handleYearFilter}
            ></lightning-input>
            <c-custom-slider
              min={slider.min}
              max={slider.max}
              value={slider.value}
              disabled={slider.disabled}
              onslide={handleSlide}
              label-hidden
            ></c-custom-slider>
            <lightning-input
              type="text"
              label="Cover Name"
              onchange={handleCoverFilter}
            >
            </lightning-input>
            <lightning-input
              type="text"
              label="Agreement Number"
              onchange={handleAgreementFilter}
            >
            </lightning-input>
            <lightning-input
              type="text"
              label="Object Name"
              onchange={handleObjectFilter}
            >
            </lightning-input>
          </lightning-accordion-section>
        </lightning-accordion>
      </div>
    </div>
  </div>
</template>