<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 02-11-2021
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   02-10-2021   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<template>
    <lightning-card>
      <div class="slds-clearfix">
        <div class="slds-float_right">
          <lightning-button
            label="Add Agreements"
            title="Primary action"
            onclick={handleClick}
            class="slds-m-left_x-small"
          ></lightning-button>
        </div>
      </div>
    </lightning-card>
  
    <template if:true={toggleModal}>
      <c-list-builder-modal-agreements
        record-id={recordId}
        load-limit="50"
        onclose={handleClose}
        onsave={handleSaveAndClose}
      ></c-list-builder-modal-agreements>
    </template>
  </template>