<template>
  <div class="slds-form-element">
    <template if:false={labelHidden}>
      <label class="slds-form-element__label" for="slider-id-01">
        <span class="slds-slider-label">
          <span class="slds-slider-label__range"
          >{min} - {max}</span
          >
        </span>
      </label>
    </template>
    <div class="slds-form-element__control">
      <div class="slds-slider slds-size_x-small">
        <input
          type="range"
          id="slider-id-01"
          class="slds-slider__range"
          min={min}
          max={max}
          step={step}
          value={value}
          disabled={disabled}
          oninput={handleInput}
        />
        <span class="slds-slider__value" aria-hidden="false"
          >{value}</span
        >
      </div>
    </div>
  </div>
</template>