html{
	background-color:#C8C8C8;
	background: -webkit-gradient(linear, 0 0, 0 8%, from(#909090), to(#C8C8C8)); 
	background: -moz-linear-gradient(top, #909090, #C8C8C8 8%);
	background-repeat: no-repeat;
	background-attachment:fixed;
	filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#909090', endColorstr='#C8C8C8'); /* IE6 & IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#909090', endColorstr='#C8C8C8')"; /* IE8 */
	
}
body{
	margin:0;
	font-family: arial,Helvetica,sans-serif;
	font-size: 12px;
}
div.center{
	width:780px;
	padding-top:10px 0 0 0;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;

}
.header{
	background-color:#00B6DE;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #333333;
	-moz-border-radius-topright: 15px;
    -webkit-border-top-right-radius: 15px;
    border-top-right-radius: 15px;
}
.details{
	padding: 0 20px 0 20px;
}
.details h2{
	font-size: 1.6em; /*26px*/
	margin: 0;
	padding: 0 0 10px 0;
	border:none;
	color: #00B6DD;
}
.details td {
	vertical-align: bottom;
}
.details .otsikko{
	padding-right: 20px;
	font-weight:bold;
}

.detailsComment {
	font-style:italic;
	padding: 10px 0 10px 0;
}
.detailsComment a{
	font-style:italic;
}

.contactName{
	font-size: 1.6em; /*26px*/
	margin: 0;
	border:none;
	color: #00B6DD;
}

.headerlogo{
	padding-left:12px;
	padding-top:30px;
}
.headerlogo a {
	text-decoration: none;
}
.headerlogo img {
	text-decoration: none;
	border-style: none;
	top: -18px;
	position: relative;
}
#questionstbl{
	padding:0 20px 0 20px;
	overflow : auto;
}

#headertbl{
	overflow:auto;
	padding:0 20px 0 20px;
	margin: 0;
}
p{
	height:100%;
}
/* Footer area */

#footer{
	background-color:#00B6DE;
	text-align : center;
	overflow : auto;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-top-color: #333333;
	border-right-color: #333333;
	border-bottom-color: #333333;
	border-left-color: #333333;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 20;
	padding-left: 0;
	-moz-border-radius-bottomleft: 15px;
    -webkit-border-bottom-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#lefttext{
	padding-bottom:20px;
	margin-left:10px;
	float : left;
	font-weight: bold;
	color: #333333;
}

#righttext{
	padding-bottom:20px;
	margin-right:10px;
	float : right;
	font-weight: bold;
	color: #333333;

}

#ffooter{
	padding: 20px;
}

/* End Footer area */
	
#survey-part-header {
	background-color:#ffffff;
	padding : 0;
	margin:0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: ##909090;
}
	
#survey-part {
	background-color:#ffffff;
	padding:0;
	margin:0;
}



#survey-part-submit {
	padding-left:300px;
	background-color:#ffffff;
}
.details{
	padding: 0 20px 0 20px;
}

.msg{
    border-width: 1px 1px 1px 1px;
    border-style: outset outset outset outset;
    border-color: black black black black;
    border-collapse: separate;
    background-color: #FFFFCC;
    padding: 4px 2px 4px 5px;
    font-weight: bold;
    text-indent: 0px;
    text-align: center;
}

tr{
	border-style:none;
	border-bottom: 1px solid #EFEDEB;
}

table td{
	border-style: none;
	vertical-align: top;
	text-align: left;
}
textarea {
	padding: 0px;
	margin-right: 20px;
	margin-left: 20px;
	width: 500px;
	height: 50px;
	clear: left;
}

.qrow {
	vertical-align:top;
	text-align:left;
}

.subheader {
	text-align:left;
	font-weight: bold;
	font-size: 14px;
	width:100%;

}
.subheader td{
	padding-top:3em;
	padding-bottom:2em;
}
.bool {
	width: 30%; 
	text-align:left;
}
.likert {
	width: 95%; 
	text-align:left;
}
h1{
	font-size: 2.133em; /*26px*/
	margin: 0;
	margin-bottom: 10px;
	line-height: 1.2em;
	color: #00B6DD;
	font-weight: normal;
}
h2{
	font-size: 14px;
	font-weight:bold;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #909090;
}

.otsikko{
	font-weight:bold;
}
.padding{padding:0px 0px 20px 0px;}
.padding table{ 
    padding: 4px 2px 4px 5px;
	width:100%;
}
.padding table td{
	border: 1px solid #A8A8A8;
	vertical-align: top;
	text-align: center;
}
.padding table tr{
	text-align: center;
}
td {text-align:center;border: 1px solid #A8A8A8;}
ul {list-style-type:disc;}
.toggle{margin-top:-1em;padding-top:0;}
form{padding:0;margin:0; top:0;background-color:#ffffff;}
div{padding:0;margin:0;}
.comment{font-style:italic;}
.requiredCharacter	{color: red;}
.news{padding: 3em;margin:0;}