/**
* Custom CSS Stylesheet that utilizes CSS 3.0 techniques to create repeating headers
* when applied to a PDF that is rendered from a Salesforce Visualforce page.
*
* @author	Sam Wadhwani
* @version	21/05/2012
*
*/
@page { 
	size: letter portrait;
	
	margin-top: 30px;
	margin-bottom: 50px;
	
	@top-left {
		content: element(header_left);
	}
	
	@top-center {
		content: element(header_center);
	}
	
	@top-right {
		content: element(header_right);
	}
	
	@bottom-left {
		content: element(footer_left);
	}
	
	@bottom-center {
		content: element(footer_center);
	}
	
	@bottom-right {
		content: element(footer_right);
	}
}

.header_left {
	text-align: left;
    position: running(header_left);
}

.header_center{
	text-align: center;
	position: running(header_center);
}

.header_right {
	text-align: right;
	position: running(header_right);
}

.footer_left {
	text-align: left;
	position: running(footer_left);
}

.footer_center {
	text-align: center;
	position: running(footer_center);
}

.footer_right {
	text-align: right;
	position: running(footer_right);
}

.pageNumber:before {
	content: counter(page); 
}

.pageCount:before {
	content: counter(pages);  
}


            body {
                font: 11pt/1 sans-serif;
                font-size:75%;
            }
            table.main {
                border: 0px #000000 solid;
                border-collapse: collapse;
                margin-top: 8pt;
            }
            
            table.lines {
                border: 0px #000000 solid;
                border-collapse: collapse;
                margin-top: 8pt;
            }
            
            th.right {
                border: 0px #000000 solid;
                font: bold 8pt/1.2 sans-serif;
                padding: 8pt;
                text-align: right;
            }
            
            th.left {
                border: 0px #000000 solid;
                font: bold 8pt/1.2 sans-serif;
                padding: 8pt;
                text-align: left;
            }
            
            td {
                border: 0px #000000 solid;
                font: 8pt/1.3 sans-serif;
                padding-right: 8pt;
            }
            
            td.totalleft {
                border-top: 1px #000000 solid;
                border-bottom: 1px #000000 solid;
                font: bold 10pt/1.3 sans-serif;
                padding-right: 8pt;
                text-align: left;
            }
            
            td.totalright {
                border-top: 1px #000000 solid;
                border-bottom: 1px #000000 solid;
                font: bold 10pt/1.3 sans-serif;
                padding-right: 8pt;
                text-align: right;
            }
            
            td.left {
                border: 0px #000000 solid;
                font: 8pt/1.3 sans-serif;
                padding-left: 8pt;
                text-align: left;
            }
            
            td.right {
                border: 0px #000000 solid;
                font: 8pt/1.3 sans-serif;
                padding-right: 8pt;
                text-align: right;
            }
            
            td.spacer {
                border: 0px #000000 solid;
                width: 80px;
                font: 6pt/1.3 sans-serif;
            }
            
            td.spacerheight {
                border: 0px #000000 solid;
                width: 80px;
                font: 6pt/1.3 sans-serif;
                padding-bottom: 20pt;
            }
            
            table.items td {
                padding: 16pt;
                text-align: center;
            }
            
            table.signatures {
                width: 100%
            }
            
            table.signatures td {
                font: bold 7pt sans-serif;
                padding: 1pt 60pt 12pt 2pt;
            }
            
            table.dataTable {
                border: 0px #000000 solid;
                border-collapse: collapse;
                margin-top: 8pt;
            }
            
            td.highlightSide {
            	text-align: left; 
            	border-width: 1px 1px 1px 1px; 
            	border-color: #000000; 
            	border-style: solid; 
            	background-color: #65B8E3; 
            	color:#ffffff;
                font: 8pt;
                border-collapse: collapse;
            }
            
            td.highlightTop {
            	text-align: center; 
            	border-width: 1px 1px 1px 1px; 
            	border-color: #000000; 
            	border-style: solid; 
            	background-color: #006AAB; 
            	color:#ffffff;
                font: 8pt;
                border-collapse: collapse;
            }
            
            td.mainData {
            	text-align: center; 
            	border-width: 1px 1px 1px 1px; 
            	border-color: #000000; 
            	border-style: solid; 
            	color:#000000;
                font: 8pt;
                border-collapse: collapse;
            }
            
            table.plainData {
		border-width: 1px;
		border-spacing: ;
		border-style: solid;
		border-color: black;
		border-collapse: collapse;
		background-color: white;
	}	

		table.plainData th {
			border-width: 1px;
			padding: 1px;
			border-style: solid;
			border-color: black;
			background-color: white;
		}
		table.plainData td {
			border-width: 1px;
			padding: 1px;
			border-style: solid;
			border-color: black;
			background-color: white;
		}

/* SW CDECISIONS CUSTOM STYLES */            
html, body {height:90%;}
#bodyContent {min-height:90%;margin-bottom:-10px;position:relative;}
.clearFooter {height:10px;clear:both;}
#mainFooter {position:relative;height:10px;}

.cPageTitle {
	display: inline-block;
	vertical-align: top;
}

.bPageTitle {
	margin-bottom: 15px;
}
body .bPageTitle .pageType {
	font-size: .75em;
	font-weight: bold;
	color: #4A4A56;
	padding-left: 5px;
}

body .bPageTitle .pageDescription {
	font-size: 1.5em;
	font-weight: normal;
	line-height: 1em;
	padding-left:5px;
	margin:0;
}

div#detailSection {display:block;}
div#eventDetail {display:inline-block;width:49%;margin-bottom: 12px;vertical-align:top;}
div#attendeeDetail {display:inline-block;width:49%;margin-bottom: 12px;vertical-align:top;}
div#notesSection {width:98%;}

body .eventDetail h3, body attendeeDetail h3 {
	font-size: 1.2em;
}

.Custom83Tab .tertiaryPalette, 
.individualPalette .Custom83Block .tertiaryPalette, 
.layoutEdit .individualPalette .Custom83Block .tertiaryPalette {
	border-top:2px solid #FCA577;
}

/*.pbSubheader {position:relative;top:-15px;}*/

body .bPageBlock .pbHeader {
	background-color: transparent;
	padding: 0;
	margin: 0;
}
table {
	border-collapse: separate;
	border-spacing: 2px;
}

body .bRelatedList .pbTitle h3, 
body .bPageBlock .pbTitle h2, 
body .bPageBlock .pbTitle h3, 
body .bSubBlock h3.lbHeader {
	color: black;
	font-size: 1.3em;
}
.pbHeader .pbTitle h2, .pbHeader .pbTitle h3 {
	margin: 0;
}

.attCheck {text-align:right;}
.notesBlock {padding:5px;}
table.notesList .dataCol.first {border:1px solid #ECECEC;}

body .pbBody .labelCol {
	color: #4A4A56;
}
.bPageBlock .labelCol {
	padding-top: 2px;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-left: 2px;
	text-align: right;
	font-size: 91%;
	font-weight: bold;
	color: #333;
}
.detailList .labelCol {
	width: 50%;
}
.rich-table-thead {
	border-bottom: solid 1px silver;
}
.detailList .list .headerRow th {
	border-bottom: 2px solid #CCC;
	white-space: nowrap;
}
body .pbBody table.list, 
body .pbBody table.list {
	border: 1px solid #D4DADC;
}
body .pbBody table.list tr.headerRow th:first-child, 
body .pbBody table.list tr.dataRow td:first-child {
	border-left-width: 0;
}
body .pbBody table.list tr.headerRow td, 
body .pbBody table.list tr.headerRow th {
	background: white url('/img/alohaSkin/grid_headerbg.gif') 0 bottom repeat-x;
	border-width: 0 0 1px 1px;
	color: black;
	font-size: .9em;
	font-weight: bold;
	padding: 5px 2px 4px 5px;
}
body .pbBody table.list tr th {
	border: 1px solid #D4DADC;
}
table[cellspacing="0"] {border-spacing:0px;}
body .pbBody table.list tr.dataRow.highlight td, 
body .pbBody table.list tr.dataRow.highlight th {
	background-color: #E3F3FF;
}
body .pbBody table.list tr.dataRow th, 
body .pbBody table.list tr.dataRow td {
	border-width: 0 0 1px 0;
	vertical-align: middle;
}
.detailList .list td, 
.detailList .list th, 
.editPage .detailList .list tr td, 
.editPage .detailList .list tr th {
	padding: 4px 2px 4px 5px;
	color: #333;
	border-bottom: 1px solid #E3DEB8;
}