<!--
 - Created by ohuuse on 31/10/2019.
 -->

<!-- Clone Case Loader -->
<template>
    <div class="slds-modal__container">
        <div class="exampleHolder">
            <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
        </div>
    </div>
</template>