<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 02-11-2021
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   02-10-2021   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<template>
    <section
      role="dialog"
      tabindex="-1"
      class="slds-modal slds-fade-in-open slds-modal_large slds-list-builder"
      aria-labelledby="id-of-modalheader-h2"
      aria-modal="true"
      aria-describedby="modal-content-id-1"
    >
      <div class="slds-modal__container">
        <header class="slds-modal__header">
          <button
            class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
            title="Close"
            onclick={handleClose}
          >
            <lightning-icon
              icon-name="utility:close"
              alternative-text="Close"
            ></lightning-icon>
            <span class="slds-assistive-text">Close</span>
          </button>
          
          <h2 id="id-of-modalheader-h2" class="slds-text-heading_medium">
            Manage Agreements
          </h2>
          <p class="slds-m-top_x-small">Add and remove agreements for this case</p>
        </header>
        <div
          class="slds-modal__content slds-grid slds-nowrap"
          id="modal-content-id-1"
        >
          <div
            class="slds-col slds-grid slds-grid_vertical slds-nowrap slds-scrollable_none"
          >
            <!-- Search bar goes here -->
            <c-list-builder-search-bar-agreements
              record-id={recordId}
              onpilladd={handlePillAdd}
              onpillremove={handlePillRemove}
              onfilter={handleFilters}
            ></c-list-builder-search-bar-agreements>
            <!-- Modal Content -->
            <div class="slds-scrollable">
            <template if:true={state.loading}>
              <div class="slds-col slds-is-relative">
                <lightning-spinner
                  size="medium"
                  alternative-text="Loading agreements"
                ></lightning-spinner>
              </div>
            </template>
              <template if:false={state.loading}>
                <lightning-datatable
                  onloadmore={handleLoadMore}
                  data={filteredRows}
                  columns={columns}
                  key-field="recordId"
                  onrowselection={handleRowSelection}
                  onsort={updateColumnSorting}
                  selected-rows={state.checkedRows}
                  sorted-by={sorting.by}
                  sorted-direction={sorting.direction}
                ></lightning-datatable>
              </template>
            </div>
          </div>
        </div>
        <footer class="slds-modal__footer">
          <lightning-button  label="Navigate to Case Record" title="Navigate to Case Record" onclick={handleNavigate} class="slds-m-right_x-small"></lightning-button>
  
          <button class="slds-button slds-button_neutral" onclick={handleClose}>
            Cancel
          </button>
          <button class="slds-button slds-button_brand" onclick={handleSave}>
            Save
          </button>
          <button
            class="slds-button slds-button_brand"
            onclick={handleSaveAndClose}
          >
            Save and Close
          </button>
          
        </footer>
      </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
  </template>