.THIS .boldMarginLeft{
    margin-left: 10px;
    font-weight: bold;
}

.cOpportunity_Checklist_Related_list_LEX a.partnerLink{
    color: inherit;
    font-weight: 700;
    text-decoration: none;
    transition: color .1s linear !important;
}
.cOpportunity_Checklist_Related_list_LEX a.partnerLink:hover{
    color: rgb(0, 109, 204);
    text-decoration: underline;
}
.THIS .slds-form-element__label {
    margin: 2%;
}