<template>
  <lightning-card>
    <div class="slds-clearfix">
      <div class="slds-float_right">
        <lightning-button
          label="Add Covers and Vessels"
          title="Primary action"
          onclick={handleClick}
          class="slds-m-left_x-small"
        ></lightning-button>
      </div>
    </div>
  </lightning-card>

  <template if:true={toggleModal}>
    <c-list-builder-modal
      record-id={recordId}
      load-limit="50"
      onclose={handleClose}
      onsave={handleSaveAndClose}
    ></c-list-builder-modal>
  </template>
</template>